[2021-07-08 16:22] #14323 closed, assigned to JavonDavis

[2021-07-08 16:34] mchowning commented on #13169
I think this is because of Aztec-Android. There are a number of changes like this that it makes to content (i.e., if you pass an html string into the [fromHtml](https://github.com/wordpress-mobile/AztecEditor-Android/blob/5d983f84e74d0d6db4297e846ef010a3d5146612/aztec/src/main/kotlin/org/wordpress/aztec/AztecText.kt#L1297) method and then immediately call [toHtml](https://github.com/wordpress-mobi

[2021-07-08 18:07] #14313 closed, assigned to AliSoftware

[2021-07-08 18:16] renanferrari commented on #14323
@designsimply I believe this was fixed by #14324 and I can't think of any related pending tasks. Closing it seems right to me. Thanks for taking care of it 👍

[2021-07-08 20:52] #14937 closed, assigned to nobody

[2021-07-08 20:52] #14804 closed, assigned to Gio2018

[2021-07-09 02:22] #14856 closed, assigned to planarvoid

[2021-07-09 02:55] ravishanker opened #15007 "Weekly Roundup - backend implementation"

[2021-07-09 10:36] ashiagr opened #15010 "Onboarding Improvements: Tracking"
Parent #14989

The goal of this task is to verify that tracking is integrated for the project and events are validated in Tracks.

- Add two new events to the Login Epilogue view
On tap of `Site` row ->  `LOGIN_EPILOGUE_CHOOSE_SITE_TAPPED`
On tap of `Create a new site` button -> `LOGIN_EPILOGUE_CREATE_NEW_SITE_TAPPED`
- Update  `UnifiedLoginTracker.Click` to include CHOOSE_SITE
- Track both the sc

[2021-07-09 13:09] dcalhoun commented on #13169
@mkevins no, I did not observe multiple "back _and forth_" switches. I only observed the swap oddity with `initialHtml` when the editor first initialized.

@mchowning great point. I am unable to reproduce the same issue in WPiOS, so it would make sense to be related to Aztec-Android.

You may be right that a simplified Aztec is the most straightforward approach. Avoiding regressions in the Classic

[2021-07-12 07:05] antonis opened #15014 "Allow user to keep the homepage when selecting a new theme"
### Description
When someone decides to change their theme, they may have already customized the homepage. Instead of automatically overwriting it, we need to give them an option to keep their existing one.

To achieve this we will add one more step after the user chooses to activate a new theme. This will prompt the user to select between two options:
* Use the [New Theme]'s homepage layout
* Kee

[2021-07-12 10:15] AliSoftware opened #15015 "RuntimeException: Unable to start activity ComponentInfo{org.wordpress.android/org.wordpress.android.ui.pages.Pages..."
**Sentry Url**: https://sentry.io/share/issue/b029d48de6724ab8b55530db00041c58/
**User Count**: 1497
**Count**: 2664
**First Release**: org.wordpress.android@17.0-rc-2+1021
**First Seen**: 2021-03-26T14:55:04.147000Z
**Last Seen**: 2021-07-12T09:30:27Z
**24 Hours**: 22
**30 Days**: 846

[code]

[2021-07-12 10:17] AliSoftware opened #15016 "JSApplicationIllegalArgumentException: Error while updating property 'paddingRight' in shadow node of type: RCTAztecView"
**Sentry Url**: https://sentry.io/share/issue/946a6f9c27654b0c85636cc60080f81e/
**User Count**: 345
**Count**: 1746
**First Release**: org.wordpress.android@16.4+975
**First Seen**: 2021-02-02T19:13:37.052000Z
**Last Seen**: 2021-07-12T09:36:11Z
**24 Hours**: 23
**30 Days**: 666

[code]

[2021-07-12 10:41] SiobhyB commented on #15015
I haven't been able to reproduce, but there were some changes to [the PagesActivity file](https://github.com/wordpress-mobile/WordPress-Android/blob/develop/WordPress/src/main/java/org/wordpress/android/ui/pages/PagesActivity.kt) on March 11th that seem like they could coincide with this crash. Those changes were introduced in https://github.com/wordpress-mobile/WordPress-Android/commit/f53ac824bf

[2021-07-12 12:16] zwarm commented on #14942
@osullivanchris - iOS is not showing the stats tabs in their view which makes it so much easier to handle error conditions and prevent all sorts of edge cases. FYI: I will be doing the same - not showing the tabs.

[2021-07-12 13:07] antonis commented on #15014
In order to keep the current homepage, an extra parameter(`dont_change_homepage`) should be added in the [API call that changes the active theme of a site](https://developer.wordpress.com/docs/api/1.1/post/sites/%24site/themes/mine/).

[2021-07-12 14:49] SiobhyB commented on #15016
I found that this crash was introduced in version 16.4 of the app, with the only code changes including `paddingRight` for that release in the following PR related to the file block: https://github.com/WordPress/gutenberg/pull/27228

@etoledom, do you perhaps have any insights into whether the changes in that PR may indeed by the culprit here?

I'm labelling this with a `Low` priority, as it doesn

[2021-07-12 15:34] etoledom commented on #15016
@SiobhyB - It seems to be possible, the release of 16.4 corresponds with the date of the PR + release process.
Is this crash only happening on Android?

It seems to be a problem on Android's RCTAztecView. Since the origin is (presumably) on RN side, It would be nice to know if this is happening on iOS also.

Since I'm not longer working on this project, I'll cc to @hypest and @mchowning (hello! :D

[2021-07-12 20:08] leandroalonso commented on #14942
FYI: in iOS, we hit a problem that ended up disabling Stats for all WP.com sites. 😬 (more here: https://github.com/wordpress-mobile/WordPress-iOS/pull/16849)

The logic change can be seen here: https://github.com/wordpress-mobile/WordPress-iOS/pull/16849/files#diff-0ccea120cbd4cf44b5d3b55d59b899fd5e51e814f685f0fed994768fb198c600R623

Perhaps y'all want to implement it another way, but just make su

[2021-07-12 23:25] ravishanker commented on #14745
Closing as it is de-scoped for now.

[2021-07-12 23:25] #14745 closed, assigned to ravishanker

[2021-07-13 08:15] thehenrybyrd commented on #7216
From a 2-star internal beta review, Jul 8, 2021, 04:37

[2021-07-13 09:26] osullivanchris commented on #14942
@zwarm sounds good!

[2021-07-13 09:30] osullivanchris opened #15020 "Site creation: button hidden on landscape"
I was testing the site creation flow on Android landscape.

When you get to the last step 'Site created':
- the preview is on the left
- the title and action is on the right
- however the title and action are centred to the preview, and get cut off screen
- I think they are probably meant to be centred to the screen, rather than the preview, so that they appear next to the preview above the fold

[2021-07-13 11:02] hypest commented on #15016
I think the `paddingRight` bit is not the main culprit here. The error reported seems to be:
[code]
and looks related to https://github.com/facebook/react-native/issues/20206.

Also note that the same error (albeit with a different px value) manifests as when trying to set `paddingBottom` as well so, I wouldn't try to relate it to code that sets the right padding, per se.

[2021-07-13 13:32] thehenrybyrd opened #15022 "Blogging Reminders: Settings do not remain intact across app version updates."
### Expected behavior
Updating the app will not effect my Blogging Reminders schedule. In other words, if I set up Blogging Reminders, and then update the app to the latest version, I should still receive reminders and see them in My Site > Settings.

### Actual behavior
After updating the app to 17.8-rc-1, I no longer see Blogging Reminders set in My Site > Settings.
However, though Blogging Remi

[2021-07-13 18:55] adamjohndaly opened #15023 "App freeze when sharing from another app to WP mobile"
### Expected behavior
Sharing to WP mobile does not freeze and save a draft

### Actual behavior
Sharing from Google > WP on Android will cause WP to freeze.

### Steps to reproduce the behavior
I just shared a link from the Google app, (not chrome,) it worked well, exited the share extension entirely then tried to share again, and it never showed the text on screen and just showed a spinner indef

[2021-07-14 06:14] antonis opened #15025 "Creating a page with a template is very slow on certain devices"
### Expected behavior
When creating a new page with template the editor starts normally

### Actual behavior
Creating a page with a template is very slow on certain devices.
At this point the problem has been observed on Pixel devices but it may be more wide spread.

https://user-images.githubusercontent.com/304044/125572120-5f0aa36b-a97f-4953-a746-bea781936f6c.mp4

### Steps to reproduce the beha

[2021-07-14 07:44] antonis commented on #15025
The issue seems to start with the [upgrade of React Native to 0.64](https://github.com/wordpress-mobile/WordPress-Android/pull/14702) (Gutenberg mobile `v1.56.0-alpha1`).
Checking APK artifacts from the commits on `develop` from June 16th:
* https://github.com/wordpress-mobile/WordPress-Android/commit/0db39c7bf5299db399812d57f80f4683548bcce7 ✅
* https://github.com/wordpress-mobile/WordPress-Androi

[2021-07-14 09:18] thehenrybyrd commented on #15025
I was able to reproduce on Samsung Galaxy S21, Android 11, WPAndroid 17.8-rc-1.

https://user-images.githubusercontent.com/15107387/125597071-47efa600-b5f6-46d8-b34f-07a7af950bbc.mp4

After waiting more than 30 seconds for it to load, I tapped the back button which initiated saving. This took another 20 seconds.
After leaving the new Page, I can find it in the Drafts list and tap on it. The editor

[2021-07-14 09:24] kashandanish commented on #15014
### Sub-Tasks

- [x] Create a new dialog with the two options mentioned in Description (PR: https://github.com/wordpress-mobile/WordPress-Android/pull/15029)
- [ ] Link the new dialog with the “Activate” option in 3 dots options menu on the theme item(PR: #15043)
- [ ] Based on the user’s selection, send or omit `dont_change_homepage` parameter in the API call

[2021-07-14 12:05] hypest commented on #15025
FWIW, **can't** reproduce on a Galaxy S7 Edge running Android 8.0, WPAndroid v17.8-rc-1.

I **do** replicate on a Pixel 2XL, Android 11., WPAndroid v17.8-rc-1.

[2021-07-14 12:16] antonis commented on #15025
Among other things I tried to clear the `initialData` [when it reaches Gutenberg ](https://github.com/WordPress/gutenberg/blob/fa3bfd5e960fb6d9901edc05530a27454ecb912a/packages/react-native-editor/src/index.js#L102). Even in that case the problem still persists 😞
This makes me think that something breaks on certain devices when passing the data above the RN bridge.

[2021-07-14 12:35] dcalhoun commented on #15025
I replicated the issue with Samsung Galaxy S20, Android 11, WPAndroid 17.8-rc-1. After tapping the back button, loading the Page from Drafts loaded immediately.

[2021-07-14 12:49] antonis commented on #15025
The same behaviour is observed in the other two cases where we initialize the editor with content:
- Reblog
- Share action

https://user-images.githubusercontent.com/304044/125625049-b9867b98-5cf4-4ff6-9b7a-c698c39041fc.mp4

https://user-images.githubusercontent.com/304044/125625082-e2097e13-2788-4b55-a6e9-7b58c22e7439.mp4

[2021-07-14 12:52] dcalhoun commented on #15025
@antonis good find! I captured Reblog in https://github.com/wordpress-mobile/WordPress-Android/issues/14972, but didn't realize the connection. It looks like someone captured Sharing in https://github.com/wordpress-mobile/WordPress-Android/issues/15023 as well.

[2021-07-14 12:56] antonis commented on #15025
Good catch @dcalhoun 👍
Thank you for linking the issues 🙇
It seems that something is broken when we try to pass content over the RNBridge in RN0.64 😢

[2021-07-14 12:59] geriux commented on #15025
Yesterday I tried it on my Redmi Note 8T running Android 10 and it worked, today I turned on my phone to test it again and its failing, it gets stuck loading too :(

[2021-07-14 14:05] zwarm commented on #14942
Two more q's for you @osullivanchris.

(1) iOS appears to be showing a Lottie animation which we don't have (or I can't locate it). I'll just be showing a small progress spinner like we do for jetpack install unless you want to provide the lottie animation.

(2) If the enable stats module fails are we (a) Showing an Error View or  (b) The original Disable view with a snack bar message?  I think an

[2021-07-14 14:53] osullivanchris commented on #14942
That's totally fine. A progress spinner is good.

I agree with your thinking. A snackbar on this view would make sense to me as long as its not too heavy to implement. Going to another full screen error might have the user feeling a little lost.

[2021-07-14 14:54] osullivanchris commented on #14942
@zwarm PS the stats empty image that Momo used would be good here too! I didn't know we had one at the time I mocked with the icon.

[2021-07-14 15:20] zwarm commented on #14942
Yes, I am showing the same one. :)

[2021-07-14 15:34] eduardozulian commented on #14978
We're reporting a few cases also in https://github.com/wordpress-mobile/gutenberg-mobile/issues/3174

[2021-07-14 18:39] AmandaRiu commented on #13003
A quick note for additional information, please see the write-up @cameronvoell did at `p9ugOq-1Jh-p2`

[2021-07-14 20:38] renanferrari opened #15026 "Blogging Reminders: Days of the week names are not being correctly formatted"
### Expected behavior
When opening up the day selection screen on the Blogging Reminders flow, we expect to see a list of the days of the week formatted by their short abbreviations, like "Mon, Tue, Wed", etc.

### Actual behavior
The days of the week names are not being displayed. Instead, we see their numerical values:

<img width=300 src="https://user-images.githubusercontent.com/830056/1256893

[2021-07-15 05:26] antonis commented on #15025
Fixed with https://github.com/wordpress-mobile/WordPress-Android/pull/15027 in `17.8`

[2021-07-15 05:26] #15025 closed, assigned to chipsnyder

[2021-07-15 15:21] mchowning commented on #15023
:wave: @antonis ! Does https://github.com/wordpress-mobile/WordPress-Android/issues/15025 resolve this issue?

[2021-07-15 15:23] zwarm commented on #14942
@osullivanchris - I utilized the existing empty view layout.
https://user-images.githubusercontent.com/506707/125813839-859a0ac0-2c61-431f-bc90-b790b6e19b27.mov

[2021-07-15 15:31] osullivanchris commented on #14942
@zwarm looks great! 🙌  not sure if you are able to show me the fail version, or if you have it yet.

[2021-07-15 15:55] leandroalonso opened #15031 "Post title gets cutoff without any ellipsis indicator for Reader posts"
More info on `p4a5px-2KZ-p2`.

### Expected behavior

The title of the post should appear complete or with an ellipsis indicator.

### Actual behavior

The title is getting cut off both in Reader feed view and in Reader detail without any ellipsis indicator.

### Steps to reproduce the behavior

1. Publish a post with a very long title, eg.: `Lorem ipsum dolor sit amet, consectetur adipiscing elit

[2021-07-15 15:57] SiobhyB commented on #14364
I began to look into this in preparation for my groundskeeping rotation, which starts next week, and found I'm not able to replicate the original issue. 🤔

The scroll position is preserved when I try rotating from both the page layout and site design pickers. I tested on a physical Pixel 5 on version 17.8 of the app. I also took the following video from an emulator to show the position's preserved

[2021-07-15 16:03] zwarm commented on #14942
<img width="528" alt="Screenshot 2021-07-02 at 00 42 21" src="https://user-images.githubusercontent.com/506707/125819926-71b0af4d-a961-4511-a08b-8ac72e59c90c.png">
All error views use this pattern. Stay on disable view with a snackbar.

[2021-07-15 16:21] SiobhyB commented on #14850
To follow up on Carlos' investigation, Sentry has no reports of this crash tagged as 17.7 or later. As we're two weeks into the release now, I think it's safe to say this is resolved with the upgrade to `0.64`. I'll go ahead to close this but feel welcome to reopen if there's a need to!

[2021-07-15 16:21] #14850 closed, assigned to fluiddot

[2021-07-15 16:28] #14993 closed, assigned to ravishanker

[2021-07-15 17:08] osullivanchris commented on #14942
LGTM!

[2021-07-16 04:37] antonis commented on #15023
@mchowning Unfortunately not. The applied fix only handles the page creation with template.
The [root cause seems to be the same](https://github.com/wordpress-mobile/WordPress-Android/issues/15025#issuecomment-879862548) but we need to handle this separately or find another solution that would cover all cases.

[2021-07-16 08:02] ParaskP7 commented on #14364
👋 @SiobhyB !

Thanks for looking into it! 🙏

The issue is a bit tricky because we have two scrolling positions in this case, the `vertical`, which is the one you tested and the `horizontal`, which is the one that we are actually having problems with.

So, in order for your to test and verify that this problem still exists, one thing you could do is to scroll `vertically` to the bottom of this scre

[2021-07-16 12:28] #14909 closed, assigned to nobody

[2021-07-16 13:39] chipsnyder commented on #15023
I'm focused on groundskeeping next week so I can add this and https://github.com/wordpress-mobile/WordPress-Android/issues/14972 to my task list on Monday morning.

cc @startuptester

[2021-07-16 14:40] #14942 closed, assigned to zwarm

[2021-07-16 14:49] SiobhyB commented on #14364
Aha, I somehow skimmed over the important piece about this being specific to the `horizontal` positioning. 🤦‍♀️  Thank you so much, @ParaskP7! I'll aim to get a PR in place for this next week on my groundskeeping rotation. :D

[2021-07-16 14:53] ParaskP7 commented on #14364
Hey, it's Friday, who can blame you, right! 😆 😛

Anytime @SiobhyB , and please feel free to reach out if you need any help with that, I am looking forward to have this fixed, happy groundskeeping!

🍾

[2021-07-16 19:02] renanferrari commented on #15026
Closed by #15028.

[2021-07-16 19:02] #15026 closed, assigned to renanferrari

[2021-07-16 19:02] renanferrari commented on #15022
Closed by #15024.

[2021-07-16 19:02] #15022 closed, assigned to renanferrari

[2021-07-18 23:10] ravishanker opened #15039 "Blogging Reminders: Notification should open in DRAFTS tab in Blog Posts"

[2021-07-20 15:00] thabotswana commented on #7216
From a 3-star app review, Jul 20, 2021, 08:14:

[2021-07-21 16:46] #15039 closed, assigned to ravishanker

[2021-07-22 13:03] #14378 closed, assigned to nobody

[2021-07-22 13:14] #14293 closed, assigned to nobody

[2021-07-22 13:15] zwarm commented on #14295
The project has not started, this issue was premature.

[2021-07-22 13:15] #14295 closed, assigned to nobody

[2021-07-22 13:17] zwarm commented on #14377
PR's now build for both WP and Jetpack.

[2021-07-22 13:17] #14377 closed, assigned to JavonDavis

[2021-07-22 13:18] zwarm commented on #14309
Most of the CI work has been completed to build APK for PRs and release

[2021-07-22 13:18] #14309 closed, assigned to nobody

[2021-07-22 13:20] zwarm commented on #14308
App has been released and we have worked through the google-services.json issues . Thanks @ashiagr

[2021-07-22 13:20] #14308 closed, assigned to nobody

[2021-07-22 13:48] #13328 closed, assigned to zwarm, ParaskP7

[2021-07-22 13:52] #13329 closed, assigned to zwarm, ParaskP7

[2021-07-22 16:49] #15031 closed, assigned to nobody

[2021-07-22 17:11] #14992 closed, assigned to zwarm

[2021-07-23 05:11] #14639 closed, assigned to renanferrari

[2021-07-23 16:43] SiobhyB commented on #15015
@renanferrari, 👋 , I see Vojta's no longer on the project and wondered if you might be able to take a look into whether the changes in https://github.com/wordpress-mobile/WordPress-Android/pull/14238 could be contributing to this crash? I see you helped review them originally.

[2021-07-23 17:30] SiobhyB commented on #14967
I started looking into this issue but didn't complete it this week. Adding my notes in case they're of use for the next Groundskeeper. :)

* I believe a fix will require changes in [WPWebViewActivity](https://github.com/wordpress-mobile/WordPress-Android/blob/develop/WordPress/src/main/java/org/wordpress/android/ui/WPWebViewActivity.java).
* Googling variations of `webview` and `file chooser` brin

[2021-07-23 18:29] renanferrari commented on #15015
@SiobhyB Thanks for the ping! I was able to reproduce the issue after a few tries, and I agree that the changes in #14238 are the likely culprit here.

**Explanation:**

When the Pages screen is opened from the notification shown after a successful page upload, we call the `PagesFragment::onSpecificPageRequested` method, which then calls the `ViewModel` before it has been initialized. The `ViewMod

[2021-07-23 18:36] SiobhyB commented on #15016
Thanks for pointing me back on the right path here, @hypest! I did some more digging into the reports of this and was able to replicate the crash by adding padding with a value of `0px` to the columns block.

The following code can be copied/pasted to the web in order to create a page to replicate this crash within the app:

[code]

[2021-07-23 19:41] SiobhyB commented on #14364
Following our internal discussion, it's been confirmed we can't use the suggested code snippet at the moment as it's licensed under Apache 2.0, which isn't compatible with the app's current version of GPL.

As this seems to be a deceptively tricky issue that the snippet would be perfect for, I've sought some feedback around other approaches we could take, other than going straight back to the draw

[2021-07-26 05:14] ravishanker commented on #10242
This seems to be working fine.  Please open it again if ever found to be not working again.

[2021-07-26 05:14] #10242 closed

[2021-07-26 06:25] #2885 closed

[2021-07-26 08:39] #14946 closed, assigned to ashiagr

[2021-07-26 09:29] SiobhyB commented on #15016
Changing the label from `Low` to `Medium` as, although Sentry indicates ~1% of users are affected, we have reproducible steps now and it's blocking a high-priority flow.

[2021-07-26 11:30] AliSoftware opened #15070 "NullPointerException: Attempt to invoke virtual method 'boolean org.wordpress.android.ui.reader.viewmodels.ReaderPostDe..."
**Sentry Url**: https://sentry.io/share/issue/43f418072d9d4e2587273d757d3ffee7/
**User Count**: 154
**Count**: 182
**First Release**: 17.7-rc-2
**First Seen**: 2021-07-08T06:23:06.957000Z
**Last Seen**: 2021-07-26T11:27:11Z
**24 Hours**: 17
**30 Days**: 181

[code]

[2021-07-26 11:43] AliSoftware opened #15071 "NullPointerException: response.error.message must not be null"
**Sentry Url**: https://sentry.io/share/issue/938313c0968448688927884b12ee84d0/
**User Count**: 180
**Count**: 3813
**First Release**: 17.7-rc-2
**First Seen**: 2021-07-02T23:03:56.402000Z
**Last Seen**: 2021-07-26T11:30:14Z
**24 Hours**: 297
**30 Days**: 3784

[code]

[2021-07-26 13:15] hypest commented on #15016
Thanks for digging deeper and for the html snippet that can replicate the issue! Can you also share how those 0px values came to be? Like, is that a state one can reach via the web controls in Gutenberg, or it is some hand-written html perhaps? Thanks!

[2021-07-26 13:22] hypest commented on #11538
The site switcher has been removed from the apps ([from iOS here](https://github.com/wordpress-mobile/WordPress-iOS/issues/14744), wasn't there on Android anyway) so, should we perhaps close this ticket or should the editor screen start to offer it in this particular flow (reblog)?

[2021-07-26 13:28] osullivanchris commented on #11538
@hypest agree we should close the ticket. If we don't have it for the editor in general it seems unnecessary to have it for this one use case.

[2021-07-26 14:38] SiobhyB commented on #15016
I don't have a solid answer to that, unfortunately. I was able to get the HTML snippet from following Sentry's logs to "live" examples of sites associated with this crash, rather than by "organically" creating it myself.

From everything I found in my testing and research, padding controls aren't available in the columns block yet, but [will be soon](https://github.com/WordPress/gutenberg/pull/317

[2021-07-26 20:55] AmandaRiu commented on #15071
Possibly related to changes from this PR: https://github.com/wordpress-mobile/WordPress-Android/pull/14812

[2021-07-26 21:30] AmandaRiu commented on #15070
Not sure how `uiState` would be null, but that looks to be what's happening. Pinged on p1627334838469100-slack-C02QANACA

[2021-07-26 21:31] AmandaRiu commented on #15071
Slack conversation: p1627333331068900-slack-C012H19SZQ8

[2021-07-27 06:51] oguzkocer opened #15077 "New lint errors in Gradle 7.1.1 & Android Gradle Plugin 4.2.2"
[Gradle 7.1.1 & Android Gradle Plugin 4.2.2](https://github.com/wordpress-mobile/WordPress-Android/pull/15076) upgrade reports the following new issues for `NewApi` & `ContentDescription`:

[code]

[2021-07-27 06:53] ravishanker commented on #8876
This doesn't seem to happening anymore.  I've followed the steps listed and I could see only one domain.  So, closing this issue for now.

[2021-07-27 06:54] ravishanker commented on #8876
This doesn't seem to happening anymore.  I've followed the steps listed and I could see only one domain.  So, closing this issue for now.

[2021-07-27 06:54] #8876 closed

[2021-07-27 09:19] AliSoftware opened #15078 "SQLiteException: too many SQL variables (code 1): , while compiling: SELECT * FROM PostModel WHERE (_id IN (?,?,?,..."
**Sentry Url**: https://sentry.io/share/issue/d3317b74347b4735905db4acd05509f1/
**User Count**: 2
**Count**: 4686
**First Release**: org.wordpress.android@15.3+896
**First Seen**: 2020-07-29T15:42:56.913000Z
**Last Seen**: 2021-07-27T03:19:31Z
**24 Hours**: 34
**30 Days**: 576

[code]

[2021-07-27 09:21] AliSoftware commented on #15078
Not a new one and apparently only 2 users… but still 4k events, which seems a lot 😓  so figured we'd want to track it anyway.

[2021-07-27 09:25] AliSoftware opened #15079 "NullPointerException: site.wpApiRestUrl must not be null"
**Sentry Url**: https://sentry.io/share/issue/bfb23541b38b41b8be6cb40b4e48fcda/
**User Count**: 111
**Count**: 1223
**First Release**: org.wordpress.android@17.3.1+1049
**First Seen**: 2021-05-21T14:36:32.722000Z
**Last Seen**: 2021-07-27T09:23:58Z
**24 Hours**: 34
**30 Days**: 635

[code]

[2021-07-27 09:27] AliSoftware opened #15080 "ApplicationNotResponding: Application Not Responding for at least 5000 ms."
**Sentry Url**: https://sentry.io/share/issue/a7e72546e49b43f78dd96407c1686d1c/
**User Count**: 1313
**Count**: 28087
**First Release**: org.wordpress.android@15.0-rc-1+874
**First Seen**: 2020-06-05T12:53:14.935000Z
**Last Seen**: 2021-07-27T08:56:17Z
**24 Hours**: 33
**30 Days**: 1184

[code]

[2021-07-27 09:29] AliSoftware commented on #15080
Not new but seems to happen at a steady rate since 15.0, so maybe worth monitoring.

[2021-07-27 09:51] osullivanchris opened #15081 "Update copy for new Quick Start Prompt"
Editorial reviewed the copy for our project and everything was mostly 👍

One suggested improvement which I think we should implement...for the new design only.

Change the body copy

from

to

internal reference p2JRYi-5r0

[2021-07-27 12:14] ashiagr opened #15084 "Pixel 5: Featured image hidden on Reader Post Details landscape mode"
### Expected behavior
Reader post details screen in landscape mode should display featured image on Pixel 5 device.

### Actual behavior
Reader post details screen in landscape mode hides featured image on Pixel 5 device.

### Steps to reproduce the behavior

1. Go to Reader.
2. Tap a post with a featured image.
3. Rotate the device to landscape mode.
4. Notice that the featured image gets hidden.

[2021-07-27 12:40] antonis commented on #14978
The issue will be handled with https://github.com/wordpress-mobile/WordPress-Android/issues/15014

[2021-07-27 14:26] #15010 closed, assigned to zwarm

[2021-07-27 14:48] mchowning commented on #15023
👋  @chipsnyder ! Just wanted to check in and see if you had a chance to look this?

[2021-07-27 14:51] chipsnyder commented on #15023
Hey @mchowning No I wasn't able to get to this one during my Groundskeeping tasks. So feel free to hand it off if needed and I'll be happy to review it.

[2021-07-27 14:58] mchowning commented on #15023
I moved this from the `Mobile Gutenpages` board to the `Mobile Gutenberg` board since this doesn't seem limited to pages. Feel free to move it back if you disagree @chipsnyder .

[2021-07-27 18:08] #15015 closed, assigned to renanferrari

[2021-07-28 05:44] #14991 closed, assigned to ashiagr

[2021-07-28 07:46] hypest commented on #15016
Ah, I see, thank you Siobhan!

@ceyhun can you try to fix this one? I'm thinking that maybe we can detect and remove the `px` unit from the strings?

[2021-07-28 07:50] #15081 closed, assigned to ashiagr

[2021-07-28 09:54] kashandanish opened #15092 "Bug: No activity indicator is being shown on theme activation"
### Expected behaviour
When user chooses to activate theme, there should a an indicator to show that: some task is underway, please wait

### Actual behaviour
Right now, when users activates theme, nothing happens on UI and after a few seconds (when API call returns) we show a confirmation message.

https://user-images.githubusercontent.com/32029435/127307742-393c1ad0-cf0e-4074-a669-9f7407529a00.m

[2021-07-28 10:41] #11538 closed

[2021-07-28 11:24] kashandanish commented on #15014
## Pending issue(s):
1. https://github.com/wordpress-mobile/WordPress-Android/issues/15092

[2021-07-28 13:56] antonis commented on #15023
We have another user report on this (`4179971-zen`).

[2021-07-28 13:59] AmandaRiu commented on #15071
Hi @planarvoid 👋 This crash looks like it may be related to the [FluxC changes](https://github.com/wordpress-mobile/WordPress-FluxC-Android/pull/2023) related [to this PR](https://github.com/wordpress-mobile/WordPress-Android/pull/14812).  Making `response.error.message` `nullable` would definitely prevent the crash, but I’m a little worried that there may be a bigger issue with the changes made i

[2021-07-28 14:18] #15084 closed, assigned to ashiagr

[2021-07-28 16:10] ParaskP7 commented on #14990
Closing this issue for now, the other 2 remaining nice to have tasks (see description) will be done separately at some point in the future:
- Dismissing the `Your site has been created!` screen, instead of clicking the `OK` button shows the previous underlying screen (instead of the expected `My Site` screen).
- Preserve `Quick Start` state during re-login.

[2021-07-28 16:10] #14990 closed, assigned to ParaskP7

[2021-07-28 17:54] ceyhun commented on #15016
I have looked a bit into this and I was able to re-create the problematic HTML using the latest version of Gutenberg on `trunk`. I added 2 columns and 2 paragraphs inside and modified the padding value of one column. The app doesn't crash if there aren't any paragraphs inside the columns.

<details>
  <summary>Here is the very similar HTML that was generated. I formatted it manually to make it mor

[2021-07-28 21:19] aerych opened #15095 "Post List: The load more spinner is always visible and animating when there are very few posts."
### Expected behavior
Once a post list has been synced the load more spinner is not visible.

### Actual behavior
The load more spinner is visible and constantly refreshes and animates.

Example:

![IMG_2609 2021-07-28 16_18_40](https://user-images.githubusercontent.com/1435271/127397431-2d233d18-b57e-4c4e-b09f-91cd10ed9e02.gif)

### Steps to reproduce the behavior
View the post list for a site th

[2021-07-28 22:23] AmandaRiu commented on #15070
Fixed in #15083. Closing ticket.

[2021-07-28 22:23] #15070 closed, assigned to AmandaRiu

[2021-07-29 00:10] AmandaRiu commented on #15078
Issue Triage: Spent a bit of time digging into this one and here are the results:

## How
This issue appears to be happening in the [`doFinalProcessingOfPosts(...)`](https://github.com/wordpress-mobile/WordPress-Android/blob/085c53a0a616c7db32a03e390c14099eac03cce3/WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadService.java#L993) method of `UploadService.kt` which calls [`mUploadSt

[2021-07-29 01:22] AmandaRiu commented on #15079
**Crash Triage:**

After reviewing several crash events across different release versions I've determined that the actual error appears to be thrown by calling [`slashJoin(site.wpApiRestUrl, path)`](https://github.com/wordpress-mobile/WordPress-FluxC-Android/blob/30ddd953de81208daacd793c08ea9ff93de0448d/fluxc/src/main/java/org/wordpress/android/fluxc/store/ReactNativeStore.kt#L233) when `site.wpAp

[2021-07-29 02:50] AmandaRiu commented on #15080
**Crash Triage:**

This is a tough one. The error is basically saying that `WordPress.onCreate` didn't finish within 5 seconds and the ANR was thrown while processing `WordPressDB <init>`. I looked at the changes from WPAndroid version `14.9 (FluxC 1.6.12)` to `15.0-rc-1 (FluxC 1.6.13)` and noticed there were no changes to `WordPressDB` so I don't believe the issue is with that class specifically.

[2021-07-29 03:46] sentry[bot] opened #15096 "ExecutionException: com.bumptech.glide.load.engine.GlideException: Failed to load resource"
Sentry Issue: [WORDPRESS-ANDROID-1AXF](https://sentry.io/organizations/a8c/issues/2327300065/?referrer=github_integration)

[code]

Events: 479
Users: 226
Started: 17.0
Last Seen: 17.6

Possible issue: Maybe missing a `/` in the filepath

[2021-07-29 07:29] planarvoid commented on #15071
hey @AmandaRiu , I wouldn't be worried about making the field nullable. Previously the code was Java so we didn't know whether the message was there or not. I think since this is XMLRPC, it's probably not reliable. Me and @develric  were trying to be super defensive but we didn't expect this. Since it's only about the error message, I think we can safely keep it nullable.

[2021-07-29 08:08] hypest commented on #15016
Aha, thanks for the findings @ceyhun! My personal take would be to yes, remove the `px`s in the final component that doesn't support it (the paragraph block in this case). But since this styles merging looks related to Global Styles, let's ping Gerardo that has been recently working on it: @geriux , what do you think about the passing of px units around and removing them in RichText's render as Ce

[2021-07-29 12:16] geriux commented on #15016
Hey! 👋

I think we could do it [here](https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/mobile/global-styles-context/index.native.js#L24) instead of doing it for the RichText component, so it's more global.

In regards to removing the `px` unit, we'd have other issues if users select another one that is not `px`. I guess we could use a regex expression but now I'm thinking

[2021-07-29 14:53] mchowning commented on #15079
I think this is a duplicate of https://github.com/wordpress-mobile/WordPress-FluxC-Android/issues/1579. @malinajirka's [explanation for it](https://github.com/wordpress-mobile/WordPress-FluxC-Android/issues/1579#issuecomment-646079649) is the only thing that makes sense to me:

I'll go ahead and close this in favor of the other issue, but feel free to reopen this if you think we should leave this

[2021-07-29 14:53] #15079 closed, assigned to nobody

[2021-07-29 19:09] AmandaRiu commented on #15071
Thanks @planarvoid, I didn't catch that in my initial review since the conversion of `SiteStore.java` to `SiteStore.kt` didn't happen in the PR I was looking at. It happened in a different PR from the same time period. I'll take care of making this change.

[2021-07-30 00:48] AmandaRiu commented on #15096
**Crash Triage:**

User reported having a similar failure:

[code]

`4179378-zen`

I thought the file path may be missing a `\` but after further testing that filename is valid as you can see from this screenshot of my dev environment:

![Screen Shot 2021-07-29 at 8 40 40 PM](https://user-images.githubusercontent.com/5810477/127583192-ad219ded-a936-4fb4-af5d-fcc39a354b07.png)

I was unable to repr

[2021-07-30 15:50] ceyhun commented on #15016
Thanks @geriux, it seems to have fixed the issue! I've added you as a reviewer: https://github.com/WordPress/gutenberg/pull/33782

[2021-07-30 17:53] khaykov opened #15101 "Unified Comments: Add a comment list"
As part of the Unified Comments project, we should revisit the Comments List and rebuild it using modern android development practices.

[2021-07-30 20:01] aerych opened #15103 "Media: Issue with webp image support on old atomic site"
While testing webp image support I happened to use an [atomic site](https://aerychsstore.wpcomstaging.com/) created on 2020-02-27.  On this particular site .webp images failed to upload, both in the app and in a browser. However, on a newly/recently created atomic site .webp images were supported as expected.

This behavior suggests older atomic sites could be configured differently compared to pr

[2021-07-31 14:40] eduardozulian commented on #7216
3-star app review on Jul 29, 2021

[2021-08-02 02:14] reginabally opened #15108 "Media file extension added to the media file title"
It was reported in 4190221-zd-woothemes that the media file extension was added to the media file title in the Media Library when the file was uploaded through the app. In the case reported, it was JPEG files.

However, when uploading the same file on Calypso, the file extension didn't get added to the media file title.

### Expected behavior

The user expects the file extension won't get added to

[2021-08-02 08:01] iamgabrielma opened #15109 "Feature Request: Ability to bulk-delete spam comments"
Reported via 4187659-zen

At the moment post-types cannot be managed in bulk but in a one-by-one basis, but the user would like to have the ability ( or see some sort of button ) in order to empty all their comments marked as spam in one go, without having to go one by one.

[2021-08-03 08:39] thehenrybyrd commented on #15108
Thanks for the report!
I agree with the user here, it makes more sense to not have the file extension in the title.

I was able to repro this Samsung Galaxy S21, Android 11, WPAndroid 17.9-rc-2.
It also happens from "+" > Take Photo.

[2021-08-03 08:48] thehenrybyrd commented on #15109
On Android, this is possible by selecting each (via long-press) and then tapping the "..." at the top-left.
However, it's unclear to me how obvious this functionality is (as it only appears once items are selected).

@iamgabrielma do you know what device the user who reported this had?

@khaykov this may be something you've already considered for Unified Comments, but if not it may be worth revisi

[2021-08-03 08:54] iamgabrielma commented on #15109
However, it's unclear to me how obvious this functionality is (as it only appears once items are selected).

TIL. They have an Android device, I'll follow-up with them to let them know they can do it.

I couldn't find any reference to this in our [app documentation](https://apps.wordpress.com/support/), I'll be sure to update it accordingly.

[2021-08-03 09:18] #15016 closed, assigned to nobody

[2021-08-04 02:18] ravishanker opened #15123 "Blogging Reminders v2 - time selection - Android"
https://wpmobilep2.wordpress.com/2021/07/30/blogging-reminders-v2/

[2021-08-04 02:23] ravishanker opened #15124 "Weekly Roundup - Local Notification - Android"
Weekly Roundup going Local Notification route in the interim given back-end implementation is pending for now.

[2021-08-04 06:36] ashiagr opened #15125 "My Site Dashboard"
This is the main project issue for the `My Site Dashboard` project.

Project Thread: pbArwn-2zs-p2

### Phases

- [x] #15126
- [x] #15198
- [x] #15199
- [x] #15989

Remove Feature Flags
- [x] #15658 @ashiagr
- [x] #15754
- [x] My Site Dashboard - Tabs - Remove Featured Flag

Today's Stats Card
- [x] #15753

Tabs

- [x] #16202 (Post Release Support)
- [x]  #16255

### Extra Tasks

- [x] What's new

[2021-08-04 06:49] ashiagr opened #15126 "My Site Dashboard - Phase 1 [My Site Refactor, Quick Start, Quick Actions]"
Parent #15125

`My Site Dashboard - Phase 1` will deprecate existing `MySiteFragment` in favor of `ImprovedMySiteFragment`. This task list down lists the tasks for this phase.

### Tasks

- [x] #15122 - @zwarm
- [x] #15127 @ashiagr
- [x] #15136 Migrate `Quick Start - Notification/Reminders` to `ImprovedMySiteFragment` @zwarm
- [x] #15130 @ParaskP7
- [x] #15191 @ParaskP7
- [x]  #15187 @ParaskP7, @a

[2021-08-04 07:15] ashiagr opened #15127 "Migrate old `Quick Start` section to `ImprovedMySiteFragment` as a Dashboard Card"
Parent #15126

The goal of this task is to migrate the old `Quick Start` section to `ImprovedMySiteFragment` as a Dashboard Card.

### Tasks

- [x] #15141 @ashiagr
   - [x] #15162
   - [x] #15169
- [x] #15147  @ashiagr
- [x] #15159  @ashiagr
- [x] #15167 @ashiagr

[2021-08-04 11:32] ParaskP7 opened #15130 "Check `Quick Start - Prompt` works properly with `ImprovedMySiteFragment`"
Parent #15126

The goal of this task is to check whether the `QSP*` works property with the `ImprovedMySiteFragment`. Then, and for every scenario that we have identified that `QSP*`, and `QS*` for that matter, is not working property, a fix needs to be applied.

`QS* -> Quick Start`
`QSP* -> Quick Start Prompt`

### Tasks
- [x] Check `QSP*` on `ImprovedMySiteFragment`. @ParaskP7 ✅
- [x] Fix `QSP*

[2021-08-04 12:16] antonis opened #15132 "Clean up Global Style settings configuration from project"
### Description
Cleanup of the Global Styles settings configuration by reapplying the changes in https://github.com/wordpress-mobile/WordPress-Android/pull/15050 and https://github.com/wordpress-mobile/WordPress-FluxC-Android/pull/2067

[2021-08-04 15:45] zwarm opened #15136 "Migrate Quick Start - Notification/Reminders to ImprovedMySiteFragment"
Parent #15126

The goal of this task is to migrate the Notification/Reminders for Quick Start to ImprovedMySiteFragment

Tasks
- [x] Research implementation in MySiteFragment
- [x] Identify ways to reference `Context `in `QuickStartRepository` to call `quickStartUtils.completeTaskAndRemindNextOne` which requires `context` to actually start the alarm manager
- [x] Implement in QuickStartRepository

[2021-08-05 05:49] #15077 closed, assigned to nobody

[2021-08-06 04:28] AmandaRiu commented on #15016
Note: Verified the crash was happening as of 17.8, and also verified that it is no longer happening in the latest build of the app so the fix definitely works! Tested on LG G5 (Android 8), Samsung S6 (Android 7), and Pixel 4 (Android 11). Setting the Sentry event as "resolved in the next release" so we can track regression.

[2021-08-06 10:43] AliSoftware opened #15144 "NullPointerException: Attempt to invoke virtual method 'int org.wordpress.android.fluxc.model.SiteModel.getId()' on a n..."
**Sentry Url**: https://sentry.io/share/issue/da5b4a53f2eb43c494c88d42c01c3c10/
**User Count**: 102
**Count**: 510
**First Release**: 17.8-rc-1
**First Seen**: 2021-07-15T15:08:33.212000Z
**Last Seen**: 2021-08-06T10:40:22Z
**24 Hours**: 69
**30 Days**: 511

[code]

[2021-08-06 10:44] AliSoftware opened #15145 "IllegalArgumentException: Required value was null."
**Sentry Url**: https://sentry.io/share/issue/0685912c5d5640ebbb40f30adc9f69e7/
**User Count**: 60
**Count**: 454
**First Release**: 17.8-rc-1
**First Seen**: 2021-07-16T04:31:22.400000Z
**Last Seen**: 2021-08-06T10:40:24Z
**24 Hours**: 47
**30 Days**: 454

[code]

[2021-08-06 10:45] AliSoftware opened #15146 ""null: Trap" crash"
**Sentry Url**: https://sentry.io/share/issue/78e762afe8a2440c826f1c4d0fbdb637/
**User Count**: 146
**Count**: 472
**First Release**: 17.7-rc-1
**First Seen**: 2021-07-01T03:58:07.372000Z
**Last Seen**: 2021-08-06T06:53:49Z
**24 Hours**: 19
**30 Days**: 456

[code]

[2021-08-06 10:46] AliSoftware commented on #15146
Not much to go on with this one, but still worth investigating imho as it's rising slowly since its appearance in 17.7

[2021-08-06 11:39] #15101 closed, assigned to nobody

[2021-08-06 12:55] AliSoftware commented on #14347
I'm about to submit 17.9 to Google, so I just moved this issue yet again to the next milestone (18.0).

But I see this issue hasn't moved since 17.0, so wondering if we should repriorize/retriage it instead of pushing it to the next milestone over and over? (\cc @AmandaRiu as CTrO)

[2021-08-06 17:34] renanferrari commented on #15145
This one seems to be related to https://github.com/wordpress-mobile/WordPress-Android/pull/14812 (cc @planarvoid @develric FYI)

[2021-08-06 20:33] AmandaRiu commented on #15146
Unable to figure out how this crash is happening. It does seem like the possible culprit is a `WebView` or chromium. I did a spot check of events for each version of Android and found one of four variations of the crash:

**Version 1:**
[code]

**Version 2:**
[code]

**Version 3:**
[code]

**Version 4:**
[code]

Also noticed during spot checking that the crash seems to be happening in Asia and Afr

[2021-08-07 00:39] AmandaRiu commented on #15144
Here is the full stacktrace:

[code]

The error is happening due to `mSite` being `null` in `PluginDetailActivity`. Looking through the code for that class, the only way this variable would be set to `null` would be in [`onSiteChanged`](https://github.com/wordpress-mobile/WordPress-Android/blob/c907838843219736d5e7e05a938911b5b88124e6/WordPress/src/main/java/org/wordpress/android/ui/plugins/Plugin

[2021-08-09 09:11] svrooij opened #15154 "[Feature] Removed Add location (lat/long) to post?"
### Expected behavior

I expect that the location metadata would still be set in the `geo_latitude` and `geo_longitude` fields.

### Actual behavior

The feature is completly removed

### Steps to reproduce the behavior

1. Start the app
2. Create or edit post
3. Try to add location **missing**

##### Tested on Pixel 5, Android 11, WPAndroid 17.8

I've contacted support and they told me that it's

[2021-08-09 11:23] AliSoftware commented on #14347
Moved the milestone yet again as I'm code-freezing 18.0. Re-added the `"Requires Triage"` label as I feel it needs it given my comment above ☝️ and the issue being constantly postponed since 10 versions now. \cc @zwarm

[2021-08-09 16:42] eduardozulian opened #15158 "Custom HTML is not stripped from post title"
It is possible to add custom HTML such as `<em>` or `<i>` to post and page titles and they will be rendered correctly when you visit the post.

Examples from WordPress.com:

- https://wordpress.com/forums/topic/italics-in-post-title/
- https://wordpress.com/forums/topic/how-do-i-italicize-in-the-title/

### Expected behavior
To have HTML tags either:

- Transformed into the element. For example, `

[2021-08-09 17:06] zwarm commented on #14347
@khaykov

Do you still have plans to address this bug? If not, I'm going to lower the priority and move it to the groundskeeping board. Please let me know. Thanks.

[2021-08-09 19:02] renanferrari commented on #15144
@AmandaRiu Thanks for the ping! I'm planning to take a look at this tomorrow.

Update: After looking into this for a while, I couldn't actually reproduce it, but like #15145 I also believe it is related to the changes made in #14812. Unfortunately, I don't have the bandwidth to dig deeper into this right now, as I'm wrapping up some projects before I leave for AFK next week. That said, I'd be happ

[2021-08-10 10:53] rezzap commented on #15154
Related internal report: 4205277-zen

[2021-08-10 10:56] AliSoftware commented on #14763
The Sentry issue reappeared and is still happening in 17.8 – which was released to end users on Jul 26 so more than one release after this issue was closed: https://sentry.io/share/issue/75d4493fe7f5459ea340929e3fc6aecf/

@zwarm (as CTrO): not sure if we're supposed to reopen the issue or create a new one in those cases? Reopening this one for now but feel free to re-close it and open a new one in

[2021-08-10 12:10] AliSoftware commented on #14311
I verified with some random issues in the `jetpack-android` Sentry project and confirm that it works out of the box.

[2021-08-10 12:10] #14311 closed, assigned to nobody

[2021-08-10 12:14] AliSoftware commented on #14310
@ParaskP7 I'm assuming this can be closed, as JP probably uses the same WPCom API key as WP? Can you confirm?

[2021-08-10 12:16] AliSoftware commented on #14336
@ParaskP7 I'm assuming this can be closed, as JP Google login works as expected? Can you confirm?

[2021-08-10 12:18] ParaskP7 commented on #14310
👋 @AliSoftware !

Yes, I think so too. Let's close it, JP uses the same WPCom API key as WP.

PS: Thanks for taking a look at those tasks and closing them one-by-one. 🙏

[2021-08-10 12:19] ParaskP7 commented on #14336
👋 @AliSoftware !

Yes, you are right, since JP Google login works as expected, this can be effectively closed as complete.

[2021-08-10 12:21] #14336 closed, assigned to nobody

[2021-08-10 12:21] #14310 closed, assigned to nobody

[2021-08-10 20:42] zwarm commented on #14763
@AliSoftware

I'm not sure either. 🤷 , but if I look at Sentry - the errors point to two different parts of the code (similar issue)
I'm going to create a new ticket and re-close this one.

[2021-08-10 20:42] #14763 closed, assigned to khaykov

[2021-08-10 20:51] zwarm opened #15161 "IllegalStateException: CommentViewHolder Two different ViewHolders have the same stable ID. Stable IDs in your adapter MUST BE unique and SHOULD NOT change."
Sentry URL: [https://sentry.io/share/issue/951ac7868ea54ac3bda4435aed19af05/](https://sentry.io/share/issue/951ac7868ea54ac3bda4435aed19af05/)

Similar to issue #14763 ([Sentry Link](https://sentry.io/organizations/a8c/issues/2325012745/events/fd1f1595e1b74e14960e832b10f07a32/?project=1438088)) , but has a different stack trace.

To see both issues, this Sentry [query](https://sentry.io/organizati

[2021-08-10 20:53] zwarm commented on #15161
@AliSoftware - Not sure I captured all the details that I need to capture. Can you help out if I missed anything. Thanks

[2021-08-11 11:18] AliSoftware commented on #15161
@zwarm I see that the Sentry issue is still linked to the other GitHub Issue #14763:

<details><summary>🖼 Screenshot</summary>

![image](https://user-images.githubusercontent.com/216089/129019268-9e9a675a-4545-40dd-9490-5f0f9e77ce73.png)
</details>

Which is actually why I reopened the other Issue in the first place, thinking at first that the (new?) event was already linked to the (old) Issue and

[2021-08-11 11:33] AliSoftware commented on #15161
Ok actually I think the Sentry events did indeed get merged into a single issue, since the share link that is in the other GH issue #14763 – https://sentry.io/share/issue/75d4493fe7f5459ea340929e3fc6aecf/ – points to the same Sentry issue https://sentry.io/organizations/a8c/issues/2325012745/ that you linked in this current GH issue, they both link to events of the issue ID `2325012745` in Sentry

[2021-08-11 13:47] zwarm commented on #15161
So without having a degree in Sentry, I was not able to unmerge the issues. I did attach the sentry query above that shows the events for both issues. I also linked this GH to the Sentry ticket. The numbers in sentry seem to be all over the place, but the numbers don't appear to be that high. I will be keeping an eye on this throughout my rotation and if the numbers spike, then I'll change the pri

[2021-08-11 14:07] ParaskP7 commented on #15130
All sub-tasks are done and as such this sub-parent issue can be now effectively closed.

[2021-08-11 14:07] #15130 closed, assigned to ParaskP7

[2021-08-12 07:46] thehenrybyrd commented on #13044
We recently moved `minSdk` to API 24: https://wp.me/paaHJt-2pw
It's probably a good time to take another look at this and see if we can close it; I'll put it in groundskeeping for that purpose.

[2021-08-12 10:31] momo-ozawa opened #15168 "Keyboard not dismissed when tapping back button on Login screen"
### Expected behavior
Keyboard should be dismissed if the back button is tapped

### Actual behavior
Keyboard isn't dismissed

### Steps to reproduce the behavior

1. Tap Login in or sign up with WordPress.com button
2. Tap into the email address field
3. Tap the back arrow button
4. 👀 **Keyboard isn’t dismissed**
5. Tap anywhere on the Prologue screen
6. 👀 **Keyboard isn’t dismissed**

https://us

[2021-08-12 11:53] thehenrybyrd commented on #15168
I just ran into this when testing login flows, and am seeing the same behavior.
**Reproduced on Samsung Galaxy S21, Android 11, WPAndroid 18.0-rc-1**
I was only able to clear the keyboard by leaving the app and re-entering.

The same occurs with "Enter your existing site address".

[2021-08-12 12:32] zwarm opened #15171 "Comment Detail: Like icon does not stay highlighted when sharing link"
### Expected behavior
When liking a comment, then copying link/sharing link from with the comment detail view, navigating out of the app to share and then back in, the Like icon remains highlighted.

### Actual behavior
When liking a comment, then copying link/sharing link from with the comment detail view, navigating out of the app to share and then back in, the Like icon does not remain highligh

[2021-08-12 12:37] zwarm opened #15172 "My Site: Site Info Block - Site URL is cutoff when system font is set to largest setting"
### Expected behavior
The site URL should be fully visible in the site Info Block on the My Site view when the system font is set to the largest setting.

### Actual behavior
The site URL is cutoff in the site Info Block on the My Site view when the system font is set to the largest setting.

### Steps to reproduce the behavior
- Set system font to highest setting on device
- Open app
- Navigate t

[2021-08-12 21:06] eduardozulian opened #15175 "Reader: Tapping the icon/tab should scroll to top"
Scrolling the Reader to the top is not a quick task if you're too far down on your posts list.

### Expected behavior
To tap the Reader tab/icon to scroll to top. This is the behavior on several apps like Telegram, WhatsApp, and Pocket Casts.

### Actual behavior
- Tapping the Reader icon does nothing
- I need to manually scroll to the top

##### Tested on Android 10, WP Android 18.0-rc-1
##### Co

[2021-08-12 21:56] eduardozulian opened #15176 "Stats: HTML entity not stripped from title in Insights"
Similar to #15158, HTML entities such as `<em>` are not stripped when checking the Stats > Insights area.

### Expected behavior
To have HTML tags either:

- Transformed into the element. For example, `<em>This is italic</em>` shown as italic in the post list; _or_
- Stripped

### Actual behavior

<img src="https://user-images.githubusercontent.com/1136160/129274926-a1886642-064c-4734-85ea-abf2871

[2021-08-12 23:24] ravishanker opened #15177 "[Android] Blogging Reminders v2: Update event tracking"
add a `selected_time` property to the existing `blogging_reminders_scheduled` event

[2021-08-13 07:19] thehenrybyrd opened #15179 "Login Epilogue: “Choose a site to open” is not bold"
### Expected behavior
According to the design mock in https://github.com/wordpress-mobile/WordPress-Android/issues/14990, "Choose a site to open" should be bold.

### Actual behavior
"Choose a site to open" is in a larger font than the line below, but not bold.

![image](https://user-images.githubusercontent.com/15107387/129319602-38caf63b-a9bc-4829-b68a-8e1d46942045.png)

### Steps to reproduce t

[2021-08-13 07:26] thehenrybyrd opened #15180 "Quick Start Prompt: closing the app causes Quick Start Prompt to disappear."
### Expected behavior
I expected the Quick Start status to be saved despite closing and re-opening the app.
That is, I expected that if I close the app while the Quick Start Prompt is showing ("Want a little help managing...?"), I would still have that prompt when re-opening the app, so that I could choose "show me around" or "no thanks".

### Actual behavior
After closing the app while the Quick

[2021-08-13 07:32] thehenrybyrd opened #15181 "Quick Start - Customize List: "Create your site" task shouldn't have "+" button"
### Expected behavior
In the "Customize your site" list, I did not expect to be able to restart the "Create your site" task.

### Actual behavior
There is a "+" button next to "Create your site" under "Complete".
Tapping it closes the "Customize your site" list.
"Create your site" is not re-added to the "Customize your site" list. (good!)

### Steps to reproduce the behavior
1. Create a new site.

[2021-08-13 07:40] thehenrybyrd opened #15182 "Quick Start - Grow List: Text wrap seems a little off"
### Expected behavior
Based on the mockup in https://github.com/wordpress-mobile/WordPress-Android/pull/15052,  I expected text wrap to kick in when the screen width was smaller, or wrap only one word.

### Actual behavior
"Keep up to date on your site's performance" seems to wrap a little early, and wraps the last two words instead of only one.

![image](https://user-images.githubusercontent.com/

[2021-08-13 08:00] thehenrybyrd opened #15184 "Domains: domain selection results don't appear in landscape mode"
### Expected behavior
I expected to be able to see my domain search results immediately when in landscape mode, just as I can in portrait mode.

### Actual behavior
In landscape mode, domain search results do not appear while typing.
Instead, there's a large empty space where I expected the results to appear.
I eventually figured out that tapping "search" closes the keyboard and shows the results.

[2021-08-13 08:18] thehenrybyrd commented on #15171
I was able to reproduce on **Samsung Galaxy S21, Android 11, WPAndroid 18.0-rc-1**.
I happens with apps that open up to do the share process (messages, calendar, Gmail...), but not with those that share immediately from within the share-sheet (for instance My Drive).

[2021-08-13 11:38] tiagomar opened #15185 "Domains: available domain is displayed as unavailable as the user keeps typing"
### Expected behavior
I would expect to be able to type an available desired domain entirely and still see it listed as an available domain.

### Actual behavior
Available domain is shown as unavailable during a site creation if the user keeps typing to bring their desired domain into the screen.

### Steps to reproduce the behavior

1. Add new site
2. Create WordPress.com site
3. Select any desig

[2021-08-13 12:53] zwarm opened #15187 "Migrate Snackbar Reminders to ImprovedMySiteFragment"
Parent #15126

Display remind next task [snackbars](https://cloudup.com/cGhrRs6wQ5N) [currently not shown in ImprovedMySiteFragment]

[2021-08-13 12:54] #15136 closed, assigned to zwarm

[2021-08-13 12:56] #15127 closed, assigned to ashiagr

[2021-08-13 13:10] ashiagr opened #15189 "My Site Dashboard - Phase 1 - Quick Start"
Parent #15126

The goal of this issue is to update the UI for the migrated `Quick Start` dashboard card as per the new design in pbArwn-2zz-p2 under `Quick Start` section.

- [x] Add progress indicator  @ashiagr
- [x] Add a header icon @ashiagr
- [x] Remove row icons @ashiagr
- [x] Finetune UI  @zwarm

Zeplin ([1](https://app.zeplin.io/project/611b8fff50389815c85db7e2/screen/611e24e11f2deb56a77697

[2021-08-13 14:07] ParaskP7 opened #15191 "Investigate and Refactor Selected Site Related Code"
Parent #15126

The goal of this task is to investigate and refactor `Selected Site` related code.

- [x] Investigate use of `appPrefsWrapper.getSelectedSite()` vs `selectedSiteRepository.getSelectedSite()` when checking for quick start progress. https://github.com/wordpress-mobile/WordPress-Android/pull/15141#discussion_r683668561 @ParaskP7
- [x] Refactor use of `selectedSiteRepository.getSelected

[2021-08-13 14:13] ParaskP7 opened #15192 "DELETE"

[2021-08-13 14:15] ParaskP7 opened #15193 "My Site Dashboard - Phase 1 - Quick Actions"
Parent #15126

The goal of this task is to update the UI on the existing `Quick Actions` dashboard card as per the new design in pbArwn-2zz-p2 under the `Quick Actions` section.

- [x] UI + bare minimum code needed to support updated design and keep tests running @zwarm PR #15243
- [x] Create QuickActionsBlock builder + tests @zwarm  PR #15243
- [x] Make toolbar "More" visible or invisible - Not G

[2021-08-13 14:19] ParaskP7 commented on #15192
DELETE

[2021-08-13 14:19] #15192 closed, assigned to nobody

[2021-08-15 20:36] #15168 closed, assigned to nobody

[2021-08-16 03:54] #15124 closed, assigned to renanferrari, ravishanker

[2021-08-16 05:31] ravishanker commented on #15184
Looked into this issue.  Search results are appearing in landscape mode, they're just hidden behind the keyboard. If the keyboard is dismissed or search button is pressed then results are revealed.  Need to fix input field to not expand in landscape mode.  Will find a fix.

[2021-08-16 08:11] #15123 closed, assigned to ravishanker

[2021-08-16 10:43] ParaskP7 opened #15198 "My Site Dashboard - Phase 2 [Initial Structure, Posts, API, Networking and Persistence]"
Parent: #15125

`My Site Dashboard - Phase 2` will implement the initial structure and the `Posts` dashboard card. This task list down lists the tasks for this phase.

### Tasks

- [x] #15423 @ashiagr
- [x] #15215 @zwarm @ashiagr
- [x] #15200 @ashiagr @ParaskP7
- [x] #15497 @ParaskP7 @emilylaguna @leandroalonso
- [x] #15498 @ParaskP7
- [x] #15625 @ParaskP7 @ashiagr
- [x] #15649 @zwarm
- [x] #15713

[2021-08-16 10:43] ParaskP7 opened #15199 "My Site Dashboard - Stats Card (Improve Structure, Stats, API, Networking and Persistence)"
Parent #15125

`My Site Dashboard - Stats Card` will implement the `Stats` and the (TBC) `Pages` dashboard card. This task list down lists the tasks for this phase.

### Phase 2
- [x] #15738 @zwarm

### Tasks

- [x] #15748 @ashiagr
- [x] #15755 @zwarm , @ParaskP7,  @ashiagr
- [x] #15201 @ashiagr, @AjeshRPai
- [x] #15747 @zwarm
- [x] #15749 @ashiagr
- [x] #15750 @ashiagr
- [x] #15751 @zwarm , @Ajes

[2021-08-16 10:55] ParaskP7 opened #15200 "My Site Dashboard - Phase 2 - Posts"
Parent: #15198

The goal of this task is to create the new `Posts` dashboard cards as per the new design in pbArwn-2zz-p2 under `Posts` section.

### Post Card UI (with mocked data)

- [x] https://github.com/wordpress-mobile/WordPress-Android/pull/15544 @ashiagr
- [x] https://github.com/wordpress-mobile/WordPress-Android/pull/15546 @ashiagr
- [x] https://github.com/wordpress-mobile/WordPress-Andro

[2021-08-16 10:56] ParaskP7 opened #15201 "My Site Dashboard - Stats Card - Stats"
Parent #15199
Depends On: #15755

The goal of this task is to create the new `Stats` dashboard card as per the new design in pbArwn-2zz-p2 under `Stats` section.

- [x] #15834 - @ashiagr, @AjeshRPai
- [x] #15908 - @AjeshRPai
- [x] MSD - Stats Card - Replace mock data with the actual one @AjeshRPai
- [x] #15951 - @AjeshRPai

[2021-08-16 10:59] ParaskP7 opened #15202 "My Site Dashboard - Pages Card (TBC)"
Parent #15746

The goal of this task is to create the new `Pages` dashboard card as per the `Comments` on the new design in pbArwn-2zz-p2 (TBC).

- [ ] TBC
- [ ] TBC
- [ ] TBC

[2021-08-16 11:49] tiagomar commented on #15171
I was also able to reproduce on **Samsung Galaxy Note20, Android 11 WPAndroid 18.0-rc-2**.
It happens whenever the application is sent to background and is back to foreground.

[2021-08-16 12:38] osullivanchris commented on #15182
Good spot @thehenrybyrd, ➕ 1️⃣

[2021-08-16 12:39] osullivanchris commented on #15179
Good eye for detail @thehenrybyrd thanks! @ParaskP7 and I worked through this together and used an existing type style. So we diverged from the original design a bit, with my approval 😄  Thanks for spotting but we can close this.

[2021-08-16 12:39] #15179 closed, assigned to nobody

[2021-08-16 13:45] zwarm commented on #13044
The `minSdk` was upped from 21 to 24 starting with `release 18.0`. As of today, Sentry hasn't identified this issue in `18.0` release. However it is still occurring in release < 18.0 and as already stated above, there is nothing we can fix. We will need to wait one more groundskeeping round to review live data before officially closing the issue.

[2021-08-16 14:18] ParaskP7 commented on #15187
After confirming with @osullivanchris we want to keep the remind next task snackbars, but using the new snackbar style (while, black, blue). As such I will be now starting with this task.

[2021-08-16 14:19] osullivanchris commented on #15187
Quick Start clarifications per conversation with @ParaskP7

### Style

**Correct style:**

- In light mode, snackbars/tooltips should have a dark background
- In dark mode, snackbars/tooltips should have a light background
- In both modes, actions should be blue.

**Issues:**
Quick Start appears to have missed some style updates.
1. In Dark Mode, quick start snackbars are still displaying a dark b

[2021-08-16 15:47] zwarm commented on #13664
I spent a couple of hours during my groundskeeping rotation trying to reproduce this issue and was not successful. I tested site creation, changing the homepage, and deleting a site. I also tried deleting a site on the web and then trying to add pages and changing homepage via the app. No crashes and the appropriate errors messages show. The numbers are still low. And as Antonio pointed out above,

[2021-08-16 21:00] startuptester opened #15205 "Sharing > Tumblr > Connect > Continue w/ Google returning an auth error"
### Expected behavior
User should be able to connect Tumblr account using Google auth

### Actual behavior
![image](https://user-images.githubusercontent.com/66104034/129628576-ed5cd7a0-8102-4cbc-9631-8f8dd189ddd9.png)

### Steps to reproduce the behavior
Go to My Site > Sharing
Tap on Tumblr
Tap on Connect
Tap Continue with Google

##### Moto G6, Android 10, WP 18.0-rc-2, also repro'd on a **Pixe

[2021-08-17 10:27] #14546 closed, assigned to zwarm

[2021-08-17 10:46] antonis opened #15209 "Theme images not loading after screen rotation"
### Expected behavior
The images should be displayed after being downloaded

### Actual behavior
The images won’t be displayed until you either
* scroll up/down so they get out and back to the screen or
* rotate the phone back to its original orientation.

### Steps to reproduce the behavior

1. Go to themes
2. Scroll down until you see themes with not downloaded images
3. Rotate the phone before

[2021-08-17 11:44] zwarm commented on #15205
The detailed error message from google. Source: `https://www.googleapis.com/auth/userinfo.emailopenid`

I'll be starting my research using the developer link and I'll post details as I uncover them.

[2021-08-17 15:06] tiagomar opened #15212 "Unsupported blocks editing: Android text selection toolbar is blocking access to dropdown menus"
### Expected behavior
I expected the Android text selection toolbar to be dismissed after clicking the page menus so the results from the user's last action would be fully accessible.

### Actual behavior
Android text selection toolbar is not dismissed and blocks the access to the 'more settings' and to the 'options' dropdown lists.

### Steps to reproduce the behavior
1. Open a post with unsuppor

[2021-08-17 15:50] zwarm commented on #15205
This appears to be an issue with Google no longer allowing login via embedded webviews (this article has more information - dated June 29, 2021). This is an issue for both Android and iOS. Both apps show the same error for Sharing -> Tumblr -> Connect -> Google Login (I tested the latest app versions PLUS went back to an APK from 2019).

[2021-08-17 16:13] guarani opened #15213 "Previous days posts not loaded in the app"
### Expected behavior

All users, regardless of their role, should be able to see their own posts in the app's Posts screen (My Site → Blog Posts → Published tab).

### Actual behavior

In certain circumstances, authors cannot see their own posts in the app's Posts screen. This appears to happen when other users of the site publish enough posts to "push" the authors posts off the result page. This

[2021-08-17 17:08] namanrana16 commented on #15172
I would like to take up this issue.

[2021-08-17 17:36] chandradeepkumar16 commented on #15172
I would love to contribute to this project. I am a beginner and looking forward to contributing to the community

[2021-08-17 20:28] zwarm commented on #15205
Recapping my research:

- This issue is happening across app versions and affects both platforms (Android & iOS)
- It probably safe to say that the feature (Sharing → Tumblr → Connect → Google Login) stopped working when Google made a change to their policy. We are just not sure when exactly that happened.
- The issue affect a subset of users (on Tumblr only). This was verified by checking out the

[2021-08-18 01:06] ravishanker opened #15214 "[Android] Blogging Reminders v2: time display in epilogue screen"

[2021-08-18 05:09] #15184 closed, assigned to ravishanker

[2021-08-18 07:37] ParaskP7 opened #15215 "My Site Dashboard - Phase 2 - Initial Structure"
Parent: #15198

The goal of this task is to create the initial structure for the dashboard card as per the new design (TBC).

 - [x] #15431 @ashiagr
 - [x] Mock data into app #15475 @ashiagr @zwarm
 - [x] Introduce post-based cards builder #15475 @zwarm
 - [x] Refactor Builder "Card" classes to take a set of objects for each card type (cut down on the parameter list) #15482 @zwarm
 - [x] PTR (rese

[2021-08-18 19:34] zwarm commented on #14041
There doesn't seem to be much more information to go on than what is available here. Based on @renanferrari comment this feels more addressable as UX directed instead of trying to find a way to prevent it and  @designsimply - how do we bring

[2021-08-18 19:36] zwarm commented on #14041
There doesn't seem to be a way forward with this one yet.
Our code fix options are not straight forward, nor has there been any progress made to address this from a User Experience perspective. @designsimply - Not sure how we should classify this for or where we should take it for a decision on forward movement? wdyt?

[2021-08-18 20:08] zwarm commented on #15146
Just to add more information (not necessarily all that helpful) for the base.apk crash(Version 4 above)
[code]

I agree with @AmandaRiu, this is probably _somehow_ related to `webview`. For next groundskeeper: perhaps check that we are not holding onto any webviews (they are properly being destroyed) - a long shot, but worth the review.

[2021-08-18 22:47] #15214 closed, assigned to ravishanker

[2021-08-19 00:05] ravishanker opened #15220 "[Android] Blogging Reminders v2: time display in Settings"

[2021-08-19 05:54] #15220 closed, assigned to ravishanker

[2021-08-19 06:13] ravishanker opened #15222 "[Android] Domains: Entry point in Site Settings"

[2021-08-20 05:15] ravishanker opened #15226 "[Android] Domains: Add feature flag"

[2021-08-20 05:29] #15171 closed, assigned to nobody

[2021-08-20 06:27] #12491 closed

[2021-08-20 09:01] develric commented on #15161
Reporting here a few notes we were discussing on slack for traceability.

Unfortunately I was not able to reproduce the issue as well, but I'm noting that `CommentViewHolder`  and `CommentSubHeaderViewHolder`  were refactored  in 18.0 beta  to `UnifiedCommentViewHolder`  and `UnifiedCommentSubHeaderViewHolder` ; with this refactor some effort was put to avoid comments duplication from cache, that

[2021-08-20 11:35] AliSoftware commented on #15205
Hey @zwarm @startuptester 👋

Given I'm submitting 18.0 to Google today as scheduled, I'm tempted to move the issue milestone to 18.2 (since 18.1 will be frozen on Monday already).

But given the amount of work that seem to be required vs the number of affected users and impact/priority (from what I understand from the great reports and recaps above at least), I'm thinking maybe now that we have mo

[2021-08-20 16:56] namanrana16 commented on #14419
Hey, Can I work on this issue?

[2021-08-20 16:57] namanrana16 commented on #10930
Hey, Can I work on this issue?

[2021-08-20 17:15] ashiagr commented on #14419
Hey! Thanks for volunteering 👍.
Assigned it to you 🙂.

[2021-08-20 17:58] #15071 closed, assigned to AmandaRiu

[2021-08-20 18:41] namanrana16 commented on #14419
Can I get some pointers with regards to the jetpack section? and progress that I need to know before this ?

[2021-08-21 05:44] ashiagr commented on #14419
"Jetpack Section" refers to the below features:

[Stats](https://jetpack.com/support/wordpress-com-stats/)
[Activity Log](https://jetpack.com/support/activity-log/)
[Backup](https://jetpack.com/support/backup/) (Paid)
[Scan](https://jetpack.com/support/scan/) (Paid)

I've linked support links for Jetpack sites to give some idea of the features. However, I’ll have to request special access so that

[2021-08-21 06:09] namanrana16 commented on #14419
Yeah, I can work on #15172. Please assign it to me.

[2021-08-23 03:57] #15226 closed, assigned to ravishanker

[2021-08-23 06:12] ashiagr commented on #15172
👋 @chandradeepkumar16,

Thanks for your interest in the project!

Since this issue is already assigned, can you take a look at this other issue https://github.com/wordpress-mobile/WordPress-Android/issues/13536? Let me know if you have any questions regarding [Project Setup](https://github.com/wordpress-mobile/WordPress-Android#wordpress-for-android) or the [Contributing Guide](https://github.com/

[2021-08-23 08:16] AliSoftware commented on #15177
@ravishanker I'm about to code-freeze 18.1 and I'm never sure if y'all wait for the release to be out and you check that issue was indeed fixed/addressed in the release build before closing the GH issue… or if it should be closed as soon as it's considered fixed…?
But I see this one was moved to Done in the kanban project and that associated PRs are merged, so should we close this one?

(Note: if

[2021-08-23 15:12] kspilarski commented on #7216
Missing Portfolio section in WordPress mobile and tablet apps (iOS version 17.9.1 and 18.0). User case in 4242624-zen

[2021-08-24 05:45] #15222 closed, assigned to ravishanker

[2021-08-24 07:35] ravishanker opened #15234 "[Android] Domains: dashboard for native experience"

[2021-08-24 10:31] AliSoftware opened #15235 "Segfault Crash"
**Sentry Url**: https://sentry.io/share/issue/ab1e2ab600d540aa964a361d54a1dd5d/
**User Count**: 582
**Count**: 1431
**First Release**: 17.7-rc-2
**First Seen**: 2021-07-04T09:26:28.771000Z
**Last Seen**: 2021-08-24T09:24:50Z
**24 Hours**: 24
**30 Days**: 1234

[code]

Saw this one on Sentry today, quite an obscure one with not much data nor stacktrace to help 😒 … but seems the events are still ste

[2021-08-25 00:10] ravishanker commented on #15235
It is hard to reproduce issue.   Need to monitor and investigate further.

Most likely suspect is a [null pointer dereference](https://source.android.com/devices/tech/debug/native-crash).  Possibly in [parsing](https://stackoverflow.com/questions/54999797/signal-11-sigsegv-code-1-segv-maperr-crash-only-on-some-devices) a Gson [somewhere](https://stackoverflow.com/questions/47836896/signal-11-sigse

[2021-08-25 08:50] thabotswana opened #15238 "Invalid key error shown when viewing site in the app"
### Expected behavior
I expect to be able to view my Private site in the app through My Site > View Site.

### Actual behavior
I am not able to view my site with the error `Invalid key [1]` on my Private site. However, sites with the free ".wordpress.com" domain work fine.

### Steps to reproduce the behavior
1. Select a WordPress.com site that has a custom domain.
2. Set site to Private.
3. Go to

[2021-08-25 09:19] thabotswana opened #15240 "Message "Unable to open the link" appears when viewing site"
### Expected behavior
When a user taps "View Site", they should be able to view pages and posts without any error messages.

### Actual behavior
The user sees the message "Unable to open the link" after selecting My Site > View Site. The same behavior was observed if the user selects and opens any post in infinite scroll. Reported in 4239174-zen.

### Steps to reproduce the behavior
1. Go to My Si

[2021-08-25 14:11] #15187 closed, assigned to ashiagr, ParaskP7

[2021-08-26 02:05] designsimply opened #15244 "Posting/Editing: posts created and edited in the app then edited on the web are published with the wrong date"
### Expected behavior

I expect the current date and time to be used when I click the Publish button on a draft regardless of where it was edited.

### Actual behavior

If a draft created in the app is edited using the app and then edited using the Calypso editor, the final publish date will be the last edit date from the app.

### Steps to reproduce the behavior

1. In the app, create a new post.

[2021-08-26 03:00] ssinha2103 commented on #15238
I would like to work on it.

[2021-08-26 03:05] ssinha2103 commented on #14919
I would like to work on it.

[2021-08-26 04:09] ashiagr commented on #14919
Thanks for your interest in this issue!

I've assigned it to you. Let me know if you have any questions on this issue, [Project Setup](https://github.com/wordpress-mobile/WordPress-Android#wordpress-for-android), or the [Contributing Guide](https://github.com/wordpress-mobile/WordPress-Android/blob/develop/CONTRIBUTING.md).

[2021-08-26 04:37] #15189 closed, assigned to ashiagr

[2021-08-26 10:57] SiobhyB commented on #14364
For the next Groundskeeper, @renanferrari outlined a possible solution for this here: paqN3M-ma-p2#comment-642

[2021-08-26 11:39] thehenrybyrd commented on #15240
@thabotswana is this reproducible on other sites, or does it happen for only this user?

[2021-08-26 12:28] thabotswana commented on #15240
I tried to replicate this with one of my WordPress.com Premium plan sites (https://thabotest.blog/) using the same theme (Twenty Twenty-One) but I'm not seeing any error messages.

[2021-08-26 13:00] #15191 closed, assigned to ashiagr, ParaskP7

[2021-08-26 13:07] ashiagr opened #15249 "My Site Dashboard - Phase 1 - Post `MySiteFragment` Removal Tasks"
Parent #15126

The goal of this task is to refactor the My Site screen, Quick Start code in order to bring it to a level where it will end up being ready for My Site Dashboard - Phase.2 phase.

- [x] Remove tracking for complete task/ tasks from `quickStartUtilsWrapper.completeTaskAndRemindNextOne` once deprecated `MySiteFragment` is removed to fix duplicate event firing see https://github.com/wor

[2021-08-26 13:10] ashiagr opened #15250 "Check `Quick Start - Tracking` works properly in `ImprovedMySiteFragment`"
Parent #15126

The goal of this issue is to check `Quick Start - Tracking` works properly after migration to `ImprovedMySiteFragment`.

[2021-08-26 13:17] develric opened #15251 "Adding animation to train of likers"
### Expected behaviour
In the Reader post details, we want the current user avatar to be added/removed in the train of likers with an animation when the user likes/unlikes a post from the afore mentioned screen.

### Actual behavior
The like/unlike action triggers a loading state and then the train of faces is presented without animation.

### Steps to reproduce the behavior
- In the reader open a

[2021-08-27 03:42] KirillPovarintsev commented on #13536
Is it better like this? Can I take care of the issue then?

![Screenshot_1630035708](https://user-images.githubusercontent.com/688018/131068460-75034f87-4c79-4ec6-87f6-5a9acaa82433.png)

[2021-08-27 04:58] KirillPovarintsev commented on #15158
Can I have it? I've got a fix (it should address the issue in multiple places across the app).

[2021-08-27 05:10] KirillPovarintsev commented on #15176
Can I have it? Got a fix.

[2021-08-27 09:41] #15234 closed, assigned to ravishanker

[2021-08-27 13:08] ashiagr commented on #15250
Verified | Event | Fired from
-- | -- |  --
✅ | QUICK_START_STARTED | quickStartRepository.startQuickStart

####  QUICK START REMINDER NOTICE

Verified | Event |  Fired from
-- | -- | --
✅ | QUICK_START_TASK_DIALOG_VIEWED | quickStartRepository.showQuickStartNotice
✅ | QUICK_START_TASK_DIALOG_NEGATIVE_TAPPED | quickStartRepository.onQuickStartNoticeNegativeAction
✅ | QUICK_START_TASK_DIALOG_POSITI

[2021-08-27 13:11] ashiagr commented on #15250
Added TODO for the duplicate complete task/ tasks event in #15249. Closing this one.

[2021-08-27 13:11] #15250 closed, assigned to ashiagr

[2021-08-27 13:35] ashiagr opened #15252 "My Site Dashboard - Phase 1 - Remove `MySiteFragment`"
Parent #15126

The goal of this issue is to remove deprecated `MySiteFragment` + fix connected tests.

[2021-08-27 13:41] thabotswana commented on #15240
Posted to p2: p4a5px-2M7-p2

[2021-08-27 19:01] eduardozulian commented on #14476
If we implement this, it would be nice to also offer a [themed icon for Android 12](https://www.techrepublic.com/article/how-to-enable-themed-icons-in-android-12/)

[2021-08-27 23:28] KirillPovarintsev commented on #15185
This issue seems to have few sides to it.

Firstly, the WP API seems to return the list of suggestions based on "sanitized" query, which is, I assume, just with the dot removed, i.e. "testingtfm3w" - see the fiddler screenshot.

![api](https://user-images.githubusercontent.com/688018/131198495-58961bb3-ea8e-4c1f-b9dc-efbcc36f2a27.png)

Secondly, the WP app seems to have a different definition of "

[2021-08-29 07:58] ssinha2103 commented on #14919
Hii @ashiagr , can you please elaborate what is the issue, coz I am now using the app on emulator, and I cannot find any transition issues with the app.  I mean, the swipe feels perfect. What is the exact change that you want ?
![Screenshot 2021-08-29 at 1 32 40 PM](https://user-images.githubusercontent.com/54184277/131243293-f9d797cc-cec1-4184-8f4e-8f17f505b6f4.png)

[2021-08-29 12:05] ashiagr commented on #14919
👋 @ssinha2103

Thank you for trying it out 👍.

The only issue is that the limit between the foreground and the background screens are not distinguishable on areas without content (see https://github.com/wordpress-mobile/WordPress-Android/pull/14906#pullrequestreview-690723314). I've highlighted it in the screenshot you shared.

<img width=320 src="https://user-images.githubusercontent.com/1405144/

[2021-08-29 16:03] ssinha2103 commented on #14919
![Screenshot 2021-08-29 at 9 32 28 PM](https://user-images.githubusercontent.com/54184277/131257134-c4625c89-cf95-4f5d-9c37-e85fd7c3f4b0.png)
Hii @ashiagr , is it fine ?

[2021-08-29 16:12] ssinha2103 commented on #14919
Hii @ashiagr , is it fine now ?

![Screenshot 2021-08-29 at 9 41 19 PM](https://user-images.githubusercontent.com/54184277/131257371-1e256f37-c0f0-4d7e-a473-38e23d2983bb.png)
Hii @ashiagr , is it fine now ?

![Screenshot 2021-08-29 at 9 42 34 PM](https://user-images.githubusercontent.com/54184277/131257421-9dbb710f-b1eb-454f-91c5-7059fc22996d.png)
![Screenshot 2021-08-29 at 9 42 49 PM](https://use

[2021-08-29 16:31] ashiagr commented on #14919
Looks better 👍. Can you create a PR? We can test and discuss it there.

[2021-08-29 16:37] ssinha2103 commented on #14919
Hii @ashiagr  I didn't delete these lines still its showing in red, it is some issue ?
![Screenshot 2021-08-29 at 10 06 40 PM](https://user-images.githubusercontent.com/54184277/131258161-e895b90e-ad8a-410d-8aeb-17cfa942e495.png)

[2021-08-29 16:40] ssinha2103 commented on #14919
I created One , can you please check.

[2021-08-29 16:45] ashiagr commented on #14919
Thank you! I'll check it tomorrow.

[2021-08-29 19:39] namanrana16 commented on #15172
@ashiagr I am having some problems with logging in, changed the OAuth ID and app secret but it persists.

[2021-08-29 19:42] namanrana16 commented on #15172
I am entering my ID but it still prompts currently unavailable, please enter the password.

[2021-08-30 04:04] ashiagr commented on #15172
Do you see any errors in the logs? What exact error are you seeing?

[2021-08-30 04:58] ssinha2103 commented on #14919
Hii @ashiagr  Can you please check it and merge the PR.

[2021-08-30 06:40] ssinha2103 commented on #14919
Hii @ashiagr , can you mention , which files have the configurations for dark mode ?

[2021-08-30 06:58] ashiagr commented on #14919
We try not to add custom colors and instead reuse colors like `colorSurface` or `colorOnSurface` which are present in `values/styles.xml `and `values-night/styles.xml`.  Let me know if you cannot utilize any of the existing colors.

[2021-08-30 07:07] ssinha2103 commented on #14919
android:background="@color/quick_start_task_card_illustration_edit_site_icon_mountain_fill"
        Will it be fine @ashiagr  ?

[2021-08-30 07:19] ashiagr commented on #14919
Can you try `@color/placeholder`? Add a screenshot for both light and dark mode. I'll get some design feedback.

[2021-08-30 07:30] ssinha2103 commented on #14919
![Screenshot 2021-08-30 at 12 58 58 PM](https://user-images.githubusercontent.com/54184277/131302396-06be27d7-17ca-4837-b3a3-bd1bc1e21908.png)
![Screenshot 2021-08-30 at 12 57 18 PM](https://user-images.githubusercontent.com/54184277/131302408-51b0358b-284f-4c9d-88d2-6519afe73079.png)

Is it fine ?

[2021-08-30 07:37] ashiagr commented on #14919
Thanks, @ssinha2103!

👋 @osullivanchris, pinging you for a little help.
Can you advise us of the right color that we're trying to use here? Currently we've used view pager background as `@color/placeholder` (Light: `#1A000000,` Dark: `#1AFFFFFF`) in the screenshots above.

[2021-08-30 07:41] ssinha2103 commented on #14919
Hii @ashiagr and @osullivanchris. currently I have modified notification_detail_activity.xml  with android:background="@color/quick_start_task_card_illustration_edit_site_icon_mountain_stroke"
Please guide further ? Working as shown in the screenshots above.

[2021-08-30 07:43] ashiagr commented on #14919
@ssinha2103, can you add screenshots for `@color/placeholder` as well, please? `quick_start_task_card_illustration_edit_site_icon_mountain_stroke` looks dark in the light mode.

[2021-08-30 07:51] ssinha2103 commented on #14919
Sure, here are the screenshots for @color/placeholder as well  @ashiagr and @osullivanchris

![Screenshot 2021-08-30 at 1 20 06 PM](https://user-images.githubusercontent.com/54184277/131305089-492791a9-0bf0-4598-a34b-b94c117522a1.png)
![Screenshot 2021-08-30 at 1 20 36 PM](https://user-images.githubusercontent.com/54184277/131305106-ddb1bbd8-6599-42a2-aec7-433b2a700cf8.png)

[2021-08-30 08:04] ravishanker commented on #14041
@designsimply What would you suggest to handle this from UX perspective?
A few options we could try
- A hint inside the input field
- A help text outside the field
- A snackbar suggesting to check again if a @ symbol is detected

[2021-08-30 10:35] chandradeepkumar16 commented on #13536
I am trying to fix the bug but the code changes are not being reflected in my emulator. Why?
I have followed the Readme file and successfully logged in with WordPress account.

[2021-08-30 11:36] namanrana16 commented on #15172
`BasicNetwork.performRequest: Unexpected response code 403 for https://public-api.wordpress.com/rest/v1.3/auth/send-login-email/?locale=en_IN`

`org.wordpress.android.prealpha E/WordPress-API: OnAuthEmailSent has error: GENERIC_ERROR - Invalid client_id.`

`org.wordpress.android.prealpha E/Volley: [268943] BasicNetwork.performRequest: Unexpected response code 403 for https://public-api.wordpress.c

[2021-08-30 13:40] ashiagr commented on #15172
Have you followed these instructions?https://github.com/wordpress-mobile/WordPress-Android#oauth2-authentication

[2021-08-30 13:49] malinajirka commented on #15244
Thanks for the report. I wanted to quickly looked into this to provide a better answer and as always with post statuses&dates, it's way more tricky than I anticipated :).

I followed the steps in the description and believe this statement `You can either publish the post from the app or the web now and the result will be the same.` is not entirely true.

If I click on "publish" in calypso the post

[2021-08-30 15:41] namanrana16 commented on #15172
Yeah, I created the application in the app manager and changed the 2 Gradle properties mentioned.

[2021-08-30 15:45] danmaze commented on #15172
I'm unable to replicate this issue. I'm testing on Pixel 3a, Android 11 and I set the system font to largest. I also tested on my Android device and the site URL doesn't cut off.

[2021-08-30 15:47] chandradeepkumar16 commented on #15172
I am trying to fix the bug but the code changes are not being reflected in my emulator. Why?
I have followed the Readme file and even successfully logged in with WordPress account.

[2021-08-30 16:09] namanrana16 commented on #15172
When the name of the title is more than a single line then the URL is cut off.

[2021-08-30 16:10] namanrana16 commented on #15172
Can you help me as I am having trouble logging in even after changing the client ID and Secret.

[2021-08-30 16:13] danmaze commented on #15172
Ah, I see. Thanks.

[2021-08-30 16:46] osullivanchris commented on #14919
Hi @ashiagr and @ssinha2103 ! Thanks for the ping and for the work on this!

I have a slightly different approach I'd like to suggest. Sorry to throw a curve ball in. Let me know what you think. If you don't agree, I can have a further look at the overlay colours/shadow behaviour.

**Currently**
- when you swiped to move between notifications, the current notification (A) is shown a level above th

[2021-08-30 18:20] ssinha2103 commented on #14919
@osullivanchris The issue you have mentioned is already resolved. I request you to build and try the app from my PR.
Currently the notification seems to be at same level.

[2021-08-30 21:00] danmaze commented on #13536
Here's what I have:

![image](https://user-images.githubusercontent.com/50293775/131404835-f823c570-4e12-42cb-ab13-41044973fedb.png)

I can't push the fix branch to create a pull request. It looks like I need some additional permissions.

[2021-08-30 21:12] KirillPovarintsev commented on #13536
I thought I was the first one to grab it guys :)

[2021-08-30 21:32] danmaze commented on #14842
I'd like to take on this issue.

[2021-08-30 21:39] danmaze commented on #13536
No one has been assigned yet. Since you first indicated interest, you're probably going to get this one. :)

[2021-08-30 21:49] KirillPovarintsev commented on #13536
Trying to obtain write permissions for the repo...

[2021-08-31 02:09] ravishanker commented on #13044
Given that it is actually on the wane and happening still only on older Samsung devices and below v18.0.  I'm closing this issue

**Events in the last 90d:** 143
**Users affected in the last 90d:** 84
**Limited to:** Samsung devices with Android 5.x (and 1 case in 8.0)
<sub>WORDPRESS-ANDROID-Q9R: https://sentry.io/share/issue/16f46ed069914393abcc576fae700e8d/</sub>

<a href="https://sentry.io/orga

[2021-08-31 02:09] #13044 closed, assigned to jkmassel

[2021-08-31 04:44] ashiagr commented on #15172
👋 @chandradeepkumar16

I have followed the Readme file and even successfully logged in with WordPress account.

I might not be able to help without looking at your changes. Since this issue is already assigned,  to avoid duplicating efforts, could you please work on this [other issue](https://github.com/wordpress-mobile/WordPress-Android/issues/13536) (also mentioned in my [earlier comment](https:

[2021-08-31 04:48] ashiagr commented on #14842
👋 @danmaze

Thanks for your interest in this issue! I've assigned it to you.

Let me know if you have any questions regarding [Project Setup](https://github.com/wordpress-mobile/WordPress-Android#wordpress-for-android) or the [Contributing Guide](https://github.com/wordpress-mobile/WordPress-Android/blob/develop/CONTRIBUTING.md).

[2021-08-31 04:55] ashiagr commented on #15172
👋 @namanrana16

It seems you're trying to log in using the magic link. Can you share the email address you're using to log in with? I'm guessing you already have a WordPress.com account for the email address based on these instructions:

allow login only and not signup. New accounts must be created using the [official app](https://play.google.com/store/apps/details?id=org.wordpress.android)
or [on

[2021-08-31 05:02] ravishanker commented on #15146
Looked through a number of sentry issues, found that they report the following missing
- [base.apk](https://sentry.io/organizations/a8c/discover/wordpress-android:afae95ea1ebb41f52f9326ea64fb9c70/?field=title&field=release&field=environment&field=user.display&field=timestamp&name=%3Cunknown%3E&project=1438088&query=issue.id%3A2486383770&sort=-timestamp&statsPeriod=90d&user=1079278&yAxis=count%28%2

[2021-08-31 05:19] ashiagr commented on #14919
👋 @osullivanchris

Thank you so much for a detailed explanation of your thoughts on animation! 🙇‍♀️
I totally get your point. I see a slide animation similar to yours in the `Gmail` app when we horizontally swipe through emails and I agree it gives a better effect of screens being at the same level.

We'll try it out, and get back to you.

------------

@ssinha2103

Not sure if you got the idea. R

[2021-08-31 05:42] ashiagr commented on #13536
👋 @KirillPovarintsev

I've assigned this issue to you.

You cannot directly merge changes to the main repo. Can you fork the repo and submit a PR? Let me know if you come across any issues.

[2021-08-31 06:33] namanrana16 commented on #15172
Yes, I already have an account. My Email Id is namanrana1828@gmail.com.

[2021-08-31 06:45] ashiagr commented on #15172
All seems ok, can you retry? Or else set a password on the web and log in using email + password?

[2021-08-31 06:55] namanrana16 commented on #15172
![WhatsApp Image 2021-08-31](https://user-images.githubusercontent.com/47075510/131456308-fe0e4ef0-b95f-493d-8918-f413fde52d89.jpeg)
![WhatsApp Image 2021-08-31 at 12 22 57](https://user-images.githubusercontent.com/47075510/131456312-8bfb1b7a-9a4d-4057-a839-c1e1f8b577b9.jpeg)

This is the screen, there is no password field.

[2021-08-31 06:57] ashiagr commented on #15172
You can go to https://wordpress.com/, login, and set a password from there.

[2021-08-31 07:06] ravishanker commented on #15240
@thabotswana Please check with the user what if any browser client they have on their device.  Based on the logs [here](https://wp.me/p4a5px-2M7#comment-12343), it looks like either there's no browser to handle opening links or that it crashing due to low memory before it can launch.

[2021-08-31 08:46] #15251 closed, assigned to nobody

[2021-08-31 08:57] namanrana16 commented on #15172
It worked! Thanks a lot.

[2021-08-31 09:04] osullivanchris opened #15258 "Quick Start Tour Tweaks"
### Context

- In the My Site Dashboard project we have [converted the existing Quick Start entry point into a dashboard card](https://github.com/wordpress-mobile/WordPress-Android/pull/15237).
- As we are moving other pieces to the new My Site Fragment/Screen, we noticed some of the tour guide text was not using the native Snackbar component.
- We've moved the custom tour steps to the native Snac

[2021-08-31 10:23] #13664 closed, assigned to ashiagr

[2021-08-31 12:30] #15193 closed, assigned to zwarm

[2021-08-31 20:34] zwarm commented on #15258
@ashiagr - Researched a bunch of these today, let's sync tomorrow and see what direction we should take on the first one. @osullivanchris - hopefully I have provided some food for thought. Thanks for pulling this together for us.

**Text Styes**
The snackbar shown is the default snackbar for the app. It's material design and is styled based on our app theme (light/dark). It's not impossible to cha

[2021-09-01 05:14] #13536 closed, assigned to KirillPovarintsev

[2021-09-01 09:29] ravishanker commented on #5061
Tested this on v18.0 and 18.1,  didn't observe the behavior mentioned above.  Please do reopen this if it is noticed again with detailed steps

[2021-09-01 10:03] iamgabrielma commented on #10911
Another case: 4262616-zen . Asking the user to test these steps and will update the comment based on results :D

[2021-09-01 10:23] osullivanchris commented on #15258
@zwarm thanks for the info!!

Here are two examples of Snackbars that we already have which use a mix of grey text, and white text for emphasis. As these had not changed, I thought they already were using the native component. And if so, we could do the same thing in the other ones.

If my assumption is incorrect and these are also custom, then we're not getting something for free like I thought?

[2021-09-01 11:12] ashiagr commented on #15258
This is due to how snackbar sequencing works at the moment. It adds a [delay = snackbar duration](https://github.com/wordpress-mobile/WordPress-Android/blob/develop/WordPress/src/main/java/org/wordpress/android/util/SnackbarSequencer.kt#L62https://github.com/wordpress-mobile/WordPress-Android/blob/develop/WordPress/src/main/java/org/wordpress/android/util/SnackbarSequencer.kt#L62) just after the s

[2021-09-01 11:37] zwarm commented on #15258
If my assumption is incorrect and these are also custom, then we're not getting something for free like I thought?

@osullivanchris those snackbars are not custom, they too are the default for the app (themed, etc). The textColor is not `white` but `colorOnSurface` (to account for light/dark), the icon itself is a white drawable. The other text areas that look white are jsut wrapped in a `<b></b>`

[2021-09-01 11:41] zwarm commented on #15258
@osullivanchris

I could easily see this as a congratulations bottom sheet (like the post reminders) popup. Setting a local reminder to remove the card would be more involved, but IMO that particular card takes up a fair amount of ATF space and should be removed when complete.

[2021-09-01 12:50] zwarm commented on #15258
@osullivanchris @ashiagr
**Area hidden after Snackbar dismisses**
After some more research, this is also a pre-existing condition. :sigh . So not going to address those at the moment.

[2021-09-01 12:57] osullivanchris commented on #15258
this makes sense if its ok with us. I'd also be ok if we could delay the blue dot to only appear when the Snackbar does, if we need an alternative. But what you described sounds good to me.

Why did we decrease from 10 to 7?

Yeah I can imagine the only issue if we increase this, is it will make the first problem at the top of this comment worse. If we have a success message, and have to wait for

[2021-09-01 13:06] ashiagr commented on #15258
@osullivanchris

The old snackbar had a "Not Now" dismiss button and it looked more like a dialog (without auto-dismiss) so 10 secs duration seemed fine earlier. The new ones do not have the dismiss button (can be dismissed using swipe-to-dismiss gesture), 10 secs duration seems too much for a snackbar, however I didn't want to reduce it too much so that users get a chance to hit the "Go" button a

[2021-09-01 17:17] osullivanchris commented on #15258
@ashiagr trying the new build in #15265 the timings feel totally fine! I think we can keep it the way it is for now. Probably due to some of the other weird issues we were having I just felt timings were wrong but couldn't put my finger on why. Now, it feels like I would expect.

**We have decided to park**
- cut off UI area: pre-existing issue
- area hidding after snackbar dismissed: pre-existing

[2021-09-02 07:21] #15252 closed, assigned to ashiagr

[2021-09-02 08:50] ssinha2103 commented on #14919
Hii @ashiagr , can u merge the pr, coz something is better than nothing, and I am working on the suggestion by @osullivanchris . Kindly merge the PR and enrich the UI experience until I finish .

[2021-09-02 10:02] ashiagr commented on #14919
👋 @ssinha2103!

Alright, I'll merge it and we can create a separate PR for the suggested animation.
Thanks for working on it!

[2021-09-02 13:19] develric opened #15269 "Add possibility to recommend the app to others."
Refs: pctCYC-9r-p2
iOS counter part: [here](https://github.com/wordpress-mobile/WordPress-iOS/issues/16995)

We want to add the possibility for the user to easily share the link to our WordPress app from the Me and About screen. The sharing will leverage the Android ShareSheet as we do already in other places of the app.

Linking the iOS design here for quick reference

<img width="1442" alt="reco

[2021-09-02 13:19] #15007 closed, assigned to ravishanker, diegoreymendez

[2021-09-02 13:48] #15249 closed, assigned to nobody

[2021-09-02 19:51] #15269 closed, assigned to nobody

[2021-09-03 11:28] AliSoftware opened #15278 "NullPointerException: softwareVersion must not be null"
**Sentry Url**: https://sentry.io/share/issue/1f3cd26edc6f4e85826fd55050588d8c/
**User Count**: 69
**Count**: 400
**First Release**: 18.0-rc-1
**First Seen**: 2021-08-14T01:52:02.111000Z
**Last Seen**: 2021-09-03T11:17:34Z
**24 Hours**: 23
**30 Days**: 400

[code]

[2021-09-03 14:05] namanrana16 commented on #15172
@ashiagr  I have solved the issue and am in the process of making a PR.  How do I push the branch to GitHub as I am getting an error

`ERROR: Permission to wordpress-mobile/WordPress-Android.git denied to namanrana16.
fatal: Could not read from remote repository.
Please make sure you have the correct access rights
and the repository exists.`

[2021-09-03 14:11] ashiagr commented on #15172
@namanrana16, the repo is protected, you'll need to fork it and create a PR from it.

[2021-09-03 14:39] AliSoftware commented on #15177
@ravishanker Should we close this?

[2021-09-03 16:06] mzorz commented on #15096
I was able to reproduce:

1. add a Story with an image from the media picker
2. publish the GB post
3. erase the app cache
4. open the app again and edit the story Post in Gutenberg
5. tap on the Story block twice to edit
6. observe crash

PR coming soon 👍

[2021-09-03 17:12] namanrana16 commented on #15172
@ashiagr  I have created a PR. There are a couple of tasks that need to be taken care of but I don't know how to add labels, milestones, etc.

[2021-09-03 18:44] jd-alexander commented on #10930
Hi @namanrana16 Thank you for your interest in contributing to WordPress Android! This issue was already resolved in https://github.com/wordpress-mobile/WordPress-Android/pull/11537 so I will be closing this!

[2021-09-03 18:44] #10930 closed

[2021-09-06 00:46] #14364 closed, assigned to antonis, SiobhyB

[2021-09-06 01:12] #15096 closed, assigned to mzorz

[2021-09-06 10:26] AliSoftware commented on #15126
I was about to move this issue to milestone 18.3 as I'm doing code freeze of 18.2 as we speak, but I see that the all the tasks in this issue's checklist have been checked and done, so maybe this issue is ready to be closed after all? (if not, please move it to 18.3)

[2021-09-06 10:32] ashiagr commented on #15126
All important tasks for this issue are merged into `18.2`.

Few minor ones https://github.com/wordpress-mobile/WordPress-Android/issues/15258#issuecomment-910489481 are tracked separately.

Closing this one.

[2021-09-06 10:32] #15126 closed, assigned to zwarm, ashiagr, ParaskP7

[2021-09-06 10:34] AliSoftware commented on #15205
Moved the milestone to "Future" as this needs to be re-prioritized given the recap and next steps from @zwarm above.
@startuptester Feel free to adjust the labels, project and milestone of that issue to match if needed.

[2021-09-06 10:42] develric commented on #15278
Was not able to reproduce on my side unless forcing the null value by debugger of course; the issue seems to be that [softwareVersion](https://github.com/wordpress-mobile/WordPress-FluxC-Android/blob/a471f6245ea15181c3463a1892a3a586ac546c83/fluxc/src/main/java/org/wordpress/android/fluxc/store/EditorThemeStore.kt#L196) in kotlin is seen  and managed as not nullable since the return value in [getSo

[2021-09-06 16:26] renanferrari commented on #15177
Closed by #15178.

[2021-09-06 16:26] #15177 closed, assigned to ravishanker

[2021-09-06 21:29] danmaze commented on #14842
@ashiagr I've submitted a PR.

[2021-09-07 05:23] cameronvoell opened #15291 "Adjust postEditorAnalyticsSession calls to make startup_time_ms meaningful for Stories Editor"
### Expected behavior

For different editors in WPAndroid we us a `postEditorAnalyticsSession` object and `wpandroid_editor_session_start`  tracks event to track editor startup times.

For the gutenberg editor we have described the `startup_time_ms` property for gutenberg as: "[`startup_time_ms`] is the representation of the loading time (on Android, time measurement starts during the activity onC

[2021-09-07 07:21] #15158 closed, assigned to KirillPovarintsev

[2021-09-07 10:21] ashiagr opened #15296 "My Site Dashboard - Fix Quick Start snackbar issues"
Parent #15125

The goal of this task is to fix pre-existing Quick Start snackbar issues:

- [x] #15430 ⚙️  @ashiagr
- [x] #15461 ⚙️ @ashiagr
- [x] #15462 ⚙️ @ashiagr

See https://github.com/wordpress-mobile/WordPress-Android/issues/15258#issuecomment-910489481 for more details.

[2021-09-07 10:30] ashiagr commented on #15258
@osullivanchris, captured above in #15296.

[2021-09-07 11:18] #15176 closed, assigned to KirillPovarintsev

[2021-09-07 16:12] osullivanchris commented on #15258
Great, thanks @ashiagr !

[2021-09-07 22:55] ravishanker opened #15298 "[Android] Add Domains Dashboard"
New domains dashboard a.k.a Site domains list
My Site -> Domains -> Site domains

See #15305

[2021-09-08 04:37] #15172 closed, assigned to namanrana16

[2021-09-08 04:40] jd-alexander commented on #15291
@mzorz I have been looking into this issue. I was wondering if it would be good to start the tracking here
https://github.com/wordpress-mobile/WordPress-Android/blob/870ae98ae906fb5d34bd852478dba580f5339c41/WordPress/src/main/java/org/wordpress/android/ui/stories/StoryComposerActivity.kt#L359

What I am wondering is where is the best place that would represent a story being fully loaded. If I woul

[2021-09-08 10:12] AliSoftware opened #15300 "NullPointerException: Attempt to invoke virtual method 'org.wordpress.android.fluxc.model.EditorThemeSupport org.wordpr..."
- **Sentry Urls**: (events/users)
  - https://sentry.io/share/issue/67078fb4bbe14c8c8380f4114a2be02c/ (26/1)
  - https://sentry.io/share/issue/d38dd0d3aa4743619ea43a1655c0cd90/ (21/3)
  - https://sentry.io/share/issue/d1e705d510174c5fbba40142b05cf735/ (5/1)
  - https://sentry.io/share/issue/ca3efba9846147308537b7df17ed8d59/ (4/1)
  - https://sentry.io/share/issue/9622c255077b442d9e11c5f787c25a7d/

[2021-09-08 13:06] antonis commented on #15278
Resolved in `18.2-rc-2` with https://github.com/wordpress-mobile/WordPress-Android/pull/15286

[2021-09-08 13:06] #15278 closed, assigned to antonis

[2021-09-08 13:50] mzorz commented on #15291
Thank you @cameronvoell @jd-alexander 🙏

I've been looking into this - I think the beginning of `handleMediaPickerIntentData()` is rather the start of the process that figures out [which mode ](https://github.com/Automattic/stories-android/wiki/1.-Operating-modes)the StoryComposer should start itself in. Given there are various entry points as you said, it may get trickier to find a specific point

[2021-09-09 04:49] ashiagr opened #15306 "Local videos do not play properly"
### Expected behavior

Videos stored locally on the device should play properly.

https://user-images.githubusercontent.com/1405144/132623395-bc805e41-97f2-4879-a795-29c49798d887.mp4

### Actual behavior

Videos stored locally on the device do not play properly. The thumbnails do not load on the device and long-pressing the video doesn't play it, just opens a view of what appears to be the first f

[2021-09-09 08:19] develric commented on #15300
Hey @AliSoftware 👋

I agree with you they are the same issue.

The issue seems to be that [mEditorThemeStore.getEditorThemeForSite](https://github.com/wordpress-mobile/WordPress-Android/blob/a369e38db6279e8349554177cc494141b2248ccd/WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java#L3304) can return a null value that we do not check for.

Current beta users count are not

[2021-09-09 20:57] develric commented on #15300
Issues were merged in sentry [into this common event](https://sentry.io/share/issue/c95cf22e82cb444eb832406ee3019bf5/).

[2021-09-09 23:08] ravishanker opened #15315 "[Android] Domains: Update Search Suggestions with prices"
Add prices on domain search suggestions screen as per designs.

see #15317

[2021-09-10 01:40] mokagio commented on #14842
The PR @danmaze like is closed, but the change they made landed in `develop` via https://github.com/wordpress-mobile/WordPress-Android/pull/15307. Thank you @danmaze!

@osullivanchris, when you have a minute, it would be great if you could verify if the screen renders as desired. 🙇‍♂️

[2021-09-10 04:43] antonis commented on #15300
Resolved in `18.2` with https://github.com/wordpress-mobile/WordPress-Android/pull/15311

[2021-09-10 04:43] #15300 closed, assigned to antonis

[2021-09-10 05:50] ashiagr opened #15316 "Self-Hosted Sites: Crash on creating a post with Aztec Editor enabled"
### Expected behavior
Disabling "Block Editor" using site settings and creating a post for a self-hosted site should not crash the application.

### Actual behavior
Disabling "Block Editor" using site settings and creating a post for a self-hosted site crashes the application.

### Steps to reproduce the behavior

1. Login using a Jurassic Ninja site
2. Go to My Site -> Site Settings
3. Disable "U

[2021-09-10 05:55] ashiagr commented on #15316
👋  @antonis

[This line](https://github.com/wordpress-mobile/WordPress-Android/blame/develop/WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java#L3304) was added last month, could we possibly address the crash by adding a null check for `editorTheme`?

[2021-09-10 06:09] antonis commented on #15316
Thank you for the ping @ashiagr 🙇

Just merged a [fix](https://github.com/wordpress-mobile/WordPress-Android/pull/15311) for this in `18.2`

[2021-09-10 06:09] #15316 closed, assigned to antonis

[2021-09-10 07:48] thehenrybyrd commented on #14041
@zwarm @ravishanker a UX enhancement could help here, though that does depend on people reading. 😬

I like this suggestion:

Since we can't _prevent_ using the @ symbol, we can at least say something like "it looks like that might be an email address - are you sure?" or similar.

[2021-09-10 07:52] thehenrybyrd commented on #5061
I'm still seeing the notification go back to "unread" (blue) after it is marked "read" for a moment:

https://user-images.githubusercontent.com/15107387/132819410-3ca0b74a-f8e6-4108-9639-2f6cb8016b93.mp4

As seen in the recording, the notification does initially get marked as read, and no longer has a blue background. However, after waiting a moment, it goes back to unread.

[2021-09-10 18:58] #15291 closed, assigned to mzorz

[2021-09-13 03:50] djramones opened #15318 "Question: How to disable the Weekly Roundup notification?"
### Expected (or desired?) behavior

Users are able to specifically disable the weekly roundup notification (introduced in version 18.1/#15195).

### Actual behavior

It's not clear how to disable this notification specifically, without inadvertently disabling other notifications that the user may still want to receive.

### Steps to reproduce the behavior

After opening the notifications settings

[2021-09-13 13:05] zwarm commented on #15181
@osullivanchris - want to chime in from a design perspective? Icons remain the same when tasks move from the uncompleted to completed list. I'm going to assume (i know) the "+"  is equivalent to "add". No other completed task shows a checkmark - maybe it's okay just for create site. Maybe we change the text of the `Get your site up and running` to something past tense? What are your thoughts? In t

[2021-09-13 13:37] thehenrybyrd commented on #15318
Thanks for bringing this up! You're right that site achievements covers other kinds of notifications.
It could be useful to have control over the weekly roundup notification specifically.
cc: @Gio2018

[2021-09-13 14:30] osullivanchris commented on #15181
Good spot @thehenrybyrd !

Thoughts:
- this step is always completed
- I don't really want to introduce a checkmark. It might make me think all the done ones should have a checkmark, and they won't.
- We have a GridIcon called 'Site'. Can we use that one? It doesn't exactly have an obvious meaning, but I think thats ok given its precompleted.
- Not sure about past tense @zwarm because again maybe

[2021-09-13 14:39] zwarm commented on #15181
@osullivanchris - thanks for the input.

I was just coming to this conclusion ... I added the checkmark and it doesn't look right mixed in with the others.

Let me drop that in and see.

Same problem as the checkmark - all the others are present tense

I think the row should be unclickable. Not sure if we are set up for that right now, so it will take a bit of work (but it is hack week :) )

IMO,

[2021-09-13 17:08] osullivanchris commented on #15181
Agree with all the above @zwarm . To summarise I would say:

- use the 'Site' GridIcon
- Keep the current present tense
- make the row unclickable...don't create another path its confusing

Nice to have:
- when unclickable row is tapped, show a snackbar saying 'Your site is already created, try another task' or similar.

[2021-09-13 17:51] zwarm commented on #15181
@osullivanchris

The row has to be clickable for us react with a snackbar. :)
I can do one or the other ... @osullivanchris or @thehenrybyrd pick one and I'll implement it. Thanks!!

First video shows unclickable row/no snackbar and second video shows snackbar on tap - the snackbar will show back on the My Site view (like all the others) not on the list itself.

https://user-images.githubuserconte

[2021-09-14 01:28] yaelirub opened #15321 "Add Blogging Reminders toggle to Notifications Settings"
### Expected behavior
I expect to be able to toggle Blogging Reminders notification in the same place I toggle other notifications

### Actual behavior
Blogging Reminder notification is under Site Settings, the reset of the notifications are under Notifications -> Settings -> Site -> Push Notifications.

### Steps to reproduce the behavior
Notifications Settings             |  Blogging Reminders
:

[2021-09-14 02:30] ravishanker opened #15322 "Upgrade WPAndroid to Android 11 (API level 30)"
### Mandatory Requirement
All android apps that are being [updated](https://developer.android.com/distribute/play-policies#APILevel30) must target Android 11 (API level 30) from **November 2021**.

### Current Status
Currently WPAndroid is at Android 10 (API level 29).  Please see paqN3M-mr-p2 for details

[2021-09-14 08:14] osullivanchris commented on #15181
Thanks for pulling those videos together @zwarm

Haha ok clickable but 'go nowhere' maybe is what I meant.

In video 2, I would expect to stay in the same location, and display the snackbar on top of the current view, not collapse the list. Is that possible? If so I think its the better option. WDYT?

If not possible, maybe we can just disable the row for now.

[2021-09-14 13:13] zwarm commented on #15181
@osullivanchris

Yes, that is possible. I'll call you out on the PR for a design review. Give me 15 to post it. Thanks!

[2021-09-14 20:46] zwarm commented on #14041
@thehenrybyrd @ravishanker

In theory I like the idea of a snackbar, but I'm not sure if it works as we are expecting.

I did a quick POC during my GK to try out a few show snackbar options and I'm not particularly fond of any of the results:

1. Showed the snackbar after the `@` character had been entered. The messaging doesn't feel right because nothing has been typed past that character. See th

[2021-09-14 22:52] AliSoftware commented on #14570
@eduardozulian Same question as in https://github.com/wordpress-mobile/WordPress-iOS/issues/16418#issuecomment-919566395 – aka should we also change "Site Pages" to "Pages" in that screen for consistency?

[2021-09-15 04:08] #15108 closed, assigned to ashiagr

[2021-09-15 13:16] #15182 closed, assigned to ashiagr

[2021-09-15 14:44] osullivanchris commented on #14842
Looks correct to me! Thanks @mokagio @danmaze

[2021-09-15 21:17] develric opened #15330 "Likes train text singular plural mismatch in some locales"
As pointed out in this Making WordPress slack conversation [p1631094496341200-slack-polyglots], the strings related to likes train text (for example `like_faces_you_text`) are composing the string appending the singular string `likes this` or the plural `like this`. This is actually ok in English but there can be some languages (like Romanian) for which the English singular/plural schema doesn't m

[2021-09-15 22:29] mokagio commented on #14842
Excellent! Thank you for confirming @osullivanchris 🙌

[2021-09-15 22:29] #14842 closed, assigned to danmaze

[2021-09-16 05:59] Robertght opened #15332 "Android > Microsoft Edge: Latest version is showing up as an unsupported browser. Unable to reach the login page"
This is a replica of this issue: https://github.com/Automattic/wp-calypso/issues/56295

### Quick summary

Android: Latest version of Microsoft Edge is showing up as an unsupported browser.  Users are unable to reach the login page

### Steps to reproduce

1. Go to Play Store and download the Microsoft Edge app
2. Access the app and search for "WordPress login". One of the first results should sho

[2021-09-16 06:35] #14570 closed, assigned to nobody

[2021-09-16 09:51] mzorz opened #15333 "[SDK 30 upgrade] Media Picker: crash when picking media from device"
Following this [comment](https://github.com/Automattic/stories-android/pull/715#issuecomment-920730092)
Testing on PR https://github.com/wordpress-mobile/WordPress-Android/pull/15331, with Stories library PR https://github.com/Automattic/stories-android/pull/715
1. set WPAndroid  App compatibility changes here `Settings -> System > Advanced > Developer options > App Compatibility Changes.`, the fl

[2021-09-16 15:02] #15181 closed, assigned to zwarm

[2021-09-16 15:29] jd-alexander commented on #7953
Reopening this ticket since the issue is related to an option in Post Settings and not in the Block Editor itself.

[2021-09-16 22:19] develric commented on #15145
I was looking a bit into this one. I was not able to reproduce but sharing a few things I was looking into in sentry (and happy to get a double check in case I'm messing up with events and release 😄 ).

The specific error message re this GH issue is below:

[code]

it is triggered by the `requireNotNull` check introduced in [17.7](https://github.com/wordpress-mobile/WordPress-Android/blob/bb9b83e6

[2021-09-17 01:32] ravishanker opened #15338 "Upgrade FluxC-Android to Android 11"
WordPress FluxC Android [PR](https://github.com/wordpress-mobile/WordPress-FluxC-Android/pull/2117)

[2021-09-17 01:32] ravishanker opened #15339 "Upgrade stories-android to Android 11"
Stories Android [PR](https://github.com/Automattic/stories-android/pull/715)

[2021-09-17 01:43] ravishanker opened #15340 "Upgrade Login-Flow-Android to Android 11"
WordPress-Login-Flow-Android [PR](https://github.com/wordpress-mobile/WordPress-Login-Flow-Android/pull/66)

[2021-09-17 11:41] #15330 closed, assigned to nobody

[2021-09-17 11:51] AliSoftware opened #15341 "NullPointerException: Attempt to invoke virtual method 'int org.wordpress.android.fluxc.model.SiteModel.getId()' on a n..."
**Sentry Url**: https://sentry.io/share/issue/ab2eb70e2c8e4f59a8cc694c34871ef6/
**User Count**: 250
**Count**: 1240
**First Release**: 17.8-rc-1
**First Seen**: 2021-07-14T18:24:13.241000Z
**Last Seen**: 2021-09-17T11:36:44Z
**24 Hours**: 24
**30 Days**: 793

[code]

[2021-09-17 11:52] AliSoftware opened #15342 "IllegalArgumentException: Required value was null."
**Sentry Url**: https://sentry.io/share/issue/5ca7f58a604b4b62a1e9784b01e9def3/
**User Count**: 524
**Count**: 1166
**First Release**: 17.7
**First Seen**: 2021-07-15T22:39:36.737000Z
**Last Seen**: 2021-09-17T11:36:24Z
**24 Hours**: 21
**30 Days**: 839

[code]

[2021-09-17 11:56] AliSoftware opened #15343 "Crash: tgkill"
**Sentry Url**: https://sentry.io/share/issue/cffd91cb859146a1a2887f5e74040e65/
**User Count**: 724
**Count**: 1344
**First Release**: 17.7
**First Seen**: 2021-07-14T01:25:19.038000Z
**Last Seen**: 2021-09-17T03:50:07Z
**24 Hours**: 18
**30 Days**: 670

[code]

Stacktrace is not very helpful and it might be hard to debug and reproduce, but since numbers are high, still worth looking into imho.

[2021-09-17 21:48] Gio2018 opened #15347 "Fix existing "Register a domain" button not showing up in My Site if a user has a paid plan and a previously registered domain and not using the free one"

[2021-09-17 21:49] Gio2018 opened #15348 "Fix delay in "Register your domain" button rendering on My Site, with a paid plan"

[2021-09-18 07:01] zdenys commented on #14978
I was testing theme switching on mobile app, and was surprised about the current behavior where my homepage was replaced with that of the new them without confirmation. I'm glad it's being worked on 😌

[2021-09-18 20:59] svrooij commented on #15154
Any news on this issue? Are the old android versions available anywhere? We are thinking of just using the old version from right before you removed this feature.

I would not call bringing back a removed feature an enhancement...

[2021-09-20 02:08] mokagio commented on #15321
@yaelirub @startuptester @Gio2018 Today is code freeze day for 18.3. Can you please let me know if we want to fix this as part of 18.3, which will require a PR against the release branch, or if I can push this to the 18.4 milestone?

Thanks!

[2021-09-20 05:52] ravishanker opened #15353 "[Android] Domains v2: Add Change site address flow from domains dashboard"
out of scope for v1 release!

[2021-09-20 05:53] ravishanker opened #15354 "[Android] Show redirect banner on domain search suggestion screen"

[2021-09-20 05:54] ravishanker opened #15355 "[Android] Show Updated Success or Error screen on domain purchase"

[2021-09-20 05:55] ravishanker opened #15356 "[Android] Show Error screen when domain purchase fails"

[2021-09-20 05:55] ravishanker opened #15357 "[Android] Update domains dashboard on purchase success"
Update domains dashboard
- set primary domain to purchased domain
- update list of domains

[2021-09-20 05:59] ravishanker opened #15358 "[Android] Add list of existing domains on the domains dashboard"

[2021-09-20 05:59] ravishanker opened #15359 "[Android] Final copy and images update for v1 release"

[2021-09-20 06:01] ravishanker opened #15360 "[Android] Add tracks for domains"

[2021-09-20 08:35] develric commented on #15342
AFAIU this one seems related to this other issue #15145. Linking [here](https://github.com/wordpress-mobile/WordPress-Android/issues/15145#issuecomment-921297986) for convenience some speculations I was making based on data from Sentry. cc @renanferrari as current CTOW (unless the schedule changed of course, sorry for the noise in case 😄 ). Happy to further align on this when you eventually come t

[2021-09-20 09:57] AliSoftware commented on #14663
Pushing this one to 18.4 as I'm doing 18.3 code freeze today.
It has been regularly pushed to next release since 17.5, so I'm starting to wonder if it'd make sense to keep this as next milestone every time vs assign it the `Future` milestone with no clear deadline? @zwarm @leandroalonso

[2021-09-20 12:03] leandroalonso commented on #14663
Hi @AliSoftware, thanks for the ping. Completely agree, I removed the milestone.

@ashiagr @zwarm feel free to change it if needed.

[2021-09-21 01:55] mokagio commented on #15321
@Gio2018 wrote on Slack that the team will work on this for 18.4. I've updated the milestone accordingly. 👍

[2021-09-21 17:36] #7953 closed

[2021-09-22 19:56] renanferrari opened #15365 "Support Contact Form: Main Issue"
This issue centralizes all tasks and potential improvements to the Support Contact Form implementation on WPAndroid.

### To Do
- [ ] Introduce basic implementation (PR: #15349)
- [ ] Review the form screen design.
    - Decide which fields we want to include.
    - The site picker should probably show the site's icon and URL.
    - The progress bar should be consistent with what we have on other

[2021-09-23 02:47] ravishanker opened #15366 "[Android] Launch in web checkout flow for paid plan"
Launch checkout web flow for paid plan after search and selection of a domain.

Not sure, if this needs to be done for v1

[2021-09-23 14:24] #15298 closed, assigned to ravishanker

[2021-09-23 14:27] #15315 closed, assigned to ravishanker

[2021-09-23 15:00] renanferrari commented on #15342
@develric suggestion makes sense to me, so I'm going to go ahead and close this in favor of #15145.

Edit: I have also merged both issues in Sentry.

[2021-09-23 15:00] #15342 closed, assigned to nobody

[2021-09-23 16:17] renanferrari commented on #15341
This crash happens when the `mSite` field in `PluginDetailActivity` is `null`, even though it's supposed to be populated by a parameter when the Activity is first started. After looking further into the Sentry logs, there seem to be some indicators that this happens primarily when the Activity is started from `PluginBrowserActivity`.

My guess is that the root cause for this issue – and other issu

[2021-09-23 16:50] renanferrari commented on #15343
This is a native crash, so it's very hard to debug due to the lack of symbolication in the logs. One thing we might want to try is to review [Sentry's documentation](https://docs.sentry.io/platforms/android/using-ndk/#symbolicate-stack-traces) and make sure we have everything set up to support that. Maybe this is something we can address as part of Groundskeeping? (cc @thehenrybyrd)

[2021-09-24 07:46] thehenrybyrd commented on #15332
Hi @Robertght! Thanks for triaging!
So you're aware, this repo is used specifically for the WordPress App on Android.
How WordPress.com loads on mobile web browsers is not part of app development, and is specific to WordPress.com (the website) itself.
I'm not entirely sure where this issue should go though. It's not part of what I'd traditionally think of as Calypso, but I do see a number of issue

[2021-09-24 07:46] #15332 closed, assigned to nobody

[2021-09-24 10:50] Robertght commented on #15332
Thank you for clearing this up @thehenrybyrd ! You're right! I think I've confused myself with this one.

[2021-09-25 21:37] milestonework opened #15372 "Able to delete media from Sites without admin rights [Type] Bug"
### Expected behavior
User should not be able to delete media from Sites with no Admin rights

### Actual behavior
Able to delete media without Admin rights

### Steps to reproduce the behavior
WP > Media > Select any image. Notice the Trash icon on the top right.

![Screenshot_20210925-153423_WordPress](https://user-images.githubusercontent.com/84402516/134786539-f0ea5539-f219-4778-b527-50a80ddd3

[2021-09-25 21:54] milestonework opened #15373 "Seeing 'View Admin' on Sites with no admin access [Type] Bug"
### Expected behavior
'View Admin' section should be hidden for Sites with no admin access

### Actual behavior
'View Admin' section is visible for Sites with no admin access

### Steps to reproduce the behavior
WP > select site with no admin access >  scroll down to 'External' section.
Notice 'View Admin' is visible.

![Screenshot_20210925-154804_WordPress](https://user-images.githubusercontent.c

[2021-09-27 10:18] JoelHJ opened #15374 "Self hosted press site. Post does not use theme"
[Type] Support

### Expected behavior
Post a new post I expect it to use the same theme as on PC.

### Actual behavior
It uses another theme (my theme has a dark and light option which I can change in a post online when I post a new post

### Steps to reproduce the behavior
Use Android app and post a post.

##### Tested on [device], Android [version], WPAndroid [version]
Mobile Samsung s9+

I was

[2021-09-27 15:40] zwarm commented on #14663
Moved to Future. Thanks

[2021-09-28 06:50] thehenrybyrd commented on #15373
@milestonework Thanks for reporting!

@ashiagr it's possible this is related to the My Site refactor, can you take a look?

[2021-09-28 07:12] thehenrybyrd commented on #15374
Hi Joel,
For support requests, you can reach our support team from Me > Help & Support > Contact Support. 🙂
However, I can tell you that specialized post options from individual themes do not appear in the app. If you'd like to change this setting from your phone, you can head to My Site > View Admin to open wp-admin for your site.
Please get in touch with our support team if you need any further

[2021-09-28 07:12] #15374 closed, assigned to nobody

[2021-09-28 08:19] ashiagr commented on #15373
Thanks for the ping, @thehenrybyrd!

I tested it in an old version `16.3` and found it to be existing there, My Site refactor hasn't made any changes to this logic.

![device-2021-09-28-132746](https://user-images.githubusercontent.com/1405144/135049792-368faa52-5ff3-4266-8e7f-f07bc712f0bf.png)

We hide the `Settings` option for such users but `View Admin` menu exists and directs users to the exte

[2021-09-29 06:11] ravishanker opened #15385 "[Android] Update debug cookies settings to work with webview"

[2021-09-29 06:14] ravishanker opened #15386 "[Android] Launch web checkout flow for free plan"
Launch web flow for free plan after search and selection of a domain

[2021-09-29 15:04] renanferrari commented on #15385
Closed by #15382.

[2021-09-29 15:04] #15385 closed, assigned to renanferrari

[2021-09-29 16:09] AliSoftware commented on #15023
Yet another report about it in4335599-zen, which is a follow-up of 4138354-zen

@mchowning can we escalate this somehow?

[2021-09-29 19:54] #15321 closed, assigned to nobody

[2021-09-29 22:50] renanferrari commented on #14041
After taking a second look at this, I have a few additional thoughts I want to share:

1. Most tickets I've seen with this issue so far are from WPiOS, which is still accepting emails into the site address field.
2. Out of the four tickets shared above, there's only one I can say for sure was actually caused by a WPAndroid user typing an address like `http:///example@email.com`:
    - 3842207-zen

[2021-09-30 06:40] thehenrybyrd commented on #12964
This came up again in beta testing for 18.3: p5T066-2G1#comment-10081

[2021-09-30 07:05] thehenrybyrd opened #15392 "Signup: tapping back after choosing to create/add a site does not go back to post-signup interstitial."
### Expected behavior
I expect the back button to take me to the screen I was just on.

### Actual behavior
After creating a brand new WordPress.com account, the post-signup interstitial presents the option to "create WordPress.com site", "add a self-hosted site" or "not right now". Tapping "create WordPress.com site" brings us into the site creation flow, however tapping back at this point does n

[2021-09-30 10:29] develric opened #15394 "New Edit Comment Component."
We want to introduce the following new edit component that, in addition to the comment content, allows to change author parameters (namely: name, web address, email) as it is possible on the web already.

![image](https://user-images.githubusercontent.com/47797566/135437578-0235ca25-3158-414e-8ad3-ced64b84f73d.png)

NOTE 1: as per this internal comment `pbArwn-2ks-p2#comment-3755`, the Comment fie

[2021-09-30 21:04] develric opened #15397 "Comment list does not update after comment editing in details."
### Expected behavior
When in My Site > Comments, opening a comment details from the list and editing it should update the comment details and also the comment in the comments list.

### Actual behavior
When in My Site > Comments, opening a comment details from the list and editing it updates the comment details but not the comment in the comments list. A PTR on the list reveals the updated commen

[2021-09-30 22:13] renanferrari commented on #15023
I spent some time investigating this as part of my groundskeeping and I think I was able to figure out the cause of the issue, but the only fix I could think of didn't seem good enough to me. I'm sharing some of my findings below so that someone with more experience in this part of the codebase can follow up on this in the future.

Long story short, this issue seems to be caused by a racing condit

[2021-09-30 23:16] ravishanker opened #15399 "Upgrade gutenberg-mobile to Android 11"
Upgrade gutenberg-mobile to Android 11.  Please see this [PR](https://github.com/wordpress-mobile/gutenberg-mobile/pull/4049)

[2021-10-01 06:35] #15356 closed, assigned to nobody

[2021-10-01 06:36] #15353 closed, assigned to nobody

[2021-10-01 13:01] develric commented on #15397
Adding a comment from the original PR review [here](https://github.com/wordpress-mobile/WordPress-Android/pull/15393#pullrequestreview-768616452)

I think it's a fair point for Notifications scenario, maybe I would expect the Comments List to just consistently update, but for sure something to further consider before closing this issue. cc @antonis

[2021-10-01 14:47] mchowning commented on #15023
It sounds like this is a regression that started around the beginning of July (4138354-zen). Did your investigation gave any indication about what change might have caused this to start occurring @renanferrari ?

[2021-10-01 15:06] osullivanchris opened #15403 "Remove superfluous periods in Blogging Reminders"
Reported by @kyleaparker  in version 18.3 internal reference p5T066-2G1

- We should remove the extra period in 'On Monday and Sunday at 10am.'
- We should remove the period after the shortened day names (Mon, Tue, Wed)

![image](https://user-images.githubusercontent.com/50576199/135643277-813c654d-95a9-42f1-802a-6ecd8b6502ed.png)

![image](https://user-images.githubusercontent.com/50576199/135643

[2021-10-01 18:59] renanferrari commented on #15023
@mchowning The classes I looked into during my investigation didn't have any relevant changes recently. I also looked into the `EditPostActivity` just now and still couldn't find anything that caught my attention.

That said, your comment above helped me confirm that this bug was introduced on `17.7`, since I could reproduce it there but not on `17.6`:

### 17.6

https://user-images.githubusercont

[2021-10-02 04:06] #15358 closed, assigned to ravishanker

[2021-10-02 07:04] zdenys opened #15407 "Gravatar shown even if `Hide my Gravatar profile` option is activated in Calypso"
### Expected behavior
In the app, I expect not to see my Gravatar (but instead a placeholder picture) if I activate the option `Hide my Gravatar profile` at https://wordpress.com/me

![Gravatar Hide Calypso](https://user-images.githubusercontent.com/39308239/135706976-9f7874aa-abc4-4e9c-a8b7-8e49933b5c03.png)

### Actual behavior
My Gravatar is still shown in the app, ignoring my preference set at

[2021-10-02 07:11] zdenys commented on #15407
Pinged about the above comment here p1633158668178900-slack-C02QANACA

[2021-10-04 05:46] antonis commented on #15023
@mchowning, @renanferrari Thank you for investigating this 🙇

My understanding is that the change that triggered the issue is [the upgrade of the RN version](https://github.com/wordpress-mobile/WordPress-Android/issues/15025#issuecomment-879672695).

This is just a guess but probably the racing condition became more common due to performance difference of the two versions. I'm not sure if a fix si

[2021-10-04 09:30] AliSoftware opened #15408 "IllegalArgumentException: Required value was null."
**Sentry Url**: https://sentry.io/share/issue/57908413e39d4891b640114deac3f418/
**User Count**: 614
**Count**: 818
**First Release**: 17.8
**First Seen**: 2021-08-03T07:48:48.154000Z
**Last Seen**: 2021-10-04T09:03:54Z
**24 Hours**: 54
**30 Days**: 808

[code]

[2021-10-04 09:34] AliSoftware opened #15409 "RuntimeException: Unable to pause activity {org.wordpress.android/org.wordpress.android.ui.prefs.BlogPreferencesAct..."
**Sentry Url**: https://sentry.io/share/issue/1def90e49e0847b89336cd48a5155c0d/
**User Count**: 655
**Count**: 1607
**First Release**: org.wordpress.android-12.9
**First Seen**: 2019-08-10T08:09:28Z
**Last Seen**: 2021-10-04T08:09:05Z
**24 Hours**: 47
**30 Days**: 661

[code]

This one seems quite old at first… but suddenly spiking recently since Sept 22, 2021 and 18.2 😱
![image](https://user-imag

[2021-10-04 09:36] AliSoftware opened #15410 "NullPointerException"
**Sentry Url**: https://sentry.io/share/issue/309f47401bba4f0ba067589c90115b99/
**User Count**: 237
**Count**: 575
**First Release**: 18.2-rc-1
**First Seen**: 2021-09-10T13:05:37.016000Z
**Last Seen**: 2021-10-04T09:10:33Z
**24 Hours**: 39
**30 Days**: 578

[code]

[2021-10-04 11:23] AliSoftware commented on #15410
Linked another Sentry report ☝️ which seems to be the same to me… but this one appeared in 18.1.

[2021-10-04 12:42] AliSoftware commented on #14904
Moving this to 18.5 milestone, but at that point I wonder if we shouldn't just move it to "Future"? @zwarm wdyt?

[2021-10-04 12:43] AliSoftware commented on #15145
Moving this issue to 18.5 as I'm doing 18.4 code freeze today.

[2021-10-04 13:35] zwarm commented on #14904
@AliSoftware - yes, this was a filler project, so when we have time we'll get back to it. Moved to future. Thank you 👍

[2021-10-04 14:21] eduardozulian commented on #14041
@renanferrari

I don't have any other reports at this time but I checked both 3833080-zen and 3842207-zen. For the first ticket I'm assuming this was likely just me pasting the wrong ticket link so I think we can just ignore it.

As for the missing logs, that also happened on the iOS side (3881292-zen and 3842207-zen) so there's some internal context for that: p1607469181111400/1607460779.096400-s

[2021-10-04 14:32] AliSoftware commented on #14950
I just encountered this one again today in `18.3` (because I tested the app during code freeze and got interrupted by a personal call during my testing and when I went back I forgot where I stopped so wanted to start all over again)… 😅

[2021-10-04 15:14] mdrockwell commented on #5875
<blockquote>Cannot show stats for displayed ads</blockquote>

play-store-reviewId=gp%3AAOqpTOEKUK4dzGdoA32maFKQ-uFDavjkmkThdx699uHiMpPTu0CH-WWFuE7jaA-MkAl0uVYRLYc7mjToPeLAUQ&corpus=PUBLIC_REVIEWS

[2021-10-04 19:03] dcalhoun commented on #15409
Labeling this as `[Pri] Medium` after discussing with @renanferrari. This issue appears to be present for older releases, but a significant spike occurred around the 18.2 release on 22 Sept. 672 users impacted, which I estimate to be 0.36% for the release.

From reviewing the breadcrumbs, it would appear something in the Blogging Reminders fragment triggers `SiteModel.setName`, but on a `null` mod

[2021-10-04 20:30] dcalhoun commented on #15410
Hey @ashiagr. 👋🏻 From reviewing this issue, it looks like the error appears to originate from [code added](https://github.com/wordpress-mobile/WordPress-Android/pull/14533/files#diff-2dc49cec7de6ae14ea7c866075dbe717bd8fe936b4c957d00e609a28e3ac0e37R72-R75) in https://github.com/wordpress-mobile/WordPress-Android/pull/14533. Currently 248 users have been impacted, which I estimate to be 0.17%, and I

[2021-10-05 07:10] #14989 closed, assigned to zwarm, ashiagr, ParaskP7

[2021-10-05 15:29] #15408 closed, assigned to antonis

[2021-10-05 15:48] twstokes opened #15418 "Contact us view doesn't respect the Dark theme"
### Expected behavior
The "Contact us" view should adapt to a color scheme suited for the Dark theme when in that mode.

### Actual behavior
The "Contact us" view's color scheme doesn't adapt well to the Dark theme.

### Steps to reproduce the behavior
1. On the "My Site" view, tap the Gravatar at the top right to load the "Me" view
2. Tap "Help & Support"
3. Tap "Contact Support"
4. Toggle Dark t

[2021-10-05 18:09] dcalhoun commented on #15418
From my brief research, it would appear that Zendesk's Android SDK may support [customizing the look](https://developer.zendesk.com/documentation/classic-web-widget-sdks/support-sdk/android/customizing_the_look/#customizing-the-look) of the UI, which may be a path forward.

[2021-10-06 02:30] #14195 closed, assigned to nobody

[2021-10-06 05:07] ashiagr opened #15423 "My Site Dashboard - Phase 2 - Add Featured Flag"
Parent: #15198

The goal of this task is to add a feature flag for `My Site Dashboard - Phase 2` which mainly involves post-based dashboard cards implementation.

[2021-10-06 09:42] ParaskP7 commented on #15338
👋 @ravishanker !

I am closing this issue since this [Flux PR](Upgrade FluxC to Android 11 #2117
) is now merged. Feel free to reopen it if I am missing a step here.

[2021-10-06 09:42] #15338 closed, assigned to ravishanker

[2021-10-06 09:45] ParaskP7 commented on #15340
👋 @ravishanker !

I am closing this issue since this [Login PR](https://github.com/wordpress-mobile/WordPress-Login-Flow-Android/pull/66) is now merged. Feel free to reopen it if I am missing a step here.

[2021-10-06 09:45] #15340 closed, assigned to ravishanker

[2021-10-06 10:04] #15423 closed, assigned to ashiagr

[2021-10-06 10:53] #15399 closed, assigned to hypest

[2021-10-06 13:00] dcalhoun commented on #15410
@ashiagr @jd-alexander I am closing this issue as I noticed #15414 merged claiming to fix this. Please reopen this issue if I am mistaken. Thanks!

[2021-10-06 13:00] #15410 closed, assigned to ashiagr

[2021-10-06 16:45] Gio2018 opened #15426 "[Android] Domains v2: Enhance Call-To-Action on My Site"
In order to make the Domains feature more discoverable, we will add a new Call To Action for users that don't have a custom domain yet.

The new Call To Action will be added to the "Next Steps" section (see designs below)

Without Quick Start | With Quick Start
-- | --
<img src=https://user-images.githubusercontent.com/34376330/136247805-e539f3be-1519-4a85-a54b-0a096bc15d1f.png> | <img src=https:/

[2021-10-06 18:02] Gio2018 commented on #15354
Hey there, following the discussion on Slack, please do not include the star image in the banner

[2021-10-07 09:59] #15339 closed, assigned to ravishanker

[2021-10-07 13:19] guarani opened #15430 "Quick Start adds bottom padding to My Site screen"
Parent #15296

### Expected behavior

The Floating Action Button (FAB) should always float above content on the My Site screen.

### Actual behavior

An unwanted bottom margin appears on the My Site screen after tapping the “Visit your site” step in the Quick Start:

<img src="https://user-images.githubusercontent.com/1898325/136391659-f90a111b-0245-4751-84b8-17bc59ee2156.gif" alt="Screen recordin

[2021-10-07 21:54] #15322 closed, assigned to ravishanker

[2021-10-11 06:50] #15333 closed, assigned to ravishanker

[2021-10-12 01:43] #15386 closed, assigned to renanferrari

[2021-10-12 04:55] ashiagr opened #15443 "Media Picker: Load video thumbnails for large videos"
Thumbnails for large videos cannot be previewed in the media picker. This is because the app uses `Glide` to load thumbnails which starts loading the whole video and allocates memory in order to keep it. This leads to OOM when the size is greater than the available memory. The app adds a check for video size (< 10MB) to avoid this OOM.

See PR #14085 for more details.

The goal of this task is to

[2021-10-12 09:34] thabotswana commented on #13169
This was also reported in 4347487-zen

back to the app.
Next I checked a page and backed out of the page without making any
changes.
The app again shows Local Changes.
The above is repeatable every time.

User has Google Pixel 2 XL, WPAndroid 18.4-rc-2

[2021-10-12 11:54] AliSoftware opened #15446 "ApplicationNotResponding: Application Not Responding for at least 5000 ms."
**Sentry Url**: https://sentry.io/share/issue/37b2a625b35540a68dca2ba1c958a6ed/
**User Count**: 807
**Count**: 18282
**First Release**: org.wordpress.android@15.0-rc-2+876
**First Seen**: 2020-06-12T02:57:56.362000Z
**Last Seen**: 2021-10-12T11:03:22Z
**24 Hours**: 10
**30 Days**: 496

[code]

[2021-10-12 11:55] AliSoftware commented on #15446
Quite an old one (release 15.0+) and steady for a while so doesn't seem urgent; but since it happens on launch, and also around Zendesk (aka help/support), I figured it would still be nice to take a look at it at some point.

[2021-10-12 11:58] AliSoftware opened #15447 "RuntimeException: Failure from system"
**Sentry Url**: https://sentry.io/share/issue/af1fb84874d641b6bdf5b362a32b3f62/
**User Count**: 387
**Count**: 3665
**First Release**: org.wordpress.android-12.7
**First Seen**: 2019-07-05T19:31:03Z
**Last Seen**: 2021-10-12T05:40:44Z
**24 Hours**: 12
**30 Days**: 345

[code]

[2021-10-12 12:00] AliSoftware opened #15448 "NullPointerException: selectedSite.email must not be null"
**Sentry Url**: https://sentry.io/share/issue/f388e43d2d954b5bb3b0aa66f5a80fa9/
**User Count**: 89
**Count**: 484
**First Release**: 18.0-rc-2
**First Seen**: 2021-08-18T01:51:57.075000Z
**Last Seen**: 2021-10-12T07:44:01Z
**24 Hours**: 8
**30 Days**: 294

[code]

Not _that_ high numbers of events/users so far… but I am guessing it'd be an easy-enough one to fix anyway?

[2021-10-12 17:58] #14618 closed, assigned to nobody

[2021-10-12 18:28] dcalhoun commented on #15448
Hey @ParaskP7. 👋🏻 I am unable to reproduce this, but based upon the error, I wonder if this is similar to https://github.com/wordpress-mobile/WordPress-Android/pull/15415 and potentially related to https://github.com/wordpress-mobile/WordPress-Android/pull/15197. Would you be willing to look into this please?

The user counts appear low currently, so I am going to classify this as `[Pri] Low`. Ple

[2021-10-12 19:13] dcalhoun commented on #15446
I am unable to reproduce this issue, but it appears related to start up and the Zendesk SDK integration. All the event breadcrumbs appear to be the same — `onCreate` and then initialization of Zendesk followed by the error. Zendesk could be a red herring, but it is a least a starting place.

Hey @ashiagr. 👋🏻 I noticed that you have worked in this area of the code recently, so I figured I would ass

[2021-10-12 19:29] dcalhoun commented on #15447
This appears to be a similar error as https://github.com/wordpress-mobile/WordPress-Android/pull/14422 and https://github.com/wordpress-mobile/WordPress-Android/pull/10240. I wonder if the content restored from the transaction history for the block editor is too large, which causes the crash. Is there a way we could apply a fix similar to the aforementioned PRs?

Hey @antonis. 👋🏻 I noticed you wor

[2021-10-12 19:46] guarani opened #15450 "User able to enter comment edit flow despite lacking permission"
### Expected behavior

When a user lacks the required permission to edit a comment, I expected the "edit comment" UI to not be available.

### Actual behavior

When a user lacks the required permission to edit a comment, the UI is still shown allowing the user to attempt the operation but it produces a generic error: "An error occurred while editing the comment"

### Steps to reproduce the behavio

[2021-10-13 01:47] renanferrari commented on #15366
Closed by #15438.

[2021-10-13 01:47] #15366 closed, assigned to nobody

[2021-10-13 08:42] ParaskP7 commented on #15448
👋 @dcalhoun !

Thanks for reaching out and bringing this to my attention! 🙏

From the looks of it, it doesn't seem to be similar to #15415 or related to #15197, below is my reasonings:
- #15415 refers to a null-pointer-exception on the `selectedSite` level, but this null-pointer-exception is on the `selectedSite.email`, which means that although the `selectedSite` can be retrieved from the reposit

[2021-10-13 12:22] dcalhoun commented on #15448
Considering the refactor as unrelated due to the misaligned dates makes total sense. Not sure why my brain skipped over that. 😄 Thank you for explaining your reasoning.

Thank you for the willingness to help, @ParaskP7. 🙇🏻

[2021-10-13 12:32] ParaskP7 commented on #15448
👋 @dcalhoun !

Of course, and who knows it might turn out to be somehow related in the end... 😅 For now however, I would indeed solely focus on the `email` value being `null` instead of the whole `selectedSite`.

Anytime, just let me know and I will try to help out as much as I can. 👍

[2021-10-13 12:41] dcalhoun commented on #15448
@ParaskP7 my plan is to leave you as the assignee for this issue. With the current low, flat user count, it doesn't seem like a high priority to fix immediately, but when you can make time will you please see if you can identify and address the core issue? Thank you!

[2021-10-13 12:48] ParaskP7 commented on #15448
👋 @dcalhoun !

👍

I agree.

Sure, just an FYI however that this week I am on support rotation, while next week I'll be on a conference. As such this might be delayed on my part a bit. But, I can definitely keep an eye on it and jump on and try to fix it as some point in the future.

[2021-10-13 16:59] yaelirub commented on #15296
Hello 👋  I was following a conversation on Slack regarding the space at the bottom of the screen and followed the links @ParaskP7 shared to this issue and to https://github.com/wordpress-mobile/WordPress-Android/issues/15430

A couple of questions:
1. Is https://github.com/wordpress-mobile/WordPress-Android/issues/15430 a duplicate of this and if so can we close it ?
2. Can we please fix this issu

[2021-10-13 18:31] guarani opened #15456 "Fix authentication bug when sharing to Facebook"
### Expected behavior

When sharing to Facebook, users expect a seamless experience authenticating their Facebook account, even if they don't have the Facebook app installed on their device.

### Actual behavior

Users attempting to share to Facebook (My Site → Sharing → Facebook) see what looks like a cryptic technical message or error when trying to authenticate via their Facebook account. After

[2021-10-14 01:13] develric opened #15460 "Follow conversation by push notification."
Currently the reader offers the possibility to follow by email a conversation happening as comments to a post. In addition to that we want to allow a user to be notified of a new comment on a post by push notification.

Here below the designs for iOS (I will add the Android screens later).

![image](https://user-images.githubusercontent.com/47797566/137233783-909f5e68-9880-4af4-bd84-35153adb6e34.p

[2021-10-14 04:55] ashiagr opened #15461 "Quick Start: Remove dead pixels around snackbars"
Parent #15296

### Expected behavior
There should not be any dead pixels around snack bar messages causing underlying UI to be hidden.

### Actual behavior

There is an area where the UI is cut-off/hidden above some of the Snackbars.

See https://github.com/wordpress-mobile/WordPress-Android/issues/15258#issue-983621548 for more details.

##### See image below, the 'Stats' list item is being partl

[2021-10-14 05:05] ashiagr opened #15462 "Quick Start: Update snackbars style (on screens other than My Site screen)"
Parent #15296

### Expected behavior
QS snackbar style on screens other than `My Site` screen should match the rest of the QS snackbars.

### Actual behavior
QS snackbar style on screens other than `My Site` screen does not match the rest of the QS snackbars. They're displayed using `WPDialogSnackbar` and need to use the snackbar sequencer.

[2021-10-14 05:37] ashiagr commented on #15296
Hey @yaelirub 👋

Thanks for bringing it to notice.  🙇‍♀️

Actually, #15430 is one amongst few other (pre-existing) `Quick Start` issues included in this task. So I've kept issue `#15430` open and created separate issues for others so that we can track them better.

I've renamed this task since the "Nice to haves" title looks misleading.  #15430 was a bit tricky to resolve when we investigated in P

[2021-10-14 05:47] yaelirub commented on #15296
Thank you so much, @ashiagr 🙏

[2021-10-14 14:58] #15354 closed, assigned to ravishanker

[2021-10-14 15:17] antonis opened #15466 "My Site screen is cut off when getting back from the editor"
### Expected behavior
The My Site screen displays correctly when getting back from the editor

### Actual behavior
Going back from the editor to the main screen cuts off the bottom part of the My Site options

### Steps to reproduce the behavior

1. From the _My Site_ screen open the editor
2. Close the editor
3. Notice that the part of the screen that was covered from the keyboard inside the edit

[2021-10-14 18:19] mchowning commented on #15466
Do you know if anyone is working on this @antonis ?

[2021-10-14 18:30] antonis commented on #15466
@zwarm is working on a solution

[2021-10-15 01:07] designsimply commented on #13314
This came up in a mobile request and I am adding a quick note here for reference.

<sup>(internal reference: p4a5px-2Ma-p2#comment-12357)</sup>

In that report, they were using a self-hosted jetpack-connected free site. They had also subscribed to a personal plan once and then unsubscribed.

[2021-10-15 05:58] #15466 closed, assigned to zwarm

[2021-10-15 08:27] ParaskP7 commented on #15461
FYI: Adding a comment here since #15466 might be related to this issue as well.

[2021-10-15 14:50] develric opened #15470 "Follow conversation by push notifications and notifications global settings."
This is related to an observed behaviour while testing [this PR here](https://github.com/wordpress-mobile/WordPress-Android/pull/15459#pullrequestreview-779452058)

The [new feature](https://github.com/wordpress-mobile/WordPress-Android/issues/15460) allows to enable push notifications for comments on a post.

Reporting the issue description from the PR:

The reported issue was noted on an atomic

[2021-10-15 15:30] develric opened #15471 "Follow conversation by push notifications case to monitor/improvement"
This is related to an observed behaviour while testing [this PR here](https://github.com/wordpress-mobile/WordPress-Android/pull/15459#pullrequestreview-779452058)

Slack internal ref:  p1633941032482100-slack-C01CW1VMLAF

If the site that you want to follow a conversation on, has this below site global setting in the reader active

<p align=center>
  <img src="https://user-images.githubuserconten

[2021-10-15 15:51] #15460 closed, assigned to nobody

[2021-10-15 18:55] dcalhoun opened #15474 "OutOfMemoryError org.wordpress.android.fluxc.network.xmlrpc.XMLRPCRequest in parseNetworkResponse"
A user reported that the WPAndroid app crashed frequently and they say image tags/alt text disappear. They say this happens with any post whether large or small.

**Sentry Url**: https://sentry.io/share/issue/52c6e1fa24fa47e68af7edb93574666e/
**User Count**: 4
**Count**: 962
**First Release**: 12.3.2
**First Seen**: 2021-07-19T08:43:37.162Z
**Last Seen**: 2021-10-15T17:10:33.409Z
**24 Hours**: 27

[2021-10-18 21:00] designsimply opened #15480 "Cannot log in using an email address containing a special character such as a single quote"
Steps to reproduce:

1. Have an email address that has not been used before to create an account on WordPress.com and that contains a special character such as a single quote.
1. Open the app and log out if you were already logged in.
1. Tap the "Log in or sign up with WordPress.com" button.
1. Enter the email address from step 1.
1. Complete the account creation including any email verification r

[2021-10-18 22:18] ravishanker opened #15481 "[Android] Domains v2: Show plan discounts on search screen"
https://a8c.slack.com/archives/C0280085R7W/p1633957904254400

[2021-10-19 15:12] designsimply commented on #8393
We received the following user report that I think is a match for this issue (or very close, at least in terms of media meta data as it relates to image titles disappearing):

and

* App version: 18.3
* Device model: Samsung SM-N975U
* OS version: Android 11
* Type of site: Jetpack

<sup>(internal references: 4372569-zen and p4a5px-2Mz-p2 /hat tip @thabotswana)</sup>

[2021-10-19 15:46] jhnstn commented on #15474
The disappearing image tags/alt text seems related to #8393 since the site in question is self hosted and the user confirmed they are logging in by url. (h/tip @designsimply )

We are yet to uncover what is causing the crashes. It could be an authentication or plugin issue. We did review the list of plugins installed on the site and nothing jumped out as problematic.

Since this is only being repo

[2021-10-19 17:00] vicky-tech commented on #14964
can i pick this issue?

[2021-10-20 23:11] renanferrari opened #15487 "`DomainsResponse` is not always parsed correctly"
The [`Domain`](https://github.com/wordpress-mobile/WordPress-FluxC-Android/blob/f1d279dd8f4e170495cdccf0e7c6ee69c2af9593/fluxc/src/main/java/org/wordpress/android/fluxc/network/rest/wpcom/site/DomainsResponse.kt#L14) model on FluxC is expecting the `currentUserCannotAddEmailReason` property to be a string, when in fact it is an object instead.

Here's an example of what the data in that property m

[2021-10-20 23:21] renanferrari commented on #15487
@ravishanker FYI

[2021-10-21 14:00] dcalhoun commented on #15392
I spent a little looking into this. I did not produce a solution, but will share what I observed for future work.

In the sign up epilogue, we [trigger the post sign up interstitial](https://github.com/wordpress-mobile/WordPress-Android/blob/42527b522ea82a79fefd974f2a9d5fa57eb8c520/WordPress/src/main/java/org/wordpress/android/ui/accounts/SignupEpilogueActivity.java#L58-L60), defined below.

https

[2021-10-21 22:43] #15359 closed, assigned to ravishanker

[2021-10-25 17:17] zwarm opened #15494 "My Site Empty View not shown when logging in/out/in with an account that has no sites"
### Expected behavior
Expect to see Empty view when logging in with an account that doesn't have any sites

Login Epilogue empty View | My Site tab empty view
-- | --
<img width="250" height="500" alt="Alt desc" src="https://user-images.githubusercontent.com/506707/138738974-8651996b-5990-4c7b-836a-16b39250fe52.png"> | <img width="250" height="500" alt="Alt desc" src="https://user-images.githubuse

[2021-10-27 10:14] ParaskP7 opened #15497 "My Site Dashboard - Phase 2 - New API Endpoint"
Parent: #15198

The goal of this task is to develop the new API endpoint for the new dashboard cards, but focusing only on the `Posts` dashboard cards for now.

Steps:
- [x] Setup Sandbox @ParaskP7
- [x] Deploy and test temporary `sites-dashboard` endpoint differential (previous bff structure): [My Site Dashboard: cards endpoint](https://code.a8c.com/D66924) @ParaskP7
- [x] Create new `sites-dashb

[2021-10-27 10:18] ParaskP7 commented on #15215
👋 @zwarm !

I am reopening this parent issue since I am seeing some of the tasks in the list are still incomplete. Let me know if you prefer it closed, but if so, I suggest we consider moving the incomplete task to another parent issue (ie. PTR). Wdyt?

🙏

[2021-10-27 10:23] ParaskP7 opened #15498 "My Site Dashboard - Phase 2 - Networking and Persistence"
Parent: #15198
Depends On: #15497

The goal of this task is to implement the networking and persistence layer for the new dashboards cards, based on the newly created API endpoint (see #15497).

Steps:
- [x] Setup plan for the networking and persistence development work (base on the [My Site Dashboard: Cards Endpoint](https://code.a8c.com/D69742) differential). @ParaskP7
- [x] Dashboard Cards: Int

[2021-10-27 11:41] zwarm commented on #15215
Yes @ParaskP7 -- I couldn't figure out how to reopen since I didn't create it. Thanks 🙇

[2021-10-27 13:45] AliSoftware opened #15499 "NullPointerException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkNotNullParame..."
**Sentry Url**: https://sentry.io/share/issue/bc015811a5544b44beec85bc52fd0994/
**User Count**: 1
**Count**: 2
**First Release**: 18.5-rc-2
**First Seen**: 2021-10-26T02:57:52.922000Z
**Last Seen**: 2021-10-26T02:57:59Z
**24 Hours**: 0
**30 Days**: 2

[code]

Super low user and event count, and I usually don't escalate as a GH issue for so low numbers… but since this is a brand new introduced on t

[2021-10-27 13:47] AliSoftware opened #15500 "NullPointerException: site.unmappedUrl must not be null"
**Sentry Url**: https://sentry.io/share/issue/50bfd0b4130f4fd8a3fa13a75c6bfd90/
**User Count**: 10
**Count**: 42
**First Release**: 18.5-rc-1
**First Seen**: 2021-10-19T08:54:19.386000Z
**Last Seen**: 2021-10-27T02:00:34Z
**24 Hours**: 5
**30 Days**: 42

[code]

Relatively low user and event count, so I hesitated creating the GH issue so soon… but also because on the current beta (which isn't out

[2021-10-28 06:00] reginabally commented on #10413
Also requested in 4404591-zd-woothemes

[2021-10-28 06:20] #15481 closed, assigned to ravishanker

[2021-10-28 07:08] malinajirka opened #15503 "Almost invisible buttons on ZenDesk/Support screens"
### Expected behavior
When I open list of my tickets and there aren't any, the "Start a conversation" button should be clearly visible.

### Actual behavior
When I open list of my tickets and there aren't any, the "Start a conversation" button has same background as the screen and the button label is almost invisible

### Steps to reproduce the behavior
1. Open the app
2. Make sure you are not log

[2021-10-28 07:13] malinajirka commented on #15503
@hypest and I have done a quick investigation and it seems the WPAndroid app is overriding styles which are breaking ZenDesk UI (the ZenDesk UI is part of the ZenDesk library).

More info about possible solution can be found on this Slack convo - `p1635342946038200-slack-C0HTU7HV3`

[2021-10-29 21:13] #15360 closed, assigned to ravishanker

[2021-11-01 06:30] ravishanker opened #15514 "[Android] About Screen v1: Add feature flag"

[2021-11-01 10:10] hypest opened #15516 "Privacy Settings link buttons are not opening to anything"
### Expected behavior
The various "learn more" link buttons in the Privacy Settings screen should open some informational page when tapped.

### Actual behavior
The buttons seem to receive the tap but nothing's opened afterwards.

### Steps to reproduce the behavior
1. On WPAndroid, tap on the top-right avatar icon to go to to the "Me" screen
2. Tap on "App Settings"
3. Tap on "Privacy settings"
4

[2021-11-01 10:25] hypest opened #15517 ""Collect information" Privacy setting is confusing"
### Expected behavior
The "Collect information" privacy setting toggle can be interpreted as governing whether the app will capture information or not. Under that interpretation, the app should only capture analytics data when the toggle is ON, not capturing when OFF.

### Actual behavior
The app is capturing but not uploading the analytics. When the toggle turns ON, the app is adding the collecte

[2021-11-01 18:12] designsimply commented on #15503
Also see https://github.com/wordpress-mobile/WordPress-Android/issues/11111.

[2021-11-01 19:10] jd-alexander commented on #15474
This issue is related to this [FluxC line](https://github.com/wordpress-mobile/WordPress-FluxC-Android/blob/5f2fb2f652ec711d17c5b7392c54491b1259f370/fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/XMLRPCRequest.java#L62).

It seems this error occurs when the app is somehow running out of memory when trying to parse the network response. For several users, I saw

[code]

This indicat

[2021-11-01 19:25] jd-alexander commented on #15499
I investigated this issue. It seems when media is being uploaded the `SiteModel`'s `username` is null and causing this crash. Since this value can be null, the API design should cover this case. The offending line is [here](https://github.com/wordpress-mobile/WordPress-FluxC-Android/blob/98d43f5f4ed25dbacac85fc42889a6ac529c03e4/fluxc/src/main/java/org/wordpress/android/fluxc/network/xmlrpc/media/M

[2021-11-01 19:37] jd-alexander commented on #15500
Hi @ravishanker there's a crash occurring at  https://github.com/wordpress-mobile/WordPress-Android/blob/0c735a551f5a6a924008facfecedcc2967c5326a/WordPress/src/main/java/org/wordpress/android/ui/domains/DomainsDashboardViewModel.kt#L87

Could you please take a look? It's is currently impacting 17 users in the beta. Thanks!

I think this should be a betafix @AliSoftware because the fix should be st

[2021-11-01 19:57] designsimply commented on #15480
Note: this was fixed in WPiOS via https://github.com/wordpress-mobile/WordPress-iOS/pull/17357 and https://github.com/wordpress-mobile/WordPressKit-iOS/pull/457.

[2021-11-01 20:34] designsimply commented on #15474
@jd-alexander I just wanted to chime in and say that I agree with the medium prioritization but also that I think it's likely affecting more than 5 users since most cases in that Sentry issue are being recorded as `id:0` (I'm guessing because it's a problem that happens for non-WP.com users logging in via the site credentials only option).

If you look at the user tag for the `1038272760` issue in

[2021-11-01 20:53] jd-alexander commented on #8393
@designsimply I think this issue will still persist because on a self hosted site's the XML-RPIC endpoint doesn't return the `alt` value. So this error is API related and cannot be resolved by us.

[2021-11-01 21:42] jd-alexander commented on #15474
Understandable @designsimply thanks for sharing. These memory issues aren't normally the easiest to recover from once the app gets into that state. Being that most of the devices that this error is occurring on is stating that the device itself has low memory, then that would be a bit out of our control since we aren't able to lessen the memory requirements of the data from the network response.

[2021-11-01 21:49] khaykov commented on #14347
Sorry for a delayed update - we fixed this in #15107

[2021-11-01 21:49] #14347 closed, assigned to nobody

[2021-11-02 03:24] reginabally opened #15522 "Extra spacing after an apostrophe in Reader"
Reported here: 4419167-zd-woothemes

### Expected behavior

I would expect there isn't an extra spacing after an apostrophe for content displayed in the Reader.

### Actual behavior

There's an extra space added to the content after an apostrophe.

![wp-1635822993593](https://user-images.githubusercontent.com/40906847/139781724-9dea026a-b5c5-4eea-a301-d2051701f0ba.jpeg)

### Steps to reproduce the

[2021-11-02 19:31] renanferrari opened #15525 "Domains project remaining tasks"
Now that we're wrapping the Domains project, we've decided to document some of the remaining improvements that can be made to it, for future reference.

**Improvements**

- [x] Show loading state on the Dashboard screen.
- [ ] Optimize "Primary site address" chip colors on the Dashboard screen to account for dark mode ([reference](https://user-images.githubusercontent.com/830056/139937612-fdd428a4

[2021-11-02 21:24] designsimply commented on #15474
I agree, and I think the numbers of occurrences are still pretty low overall too. The graphs are nice to have though because they can help show trends or spikes, which can help a lot if it ends up that we need to loop back later to review the same issue again.

I haven't! We have been working with a user who reported the problem to support though, and I can tell you some general information about

[2021-11-02 22:27] ravishanker commented on #15500
Closing this one as this fix is not necessary anymore due to the changes introduced by #15521

[2021-11-02 22:27] #15500 closed, assigned to ravishanker

[2021-11-02 22:45] #15514 closed, assigned to ravishanker

[2021-11-02 23:43] #15347 closed, assigned to nobody

[2021-11-03 00:14] jd-alexander commented on #15474
Thanks for sharing this! I will always keep an eye on these graphs to spot any trends because these trends can allow us to spot any generalizations in the reports we are getting to determine the actual cause for a crash.

The quotes were helpful in recreating the user flow that would have originated in the crash taking place.

I don't think the `AuthFailureError` is related here, nonetheless, it's

[2021-11-03 00:19] jd-alexander commented on #15474
Based on the information here, a scenario that we could recreate for testing purposes is to create a self hosted site with >10,000 posts and see if we run into a low memory scenario.
If we are able to recreate this then we can possibly leverage some form of mechanism in the near future for optimization.

I know there have been talks about improving how posts are fetched and that the utilization of

[2021-11-03 07:11] ravishanker opened #15527 "[Android] About Screen v1: Create a lib for composite build"

[2021-11-03 07:12] ravishanker opened #15528 "[Android] About Screen v1: Integrate About library into WordPress app"

[2021-11-03 10:34] iamgabrielma commented on #15522
Update from the user: Android version 10.0

[2021-11-03 13:28] renanferrari commented on #15357
Closed by #15520.

[2021-11-03 13:28] #15357 closed, assigned to nobody

[2021-11-03 13:28] renanferrari commented on #15355
Closed by #15483 and #15520.

[2021-11-03 13:28] #15355 closed, assigned to renanferrari

[2021-11-03 21:10] renanferrari opened #15530 "[Android] About Screen v1: Develop about screen"

[2021-11-04 03:50] ravishanker opened #15532 "[Android] About Screen v1: Add animation to logos"

[2021-11-04 20:04] renanferrari commented on #15522
This took me a while to figure out but here's what I found:

Initially, I was only able to reproduce this behavior on one of my test devices and neither the app nor the OS version seem to matter, as I still couldn't reproduce the behavior on an emulator with an identical configuration.

Given that this screen is based on a WebView, I suspected this might be related to some kind of bug with a new v

[2021-11-05 09:48] pachlava opened #15535 "Add Pull To Refresh support for `Stories` media picker"
### Expected behavior

`Choose media` screen shown right after Story Post creation should support Pull To Refresh (PTR) in similar way as it's done for `Multimedia` section.

### Actual behavior
PTR does not work for `Stories`:

https://user-images.githubusercontent.com/73365754/140491329-9c4648f4-6d68-4ff5-ae3f-d5822c59b5e3.mp4

### Steps to reproduce the behavior
1. Start creating a new story po

[2021-11-05 17:08] renanferrari commented on #15409
After taking a look at this, it seems this wasn't related to Blogging Reminders after all. Instead, it's related to a bug during site deletion, where the site model can be null:

https://user-images.githubusercontent.com/830056/140549154-790af8be-f129-4236-9a60-4c67168ce373.mp4

I submitted a fix for it here: #15536

[2021-11-06 06:40] akirk commented on #15522
I'm also experiencing this on WordPress Android alpha-328 on Android 10 with a WebView version 95.0.4638.74.

[2021-11-07 23:17] develric opened #15537 "Reader: related posts featured image cut"
### Expected behavior
In reader post details, related posts section should show a 16:9 image when featured image is available.

### Actual behavior
In reader post details, related posts section show a featured image (when available) that is cut or not visible at all.

### Steps to reproduce the behavior
- Go to the reader and open a post details that present related posts with featured image
- Che

[2021-11-08 02:39] erricgunawan commented on #15522
I also see it on WordPress Android 18.5 - Android 11 - Android System WebView version `95.0.4638.74`

UPDATE (Nov 15): I just checked my Google Chrome version as well, and it now shows `95.0.4638.74`.

However, I still see the issue 🤔

[2021-11-08 04:50] #15409 closed, assigned to renanferrari

[2021-11-08 05:38] #15537 closed, assigned to nobody

[2021-11-08 15:08] AliSoftware opened #15540 "NullPointerException: site.username must not be null"
**Sentry Url**: https://sentry.io/share/issue/5e66a98a823848749661aef1379e07c3/
**User Count**: 24
**Count**: 28
**First Release**: 18.5
**First Seen**: 2021-11-03T20:43:31.742000Z
**Last Seen**: 2021-11-08T15:00:57Z
**24 Hours**: 7
**30 Days**: 28

[code]

Relatively low numbers but rising quickly and brand new in 18.5. so likely to continue rising.

[2021-11-09 11:16] thehenrybyrd commented on #15528
@ravishanker can you add tags to this and #15527? Thanks!

[2021-11-10 01:16] reginabally opened #15547 "Reader: Buttons not showing up in Reader"
It was reported in 4440212-zd-woothemes that the buttons added to a post did not show up when the post was viewed on the app's Reader screen. However, the buttons are displaying correctly when viewed on a mobile browser.

### Expected behavior

Buttons show up in the app's Reader.

### Actual behavior

The buttons added to the post displayed as a blank rectangle. According to the user, they added

[2021-11-10 02:41] ravishanker opened #15548 "[Android] About Screen v1: Add About [App] in Me in place of Share WordPress with a friend"
If feature flag is enabled
- Add About WordPress under Me in place of Share WordPress with a friend option
- Remove About the app from Me -> App Settings

[2021-11-10 04:25] AjeshRPai opened #15549 "Category Management Feature"
Parent #5382

The goal of this task is to add support for "Category Management" as per the discussions and observations based on internal ref pbMoDN-2Zd-p2 and the parent issue.

### The features that are being developed to support "Category Management" are

- New `Category Listing` screen in the `Site Settings`
- Add `Category` from the `Category Listing` screen
- Edit an existing `Category`
- De

[2021-11-10 04:38] AjeshRPai opened #15550 "Category Management - Add `Category Listing` screen"
Parent #15549

The goal of this task is to implement the `Category Listing` screen in the `Site Settings`.

## Todo
- [x] Viewmodel for the Category Listing Screen
    - [x] Fetch Categories from the DB  #15552
    - [x] Fetch Categories from the Server #15552
    - [x] Expose a live data for the Fragment to subscribe #15552
    - [x] Viewmodel Tests  #15552
    - [x] UI states for the Screen  #15

[2021-11-10 05:51] sekaun1 commented on #15549
pipaek1เมื่อ 10 พ.ย. 2021 11:25 "peril-wordpress-mobile[bot]" ***@***.***> เขียนว่า

[2021-11-10 10:35] ashiagr commented on #13003
Closing this issue as the `SaveOnExitException` logging is not required anymore and has been removed as part of the `Saving Posts Task Force` (Internal reference: pb3aDo-18j-p2) and below PRs:

`WordPress-Android`:  https://github.com/wordpress-mobile/WordPress-Android/pull/15509
`Gutenberg`: https://github.com/WordPress/gutenberg/pull/36072

Cc @thehenrybyrd

[2021-11-10 10:35] #13003 closed, assigned to cameronvoell

[2021-11-10 16:55] jd-alexander commented on #15540
Thanks for reporting @AliSoftware I will check this out.

[2021-11-11 05:36] jd-alexander commented on #15540
Hi @develric  :wave: Can you please take a look at this? Pinging you since you’ve worked on this in the last couple of months 🙇🏾

[2021-11-11 07:58] reginabally commented on #15547
I tested this again on my test site by adding buttons (through the app and Calypso) to a post, I was able to reproduce this by viewing the post on the app's Reader.

Test post: https://premiumtestsite20190311.blog/2021/11/10/test-button/

![Screenshot_20211111_155520_org wordpress android](https://user-images.githubusercontent.com/40906847/141260036-31cd42ea-e1c4-4043-9b70-43ffcf7d4cfa.jpg)

[2021-11-11 16:06] zwarm opened #15560 "My Site Dashboard: Updated Avatar not shown on app relaunch"
### Expected behavior
Avatar maintains updated photo after swipe-off/relaunch sequence

### Actual behavior
From @ParaskP7  in PR #15554
I tested the solution thoroughly and what I discover is that there exist a bug with the previous, and of course, the current implementation of `CurrentAvatarSource`. When you initially update the avatar it is uploaded okay. However, when you update it again, it n

[2021-11-11 18:45] develric commented on #15540
Hey @jd-alexander , @AliSoftware 👋 ; I had a first pass on this but could not find any obvious path to replicate 🤔 . Also the CommentsXMLRPCClient is there from before the 18.5 so maybe there is something elsewhere that was introduced later that I'm not getting. I will try to get back to this a bit more tomorrow 🙇 .

[2021-11-11 19:36] jd-alexander commented on #15540
Thanks for chiming in @develric here's a [PR](https://github.com/wordpress-mobile/WordPress-Android/pull/15393) I stumbled on that includes interactions with the `CommentsStore` but I am not seeing where it triggers `fetchComment` so your investigation into this will be helpful.

[2021-11-11 20:40] zwarm commented on #15547
I am not able to recreate this issue on a consistent basis. Actually, I was only able to recreate it 1 time. The following are the steps I took when it happened.

- Created a new post
- Added one button on first row, 2 buttons on the second row, 4 buttons on third row
- Published the post
- Launched the Android app using a fresh login
- Navigated to reader (I was already following the site)
- Tapp

[2021-11-11 21:54] zwarm commented on #15547
More detail

The format of the API post response has changed from
[code]

to

[code]

Looks like a bunch of new styles were added.

[2021-11-12 02:03] ravishanker opened #15561 "[Android] About Screen v1: Develop Legal and More screen"

[2021-11-12 05:14] reginabally commented on #15547
@zwarm Thanks for taking a look! I repeated the steps in your second test and I was able to see the buttons in the WPAndroid app's Reader.

Test post: https://premiumtestsite20190311.blog/2021/11/12/test-button-2/

![Screenshot_20211112_131230_org wordpress android](https://user-images.githubusercontent.com/40906847/141413542-5a08d407-4e82-47d6-bf00-e064f82a9ff7.jpg)

[2021-11-12 09:57] ovitrif commented on #13292
@iamthomasbishop I noticed in the web version (calypso) we have an option to copy the link of a published post right above the trash option in the post actions menu:

<img width="824" alt="1_preview_web_version" src="https://user-images.githubusercontent.com/4588074/141437597-1be768de-f027-48b3-a512-7676ab67c46c.png">

When the user copies the link they also receive a notification saying: "Link co

[2021-11-12 13:19] zwarm commented on #15547
@reginabally - Thanks again for the assistance, this is one of the weirdest issues I have seen, You can see the buttons, but I pulled up the post and I don't see them again. Can you check if they are still showing? Thanks

[2021-11-12 16:35] renanferrari commented on #14987
Closed by #15004.

[2021-11-12 16:35] #14987 closed, assigned to nobody

[2021-11-12 22:43] develric commented on #15540
Hey 👋

Yep and that one was targeting 18.4 that is previous of the events we are seeing, so AFAIU it should not be directly related (unless sentry grouping is making fun of us of course 🙃).

A couple of notes I can share:
- AFAIU the username for a site is actually null for a .COM/JP site (looking into what we store in SiteModel fluxc table), but should (in principle) not be null for self-hosted s

[2021-11-14 14:03] ovitrif commented on #11819
@iamthomasbishop As @yaelirub mentioned earlier, we don't show any notice on iOS when switching to HTML or visual editor.

Edit: Just checked the web version, we also don't show a notification there.

<details>
<summary>iOS App Preview</summary>

| Switch to HTML Mode | Switch To Visual Mode |
| ----- | ----- |
| ![ios_switch_to_html](https://user-images.githubusercontent.com/4588074/141681848-60a

[2021-11-14 23:00] erricgunawan commented on #15522
Another report from 4450990-zen

I asked the user's Chrome and WebView apps' version, just in case.

##### WordPress - 18.5 - Version code: 1130 | Samsung SM-A307FN

[2021-11-15 00:56] jd-alexander commented on #15392
I agree. the `TaskStackBuilder` API is normally leveraged when an entirely new back stack needs to be created. It is ideal for a scenario like this where the user has been logged in therefore the previous "logged out" back stack history is no longer applicable.

Therefore, I would conclude that the back button is working as expected, as the user is not to be taken back to the Based on my observati

[2021-11-15 04:27] reginabally commented on #15522
Another report in 4450954-zd-woothemes.

WPAndroid 18.5, Android 11, Samsung Galaxy A70, Android System WebView version 95.0.4638.74.

[2021-11-15 12:21] AliSoftware commented on #15540
Yep wfm. Tbh I generally don't report Sentry issues with such low numbers anyway, just did it this time because I thought a NPE on something that got just introduced in latest release would have been an easy win… but apparently it's more tricky than expected, so fine by me to move to GK and keep an eye out.

Worth noting though that [there are a couple of other `site.username must not be null` iss

[2021-11-15 12:31] AliSoftware commented on #15145
Moving milestone to `18.8` as I'm doing the code freeze for `18.7` now.

Updated numbers for the Sentry issue as of today are: `7.6k events, 1.1k users` so this has raised quite a lot since this was opened. cc @fluiddot to reassess the priority in fixing this.

[2021-11-15 12:34] AliSoftware commented on #15548
@ravishanker I'm doing code-freeze of `18.7` today. Should this be addressed in 18.7 (ie was the feature flag enabled in 18.7) or should we move this to milestone `18.8`?

I don't see it in the `18.7` section of the `RELEASE-NOTES.txt` file so I'm assuming it didn't go in, but just wanted to double-check.

[EDIT] Ah I just found #15551 which seems related, and see that it hasn't been merged yet an

[2021-11-15 15:37] fluiddot commented on #15235
Not sure if the original issue was related to the Sentry library but I recently noticed that the stacktrace references the method `sentry_get_modules_list` which is defined by Sentry.

I looked for opened/closed issues on the Sentry repository ([`getsentry/sentry-java`](https://github.com/getsentry/sentry-java/issues)) that might be related and found [this one](https://github.com/getsentry/sentry-

[2021-11-15 15:41] mdrockwell commented on #15522
Screenshot from user regarding Chrome:

![Screenshot_20211115-073307_Chrome](https://user-images.githubusercontent.com/42454301/141810535-7643b988-aa32-4f42-ace6-6bf49100a614.jpg)

4450954-zd-woothemes

[2021-11-15 17:38] fluiddot commented on #15145
I sorted the Sentry issues by the number of events notified and this issue is at 8th position, in relation to the latest released version `18.5` here are some metrics:
- Total users affected by the issue: **1.106**
- Total users in `18.5` (Nov 15): **237.884**
- Total users in `18.5` version affected: **106**
- Rate of users impacted by this issue in `18.5`: **0,04%**

Taking the priority matrix,

[2021-11-15 19:14] dcalhoun commented on #15392
From a code perspective, I would agree. From a UX perspective, there may be room to interpret the outcome as unexpected, which is obviously the origin of this issue.

Rather than altering the use of `TaskStackBuilder` and the back button behavior, an alternative could be updating the design of the My Site tab when an account has no sites to display the two options from the onboarding dialog — "Cre

[2021-11-15 20:02] renanferrari commented on #12901
Removing this from the [Trial Projects board](https://github.com/orgs/wordpress-mobile/projects/53) as per the conversation here: p1637005303008900-slack-C0JFWR760

[2021-11-15 21:40] jd-alexander commented on #15540
Ah, thanks for sharing!

Understandable.

Makes sense!

No problem. These insights will help in getting the issue resolved.

Indeed, I agree that we can add it to groundskeeping since some digging is needed to verify the user flow that is actually causing the issue. I agree with @AliSoftware that we should keep an eye on it, so if necessary we can prioritize and address it sooner.

[2021-11-15 23:36] jd-alexander commented on #15392
Agreed.

I am more fond of this idea. I like that the changes would mimic the two options as you said. A designer would need weigh in on the flow being proposed to verify and implement the new design.

I agree that we could close this issue for now because the "Add new site" button shows the same options therefore the user's inability to get back to that screen doesn't sacrifice much from an UI/UX

[2021-11-16 01:57] iamthomasbishop commented on #11819
@ovitrif Thanks for the ping! Rather than remove the editor-switch messaging altogether (on Android -- I'm not sure if that was never implemented or was removed at some point on iOS), I would rather "translate" the message to use our compact version of the [Notice](https://github.com/WordPress/gutenberg/tree/trunk/packages/components/src/notice) component if possible (I'm not 100% sure if this is

[2021-11-16 03:07] jd-alexander commented on #14967
Thanks for sharing these notes @SiobhyB they were helpful in crafting the solution I created. 🙇🏾

[2021-11-16 06:38] reginabally commented on #15547
@zwarm Yes! I refreshed the post and now I don't see the buttons anymore. This is indeed very strange!

![Screenshot_20211116_113821_org wordpress android](https://user-images.githubusercontent.com/40906847/141934204-20e0e7ae-4b03-4227-be86-4e2c5e86e7db.jpg)

[2021-11-16 08:00] igotdes commented on #15522
The user has replied. They have:
- Android System Webview: version 96.0.4664.45
- Google Chrome: version 96.0.4664.45

[2021-11-16 11:48] antonis commented on #11819
Thank you for the detailed feedback @iamthomasbishop 🙇

It think that would work and be less distracting for the user. This is the same notice we use when we we create a new page. Correct?

<details>
<summary>Page created notice</summary>

https://user-images.githubusercontent.com/304044/141979086-f82fda7e-d0eb-4693-9ec8-8ab2d2fef3b7.mp4
</details>

If that is the case I think @ovitrif can explore

[2021-11-16 11:58] ovitrif commented on #11819
Thank you too for the feedback @iamthomasbishop, I'll look into using the less intrusive notice! 🙇🏻

Many thanks @antonis for pointing where to start and for your follow-up 🙇🏻

[2021-11-16 15:50] renanferrari commented on #15522
Thank you for all the additional information! It looks like there's some other factor at play here, other than WebView and Chrome versions, so I'm going to need to take another look at this and revisit my previous hypothesis. I should get back to this later this week, so feel free to share any more information in the meantime.

[2021-11-16 18:45] iamthomasbishop commented on #11819
@antonis Yes, that's the one! Thanks for confirming!

[2021-11-17 00:44] sentry[bot] opened #15578 "RuntimeException: Unable to start activity ComponentInfo{org.wordpress.android/org.wordpress.android.ui.posts.EditP..."
Sentry Issue: [WORDPRESS-ANDROID-1SFC](https://sentry.io/organizations/a8c/issues/2792928620/?referrer=github_integration)

### Steps to reproduce

1. Create a new post.
2. Rotate the device.
3. Notice that the app crashes with the stacktrace below.

[code]

[2021-11-17 10:24] AjeshRPai opened #15581 "RTL support for Prepublishing Nudges Categories Screen"
The PPN Categories screen on RTL doesn't show the parent and child categories with Indentation.

### Expected behavior

![Screenshot_20211118-125714](https://user-images.githubusercontent.com/17463767/142436085-ef48e3a1-644a-4be0-ba69-c63b0252a0cd.jpg)

The above screenshot represents the Categories Listing Screen implemented in Posts List -> Post -> Post Settings -> Categories on RTL Configuratio

[2021-11-18 08:31] #11819 closed

[2021-11-18 14:31] AjeshRPai opened #15590 "Site Settings Screen - No Network check"
In My Site -> Site Settings. The Internet connection is checked in order to enable the settings in the Screen.

| When Internet Available(Editing Enabled) | No Internet (Editing Disabled)|
| :---        |    :----:   |
| ![Screenshot_20211118-193439](https://user-images.githubusercontent.com/17463767/142430920-7d39c6ce-14d5-4e0f-8dcb-9f659cecf43a.jpg) | ![Screenshot_20211118-193442](https://user-i

[2021-11-18 15:34] AjeshRPai opened #15591 "RTL support on Category Parent Selection - Add Caegory Screen"
While creating a new category, the User can select a parent category. The dialog box shown to the user for selecting the parent category doesn't support RTL configuration.

The above dialog is accessible through the flow
1. Posts List -> Post -> Post Settings -> Categories -> Add Category -> Click At Parent Category
2. Posts List -> Post -> Update -> Categories -> Add Category -> Click At Parent C

[2021-11-18 16:12] emilylaguna opened #15592 "If you delete your last site it stays visible until restart"
### Expected behavior
If I delete my only site I should be presented with the 'Add a site' empty view again

### Actual behavior
The last site stays visible and I am able to attempt to interact with it

### Steps to reproduce the behavior

1. Sign in with an account with no sites
2. Tap the add site button
3. Follow the steps to create a site
4. Once its created go to Site Settings
5. Tap the Dele

[2021-11-18 21:56] khaykov opened #15593 "Implement visual changes to the Threaded Comments"

[2021-11-18 21:57] khaykov opened #15594 "Allow sharing of the links to individual comments"

[2021-11-18 22:39] develric opened #15596 "Extract and consolidate logic of ReaderCommentListActivity into a VM/Fragment."
Current reader threaded comments is implemented with a Java activity (ReaderCommentListActivity). We want to convert that to kotlin and extract it to an Activity/Fragment/VM components.

[2021-11-19 02:11] reginabally commented on #15456
We have a report in [Google Play Store app review](https://play.google.com/console/u/0/developers/7957760354032996428/app/4973361825681449040/user-feedback/review-details?reviewId=gp%3AAOqpTOHUSfpfQY0D2nK8KQzuOuaJeHnbBiKqaNaOal51eoI2eqAC50wgoxW4JWHfUQjEwQIWYH70vRbfFp4l9Q&corpus=PUBLIC_REVIEWS) on TCL 10 SE, Android 11, WPAndroid 18.6.

I tested this on Huawei Nova 2i, Android 9, WPAndroid 18.6. I

[2021-11-19 06:11] mkevins commented on #13361
Following up after https://github.com/wordpress-mobile/WordPress-Android/pull/15509, I tested this issue again using the long post content (in the hopes that this may have been resolved via that and the related PRs). Unfortunately, I still encountered the issue (on version `18.6`).

[2021-11-19 10:07] fluiddot commented on #15456
As per [this blog post from Facebook](https://developers.facebook.com/blog/post/2021/06/28/deprecating-support-fb-login-authentication-android-embedded-browsers/?locale=en_US), Facebook Login will no longer support using Android embedded browsers (WebViews) for logging in users, so we would need to follow the instructions the instruction to address the issue and use the new process for login into

[2021-11-19 10:21] akirk commented on #15522
I received an update for the WebView updating it to 96.0.4664.45 and it fixed the problem for me. I did move to alpha-329 in the mean while but still experienced the apostrophe problem before that WebView update.

Maybe the above user received that update between reporting and checking the WebView version.

[2021-11-19 12:16] #15547 closed, assigned to nobody

[2021-11-19 12:18] momo-ozawa opened #15599 "Onboarding Improvements: Hide "Choose a site" and the "OR" divider on the Epilogue screen when there are no sites"
<img src="https://user-images.githubusercontent.com/6711616/142621470-ac9e4b85-4fa6-4f53-8f27-117c64d7f25e.png" width=200>

Thanks @pachlava for finding this!

Ref: p1637317113044600-slack-C027K4MNPGQ

### Expected behavior
If a user has no sites yet, the following should be hidden in the Epilogue:
-  `Choose a site to open` header
-  `----- OR -----` divider

### Actual behavior
If a user has no

[2021-11-19 13:25] guarani commented on #15456
Thanks for sharing this. When I filed this issue, I didn't actually test to verify if installing the Facebook app resolved the login issue, I just assumed it did based on the error message – sorry about that.

If the app needs to be updated to support the new process for login into Facebook, this issue seems high priority – wdyt @fluiddot?

I'm going to change the issue type from Enhancement to Bu

[2021-11-19 14:22] fluiddot commented on #15456
Yeah it is indeed, I've shared the issue with the rest of the team, in case someone can check it further and introduce the migration.

Thanks @guarani for updating the tags 🙇 , I'm wondering if we should also update the title and description of the PR to be more accurate on the issue, as instead of improving we're now referring to fixing the authentication, wdyt?

[2021-11-19 16:59] #15561 closed, assigned to renanferrari

[2021-11-19 17:00] #15530 closed, assigned to renanferrari

[2021-11-19 17:04] renanferrari opened #15600 "[Android] About Screen v1: Implement navigation"
Ref: 12-gh-Automattic/about-automattic-android

[2021-11-19 18:08] renanferrari commented on #15522
I took another shot at this today and, unfortunately, had no luck trying to find something we could possibly do on our side to fix the issue. I asked for some extra help (p1637345208161800-slack-C011BKNU1V5), just in case I'm missing something.

[2021-11-22 09:49] #15581 closed, assigned to nobody

[2021-11-22 11:55] #15550 closed, assigned to AjeshRPai

[2021-11-22 12:38] guarani commented on #15456
Good call! I updated the issue title and description to reflect how it's not possible to share to Facebook, even with the Facebook app installed on the device.

[2021-11-22 12:41] AliSoftware opened #15607 "RuntimeException: Unable to start activity ComponentInfo{org.wordpress.android/org.wordpress.android.ui.posts.EditP..."
**Sentry Url**: https://sentry.io/share/issue/b074a52ff6994322bfa9e912535efff3/
**User Count**: 30 + 19 + 4 = 53
**Count**: 85 + 69 + 18 = 172
**First Release**: 18.7-rc-1
**First Seen**: 2021-11-16T04:23:59.172000Z
**Last Seen**: 2021-11-22T08:19:39Z
**24 Hours**: 2
**30 Days**: 85

[code]

---

This crash is new in **latest beta**.

I found multiple Sentry issues related to it – see [this search

[2021-11-22 13:31] hypest commented on #15607
Took a look and apparently, this is another manifestation of the https://github.com/wordpress-mobile/WordPress-Android/issues/15578 ticket, and already fixed in the v18.7-rc-2 at that. The crashes here also don't seem to happen on the `rc-2` so, chances are they are fixed too. As discussed in Slack, let's leave this open for a few days to monitor, after which we'll close as fixed if no new clues a

[2021-11-22 18:09] renanferrari commented on #15456
FYI I looked into this last week and posted a few considerations about it here: p1637357908163300/1637317466.158800-slack-C011BKNU1V5

[2021-11-22 18:28] momo-ozawa commented on #15599
iOS PR: https://github.com/wordpress-mobile/WordPress-iOS/pull/17578

[2021-11-22 19:06] ovitrif commented on #13292
Following the [feedback](https://github.com/wordpress-mobile/WordPress-Android/pull/15570#issuecomment-973111846) received in [the pull-request for addressing this issue](https://github.com/wordpress-mobile/WordPress-Android/pull/15570),
the following changes apply to the initial proposal:
- Show a snackbar notification (instead of the initially proposed toast)
- Show the option to copy the Post U

[2021-11-23 00:09] ravishanker opened #15609 "[Android] About Screen v1: Add tracks"
See https://docs.google.com/spreadsheets/d/1X1DhOvWuVylbQpRBPbmsq2yPoj962_KSL8D3uXssOc4/edit#gid=0

Looks like tracks are spread across items in WPAndroid and about-automattic-android library.  Since library doesn't have any network related code.  Should this be done entirely on WPAndroid side by passing a callback function!

[2021-11-23 12:09] fluiddot commented on #15607
I checked the current stats of the issue:
- Total users in `18.7-rc-1` (on Nov 23): 800
- Users affected by the issue: 30
- Ratio of users affected: 3,75%

I assigned the `Blocking` priority tag as it produces a crash and affects a high number of users. However, I'd like to highlight that this issue can only be reproduced in the beta version `18.7-rc-1`. As mentioned, in previous comments, this wa

[2021-11-23 14:30] antonis opened #15612 "Pages List: Add Copy link functionality for pages"
### Description
The user should be able to easily copy a page link (for posts the functionality is implemented in https://github.com/wordpress-mobile/WordPress-Android/pull/15570):

1. Press the dots at the right of a page in the list
2. A **Copy link button should be added above the Trash button**
3. When the user presses the *Copy link button* a **snackbar message appears saying "Link copied to

[2021-11-23 22:01] #15548 closed, assigned to ravishanker

[2021-11-24 05:55] jostnes commented on #14782
This is still reproducible on WPAndroid 18.7. Though one difference is that I did not have to tap the toggle in quick succession to see the issue, it happened on the first tap:

https://user-images.githubusercontent.com/17252150/143182584-5a9a13d7-7652-4096-a5b6-6a67f8a08f15.mp4

Tested on OPPO Reno6 Z, Android 11.

[2021-11-24 11:30] #13292 closed, assigned to antonis

[2021-11-24 14:33] guarani commented on #14782
Thanks for sharing, @jostnes!

I'd left a comment earlier saying I'd check older versions of the app to see when this issue first started. Unfortunately I didn't follow up on that and six months has passed. On the plus side, we now know the bug has been around for at least six months, so we should have enough info to triage/prioritize it.

@mchowning, I see this already has the Medium priority lab

[2021-11-25 10:16] mrfoxtalbot opened #15617 "After changing Scheduled post back to Draft status, "Publish" button can cause confusion."
### Expected behavior

It should be possible to change the status of a scheduled post back to a draft.

### Actual behavior

The post was published instead.

### Steps to reproduce the behavior

1. Create a new post and schedule it by giving it a future date
2. Open the post in the mobile app and try to switch its status to draft
3. Notice how it gets published

During one of my tests (not the one

[2021-11-25 16:46] fluiddot commented on #14392
The editor uses React native underneath so the images are rendered with a different library than the rest of the WordPress app ([reference](https://reactnative.dev/docs/images)).

For Android, it would be great if we could use Glide, actually, we could do it by introducing the [`react-native-fast-image` package](https://github.com/DylanVann/react-native-fast-image) that uses native libraries to op

[2021-11-25 16:49] develric opened #15621 "Reply to post vs reply to comment logic should be reviewed."
This is a placeholder issue to come back to further understand it, for something that we noticed while reviewing [a PR here](https://github.com/wordpress-mobile/WordPress-Android/pull/15595) (reproduced in 18.7 release so it doesn't seem related to that PR specifically).

In the reader threaded comments screen, we noticed [the following](https://github.com/wordpress-mobile/WordPress-Android/pull/1

[2021-11-25 17:32] #15593 closed, assigned to khaykov

[2021-11-25 17:32] #15594 closed, assigned to khaykov

[2021-11-25 21:39] #14967 closed, assigned to jd-alexander

[2021-11-26 03:23] jostnes opened #15622 "Inconsistent "link to" behavior between post on Reader view and Site view"
### Expected behavior
Posts should behave the same on both Reader view and Site view

### Actual behavior
Images are not being redirect to external URL from Reader View and external images are not displayed from Reader View

### Steps to reproduce the behavior
1. Login to WordPress Android and create a post with at least 4 images on it
2. Set all 4 images to be linked to a different options from L

[2021-11-26 11:27] #15430 closed, assigned to ashiagr

[2021-11-26 11:27] ashiagr commented on #15461
Closed via #15611

[2021-11-26 11:27] #15461 closed, assigned to nobody

[2021-11-26 11:45] ashiagr opened #15625 "My Site Dashboard - Phase 2 - Misc"
Parent #15198

#### Various TODOs

- [x] Hide dashboard feed (jetpack app, non-wpcom sites, etc) @ashiagr  #15681
- [x] Improve scrolling experience (inner recycler view) @ashiagr #15656
- [x] Reorder quick start dynamic card (above dashboard feed, similar to quick start card) @zwarm
- [[MOVED](https://github.com/wordpress-mobile/WordPress-Android/issues/15198)] ~~What's new announcement?~~

####

[2021-11-26 13:55] seksun11 opened #15626 "www.google.com"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

##### Tested on [device], Android [version], WPAndroid [version]

[2021-11-26 15:01] fluiddot commented on #15235
I see a reference to Hermes (`facebook::hermes::detail::hermesFatalErrorHandler`) in a recent [Sentry event](https://sentry.io/share/issue/ab1e2ab600d540aa964a361d54a1dd5d/), so potentially this crash could be related to React Native library. It might be a coincidence but, the first event was originated in version `17.7` which is also the one where the React Native upgrade to version `0.64` was re