[2021-01-15 22:26] melek opened #13791 "'Manage Your Stats' card link text cut off vertically on with Large or Largest device font"
### Expected behavior
The call-to-action/link text on dismissable cards should look natural and intentional regardless my device text size.

### Actual behavior
With 'large' device font set, The `DISMISS` and `TRY IT NOW` are cut off vertically, resulting in a glitchy look. It is most visible on the D, S, and O characters.

Similar to #11839.

<img src="https://user-images.githubusercontent.com/22

[2021-01-16 00:10] jd-alexander opened #13792 "Audio MIME types not supportive by some File Pickers"
### Expected behavior

That the File Picker on different Android devices and versions behave the same way when the Audio MIME types are passed.

### Actual behavior
On most devices eg. Pixel 3, API 30, the System Picker works well with the specific MIME types passed and you are able to select files based on type whether it is video, image, or audio. However, on some devices like OnePlus 7T it's Sy

[2021-01-16 04:49] reginabally opened #13793 "App Review: Changes made on desktop not getting updated in the app"
Reported in the app review:

Date of review: Dec 14, 2020, 00:05
App version name: 16.2
Android version (SDK): Android 10 (SDK 29)

I've tested this on self-hosted as well as Jetpack sites but I wasn't able to replicate it. We've requested the user to reach out to us so that we can take a look.

There's a similar issue on WPiOS that's being tracked [here](https://github.com/wordpress-mobile/WordPr

[2021-01-18 11:10] malinajirka commented on #13763
@leandroalonso ~One more question - the existing event always tracks a single "tag". However, we support adding multiple tags in the Choose Interest screen. Should we add them in a list or fire multiple events?~

Update: Sorry, I didn't give this enough thoughts. We already track this event (we fire an event per tag). Goal of this task is to just add the "source" property.

[2021-01-18 12:16] antonis opened #13801 "[Home Page Picker] Skip option and `Default` design selection are indistinguishable in analytics"
### Expected behavior

When the user selects the **Slate** (`slug=default`) design this should be logged in analytics specifically (`template=default`) and not as empty value like when the user chooses the **Skip** option

### Actual behavior

When the user selects the **Slate** (`slug=default`) design this is not logged in analytics specifically but as a empty value like when the user chooses the

[2021-01-18 12:28] antonis commented on #13801
The reported (@geriux 🙇 ) behaviour is caused on **Android** because:
1. When the users presses the [**Skip** option the `default` value is set](https://github.com/wordpress-mobile/WordPress-Android/blob/e93cdce2e92f10206abb8c55b19c606c14f80c3c/WordPress/src/main/java/org/wordpress/android/ui/sitecreation/theme/HomePagePickerViewModel.kt#L77) to the template selection.
2. When the user selects the

[2021-01-18 16:34] designsimply commented on #13791
Thank you for the report @melek!

I will add this to our maintenance list but with a note that other issues may take precedence if they are more urgent. 👍

[2021-01-18 17:41] designsimply commented on #13692
Quick follow-up to say that I asked the user who originally reported the problem with video uploads from their Pixel 4a 5G into a post whether they had modified the video in any way and they said they did not.

Just noting this for reference with an ask for any additional user reports to be added in subsequent comments with similar info about what (if anything) they did to modify the video before

[2021-01-18 18:32] #13669 closed, assigned to nobody

[2021-01-18 22:23] pollyplummer opened #13809 "Video Stories and video blocks don't have a thumbnail image in previews"
### Expected behavior

I would expect that the Video story posts would have a thumbnail shown in the post, like the image stories, but it looks like it just has a placeholder image. I created the story by uploading 1 video and publishing it without any changes.  See attached image.
![Screenshot_20210118-155626](https://user-images.githubusercontent.com/343280/104967620-6d1e9d00-59a9-11eb-8b7a-0bf7

[2021-01-19 08:37] malinajirka opened #13812 "Reader: Enable/Disable site notifications action doesn't work"
### Expected behavior
When I click on "Turn on/off site notifications" I'd expect the site notifications get enabled/disabled.

### Actual behavior
When I click on "Turn on/off site notifications" nothing happens.

[code]

### Steps to reproduce the behavior
1. Open Reader
2. Open Following tab
3. Click on the more menu icon on one of the posts
4. Click on "Turn on site notifications"
5. Notice th

[2021-01-19 10:34] loremattei opened #13814 "IllegalStateException: Fetch already in progress."
**Sentry Url**: https://sentry.io/share/issue/276329361a114955bf64043333a8b202/
**User Count**: 536
**Count**: 611
**First Release**: org.wordpress.android@16.2-rc-2+959
**First Seen**: 2020-11-25T08:29:44.213000Z
**Last Seen**: 2021-01-19T08:12:20Z
**24 Hours**: 20
**30 Days**: 459

[code]

[2021-01-19 12:50] leandroalonso commented on #13763
@ParaskP7 JFYI, in iOS I targeted the `16.5` release branch.

The change was simple and it's something that we wanted to have ASAP. Do you think it's possible to do the same for Android?

[2021-01-19 12:56] ParaskP7 commented on #13763
👋 @leandroalonso !

We discussed it with @malinajirka yesterday and agreed I'll start work on it tomorrow morning so that it ends up in `16.5` release.

I haven't look at it in more detail, but as far as I understood the change is simple on Android as well.

[2021-01-19 14:30] develric opened #13815 "Review the convenience of changing the overlay message"
This issue was spawn from #7103 to keep track of this two comments ([#1](https://github.com/wordpress-mobile/WordPress-Android/issues/7103#issuecomment-755770958) and [#2](https://github.com/wordpress-mobile/WordPress-Android/issues/7103#issuecomment-759810809)).

Overall the #7103 was addressed in #13752 so we are closing it but this is a note to eventually come back to reconsider, as a further i

[2021-01-19 14:40] #7103 closed

[2021-01-19 15:07] malinajirka commented on #13763
Actually, we discussed we'd merge it by Friday into 16.6. However, I guess we can merge it into 16.5 if Platform team is fine with that.

[2021-01-19 15:43] ParaskP7 commented on #13763
Oh, you are right, for some reason I thought I  was talking about `16.6`, aka the release to be, not the one already cut. I'll focus on it tomorrow and let the platform team know as soon as I get the PR ready, maybe they will be fine with it.

PS: Thanks for catching on it @malinajirka . @leandroalonso if I were aware of that I would have started with this issue sooner.

[2021-01-19 16:05] leandroalonso commented on #13763
@ParaskP7 no worries! I should have added this info in the ticket, my bad.

[2021-01-19 22:04] #13584 closed, assigned to renanferrari

[2021-01-19 22:16] designsimply commented on #13283
Re-tested and confirmed that I can see the untranslated contact support header if I change my device language to English (United Kingdom).

1. On the device, go to Settings > System > Languages and input > Languages.
1. Select "English (United Kingdom)" — note that the problem happens in other languages as well.
1. In the app, go to My Site > Account > Help & Support > Contact Support.
1. You shou

[2021-01-19 23:18] designsimply commented on #13809
Thank you for the report @pollyplummer!

I tested the steps you provided and found that the thumbnail works for me if I view it in a browser but the video thumbnail does not work if I view the post in a Preview or a Webview (via View Site), as mentioned on the original report. 👍

Steps to reproduce:

1. Go to My Site > + > Story post.
1. Select a video.
1. Tap the checkmark at top right.
1. Add a

[2021-01-19 23:30] designsimply commented on #13809
@planarvoid is it too late to include this in the Media Picker Consolidation project by chance? I know it's a stretch… 🤔 but thought I would ask just in case!

[2021-01-20 01:01] develric opened #13821 "Missing overflow menu in reader post cards when filter is active."
While reviewing a not related PR [here](https://github.com/wordpress-mobile/WordPress-Android/pull/13766#pullrequestreview-568758343) it was noted the following.

### Expected behavior
When in the reader in a filterable tab like Following, if I select a filter, I would expect the posts shown to have the overflow menu like the posts card when no filter is selected like in the image below

<p align=

[2021-01-20 01:17] designsimply commented on #13812
I tested with 16.5-rc-2 and I was able to use the "Turn on site notifications" option to subscribe to new posts for a blog.

Please ignore this note if the bug is in develop only and you already knew that!

Video: [1m12s](https://cloudup.com/cDS2IUK6exE)
<sup>Tested with WPAndroid 16.5-rc-1 on Pixel 3 Android 11 logged in as testuser0313 and tapping "Turn on site notifications" for a WordPress.com

[2021-01-20 01:26] designsimply commented on #6691
Several changes have been made since the time this issue was originally filed. I checked the Posts Lists card actions just now with my device language set to German and none of them are overlapping any more. 👍

<img src="https://user-images.githubusercontent.com/1119271/105114068-62383b00-5a83-11eb-9acc-1a5235168e5b.png" width="270" alt="Screenshot_20210119-182214">
<sup>Tested with WPAndroid 16.5

[2021-01-20 01:26] #6691 closed

[2021-01-20 08:56] malinajirka commented on #13812
Thanks for testing @designsimply! That's quite weird, I tested it on two different accounts + two different devices + both develop and alpha-267. It doesn't work for me.
Tbh I haven't checked if it actually subscribes me on the server. However, the "Turn on site notifications" item should change to "Turn off site notifications", which doesn't happen (It keeps showing "Turn on site notifications" i

[2021-01-20 10:27] hypest commented on #13815
Thanks for the ticket @develric !
Feels to me this ticket might not be easily addressable though or we might not just be able to cover all cases to close it so, may I ask, is this ticket about introducing some way to pass detailed error messages, or is it about covering the various cases by specializing their messages?

If it's the latter, I think it'd be better if we have specific cases/flows men

[2021-01-20 10:45] #13782 closed, assigned to planarvoid

[2021-01-20 11:04] develric commented on #13815
Hi @hypest ,
the first reason to create this ticket was to decouple the main solution implemented for the #7103 in the PR #13752 (that is adding a snackbar to the Editor currently to report messages related to media upload issues) so it was not lost by closing the aforementioned thicket.

It would deserve more digging, but my first understanding was: if we implement the changes highlighted [here](

[2021-01-20 11:51] hypest commented on #13815
Ah, I see, thanks for expanding @develric !

OK so, looks to me like we're interested in a "causeOfFailure" passing and displaying mechanism so, may I suggest rephrasing the ticket title and description to point to just that? Feel free to include all the context you already mentioned, that will help connect the dots. In the end, I feel the ticket will be perfectly actionable when we decide to work

[2021-01-20 12:28] ParaskP7 commented on #13763
This is now done: #13823

[2021-01-20 12:28] #13763 closed, assigned to ParaskP7

[2021-01-20 12:29] ParaskP7 commented on #13763
👋 @leandroalonso !

Maybe you want to close this [iOS issue](https://github.com/wordpress-mobile/WordPress-iOS/issues/15636) as well.

[2021-01-20 15:23] planarvoid opened #13830 "Add functionality to "Upload site icon" QS task"
We need to add the focus point and the rest of the functionality to the "Upload site icon" QS task

[2021-01-20 16:28] designsimply commented on #13809
Decided to add this to the list of issues to consider for Groundskeeping (our maintenance rotations) starting Feb 8 and targeting v16.8.

[2021-01-20 18:37] #13786 closed, assigned to planarvoid

[2021-01-20 18:47] chipsnyder opened #13832 "Modify Quick Start Steps to support quick start steps"
## Description

To more align with our changes to site creation we'd like to modify the quick start steps so that users can get to editing the content of those pages as soon as possible.

## Changes
1. Fully remove "Browse Themes"
2. Add "Edit your homepage"
2. Add "Review site pages"

<kbd><a href="https://user-images.githubusercontent.com/3384451/105220335-8fd5c080-5b25-11eb-9b9c-234f594b7f60.pn

[2021-01-20 22:30] #13455 closed, assigned to nobody

[2021-01-20 23:08] designsimply commented on #13015
Thank you for the screenshot @simison!

I tested again and confirmed that this is only happening if an @automattic.com email address is saved in the contact email field in the Help & Support section, and I was able to reproduce the issue using the following steps:

1. Go to My Site > Account > Help & Support > Contact email.
1. Enter any email address ending in @automattic.com and tap OK.
1. Go to

[2021-01-21 05:34] ashiagr commented on #13643
Closing as fixed.

[2021-01-21 05:34] #13643 closed, assigned to ashiagr

[2021-01-21 08:02] ParaskP7 commented on #13328
After having investigated the general `Backup Download` and `Restore` solution, I have gathered some observations I wanted to share. I already discussed most of that with @Annmarie and @momozw. Here I just want to post a summary of all that so that we are all aware and can move forward without surprises.
1) 🏧 We can only have one restore running at a time. If triggered on the web, the app shouldn’

[2021-01-21 08:03] ParaskP7 commented on #13329
After having investigated the general Backup Download and Restore solution, I have gathered some observations I wanted to share. I already discussed most of that with @annmarie and @momozw. In [this comment](https://github.com/wordpress-mobile/WordPress-Android/issues/13328#issuecomment-764455782) I just want to post a summary of all that so that we are all aware and can move forward without surpr

[2021-01-21 15:55] planarvoid opened #13840 "Add functionality to "View site" updated QS task"
When clicked the QS task should scroll to the "View site" item in the list menu and show a focus point on the item.

[2021-01-21 18:28] SiobhyB commented on #10936
After a bit of additional testing, I'm not certain what the intended behaviour is for when those post titles are activated. In the web, those are empty links, but they lead to the editor in the app when TalkBack isn't enabled.

I've raised a question in https://github.com/Automattic/wp-calypso/issues/49139 to gain clarification on the intended behaviour before diving in any deeper here.

[2021-01-21 18:52] Sandkorner opened #13841 "In Dark Mode Text Color Does Not Change Automatically (to a light one - presumably white)"
### Expected behavior
In dark mode the "Reader" should change the dark text color to "white" or some light color (perhaps light grey etc.) automatically.

### Actual behavior
On Android in dark mode the text color of posts stays the same as they are/were in light mode. Yellow is yellow, green is green, black is black etc.

### Steps to reproduce the behavior
1. Publish a post with different color

[2021-01-21 19:30] designsimply commented on #8634
<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=%22PARAGRAPH+span+must+start+at+paragraph+boundary%22&sort=-timestamp&statsPeriod=30d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%28%29">![image](https://user-images.githubusercontent.com/111927

[2021-01-21 19:40] designsimply commented on #9904
A search for `message:android.text.PackedIntVector in deleteAt ` in Sentry Discover returned 1,316 in the last 90 days:

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=message%3Aandroid.text.PackedIntVector+in+deleteAt&sort=-timestamp&statsPeriod=90d&widths=-

[2021-01-21 19:43] designsimply commented on #9997
A search for `"OutOfMemoryError"` in Sentry > Discover returned 1,224 events from the last 30 days:

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=%22OutOfMemoryError%22&sort=-timestamp&statsPeriod=30d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=

[2021-01-21 19:46] designsimply commented on #10169
**Events in the last 90d:** 40,000
**Users affected in the last 90d:** 3,400
**Main culprit:** android.os.Parcel in createException
<sub>WORDPRESS-ANDROID-2T: https://sentry.io/share/issue/88306a09ef304935983ff86b6ebc515c/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&proj

[2021-01-21 19:47] designsimply commented on #10494
**Events in the last 90d:** 27,000
**Users affected in the last 90d:** 164
**Limited to:** Android 9 & 10
**Culprit:** `android.app.ActivityThread in handleBindApplication`
<sub>WORDPRESS-ANDROID-3CW: https://sentry.io/share/issue/c24b15bfbb884b44aece31bd07b29f9e/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device

[2021-01-21 19:49] designsimply commented on #11223
A search for `"ENOSPC"` in Sentry > Discover returns 4,267 occurrences in the last 90 days:

<a href="https://sentry.io/organizations/a8c/discover/results/?cursor=0%3A0%3A1&display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=ENOSPC&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%2

[2021-01-21 19:50] designsimply commented on #11312
A search for `"CursorWindowAllocationException"` in Sentry > Discover returns 605 occurrences from the last 90 days:

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=%22CursorWindowAllocationException%22&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widt

[2021-01-21 19:50] designsimply commented on #11790
**Events in the last 90d:** 856
**Users affected in the last 90d:** 138
**Limited to:** Android 5 & 6
**Culprit:** org.wordpress.android.ui.prefs.SiteSettingsFragment in lambda$getListEditorView$15$SiteSettingsFragment
<sub>WORDPRESS-ANDROID-AVV: https://sentry.io/share/issue/703dcdfc9828483f8a7ff8f63ac85ffb/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field

[2021-01-21 19:53] designsimply commented on #11803
**Events last 90d:** 40,000
**Users affected last 90d:** 796
**Culprit:** `com.facebook.react.modules.core.ExceptionsManagerModule in reportException`
<sub>WORDPRESS-ANDROID-8XJ: https://sentry.io/share/issue/f69cf2cbf05f4064a66748d515cab007/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&

[2021-01-21 19:55] designsimply commented on #11966
A search for `"Unable to start activity ComponentInfo{org.wordpress.android/org.wordpress.android.ui.posts.PostsListActivity}: kotlin.TypeCastException: null cannot be cast to non-null type org.wordpress.android.fluxc.model.SiteModel"` in Sentry Discover returns 469 events in the last 90 days:

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=versi

[2021-01-21 19:55] designsimply commented on #12260
**Events in the last 90d:** 2,100
**Users affected in the last 90d:** 13
**Limited to:** Android 5, 6, & 8.1.0
**App versions affected:** No recent cases in any version higher than 16.1
**Culprit:** `android.app.ActivityThread in performResumeActivity`
<sub>WORDPRESS-ANDROID-13C: https://sentry.io/share/issue/027fed659e884718ac18307ff8de680e/</sub>

<a href="https://sentry.io/organizations/a8c/dis

[2021-01-21 20:27] designsimply commented on #12466
**Events in the last 90d:** 2,100
**Users affected in the last 90d:** 36
<sub>WORDPRESS-ANDROID-AT: https://sentry.io/share/issue/bd1fcd0ffbc44e2eb80c97e2d1801f01/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1021808172&sort=-timestamp&sta

[2021-01-21 20:30] designsimply commented on #12465
Let's update the library! Are there any worries about doing that or is it an easy update?

[2021-01-21 21:01] designsimply commented on #12394
**Events in the last 90d:** 1,000
**Users affected in the last 90d:** 296
<sub>WORDPRESS-ANDROID-DQZ: https://sentry.io/share/issue/749a54cba25644d4a8ff59e1c1c3b3b3/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1737475229&sort=-timestamp&s

[2021-01-21 21:04] designsimply commented on #12341
**Events in the last 90d:** 310
**Users affected in the last 90d:** 15
<sub>WORDPRESS-ANDROID-F7H: https://sentry.io/share/issue/57de38ddfcb346f6b4b9fde615966757/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1756432648&sort=-timestamp&stat

[2021-01-21 21:08] designsimply commented on #12342
I checked in on this crash today and found that there were no new events recorded for it in v16.3+. 🎉"

Recommend closing.

[2021-01-21 21:46] designsimply commented on #13841
Nice catch @Sandkorner!

Tested and confirmed using WPAndroid 16.5-rc-3 on Pixel 3 Android 11:

Text with colors in Reader|Same content in Chrome
---|---
<img src="https://user-images.githubusercontent.com/1119271/105416301-27efaa80-5bf7-11eb-934e-eab1a1904f13.png" width="270" alt="Screenshot_20210121-144138">|<img src="https://user-images.githubusercontent.com/1119271/105416295-2625e700-5bf7-11eb

[2021-01-21 22:02] designsimply commented on #10936
cc @malinajirka @leandroalonso for visibility.

[2021-01-21 22:07] designsimply commented on #10655
I tested this again today and it's still doing what I described, but I think it might actually be the expected behavior. @jd-alexander would you mind having a quick look and let me know? I thought that a private draft should stay private whether it's a draft or published but it seems those things may be mutually exclusive.

[2021-01-21 22:44] jd-alexander commented on #10655
Hi @designsimply you are correct. A private draft should remain private. We have had issues before with `PostStatus` where the representation of `PRIVATE` and `PUBLISHED` got misused in logic. I am putting this on my backlog to take a look.  I haven't looked at publishing-related code in a while though so I am not sure if anything has changed. @malinajirka do you have any ideas about this?

[2021-01-22 00:26] renanferrari opened #13844 "Add functionality to "Enable post sharing" QS task"
When clicked, the QS task should scroll to the "Sharing" item in the list menu and show a focus point on the item. After clicking the item, it should redirect to the Sharing screen and show a focus point on the "Connections" section of that screen. The task should be completed after clicking any item on that screen.

Step 1 | Step 2
------------ | -------------
![sharing1](https://user-images.gith

[2021-01-22 00:27] renanferrari opened #13845 "Add functionality to "Publish a post" QS task"
When clicked, the QS task should show a focus point on the My Site FAB. After clicking the FAB, it should open the main bottom sheet and show a focus point on the "Blog post" item.  The task should be completed after clicking that item.

Step 1 | Step 2
------------ | -------------
![publish1](https://user-images.githubusercontent.com/830056/105430340-07911180-5c32-11eb-893c-a91679c376d9.png) | ![

[2021-01-22 00:29] renanferrari opened #13846 "Add functionality to "Follow other sites" QS task"
When clicked, the QS task should show a focus point on the Reader tab.  The task should be completed after clicking that tab. On the Reader screen, a Snackbar should indicate that the user should click on the "Search" button in the toolbar.

Step 1 | Step 2
------------ | -------------
![follow1](https://user-images.githubusercontent.com/830056/105430211-c698fd00-5c31-11eb-8744-b486a1a379a5.png) |

[2021-01-22 00:30] renanferrari opened #13847 "Add functionality to "Check your site stats" QS task"
When clicked, the QS task should show a focus point on the Stats quick action button. The task should be completed after clicking the button.

<img width=300 src="https://user-images.githubusercontent.com/830056/105430158-a9642e80-5c31-11eb-9cb6-b802085c1302.png"/>

[2021-01-22 00:30] renanferrari opened #13848 "Add functionality to "Explore plans" QS task"
When clicked, the QS task should scroll to the "Plan" item in the list menu and show a focus point on the item. The task should be completed after clicking the item.

<img width=300 src="https://user-images.githubusercontent.com/830056/105430108-8c2f6000-5c31-11eb-98cc-34a3944f8af8.png"/>

[2021-01-22 00:31] renanferrari opened #13850 "Add "Pin"/"Unpin" functionality to the QS bottom sheet menu"
When clicking on the "Pin" action on the Quick Start Card bottom sheet menu, the app should pin the card to the top of the dashboard and display a snackbar message informing the user the card has been pinned.

https://user-images.githubusercontent.com/830056/106676810-51fd8100-6596-11eb-9471-a40aa22b09c4.mov

The card should remain pinned until (a) the user unpins it, (b) pins another card, (c) th

[2021-01-22 00:31] renanferrari opened #13851 "Add "Hide" functionality to the QS bottom sheet menu"
When clicking on the "Hide" action on the Quick Start Card bottom sheet menu, the app should hide the card for the current session but it should appear again the next time the app is restarted.

https://user-images.githubusercontent.com/830056/106676981-a3a60b80-6596-11eb-862f-48f31c987f73.mov

Note: a prototype can be found in the design spec document linked on pbArwn-1fl-p2.

[2021-01-22 00:32] renanferrari opened #13852 "Add "Don't show again" functionality to the QS bottom sheet menu"
When clicking on the "Don't show again" action on the Quick Start Card bottom sheet menu, the app should hide the card and never show it again.

https://user-images.githubusercontent.com/830056/106677014-b6204500-6596-11eb-8f53-ed6e243d0633.mov

Note: a prototype can be found in the design spec document linked on pbArwn-1fl-p2.

[2021-01-22 00:35] renanferrari opened #13853 "Snackbar appears behind FAB on the improved My Site fragment"
### Expected behavior

The FAB should slide up when a snackbar appears.

### Actual behavior

The FAB partially covers the snackbar:

<img width=300 src="https://user-images.githubusercontent.com/830056/105429578-72d9e400-5c30-11eb-94bc-5c28dfa6b532.png"/>

[2021-01-22 07:26] antonis commented on #13814
Fixed with https://github.com/wordpress-mobile/WordPress-Android/pull/13822

[2021-01-22 07:26] #13814 closed, assigned to antonis

[2021-01-22 07:42] antonis commented on #13801
Fixed with https://github.com/wordpress-mobile/WordPress-Android/pull/13826

[2021-01-22 07:42] #13801 closed, assigned to antonis

[2021-01-22 08:03] malinajirka commented on #10655
Hi there,
I haven't tested it manually, but I think the issue might be on [this line](https://github.com/wordpress-mobile/WordPress-Android/blob/ac8626cf73112b181f314ee7a3dac73d2572a5f2/WordPress/src/main/java/org/wordpress/android/ui/uploads/PostUploadHandler.java#L287).

The app always tries to save user changes to the server. When a post is already on the server, it uses the remote autosave end

[2021-01-22 09:24] malinajirka commented on #11223
Yep, I agree it'd be a nice improvement. @yaelirub +- 50 users are affected per day, should we schedule this improvement?

Note: One thing we might want to double-check is size of application logs we store on the user device. Perhaps this issue isn't related to media files but to application logs. I'm not sure if we store them to the cache folder or somewhere else.

[2021-01-22 11:06] #8634 closed

[2021-01-22 11:07] #10494 closed

[2021-01-22 11:39] #13812 closed, assigned to ashiagr

[2021-01-22 15:10] #11312 closed

[2021-01-22 15:10] #11790 closed

[2021-01-22 15:10] #11966 closed

[2021-01-22 15:10] #12260 closed

[2021-01-22 15:10] #12342 closed

[2021-01-22 15:10] #12466 closed

[2021-01-22 16:32] aerych opened #13859 "Reader/P2: Do not show the reblog button for P2 posts"
See pc5zdG-aP-p2 for more context.

Since p2s do not support reblogging there is no reason to show the reblog option with the rest of the action buttons in the reader cards and detail.   Let's hide that option just for p2s.

[2021-01-22 17:40] designsimply commented on #12527
Is this the correct matching crash report from Sentry? https://sentry.io/share/issue/d154dcf5a9b3459a9d3051e4a3effb3d/

[2021-01-22 17:49] designsimply commented on #13044
**Events in the last 90d:** 1,200
**Users affected in the last 90d:** 363
**Limited to:** Samsung devices with Android 5.x (and 1 case in 8.0)
<sub>WORDPRESS-ANDROID-Q9R: https://sentry.io/share/issue/16f46ed069914393abcc576fae700e8d/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All

[2021-01-22 17:52] designsimply commented on #13271
**Events in the last 90 days:** 3,900
**Users affected in the last 90 days:** 349
**Majority of cases are:** Android 5.x or Android 6.x
<sub>WORDPRESS-ANDROID-AC6: https://sentry.io/share/issue/db8457b6f72840b1810cb07afc234e16/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events

[2021-01-22 17:53] designsimply commented on #13273
**Events in the last 90d:** 1,900
**Users affected in the last 90d:** 41
**Limited to:** Android 9+
<sub>WORDPRESS-ANDROID-14T: https://sentry.io/share/issue/83d65e73445b4d87ad38a068e49b2dd6/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A10

[2021-01-22 17:57] jkmassel opened #13861 "ZenDesk Push Notifications don't work"
### Steps to reproduce the behavior
- Submit a support ticket
- Respond to it from within ZenDesk
- You should receive a push notification from ZenDesk saying that your message was responded to, but that's not working

I suspect the issue is related to the fact that the Push Token changes over time, and we may not be updating the token with the ZenDesk SDK properly.  Viewing web hooks coming back

[2021-01-22 17:58] designsimply commented on #13303
WORDPRESS-ANDROID-VHE: https://sentry.io/share/issue/95aeaf8dea364fdcb5d45550c3110de0/

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1971496684&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%28%29">!

[2021-01-22 18:02] designsimply commented on #13462
**Events in the last 90d:** 594
**Users affected in the last 90d:** 473
<sub>WORDPRESS-ANDROID-VD3: https://sentry.io/share/issue/047910f7e0d54079a42e4fde6944db32/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1968116529&sort=-timestamp&sta

[2021-01-22 18:10] eduardozulian commented on #5875
Confused user in 3658272-zen

It's not related to WordAds but more to another part of the Earn section for WordPress.com sites, called Payments: https://wordpress.com/support/wordpress-editor/blocks/payments/

[2021-01-22 18:44] designsimply commented on #13463
**Events in the last 90d:** 703
**Users affected in the last 90d:** 261
**Majority of cases are:** Android 5.0.x
<sub>WORDPRESS-ANDROID-RW3: https://sentry.io/share/issue/1caa56f08ba140ff8ff1b53d31810f5c/}</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query

[2021-01-22 18:47] designsimply commented on #13644
**Events in the last 90d:** 587
**Users affected in the last 90d:** N/A because it happens prior to login
**Culprit:** org.wordpress.android.ui.accounts.login.LoginProloguePageFragment$onViewCreated$2 in run
<sub>WORDPRESS-ANDROID-X57: https://sentry.io/share/issue/b00c51c09d0944fc82de76dd5bec2e0c/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&

[2021-01-22 18:47] designsimply commented on #13644
Whoops! Didn't mean to close, sorry abou that!

[2021-01-22 18:56] designsimply commented on #13662
I noticed the crashes recorded in Sentry for these two issues are limited to Android 5 and Android 6, 7 respectively.

**Events in the last 90d:** 7
**Users affected in the last 90d:** 7
**OS:** Android 5.1.x
<sub>WORDPRESS-ANDROID-11X4: https://sentry.io/share/issue/a32c45528c414af8973965f6c9edd293/</sub>

**Events in the last 90d:** 9
**Users affected in the last 90d:** 9
**OS:** Android 6.0.x a

[2021-01-22 19:01] designsimply commented on #13664
Awesome. We should definitely avoid fixes that hide a problem, thank you for pointing that out.

**Events in the last 90d:** 57
**Users affected in the last 90d:** 51
<sub>WORDPRESS-ANDROID-10NE: https://sentry.io/share/issue/762bf8571c744bd69bdc10deb8ac4f66/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.fami

[2021-01-22 19:50] designsimply commented on #13670
**Events in the last 90d:** 26
**Users affected in the last 90d:** 26
<sub>WORDPRESS-ANDROID-11XS: https://sentry.io/share/issue/47c2547d65554997a142d75e20e342e1/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2109205049&sort=-timestamp&stat

[2021-01-22 19:52] designsimply commented on #13677
**Events in the last 90d:** 7
**Users affected in the last 90d:** 6
<sub>WORDPRESS-ANDROID-125Q: https://sentry.io/share/issue/989b057217bc43f1b2913b68ed1e3d6b/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2113302219&sort=-timestamp&statsP

[2021-01-22 19:59] designsimply commented on #13678
**Events in the last 90d:** 5
**Users affected in the last 90d:** 1
<sub>WORDPRESS-ANDROID-128J: https://sentry.io/share/issue/9adde0d55b1f45f0aaf1962f986f4e38/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2114459505&sort=-timestamp&statsP

[2021-01-22 20:16] eduardozulian opened #13865 "Content: "Link To" shows always the same list of posts and pages"
The option to link a text is currently showing the same results over and over when you try to search for a published post or page.

### Expected behavior
To see results related to what I typed.

### Actual behavior
I see always the same posts and pages. In my case, two posts and one page.

It's apparently impossible to search for published posts or pages.

### Steps to reproduce the behavior
1. St

[2021-01-22 21:50] renanferrari opened #13867 "Focus point doesn't appear when starting the "Set your site title" QS task after switching sites"
### Expected behavior

When starting the "Set your site title" Quick Start task, a focus point should always appear on top of the site title in the improved My Site screen.

### Actual behavior

The focus point doesn't appear if we switch sites before clicking the task:

https://user-images.githubusercontent.com/830056/105399208-165fd000-5c02-11eb-9229-9bf4c991a3ff.mp4

[2021-01-22 21:56] #13830 closed, assigned to planarvoid

[2021-01-22 22:10] designsimply commented on #13679
**Events in the last 90d:** 38
**Users affected in the last 90d:** 30
<sub>WORDPRESS-ANDROID-11TA: https://sentry.io/share/issue/df7ab6403ec9400e87c4a317bf3572ec/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2106713450&sort=-timestamp&stat

[2021-01-22 22:58] zwarm commented on #13861
@jkmassel
A bit of testing
Steps
- Install  app
- Note that token gets registered successfully
- Submit a support ticket
- Prompted to create identity
- Push app to background
- Reply in zendesk
- There is no error logged in IRC #wpcom-pushnotifications-errors channel and no push notification is received on device

- Bring app to foreground
- Submit a support ticket
- Reply in zendesk
- Error is l

[2021-01-22 23:49] aerych commented on #13859
Closing as another point was raised that needs discussion. Will reopen if needed.

[2021-01-22 23:49] #13859 closed, assigned to nobody

[2021-01-23 00:56] designsimply commented on #13693
**Events in the last 90d:** 48
**Users affected in the last 90d:** 42
<sub>WORDPRESS-ANDROID-120C: https://sentry.io/share/issue/796af984441d4fb3b4fdefbcdda55dbb/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2111314569&sort=-timestamp&stat

[2021-01-23 01:00] designsimply commented on #13694
**Events in the last 90d:** 4
**Users affected in the last 90d:** 3
<sub>WORDPRESS-ANDROID-12JA: https://sentry.io/share/issue/e65894576d994842aff323cbb08e9a98/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2120368700&sort=-timestamp&statsP

[2021-01-23 01:02] designsimply commented on #13695
**Events in the last 90d:** 14
**Users affected in the last 90d:** 14
<sub>WORDPRESS-ANDROID-12EQ: https://sentry.io/share/issue/d4d04f1864b1483dbff566c6033d1cd2/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2118545647&sort=-timestamp&stat

[2021-01-23 01:03] designsimply commented on #13696
**Events in the last 90d:** 4
**Users affected in the last 90d:** 3
<sub>WORDPRESS-ANDROID-123E: https://sentry.io/share/issue/35388311fa394b56abf98a02fbd63b9f/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2112591351&sort=-timestamp&statsP

[2021-01-23 01:06] designsimply commented on #13697
**Events in the last 90d:** 103
**Users affected in the last 90d:** 36
<sub>WORDPRESS-ANDROID-1219: https://sentry.io/share/issue/6214144e465a4f4c9e2440a5ca23ef01/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2111672076&sort=-timestamp&sta

[2021-01-23 01:07] designsimply commented on #13698
**Events in the last 90d:** 2
**Users affected in the last 90d:** 2
<sub>WORDPRESS-ANDROID-1250: https://sentry.io/share/issue/ad00b79cd8cb48e196de086fd1e55d5d/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2113114928&sort=-timestamp&statsP

[2021-01-23 01:10] designsimply commented on #13761
**Events in the last 90d:** 367
**Users affected in the last 90d:** 106
**Majority of cases are:** Android 5.x or Android 6.x
<sub>WORDPRESS-ANDROID-B2K: https://sentry.io/share/issue/4c3e38a670114daaa5b02dc692119383/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1

[2021-01-23 01:19] #13303 closed, assigned to nobody

[2021-01-23 01:20] #13462 closed, assigned to cameronvoell

[2021-01-25 04:30] reginabally commented on #5382
Another request in 3668907-zen.

[2021-01-25 12:35] ManmeetAT opened #13875 "Comment Activity multiselect feature selects wrong comment after applying filter [Type][Bug]"
### Expected behavior
1,MultiSelect comments
2,Change the filter.

Selected comments should be the same after applying filter.

### Actual behavior

After applying filter, selection changes on different comments which were not selected

### Steps to reproduce the behavior
In Comments Activity
1,MultiSelect comments
2,Change the filter.

##### Tested on [device], Android [version], WPAndroid [versi

[2021-01-25 14:45] zwarm commented on #13861
Update @jkmassel

- This issue I describe above is fixed by upgrading to Release 5.0.2 of the Zendesk Support API. See the [zendesk release log](https://developer.zendesk.com/embeddables/docs/android-support-sdk/release_notes).

I have tested the update and I now receive push notifications for the first ticket, and continue to receive notifications for subsequent tickets.

[2021-01-25 18:51] designsimply commented on #13875
Nice catch! ([45s](https://user-images.githubusercontent.com/1119271/105751349-20841600-5f03-11eb-91da-a3b40b2c529d.mp4)) Maybe the selection should get removed when the filter is changed? @aerych wdyt?

![comment-multiselect-test-wpandroid-16 5-rc-3](https://user-images.githubusercontent.com/1119271/105751674-96887d00-5f03-11eb-8ae0-6aa1cce969e0.gif)
<sup>Tested with WPAndroid 16.5-rc-3 on Pixel

[2021-01-25 18:54] aerych commented on #13875
Yeah. Let's clear the selection when the filter changes.  We can look at that as we're iterating on the filters in the very near future.  cc @khaykov @develric

[2021-01-25 18:56] JavonDavis commented on #13832
Hey! Bumping this to `16.7`, if you'd like to get it in for this release please merge this into release/16.7 and then DM me to release a new Beta version.

[2021-01-25 18:59] ManmeetAT commented on #13875
I think If we clear the selection if filter changes one case will arise ,Let's say i want to delete few comments from approved and some from other filter than earlier selected comments  will get missed

[2021-01-25 19:03] chipsnyder commented on #13832
Thanks @JavonDavis this actually merged but didn't auto close. Closing now

[2021-01-25 19:03] #13832 closed, assigned to chipsnyder

[2021-01-25 20:16] renanferrari opened #13877 "Add functionality to "Edit your homepage" QS task"
When clicked, the QS task should show a focus point on the Pages quick action button. On the Site Pages screen, a Snackbar should indicate that the user should click on the "Homepage" item. The task should be completed after clicking the item.

Step 1 | Step 2
------------ | -------------
![homepage1](https://user-images.githubusercontent.com/830056/105760537-b71afc00-5f30-11eb-8f37-874923cdfd0d.p

[2021-01-25 20:16] renanferrari opened #13878 "Add functionality to "Review site pages" QS task"
When clicked, the QS task should show a focus point on the Pages quick action button. The task should be completed after clicking the button.

<img width=300 src="https://user-images.githubusercontent.com/830056/105760381-7a4f0500-5f30-11eb-8864-f4d941a660d7.png"/>

[2021-01-25 20:29] aerych commented on #13875
I think this is preferred. We wouldn't want to surprise a user by performing operations on selections they can not currently see.

Consider this: if a user were to select a few comments in one filter, then change filters to view a different set of comments, there is no visual indicator to show that those other comments remain selected.  Now we're in a situation where a user might forget what was p

[2021-01-25 21:14] chipsnyder opened #13879 "Login: "Continue with WordPress.com" might not be clear to some users."
### Description
During a recent site-creation discovery session (internal reference `pbArwn-1AT`) a point was made that the login option "Continue with WordPress.com" might not be clear to all users that this will present you with options to create an account. As a result of that session, it was mentioned that it might be worth exploring ideas to add clarity in that area.

<kbd><a href="https://us

[2021-01-25 21:32] chipsnyder opened #13880 "Themes: Hide WordPress.com masterbar on theme details"
This is the Android clone of https://github.com/wordpress-mobile/WordPress-iOS/issues/7716

Below is a copy-paste from that issue with the Android screenshots.

### Expected behavior
When you go to the Themes page and click on the details for your current theme, the information for the theme should appear in the framework of the app

### Actual behavior
However when you click on the theme details

[2021-01-26 00:04] chipsnyder commented on #13880
We're exploring a Calypso fix for this https://github.com/Automattic/wp-calypso/pull/49281

[2021-01-26 14:25] planarvoid opened #13884 "Create child my site content fragment which always has selected site"
The current implementation is used for both cases when we do and don't have a selected site. This causes some issues after selecting a site when the previous data is visible for a short time. The cleaner solution would be to extract the logic depending on the selected site into a child fragment and recreate this fragment each time a site is selected. This helps with the logic that shows the "Scan"

[2021-01-26 16:46] planarvoid commented on #13809
@designsimply the media picker consolidation project's current phase is done and this is something not related to it anyway (it's not in the media picker). I'd probably consider it as part of the Stories project? It's either stories or gutenberg but I guess Groundskeeping is fine 👍

[2021-01-26 19:38] startuptester opened #13888 "Quick Start: Skipped Step Still Shows as Incomplete"
### Expected behavior
If I choose "Not Now", it should no longer be in the list of steps to Customize my site

### Actual behavior
It remains in the list

### Steps to reproduce the behavior

1. While completing Quick Start, follow the guide dots to change your site title
2. Once you complete that, a prompt will appear suggesting you upload a new site icon
3. Choose "Not Now"
4. View the Customize

[2021-01-26 22:15] startuptester commented on #12278
Reopening because the skipped step still shows as incomplete in the Quick Start list

[2021-01-26 22:17] startuptester commented on #12278
@yaelirub I'm not sure if I should link this to #13888 or just leave this one as closed?

[2021-01-26 23:17] renanferrari commented on #12278
Just a heads-up that we're currently reworking several aspects of Quick Start tasks as part of the [My Site Dynamic Cards project](https://github.com/orgs/wordpress-mobile/projects/79) (internal ref: pbArwn-1fl-p2), so we should probably be cautious when considering which changes to make right now, as they may become obsolete soon.

[2021-01-26 23:51] yaelirub opened #13890 "Add bundle identifier property to "app_open" event"
We'd like to be able to quantify internal builds
So something like app_build_type [production, internal] should work.
Relevant WPiOS - https://github.com/wordpress-mobile/WordPress-iOS/issues/15719

[2021-01-27 01:17] startuptester commented on #12278
That's such a good point, @renanferrari, thank you!
#13888 and re-opening this were part of some bug prep I was doing for the [Focused Site Creation](https://github.com/orgs/wordpress-mobile/projects/82) project
cc: @yaelirub

[2021-01-27 05:42] mokagio commented on #13747
GitHub would automatically close this when #13837 will land on `develop`, but I'm going to close this myself now to keep [the project](https://github.com/orgs/wordpress-mobile/projects/80) up-to-date.

[2021-01-27 05:42] #13747 closed, assigned to mokagio

[2021-01-27 13:22] rezzap opened #13892 "Enhancement: Media Library filter by date option"
Some of us now have huge galleries -

- Can you make it easier to scroll through and select from The MEDIA GALLERY?

Right now trying to access pictures from long ago takes a lot of scrolling - and then when you select - and want to go back to the same time period, you have to again scroll for years!

Perhaps you can block in years and months and make it easier to go back into the GALLERY MEDIA?

[2021-01-28 00:57] designsimply commented on #13809
Thanks! This may also be a duplicate of https://github.com/wordpress-mobile/WordPress-Android/issues/13589. After seeing that issue, I think this one may be more appropriate for Groundskeeping and I'll try to circle back to check on it in our next few rotations.

[2021-01-28 00:59] designsimply commented on #13892
I love this idea. Please continue to post similar requests in the comments on this issue if you find any in the future.

Heres's a screenshot of the current media screen for reference:

<img src="https://user-images.githubusercontent.com/1119271/106073838-05aece80-60c8-11eb-9148-4bbe7f09e921.png" width="270" alt="Screenshot_20210127-173312">
<sup>Tested with WPAndroid 16.6-rc-2 on Pixel 3 Android

[2021-01-28 15:49] rezzap opened #13906 "Slow thumbnail loading time when selecting media via the image block vs the media library"
### Expected behavior

When loading the media library to upload images to a post, the thumbnails would load quickly similar to how they do in the browser.

### Actual behavior

When your images are large and you have a lot of them, you'll see a significant delay and on some connections, the thumbnails don't load at all.

### Steps to reproduce the behavior

I was able to replicate it in the user's

[2021-01-28 16:10] malinajirka opened #13907 "Reader search: Search History overlays Search Results after screen turns off"
### Expected behavior
The app won't show to fragment on top of each other.

### Actual behavior
The app displays two fragments on top of each other.

### Steps to reproduce the behavior
User report - steps unknown

<img src="https://user-images.githubusercontent.com/2261188/106165607-900c3680-618b-11eb-828d-9bef3e587ac7.jpg" width="250px" />

##### Tested on [device], Android [version], WPAndroid

[2021-01-28 17:17] chipsnyder opened #13908 "User can delete Homepage and break their site"
### Description
It is possible to delete your Homepage while it's set as your static Homepage. This is a feature that is disabled on dotCom. If a user does delete their Homepage then their site will render with an error when you navigate there.

### Steps to reproduce the behavior
**_Setup:_** Set your site's Homepage settings to use a Static Homepage

1. Navigate to pages
2. Tap the `...`
3. Tap

[2021-01-28 19:33] rossanafmenezes opened #13911 "Limit to 1000 (one thousand) categories showing on Mobile"
### Expected behavior

User should be able to scroll through all the categories they have from the post editor - post settings - Categories to select a specific category to a post.

### Actual behavior

There's a 1000 category limit in the apps. I believe it was not an issue so far because it's not common that users would go over 1000 categories, but when they do, they are not able to scroll down

[2021-01-28 19:57] designsimply commented on #13911
Thanks for the report @rossanafmenezes! Let's combine this one with the same open report for this on tags at https://github.com/wordpress-mobile/WordPress-Android/issues/11843. 👍

[2021-01-28 19:57] #13911 closed, assigned to nobody

[2021-01-28 19:58] designsimply commented on #11843
It appears the 1,000 limit also exists for categories. /hat tip @rossanafmenezes https://github.com/wordpress-mobile/WordPress-Android/issues/13911

Let's combine these two issues into one because if we update this I think we should do both in one go. 👍

<sup>(internal reference: 3686028-zen)</sup>

[2021-01-28 20:12] JavonDavis commented on #13888
I tested this on a Pixel3a Android version 11 and got the same behavior with uploading the site icon still in the checklist.

[2021-01-28 20:45] designsimply commented on #13888
I think that if you tap “Not Now” then the expectation is for that item to still be an incomplete item.

Closing as I believe this is working as expected with a note that Quick Start will be getting some new improvements in the short term (you won't be able to dismiss a single task but you will be able to dismiss an entire category) and an ask to re-open if you feel strongly that it's a bug. 🙂

cc

[2021-01-28 20:45] #13888 closed, assigned to nobody

[2021-01-28 20:50] designsimply commented on #13908
This seems like a bad experience, so I've prioritized it in our maintenance rotation project board and will check in at the next Sprint to see if it can be picked up sooner than later.

In the mean time, very open to having it picked up earlier in project work if possible! cc @chipsnyder (for visibility)

[2021-01-28 20:56] designsimply commented on #13906
Possible regression: https://github.com/wordpress-mobile/WordPress-Android/issues/12996.

[2021-01-28 21:01] startuptester commented on #13888
Yep, this was discussed here:https://github.com/wordpress-mobile/WordPress-iOS/issues/15713, just hadn't got to this one yet so thanks for grabbing it :)

[2021-01-28 21:57] chipsnyder commented on #13908
I also just discovered that I can move my homepage to a draft which also breaks the site. So we should prevent that too even though the web allows it. I'll add it to Gutenpages board as well just to keep it top of mind.

[2021-01-29 14:55] osullivanchris opened #13916 "Copy improvements for Jetpack Section"
### Restore ###

![restore android](https://user-images.githubusercontent.com/50576199/106289921-bf7d7a80-6241-11eb-845d-83c8aeb03191.png)
* [x] **Restore confirmation** `Are you sure you want to rewind your site back to 28 October 2020 at 03:39? This will remove all content and options created or changed since then. ` -> `Are you sure you want to revert your site back to 28 October 2020 at 03:39?

[2021-01-29 23:44] aerych opened #13918 "My Site: In light mode, placeholder avatar is just a grey circle."
When in Light mode testing a self-hosted site (no Jetpack, no other sites), on the My Site screen, the avatar placeholder appears to just be a gray circle, not the actual avatar placeholder image.

![screenshot_20210129-152853](https://user-images.githubusercontent.com/1435271/106338523-98cb3e00-6259-11eb-89ac-32d605004b60.png)

wpandroid 16.6-rc-1, Pixel 2

[2021-01-31 17:39] mrfoxtalbot opened #13922 "Pressing enter while writing the post title will add a new line in the title"
Pressing enter while editing the title will add a "line break" inside the title, instead of not jump to the content and adding a new block right under the title.

### Expected behavior
I expected to be able to move from the post/page title to the very first block in the post/page, similarly to the way the editor works in the desktop/browser version.

### Actual behavior
Instead of taking me to the

[2021-02-01 11:17] JavonDavis opened #13925 "New screen options don't continue to final site preview when creating sites"
### Expected behavior

After choosing a screen option from the site design picker screen page I'd expect that screen to be shown on the final preview shown after the site was created

### Actual behavior
 Mobile preview is always shown.

### Steps to reproduce the behavior

1. Create a new site
2. change the screen option design from mobile to anything else
3. Finish creating the site

Notice the

[2021-02-01 11:27] #13840 closed, assigned to planarvoid

[2021-02-01 13:38] #13653 closed, assigned to chipsnyder

[2021-02-01 19:24] designsimply commented on #10574
@FarheenNishat thanks for the note and apologies for the delayed response! If you experienced this crash in Android 9 then either it did not make it in to the crash report I referenced because you either didn't report the crash (or the report didn't make it through for some reason) or because the crash got recorded in a different issue in our crash monitoring system (which happens sometimes).

If

[2021-02-02 03:17] #13844 closed, assigned to renanferrari

[2021-02-02 06:09] AliAkberAakash commented on #13791
Can I be assigned to this issue?

[2021-02-02 08:11] reginabally opened #13936 "App Review: App crashes on Reader"
App review date: Jan 25, 2021, 06:25
Device: Huawei HUAWEI Y6 Pro 2019
App version name: 16.4
Android version (SDK): Android 9 (SDK 28)

[2021-02-02 10:23] #13884 closed, assigned to planarvoid

[2021-02-02 11:43] antonis opened #13939 "Home Page Picker: Preview screen is dismissed with slight downward gestures"
### Expected behavior

The home page picker does not dismiss on slight downward gestures.

### Actual behavior

The preview screen seems very sensitive to any slight downward gesture. That makes it easy to unintentionally dismiss the screen.

### Steps to reproduce the behavior

1. Start the site creation flow (e.g. Choose site > Add button)
2. Select the Create WordPress.com site option
3. Select

[2021-02-02 12:18] antonis commented on #13939
I [attempted to resolve](https://github.com/wordpress-mobile/WordPress-Android/pull/13929#issuecomment-771595387) this by configuring the `BottomSheetBehavior`. A more radical approach that would remove the dependency on the `BottomSheetDialogFragment` seems necessary to resolve this.

[2021-02-02 18:14] designsimply commented on #13936
Thank you for the report @reginabally!

The best brute force troubleshooting step I can think of for this case would be to try completely clearing local storage & cache in hopes that it helps but I feel it's a long shot. 😞

Additional info that would be helpful to have if you can get it or if you are here to report another case:

* Is it possible to tell which screen in Reader the app is crashing

[2021-02-02 18:57] leandroalonso commented on #13879
@ParaskP7 can you please tackle this?

We should change "Continue with WordPress.com" to "Log in or sign up with WordPress.com".

(iOS reference: https://github.com/wordpress-mobile/WordPressAuthenticator-iOS/pull/572/files)

[2021-02-03 04:27] jd-alexander commented on #12491
I created a [PR](https://github.com/wordpress-mobile/WordPress-Android/pull/13948) to fix this issue as I observed it on Android 11. I am going to keep investigating how/why it would occur on Android 10 as well if it has something to do with how the window inset API operates on different devices/manufacturers.

[2021-02-03 07:19] ParaskP7 commented on #13879
👋 @leandroalonso , definitely, I am on it, will tackle it today!

👍

🙏

[2021-02-03 10:17] #13847 closed, assigned to renanferrari

[2021-02-03 10:58] #13845 closed, assigned to planarvoid

[2021-02-03 12:23] antonis opened #13952 "Home Page Picker: On preview mode change the previously selected mode appears for a while"
### Expected behavior

The selected preview mode renders without the previous mode appearing

### Actual behavior

The selected preview mode renders after the previous mode appears for ~1s

### Steps to reproduce the behavior

1. Start the site creation flow (e.g. Choose site > Add button)
2. Select the Create WordPress.com site option
3. Select a design
4. Press Preview
5. Press the preview mode

[2021-02-03 15:41] khaykov commented on #13791
Hey @AliAkberAakash 👋 Sure thing, and thank you! Please check out the [build instructions ](https://github.com/wordpress-mobile/WordPress-Android#build-instructions) and [contribution guidelines](https://github.com/wordpress-mobile/WordPress-Android/blob/develop/CONTRIBUTING.md) to get started.

For this issues, you probably will be looking for [stats_block_dialog_buttons_item.xml](https://github.

[2021-02-03 19:06] rossanafmenezes commented on #13637
Another report in the app reviews about the map of India:

`The map of india shown in your app is wrong... 👊 Thinking to uninstall you and switch to some another blog app.`

User: R Ranade
Feb 1, 2021, 22:10
Device: Xiaomi Redmi 5 Plus
Device language: English
App version code: 982
App version name: 16.5
Android version (SDK): Android 8.1 (SDK 27)

[2021-02-03 20:33] enejb commented on #13880
The masterbar is now gone in calypso for mobile app requests.
We might want to hide some of the buttons though as well. The arrow and the activate theme buttons for example.

[2021-02-03 22:30] mzorz commented on #12491
Didn't intend to close this issue, although I did intend to merge this PR https://github.com/wordpress-mobile/WordPress-Android/pull/13948.  @jd-alexander let me know if this issue should indeed be closed 🙏 thanks!

[2021-02-04 02:06] #12278 closed

[2021-02-04 08:22] ParaskP7 commented on #13629
👋 @osullivanchris !

I have this item in my todo list for this parent project: `Fine-tune the Backup menu icon.`

Since this `Backup` menu icon was picked up by us, the developers, would you mind checking it out and verify that this is what we want? Same applies for the `Scan` menu item (see #13326 and with also ping @ashiagr here).

[2021-02-04 10:18] osullivanchris commented on #13629
Which icon should I be looking at? I also have an item on my list to revisit icons and add any to Grid Icons that might be missing, so I can try get that sorted this week. Not a blocker for you though. Can always improve later.

[2021-02-04 11:06] ParaskP7 commented on #13629
👋 @osullivanchris

These two `Backup` and `Scan` menu item icons in the screenshot below:

Light Theme | Dark Theme
-------|------
<img width="250" height="500" alt="before" src="https://user-images.githubusercontent.com/9729923/106884427-f9d79380-66e9-11eb-8f3f-3f4ce8d6af71.png"> | <img width="250" height="500" alt="after" src="https://user-images.githubusercontent.com/9729923/106884095-8b92d100-

[2021-02-04 11:10] #13879 closed, assigned to ParaskP7

[2021-02-04 12:13] osullivanchris commented on #13629
Ah cool. Per cloud.jetpack.com I have been using the following GridIcons

- Activity Log (Can we change both the icon and label here?): gridicons-clipboard
- Backup: gridicons-cloud-upload
- Scan: material-icon-security

![My Site Jetpack](https://user-images.githubusercontent.com/50576199/106891199-4dde7a00-66e2-11eb-8de0-7c298f28d88e.png)

<img width="1409" alt="Screenshot 2021-02-04 at 12 13 05

[2021-02-04 12:47] ParaskP7 commented on #13629
👋 @osullivanchris !

Definitely!

Where can I find those?

[2021-02-04 13:14] osullivanchris commented on #13629
I don't know how it works in code, but the GridIcons are our own set that live here

https://github.com/Automattic/gridicons

When we don't have a suitable icon of our own, we sometimes use [Material Icons by Google](https://material.io/resources/icons/). I don't know how we integrate them in our code. They do work on the same 24dp grid, so the icons look very natural next to each other.

[2021-02-04 13:49] develric commented on #13456
Adding designs for Android.

![image](https://user-images.githubusercontent.com/47797566/106901453-1084e700-66f8-11eb-987e-4b7eee5e44fb.png)

[2021-02-04 13:55] develric commented on #13456
Hi @designsimply , in my understanding is not currently covered and not sure what it could require tbh 🤔 . Maybe you could place a comment about it on our team project backlog (pctCYC-3s-p2)? I think it sounds like an interesting scenario to consider 👍  (cc @aerych)

[2021-02-04 14:10] ParaskP7 commented on #13629
Cool, great, thanks for the clarification @osullivanchris ! 🌟

I will find out more about that, since I wasn't aware of the [gridicons](https://github.com/Automattic/gridicons) yet, then create a PR with the above proposed changes, including the `Activity Log` (icon + lable) and `Scan` (icon, cc @ashiagr ) and ask you for a quick design review.

🙏

[2021-02-04 17:25] jd-alexander commented on #12491
Thanks @mzorz I am thinking we could probably leave it open as I am not totally sure if this issue fixes it on Android 10 I know that there have been times when Android versions have had minor versions, eg. `O_MR1` but my investigation so far has not pointed me to this occurrence with version Q. Since this error was also taking place on Xiaomi devices, it could be the case, but the only way to fin

[2021-02-04 18:36] enejb commented on #13880
This seems to be fixed now. With https://github.com/Automattic/wp-calypso/pull/49686

[2021-02-04 18:36] #13880 closed, assigned to enejb, chipsnyder

[2021-02-04 21:41] #13890 closed, assigned to nobody

[2021-02-04 21:59] #13877 closed, assigned to planarvoid

[2021-02-04 22:19] #13878 closed, assigned to planarvoid

[2021-02-05 01:33] yaelirub opened #13971 "Shorter sign up - remove Send Link by email screen"
related WPiOS issue: https://github.com/wordpress-mobile/WordPressAuthenticator-iOS/pull/574
1. Remove this screen:

<img src="https://user-images.githubusercontent.com/1335657/106846256-6c506100-6661-11eb-8412-1800da561a0c.png" width="270" alt="Simulator Screen Shot - iPhone 12 Pro - 2021-02-02 at 13 00 39">

2. Instead, we will be sending the email immediately after the user entered their email

[2021-02-05 02:06] yaelirub opened #13972 "Show topics picker screen to allow users to add topics to their initial selection"
relevant WPiOS: https://github.com/wordpress-mobile/WordPress-iOS/issues/15806

Based on user feedback - Show the topic picker again to allow adding topics.
One suggestion was to replace "Add a topic" on the setting screen to "add topics" and show the topic picker from there but this needs design

### Current
<img src="https://user-images.githubusercontent.com/1335657/106979337-fc021800-6712-11eb-

[2021-02-05 02:09] yaelirub opened #13973 "Fix copies and terminology: always use topics instead of interests as well as "blogs" instead of "reads""
relevant WPiOS : https://github.com/wordpress-mobile/WordPress-iOS/issues/15807
Based on user feedback as to the confusion between different terms:

Replace every user facing strings in the app from "Interests" to "topics".
Replace every user facing strings in the app from "reads" to "blogs".

[2021-02-05 03:24] reginabally commented on #12491
Thank you so much for the update @jd-alexander! I've reached out to the users in 3607193-zen and 3638952-zen and updated them on the status. We'll report back if the users are still having trouble after updating the app to version 16.7.

[2021-02-05 09:53] ParaskP7 commented on #13629
PS: I have now complete the accessibility check on the `Backup` screen and everything works as expected. This item is not ✅ ed as well.

[2021-02-05 15:03] #13848 closed, assigned to planarvoid

[2021-02-05 15:59] #13851 closed, assigned to planarvoid

[2021-02-05 17:15] Mimoza commented on #9441
Exactely the same issue !
app version 16.5, on galaxy tab S6 with Android 10

[2021-02-05 19:02] #13580 closed, assigned to khaykov

[2021-02-05 21:42] #12465 closed

[2021-02-05 23:08] khaykov commented on #13644
I think I got to the root of the issue, and was able to reproduce it (albeit with some effort). As @ParaskP7 suggested, the issue  was caused by Android App Bundle - when you install our app from Play Store, master APK get's installed alongside other smaller APK's that contain resources tailored for that specific device. Majority of apps for APK backup can only backup the "master" APK, and not the

[2021-02-06 02:17] designsimply opened #13987 "Reader: tapping the login link in the filters bottom sheet in logged-out Reader causes the app to freeze and close"
To prepare:

* Add a self-hosted site.
* Log out of the app.

To test:

1. Go to Reader > Following > Filter.
1. Observe there are zero sites and topics followed in the bottom sheet that appears.
1. Tap the "Log in to WordPress.com" link inside the bottom sheet.

**Result:** the app stops responding if you tap the login link in the filters bottom sheet in logged-out Reader. ([41s](https://cloudup.

[2021-02-08 02:17] reginabally opened #13989 "Reader: Following Sites list is incomplete"
It was reported in 3719482-zen that the user can only see the number of followed site is 98 on the app but they've followed more than that. According to the Subscriptions Admin, the user has followed a total of 172 sites.

The issue was previously reported in the WPiOS app [here](https://github.com/wordpress-mobile/WordPress-iOS/issues/15651).

### Expected behavior

We'd expect to be able to view

[2021-02-08 07:57] cameronvoell commented on #13361
@malinajirka Unfortuntately, I have failed at getting the app in this state that you describe in [your comment](https://github.com/wordpress-mobile/WordPress-Android/issues/13361#issuecomment-741773403) so far. I checked out your branch so I could see where you're logging, but on title updates I was only getting correct updates, though I tried extensively the steps from this issue description.

Th

[2021-02-08 11:20] #13916 closed, assigned to nobody

[2021-02-08 11:26] develric commented on #13987
Sharing a bit of searching in the GH issues. I think this is possibly related to #13153

On my OnePlus 7T with Android 10 I can reproduce the issue but not always, meaning like 4 times out of 10 it reproduces and 6 times it works; so at gut level it could seem like some sort of race condition but cannot be sure.

The above mentioned 13153 issue seems much correlated and I was able to get basically

[2021-02-08 11:29] malinajirka commented on #13361
Hi @cameronvoell! I tried to build `issue/13361-logs` and the issue still sometimes happens to me - eg. emulator api 30 and [this post](https://upm59krakatit.wordpress.com/2021/02/08/long-post/).
1. Open a long post
2. Edit the title
3. Wait +-1s
4. Open Preview
5. Check logs and notice `updating from editor: [TITLE]` sometime contain the out-dated title (if you see the up-to-date title, repeat st

[2021-02-08 11:34] ashiagr opened #13991 "Jetpack Section: Scan - Threat Details Diff Viewer"
### Goal

Goal of this issue is to implement a diff viewer in the app to view file changes for a core file modification type threat (found in a site’s scan results).

### Details
For a site with a core file modification type threat, API `https://public-api.wordpress.com/wpcom/v2/sites/<site_id>/scan` returns core file modifications as a `diff` string in a [Unified Format](https://www.gnu.org/softw

[2021-02-08 12:14] leandroalonso commented on #13971
@malinajirka @ParaskP7 @zwarm @ashiagr can one of you work on this issue this sprint, please? Thanks!

[2021-02-08 12:53] ashiagr opened #13992 "Jetpack Section: Add Date Headers to "Scan History" screen"
### Goal

Currently a site with scan capability displays "Scan History" screen in the app including threat items without date headers.

Goal of this issue is to group and display these threat items under date headers similar to "Activity Log" screen.

Scan History (without Date Headers) | Activity Log (with Date Headers)
-- | --
![image](https://user-images.githubusercontent.com/1405144/107221832-

[2021-02-08 13:53] rossanafmenezes commented on #13989
User has provided a screenshot (in the ZD ticket). It shows 96 sites followed.

[2021-02-08 14:11] designsimply commented on #13987
So far, the problem happened every time on my Pixel 3 device using 16.6-rc-2. Are you asking if I can also confirm it happens if I install the 15.4 apk from the GitHub releases section?

[2021-02-08 14:14] renanferrari opened #13995 "Update copy on new Quick Start cards"
### Customize your site

<img width="600" src="https://user-images.githubusercontent.com/830056/107230729-2ea35d80-69fe-11eb-9625-37ec73419280.png">

TASK | TASK DESCRIPTION*
-- | --
Create your site | Get your site up and running.
Set your site title | Give your site a name that reflects its personality and topic.
Upload a site icon | Add a site icon for a polished, pro look.
Edit your homepage |

[2021-02-08 14:14] develric commented on #13987
That sounds good, in this case yep, the goal would be to confirm it happens with 15.4 but not with 15.3. In this way we should be confident we at least narrowed down to the version where the issue was introduced; thanks for your time Sheri 🙇

[2021-02-08 16:10] #13852 closed, assigned to planarvoid

[2021-02-08 16:42] #13867 closed, assigned to nobody

[2021-02-08 17:01] khaykov commented on #13821
Fixed in #13836

[2021-02-08 17:01] #13821 closed, assigned to khaykov

[2021-02-08 17:36] designsimply commented on #13644
My opinion is that it would not be worth it if it potentially introduce a security vulnerability. @loremattei wdyt?

Based on the 90-day graph for this crash in Sentry Discover, it appears to be happening pretty steadily at ~10 per day on average (estimating from the graph). @khaykov if you decided to close this one as wontfix, would the best advice then be for people to delete the app completely

[2021-02-08 18:07] #13349 closed, assigned to planarvoid

[2021-02-08 19:45] designsimply commented on #13989
Tested and confirmed that that list of followed sites in Reader > Following > Filter > Sites as well as Reader > Following > Manage > Followed Sites are limited to 100 or less for an account that shows "480 Followed sites" at https://wordpress.com/following/manage.

Reader Filter|Reader Manage
---|---
![Screenshot_20210208-124713](https://user-images.githubusercontent.com/1119271/107274922-513d728

[2021-02-08 20:08] renanferrari opened #14003 "Snackbar on MainActivity doesn't comply with Material Design guidelines"
### Expected behavior
When showing a Snackbar message on the `MainActivity` I expect it to comply with [the guidelines on the Material Design documentation](https://material.io/components/snackbars#behavior).

### Actual behavior
The Snackbar has an unnecessary padding with a solid background around it and its dismiss animation doesn't feel smooth.

https://user-images.githubusercontent.com/830056

[2021-02-08 20:09] #13853 closed, assigned to planarvoid

[2021-02-08 20:10] yaelirub opened #14004 "Change order of more menu items so "Visit site" won't be next to "Block site""
The two menu items are too close

<img width="413" alt="Screen Shot 2021-02-05 at 8 20 56 AM" src="https://user-images.githubusercontent.com/1335657/107275661-e9375e00-6a06-11eb-80ee-a7ea2544075d.png">

[2021-02-08 20:48] elibud commented on #13971
I'm a fan of this change, let's keep an eye on metrics to make sure it's actually making user's lives easier.

[2021-02-09 06:37] cameronvoell commented on #13361
Thanks @malinajirka, those steps with your longer article worked for reproducing the issue near my end of my day today. will dig in more on the Gutenberg side to look for root cause there. Thanks for your help!

[2021-02-09 08:05] ParaskP7 commented on #13644
PS: I agree with @designsimply . ➕

[2021-02-09 08:06] ParaskP7 commented on #13971
👋 @leandroalonso !

I'll start work on it today.

[2021-02-09 09:28] osullivanchris opened #14008 "Scan: Fixing threats copy change"
Minor change from editorial to the copy in scan

**Now**
We're hard at work fixing these threats in the background.

**Change to**
We're hard at work in the background fixing these threats

[2021-02-09 10:19] #13995 closed, assigned to renanferrari

[2021-02-09 11:30] #13671 closed, assigned to planarvoid

[2021-02-09 11:50] ParaskP7 opened #14011 "Detekt Integration - Phase.2"
Relates #13996

This issue is about integrating [Detekt](https://github.com/detekt/detekt), phase by phase, into the [WordPress-Android](https://github.com/wordpress-mobile/WordPress-Android) codebase.

`Phase.1` was actually adding `Detekt` alongside its default behavior into the [WordPress-Android](https://github.com/wordpress-mobile/WordPress-Android) codebase. This relates #13996 PR is respons

[2021-02-09 11:57] ParaskP7 commented on #14011
Suggestions from @malinajirka based on this #13996 PR's code review:
1) Activate the `GlobalCoroutineUsage` rule.
1) Deactivate the `allowElseExpression` sub-rule.
1) Activate the `DataClassShouldBeImmutable` rule.
1) Add back the `TODO` value into the `ForbiddenComment` rule and instead utilise the `allowedPatterns` to only allow TODOs with a deadline and an assigned developer.
1) Activate the `F

[2021-02-09 12:06] ParaskP7 opened #14012 "Detekt Integration - Phase.3"
Related #13996
Phase.2 #14011

This issue is about integrating [Detekt](https://github.com/detekt/detekt), phase by phase, into the [WordPress-Android](https://github.com/wordpress-mobile/WordPress-Android) codebase.

`Phase.1` was actually adding `Detekt` alongside its default behavior into the [WordPress-Android](https://github.com/wordpress-mobile/WordPress-Android) codebase. This relates #1399

[2021-02-09 13:52] planarvoid opened #14014 "Update site QS focus point is cropped by the outer layout"
We need to make sure the focus point is not cropped when working on the Update site icon QS task

<img width="198" alt="Screenshot 2021-02-09 at 14 52 02" src="https://user-images.githubusercontent.com/1079756/107373049-638adf80-6ae6-11eb-8e1d-5f4c76285f0c.png">

[2021-02-09 13:56] planarvoid opened #14015 "The bold text in a QS snackbar is white on white background"
When in the dark mode the bold text shown in the snackbar is white on light grey background and that is not very readable. We need to change the color to a darker shade.

<img width="640" alt="Screenshot 2021-02-09 at 14 54 50" src="https://user-images.githubusercontent.com/1079756/107373403-c8463a00-6ae6-11eb-835e-fd3d2c9ff502.png">

[2021-02-09 14:07] planarvoid opened #14016 "Make sure "Edit homepage" task completes"
We're now calling `quickStartRepository.requestNextStepOfTask(EDIT_HOMEPAGE)` when leaving the my site to the pages list. This call sets the activeTask to null. In the pages list we try to call `completeTask` which requires the active task to be the same as the task we're trying to complete. This causes the QS task to never be completed.

[2021-02-09 14:37] planarvoid commented on #14014
I don't know how I managed to that state above but I can't reproduce it

[2021-02-09 14:37] #14014 closed, assigned to planarvoid

[2021-02-09 18:58] renanferrari opened #14018 "Dynamic Cards actions like Pin/Hide/Remove should be on a site-level"
### Expected behavior
If we pin/hide/remove a Dynamic Card, it should be pinned/hidden/removed just for the site that is selected at the moment.

### Actual behavior
If we pin/hide/remove a Dynamic Card, it is pinned/hidden/removed for every site.

##### Tested on Motorola One, Android 11

[2021-02-09 20:03] khaykov opened #14019 "Switch comment list filter from dropdown to tabs"
To align with the rest of the app, we should switch the comment filter from a dropdown list to tabs.

[2021-02-09 21:17] khaykov commented on #13644
Cool, let's leave this one be - it should naturally get away over time. Feel free to reopen in the future if necesary.

@designsimply yes, the best advice will be to uninstall the app and install it again from Play Store.

For documentation reasons, here is how to replicate the issue:
- Install bundletool, if you don't have it already (you can use brew: `brew install bundletool`).
- From AS Select

[2021-02-09 21:23] #13644 closed, assigned to khaykov

[2021-02-10 07:08] ashiagr commented on #13991
This task is on hold (Internal ref: `p1612790034158400-slack-C0180B5PRJ4`).

[2021-02-10 09:05] planarvoid opened #14024 "Fix NullPointerException in the new my site fragment onSaveInstanceState"
I've experienced the following crash while debugging:

[code]

[2021-02-10 09:07] #13846 closed, assigned to renanferrari

[2021-02-10 11:56] frosty opened #14026 "[Colors] Remove usages of WordPress Blue"
In the [2.4.0 release of the Color Studio palette](https://github.com/Automattic/color-studio/blob/master/CHANGELOG.md), WordPress Blue was deprecated in favor of Blue. We should update any remaining items in the app that use WordPress Blue to now use Blue instead.

We should also take this opportunity to update our color palette resources to use the latest colors. The Color Studio repo contains a

[2021-02-10 11:57] frosty opened #14027 "[Colors] Replace usages of Pink with equivalent shades of Blue"
To ensure that we are up to date with the latest best practices of the [Color Studio palette](https://github.com/Automattic/color-studio/blob/master/CHANGELOG.md), we should replace our current uses of Pink (for links, buttons, etc) with the equivalent shade of the new blue. It should just be a case of replacing it with the equivalent numbered shade of Blue.

We should also take this opportunity t

[2021-02-10 11:58] frosty opened #14028 "[Colors] Update app icons to use new Blue instead of WordPress Blue"
To ensure that we are up to date with the [latest best practices of the Color Studio palette](https://github.com/Automattic/color-studio/blob/master/CHANGELOG.md), we should update the existing app icons to use new Blue instead of WordPress Blue. This will require new png assets for us to swap out in the app.

[2021-02-10 12:26] #13850 closed, assigned to nobody

[2021-02-10 13:56] leandroalonso opened #14030 "Jetpack: show a notice to download the backup"
### Acceptance criterias

#### Downloading the file

1. When a Backup is available (created either from the web or the app)
2. The user can see a notice to download the file
3. When the user taps download the file is downloaded

#### Dismissing the notice

1. When a Backup is available (created either from the web or the app)
2. The user can see a notice to download the file
3. When the user taps

[2021-02-10 15:04] ParaskP7 commented on #14030
👋 @leandroalonso !

Should we then do the same for the restore flow, to show a notice to `View site` or a `Thanks, got it!`? The same way it happens on the web?

![image](https://user-images.githubusercontent.com/9729923/107527893-ee8cd800-6bc1-11eb-8f14-c88b2aed094d.png)

[2021-02-10 16:06] leandroalonso commented on #14030
@ParaskP7 good question! When the site finishes restoring there's already a Notification after the operation is done, so I think we're good. Wdyt @osullivanchris?

The problem with the backup is that there's no way to download the file (in the app) after the backup is generated, so by doing this task we complete the flow.

[2021-02-10 16:08] ParaskP7 commented on #14030
This is true! 👍

Yeap, indeed, for the backup we don't have a notification, which make this task necessary (comparing to the corresponding restore task I mentioned). I agree. 👍

[2021-02-10 20:48] renanferrari commented on #14024
I've looked a bit into this but I wasn't able to reproduce it. Do you remember what you were doing when the crash happened?

[2021-02-10 21:01] #13637 closed, assigned to planarvoid

[2021-02-10 21:50] #13501 closed, assigned to antonis, chipsnyder

[2021-02-11 16:15] zwarm commented on #14030
@leandroalonso - does the endpoint return more than 1 file? And if so, how many banners are showing?

[2021-02-11 16:43] osullivanchris commented on #14030
Yep I agree. Do we have this component on Android too, I forget?

As you said we don't have this problem of an incomplete flow for 'restore'. The flow is complete, the site is restored. This is needed in some cases to complete the 'download backup' flow.

[2021-02-11 21:04] leandroalonso commented on #14030
@zwarm Even though the response is an array, from my explorations it only returns the last file. The web shows only one notice per time — that's how it was implemented in iOS.

[2021-02-11 21:44] eduardozulian opened #14041 "Site Address accepts emails when trying to log in using an URL"
I've seen a few cases when users are getting an incorrect username/password message but they are sure that the credentials are correct. What is probably happening (example on 3729175-zen) is that users type their own email instead of their site URL. And for some reason, we accept that if the part after the `@` is a WP site.

### Expected behavior
To see an error message explaining to the user that

[2021-02-11 23:13] renanferrari opened #14042 "Show success message when all tasks from a Quick Start category are completed"
We should display a toast message when all tasks from a Quick Start category are completed:

https://user-images.githubusercontent.com/830056/107710350-87485400-6ca5-11eb-899a-c4c7dd2a0287.mov

Here's the copy for each category:

| | Customize your site | Grow your audience |
|---|---|---|
| **Title** | All tasks completed | All tasks completed |
| **Subtitle** | You’ve customized your site. Well

[2021-02-11 23:16] renanferrari opened #14043 "Update copy from Dynamic Card menu actions"
The actions on the Dynamic Card menu should have the following copy:

<img width="411" src="https://user-images.githubusercontent.com/830056/107711132-e4440a00-6ca5-11eb-8edd-d9b5bbe40a06.png">

[2021-02-12 00:11] #14015 closed, assigned to planarvoid

[2021-02-12 01:54] ericamQA commented on #8345
Atomic Wordpress.com hosted site experiencing this (deleted comments showing in app) 3732673-zen

[2021-02-12 06:10] JavonDavis opened #14046 "Audio Block doesn't stop playback after exiting post preview"
### Expected behavior

Audio Block should stop audio playback after exiting post preview

### Actual behavior

After previewing a post with an audio block and playing the audio, exiting the preview and continuing use of the app does not stop audio playback.

### Steps to reproduce the behavior

1. Create a post with an audio block
2. Add an audio file to the block with a decent amount of playback

[2021-02-12 07:43] ParaskP7 commented on #14030
Maybe @malinajirka will know? Or, do you mean @osullivanchris whether Android, in general, has this component, like in its `Material Components`?

Cool, totally agree, thanks for jumping in @osullivanchris ! 👍

[2021-02-12 09:18] malinajirka commented on #14030
I'm not aware of existence of such component. Having said that the implementation should be quite straightforward - it'd be just good to update the designs so it looks ok on Android.

[2021-02-12 09:31] planarvoid commented on #14024
oh yeah, sorry for not giving the context. I think our bottom navigation sometimes causes this issue (I've seen it in other fragments). I think the fragment is initialized without a view and when it gets killed, we try to save instance but we don't have the view. The fix should be to add safe call to the view `?`.

I don't have consistent steps to repro it. I was switching randomly between bottom

[2021-02-12 10:30] hypest commented on #14046
Thanks for opening the issue Javon!

@jd-alexander , did we actually add any special support for the audio block in the post preview webview based flow? Looks like the Video block doesn't have this issue in my testings, but the Audio block does.

[2021-02-12 10:38] ParaskP7 opened #14051 "Violation Comments to GitHub Gradle Plugin Not Working"
### Expected behavior

The [Violation Comments to GitHub Gradle Plugin](https://github.com/tomasbjerre/violation-comments-to-github-gradle-plugin) should comment on a PR with `CheckStyle` issues.

### Actual behavior

The [Violation Comments to GitHub Gradle Plugin](https://github.com/tomasbjerre/violation-comments-to-github-gradle-plugin) doesn't comment on a PR with `CheckStyle` issues.

### Ste

[2021-02-12 13:02] jd-alexander commented on #14046
Thanks for the ping @hypest and thanks for opening the issue @JavonDavis

@hypest No modifications were done to the webview flow. I am going to investigate this as I didn't experience it during testing.

[2021-02-12 14:58] chipsnyder commented on #13925
We are currently scoping out a project (ref `pb3aDo-NT#comment-1454`) that might end up replacing this screen. So putting this on hold for now.

[2021-02-12 15:35] designsimply commented on #9997
This is a large uptick and worth looking into. Raising to high priority.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=%22OutOfMemoryError%22&sort=-timestamp&statsPeriod=30d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%28%29">![image](https

[2021-02-12 15:49] designsimply commented on #11803
Because this crash is grouped oddly in Sentry (and we made improvements to grouping _after_ this one was already grouped) and because we already fixed the source of a major uptick we saw in Mar/Apr 2020, I am going to close this crash even though there is a very slight uptick over the last few months as it doesn't feel significant enough to spend time on right now considering other bigger crashes

[2021-02-12 15:49] #11803 closed

[2021-02-12 15:50] designsimply commented on #11223
Adding an update with the latest numbers:

A search for "ENOSPC" in Sentry > Discover returns 4,089 occurrences in the last 90 days.

<a href="https://sentry.io/organizations/a8c/discover/results/?cursor=0%3A0%3A1&display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=ENOSPC&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&wi

[2021-02-12 15:51] designsimply commented on #10169
**Events in the last 90d:** 42,000
**Users affected in the last 90d:** 3,400
**Main culprit:** android.os.Parcel in createException
<sub>WORDPRESS-ANDROID-2T: https://sentry.io/share/issue/88306a09ef304935983ff86b6ebc515c/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&proj

[2021-02-12 15:53] designsimply commented on #9904
Numbers feel steady here, and they are lower than other crashes we are tracking so let's close this one in favor of working on the biggest crashes as priority. Please definitely re-open if you feel it needs to be checked again or if you spot an upward trend in these!

A search for `message:android.text.PackedIntVector in deleteAt ` in Sentry Discover returned 1,311 in the last 90 days.

<a href="h

[2021-02-12 15:53] #9904 closed

[2021-02-12 20:48] chipsnyder commented on #13908
@designsimply I was able to grab some time to take this on. It'll be a part of 16.8

[2021-02-12 23:42] jd-alexander commented on #14046
@hypest I created a PR to address the issue. I added a milestone of the next release, 16.8.

[2021-02-13 00:17] #14043 closed, assigned to planarvoid

[2021-02-13 00:17] #14024 closed, assigned to planarvoid

[2021-02-13 01:30] designsimply commented on #13908
Thank you @chipsnyder!

[2021-02-13 02:48] aforcier commented on #13693
Reopening, should be closed officially when the change is added to WPAndroid (https://github.com/wordpress-mobile/WordPress-Android/pull/14065).

[2021-02-14 21:05] develric opened #14066 "With some keyboard creates chips on dot"
### Expected behavior
In the Invite People screen, while adding `Usernames or emails`I would expect to be able to add emails with dot sign without the string being transformed in a chip.

### Actual behavior
In the Invite People screen, while adding `Usernames or emails`I can have the string validated and being transformed in a chip when using a keyboard different from the Google Gboard standard o

[2021-02-15 08:24] #13971 closed, assigned to ParaskP7

[2021-02-15 12:10] malinajirka opened #14069 "Updating tracking properties in Reader"
Add missing and update ambiguous properties as per the "Required code changes" column in a spreadsheet shared on p9xfpQ-1eg-p2.

[2021-02-15 12:16] planarvoid opened #14070 "Improve performance of site settings sync"
We're getting ANRs when the app syncs the site settings. The code does quite a lot on the main thread so I think a reasonable approach would be to look at the part of code and move some parts of it to a background thread.

Sentry: https://sentry.io/organizations/a8c/discover/wordpress-android:19181e61c67b44c59728544fab233c0f/?field=title&field=event.type&field=project&field=user.display&field=time

[2021-02-15 12:23] #14051 closed, assigned to nobody

[2021-02-15 14:02] planarvoid commented on #9997
I'm looking into this issue during groundskeeping and I've found a cause (possibly one of many). The app crashes if you go to the Media Browser activity (My Site/Media) of a site with some big videos. Loading thumbnails from URLs is broken for WP.com videos so we try to load the thumbnail by downloading the full video and this causes out of memory error. The reason why it's broken is that we only

[2021-02-15 15:01] #14016 closed, assigned to renanferrari

[2021-02-15 16:02] osullivanchris commented on #14030
Hey sorry I didn't get to this last week. Had a quick look at it now. I didn't realise that we didn't have this existing component in notifications on Android like we do in notifications on iOS. Here are a few existing things I looked at for reference/inspiration
![references](https://user-images.githubusercontent.com/50576199/107968726-9fbab600-6fa6-11eb-86ab-67f12abc47d1.png)

and here are a few

[2021-02-15 20:24] renanferrari opened #14073 "Quick Start category should not be displayed after all its tasks are completed"
This task complements #14042.

The next time a user visits the My Site screen after completing all tasks from a Quick Start category, that category should not be displayed.

[2021-02-15 20:46] #14046 closed, assigned to jd-alexander

[2021-02-15 20:56] zwarm opened #14074 "Remove workaround for rewind_download_ready"
Remove the workaround for intercepting **type=stat**  swapping it for **type=stat**  in NotificationsTable.prepareNote

See this PR for details

[2021-02-16 07:13] ParaskP7 commented on #14030
👋 @osullivanchris !

Many thanks for the wireframes, I would personally go with `1 mimick iOS`. 🌟

It seems simple, consistent on both platforms and to the point. Maybe if we added some light background color on it, just like you did with the last one (light green), this can make it distinguish better, that's all I have.

[2021-02-16 09:50] osullivanchris commented on #14030
Hey @ParaskP7 sounds fair to me! We have the precedent of iOS at least. Trying to re-use existing styles as much as possible here. Here are specs for it. Just let me know if anything seems wrong to you, or if you want to tweak anything. Thanks!

![backup notice](https://user-images.githubusercontent.com/50576199/108046293-5c128b80-703c-11eb-8ef0-d33d50c7cf64.png)

[2021-02-16 11:03] ParaskP7 commented on #14030
👋 @osullivanchris, it looks good to me! 🌟

PS: @zwarm @malinajirka your thoughts?

[2021-02-16 12:27] planarvoid commented on #9997
Another issue related to ^ is with big video files. I think Glide allocates memory when it gets the video headers and when the allocated memory is too big for the device, it triggers the OOM crash. It happens right away because it doesn't have to download the whole file.

[2021-02-16 12:59] zwarm commented on #14030
@osullivanchris - I would also add this component to the Backup list view, as this is where we send folks when navigating from the notificationsDetail view.

FYI @ParaskP7

[2021-02-16 13:01] osullivanchris commented on #14030
oh yeah, definitely @zwarm . We have it in both on iOS. Thanks for flagging that!

[2021-02-16 13:20] ParaskP7 opened #14083 "Include timestamp on activity log/backup items"
This issue is based on this `p5T066-1OP#comment-7168` where @guarani noted that it is not immediately obvious which of the backups that are made on the same day is the most recent one.

![image](https://user-images.githubusercontent.com/9729923/108067661-cbeb3b00-7069-11eb-9e8f-47eeb9dbd04d.png)

As such the goal of this issue is to create some options for layouts, which will include timestamp on

[2021-02-16 17:33] guarani opened #14087 "Pull-to-refresh not working on plugins screen"
### Expected behavior

Pulling-to-refresh the plugin screen should always result in the plugins shown in their correct state (active/inactive).

### Actual behavior

Despite pulling-to-refresh the plugins screen, it still showed an "old" state (inactive) of a plugin instead of its "new" state (active). It wasn't until I went to the site list screen and pulled-to-refresh there that the plugins scre

[2021-02-16 19:22] zwarm opened #14088 "Jetpack Restore: "Remove Let Me Know When Finished" Button"
-Remove the "Let me know when you are finished" button from the Restore Processing view

See p5T066-1OP#comment-7201 for more details

![restore-backup-no-button](https://user-images.githubusercontent.com/506707/108214526-45346d80-70fe-11eb-9a9b-78111ad26963.png)

[2021-02-16 20:09] #13908 closed, assigned to chipsnyder

[2021-02-16 23:56] renanferrari opened #14089 "ExPlat: Main Issue"
This issue centralizes all tasks and potential improvements to the ExPlat implementation on WPAndroid.

### Tasks
- [x] Initial A/A experiment implementation. (PR: #13960)
- [x] Initial A/B experiment implementation. (PR: #14286)
- [ ] Add support for logged-out experiments.
- [x] Add functionality to manage active experiments. (PR: #14559)
- [ ] Add UI to list active experiments (for internal tes

[2021-02-17 03:02] #13693 closed, assigned to aforcier

[2021-02-17 14:00] zwarm opened #14094 "Jetpack Backup Download: "Remove Let Me Know When Finished" Button"
-Remove the "Let me know when you are finished" button from the Backup Download Processing view

See p5T066-1OP#comment-7201 for more details

![restore-backup-no-button](https://user-images.githubusercontent.com/506707/108214526-45346d80-70fe-11eb-9a9b-78111ad26963.png)

[2021-02-17 15:30] ParaskP7 opened #14095 "Jetpack Section: Update Activity Log Details UI and Add Backup Download Button/Flow"
As per the requirements in this post (`pcdRpT-cM`, see `Activity Log: Event Details`), this issue is about:
- UI updates on this screen to match design, and
- Adding the `Backup Download` button and connecting the button with the new flow.

Before | After
-------|------
<img width="250" height="500" alt="before" src="https://user-images.githubusercontent.com/9729923/108225084-4092a800-7144-11eb-94

[2021-02-17 16:38] osullivanchris commented on #14095
👋  Hey Petros, thanks for creating the issue. I tried to do as little as possible, just to add the extra button to this screen. I couldn't help tidying up the spacing a little bit. But only do that if its easy. I did have to move things a little bit, as it doesn't make sense to have the buttons above the information...unless you think that info could get really long?

Also - again if its quick - w

[2021-02-17 19:07] eduardozulian commented on #13989
Another report in 3748173-zen

[2021-02-17 23:50] designsimply opened #14099 "Jetpack Backup: If you do no stay on the screen with the progress bar you will not be able to download the backup file"
To prepare:

* Create a Jetpack site.
* Add a Jetpack Security Daily plan.
* Wait for a backup to appear.

To test:

1. Go to My Site > Jetpack > Backup > overflow menu > Download backup.
1. Tap the "Create downloadable file" button.
1. Observe this sentence: "No need to wait around. We'll notify you when your backup is ready."
1. Tap the "Let me know when finished!" button or exit that screen.
1.

[2021-02-18 00:40] designsimply opened #14100 "Jetpack Restore: app does not let you know if restores are disabled because server credentials are missing on the site"
If you have not yet added server credentials to a Jetpack site then restores may not be enabled and the app will fail in several tasks with error messages that are not specific.

To prepare:

* Create a Jetpack site.
* Add a Jetpack Security Daily plan.
* Do NOT enable restores. You should see the following warning in your dashboard on the web.

![image](https://user-images.githubusercontent.com/1

[2021-02-18 09:22] #14070 closed, assigned to planarvoid

[2021-02-18 10:01] ParaskP7 commented on #14095
👋 @osullivanchris !

Thank you so much for providing the updated design and specs on such a short notice. All you suggestions seem about right and I'll be doing all of them as part of this task. ❤️

Many thanks for tidying things up. 🌟

I agree, it doesn't make sense to have the buttons above the information. 🌟

I agree again, will update those as well. 🌟

🙏

[2021-02-18 10:51] osullivanchris commented on #14095
@ParaskP7 Sweet! Thanks for the positivity and making all the proposed fixes. And no problem on the design work, it didn't take long and I love making a quick fix! 😄

[2021-02-18 12:09] #14094 closed, assigned to zwarm

[2021-02-18 12:52] leandroalonso commented on #14099
@designsimply #14030 will fix this issue. :)

[2021-02-18 13:34] malinajirka opened #14104 "Jetpack Scan/Backup menu items always hidden after restart on ImprovedMySiteFragment"
**This issue happens only when ImprovedMySite feature flag is enabled.**

### Expected behavior
When I restart the app, "Scan" and "Backup" menu items on MySite screen should be shown if the user has access to those products.

### Actual behavior
When I restart the app, "Scan" and "Backup" menu items on MySite screen are always hidden at first even though the user has access to the products. The i

[2021-02-18 14:36] loremattei opened #14106 "EventBusException: Subscriber class org.wordpress.android.ui.jetpack.JetpackCapabilitiesUseCase already registered t..."
**Sentry Url**: https://sentry.io/share/issue/f764090f74314f32a43e09ab9240713b/
**User Count**: 86
**Count**: 182
**First Release**: org.wordpress.android@16.7-rc-1+988
**First Seen**: 2021-02-08T23:54:21.978000Z
**Last Seen**: 2021-02-18T13:36:42Z
**24 Hours**: 35
**30 Days**: 182

[code]

[2021-02-18 14:40] loremattei opened #14107 "NullPointerException: row_scan must not be null"
**Sentry Url**: https://sentry.io/share/issue/d4d49740d05249ffaf6922b53df0d3e6/
**User Count**: 97
**Count**: 243
**First Release**: org.wordpress.android@16.7-rc-1+988
**First Seen**: 2021-02-10T14:31:13.613000Z
**Last Seen**: 2021-02-18T14:22:07Z
**24 Hours**: 31
**30 Days**: 241

[code]

[2021-02-18 15:07] #13987 closed, assigned to nobody

[2021-02-18 15:18] leandroalonso commented on #14100
100% agree with that, @designsimply.

I'll create a separate issue for that for Android and iOS.

[2021-02-18 15:25] zwarm commented on #14099
@designsimply #14075 adds a workaround for the notification issue (eventually the API has to be fixed). It will be in release 16.8, as we decided to rely on the email (with the download link) for the MVP. We removed the "Notify Me" buttons for release 16.8 too. Full transparency, there is quite a bit of work to address #14030 and it won't make the official cut off for release 16.8, but I'm sure I

[2021-02-18 15:49] malinajirka commented on #14106
Fixed in https://github.com/wordpress-mobile/WordPress-Android/pull/14101

[2021-02-18 15:49] #14106 closed, assigned to nobody

[2021-02-18 18:07] designsimply commented on #14099
Okay! Thanks everyone for the updates!

[2021-02-18 20:25] leandroalonso opened #14110 "Jetpack Backup: remove button and string to prevent users from leaving the screen"
Ps.: this is meant to be a workaround so users can still use the Jetpack Backup feature in 16.7.

In order to not mislead the user by telling them that they're going to receive a notification with the backup file we won't say anything:

1. Hide the "Let me know when finished button"
2. Hide the "No need to wait around. (...)" message

<img src="https://user-images.githubusercontent.com/1119271/108

[2021-02-18 21:00] leandroalonso opened #14111 "Jetpack Restore: display a warning for when server credentials are not configured"
### Expected behavior

1. When the user taps Restore
2. And server credentials are not configured
3. The user can't start the Restore flow and they see a warning
4. When the warning is tapped user is redirected to https://wordpress.com/settings/jetpack/site (where "site" is the site address)

### Design

<img src="https://user-images.githubusercontent.com/7040243/108420658-da288b00-7212-11eb-9bdd-

[2021-02-19 08:34] #13271 closed, assigned to jkmassel

[2021-02-19 08:53] #14042 closed, assigned to renanferrari

[2021-02-19 11:32] rezzap commented on #7216
From a 3 star app review, Feb. 15th 2021, 07:12:

[2021-02-19 11:52] #14018 closed, assigned to planarvoid

[2021-02-19 12:37] #14110 closed, assigned to zwarm

[2021-02-19 13:12] #14088 closed, assigned to zwarm

[2021-02-19 13:13] planarvoid commented on #13044
I've investigated this issue and it seems that there is a problem with some older Samsung devices. You can read more about the bug [here](https://github.com/Kotlin/kotlinx.coroutines/issues/490). There is nothing we can at the moment to fix this. We'll get rid of this once we move `minSdk` from 21 to 22.

[2021-02-19 14:21] #13679 closed, assigned to planarvoid

[2021-02-19 15:22] sentry[bot] opened #14118 "SaveOnExitException$AutosavePending: Post had changes that needed to be saved when exiting the editor, but there was an autosave pendi..."
Sentry Issue: [WORDPRESS-ANDROID-NME](https://sentry.io/organizations/a8c/issues/1856991698/?referrer=github_integration)

[code]

[2021-02-19 15:26] #14095 closed, assigned to ParaskP7

[2021-02-19 16:09] osullivanchris opened #14120 "Login: Button hidden by keyboard during Authenticator step"
- I'm on a Pixel 3a
- Android version 11
- app Version 16.7-rc-5

At the authenticator step, the primary button is hidden by the keyboard. I could still proceed by tapping the checkmark in the keyboard, so its not a blocker. But it didn't look right.

Not sure how the position of the button is defined, to resolve it.

Let me know if more details needed.

![image](https://user-images.githubusercont

[2021-02-19 17:06] jd-alexander opened #14121 "Media Pickers should filter files based on site's plan supported MIME types."
### Expected behavior
The MediaPicker needs support for allowed MIME types based on a site’s plan ([Dot Com](https://en.support.wordpress.com/accepted-filetypes/)) or configuration ( [Dot Org](https://href.li/?https://codex.wordpress.org/Uploading_Files)) as a means of filtering unavailable MIME types from the media pickers.

`FluxC` is expected to have support for this at it's layer since it is i

[2021-02-19 19:10] #13456 closed, assigned to nobody

[2021-02-22 06:58] ashiagr opened #14128 "Reader Improvements: Bring back "Related Posts" to Reader Detail"
At the bottom of Reader Detail bring back related posts with updated design.

### Design
![related-posts-on-reader](https://user-images.githubusercontent.com/793774/108564689-8466e800-72d1-11eb-8eed-89b71c90f4d8.png)

High level tasks
- [x] Revert old related posts code #14136
- [x] Extract request related posts code from fragment to usecase and viewmodel #14142
- [x] Refactor related post UI logi

[2021-02-22 07:06] ashiagr opened #14129 "Reader Improvements: Redesign "Topics you might like""
Show topics using topic chips instead of a list to reduce vertical space taken up by the "Topics you might like" section.

![topics-you-might-like-card](https://user-images.githubusercontent.com/1405144/108673767-430d4d00-750a-11eb-8c8c-e6ea3deff12d.png)

[2021-02-22 09:54] wzieba commented on #10698
@oguzkocer @jkmassel 👋

Does this PR close this issue? https://github.com/wordpress-mobile/WordPress-Android/pull/12571

[2021-02-22 10:29] momo-ozawa commented on #14100
iOS issue: https://github.com/wordpress-mobile/WordPress-iOS/issues/15924
iOS PR: https://github.com/wordpress-mobile/WordPress-iOS/pull/15951

[2021-02-22 11:48] #14104 closed, assigned to planarvoid

[2021-02-22 11:59] ParaskP7 commented on #14011
Here is another suggestion from @planarvoid on the `LongParameterList`, see internal link: paqN3M-hh-p2#comment-481

[2021-02-22 14:08] ParaskP7 commented on #13972
👋 @mbshakti !

Quick questions in terms of design.

1) What happens when you are on the `Follow topics` screen (`3rd screen`) and you click the `Done` button after selecting a couple of new topics from the chip group list? Do you go back to the `Manage` screen (`2nd screen`) and get those new topics appear there or do you completely go back to the `Reader` screen (`1st screen`)?
1) Is the `Done` b

[2021-02-22 15:34] antonis opened #14132 "My Site Dynamic Cards: The app does not scroll to the item the 2nd time"
### Expected behavior
The app scrolls to the chosen item

### Actual behavior
The app does not scroll to the chosen item

### Steps to reproduce the behavior
1. Create a new site
2. Scroll at the **Grow Your Audience** cards section
3. Tap on **Enable sharing**
4. Notice the app scrolls to the “Sharing” item ✅
5. Notice the focus point over the “Sharing” item ✅
6. Scroll at the **Grow Your Audienc

[2021-02-22 17:12] oguzkocer commented on #10698
@wzieba Yes it does, thanks for noticing!

[2021-02-22 17:12] #10698 closed

[2021-02-22 17:37] renanferrari commented on #14107
I'm closing this as it has already been addressed by #14108.

[2021-02-22 17:37] #14107 closed, assigned to nobody

[2021-02-22 19:27] mbshakti commented on #13972
Hi @ParaskP7! Thanks for the questions. I've documented the behavior here, let me know if I'm missing anything.
![behavior(2)](https://user-images.githubusercontent.com/6350997/108759152-fcbfea00-7519-11eb-8d7e-3c79f8ffe051.png)

For the android designs, I'm working on it, and will share by the end of today.

[2021-02-23 07:29] ParaskP7 commented on #13972
👋 @mbshakti !

Thank you so much for sharing the behavior. 🙏

I am copy-pasting the current design below, for future reference (from Figma):

![image](https://user-images.githubusercontent.com/9729923/108813085-faf93380-75b8-11eb-9fd0-de4bf12fee8c.png)

The only thing I am missing from the design are the `Done` button on the `topic picker` screen. Let me know how you would want that to work. Curre

[2021-02-23 13:03] #14073 closed, assigned to renanferrari

[2021-02-23 13:35] develric opened #14137 "Likes Enhancements in notifications"
We would like to enhance the current visualization of like-ers in notifications as per below flow image.

![image](https://user-images.githubusercontent.com/47797566/108850080-39a3e380-75e3-11eb-806b-30e91c4b2a96.png)

A few tasks as per current understanding of the ticket:

- [x] Create feature flag [#14361]
- [x] Bring list of like-ers to use two line list with avatar material guideline [#14361]

[2021-02-23 13:42] develric opened #14138 "Likes Enhancements in Reader"
We would like to enhance the current visualization of like-ers in reader as per below flow image.

![image](https://user-images.githubusercontent.com/47797566/108851328-9784fb00-75e4-11eb-894c-20b788b86ae0.png)

Currently this issue is intended to be tackled after #14137 so we could reuse the list of like-ers improvements (since basically it's the same screen)

A few tasks as per current understan

[2021-02-23 13:50] abdi5 commented on #14137
kedirabdi585@gmail.com

[2021-02-25 07:47] ParaskP7 commented on #14011
- Here is another suggestion from @khaykov on the `TooManyFunctions`, see internal link: paqN3M-hh-p2#comment-489
- Here is another suggestion from @JorgeMucientes on the `TooManyFunctions`, see internal link: p91TBi-6jX-p2

[2021-02-25 08:17] cameronvoell commented on #13003
Just want to comment that #13169 does not seem to cause the SaveOnExitException$NoAutosavePending warning (though it is still a important issue to solve).

As for the second issue #13361, I investigated, and I was able to get the SaveOnExitException$NoAutosavePending exception to happen when testing a large article. I also opened up a second related issue that showed that if you left the article w

[2021-02-25 08:19] cameronvoell commented on #13003
Also noting that another case of `SaveOnExitException$NoAutosavePending` was documented in this issue https://github.com/wordpress-mobile/gutenberg-mobile/issues/2701, but we have a fix up for that case here: https://github.com/wordpress-mobile/WordPress-Android/pull/14141, so we should see some but not all of the sentry issues here go down once that fix is merged. In the mean time we're still wor

[2021-02-25 10:18] loremattei opened #14150 "NullPointerException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkNotNullParame..."
**Sentry Url**: https://sentry.io/share/issue/84d9ff222a3248ccab6c168bf7de8361/
**User Count**: 370
**Count**: 1143
**First Release**: org.wordpress.android@16.7+1002
**First Seen**: 2021-02-24T21:33:58.670000Z
**Last Seen**: 2021-02-25T10:17:21Z
**24 Hours**: 1126
**30 Days**: 1126

[code]

[2021-02-25 12:29] rossanafmenezes opened #14152 "App crashing when you try to create a new page"
### Expected behavior

When you click on the option to add something and select a new page, the template screen should show so the user can select one, and after this is selected the app creates a new page.

### Actual behavior

I have now seen 2 reports where the user clicks on the option to create a new page (after the update) and the app crashes right after. The template screen blinks for a sec

[2021-02-25 13:21] antonis commented on #14152
Hey @rossanafmenezes 👋
Thank you for reporting this 🙇
This is related to [this Sentry report](https://sentry.io/share/issue/84d9ff222a3248ccab6c168bf7de8361/).

A server side fix was applied (internal ref: `pb3aDo-Pe-p2`) to stop the Android app from crashing and a [client side fix will be included in the next version](https://github.com/wordpress-mobile/WordPress-Android/pull/14153) to prevent su

[2021-02-25 13:28] antonis commented on #14152
I consider this fixed. Please reopen if the issue persists 🙇

[2021-02-25 13:28] #14152 closed, assigned to antonis

[2021-02-25 13:43] ceyhun commented on #14150
@loremattei The Sentry link doesn't seem to work, I'm getting a `Page Not Found` error when I click it.

[2021-02-25 13:48] loremattei commented on #14150
Thanks for the heads up @ceyhun! I guess someone wanted to share it while working on it and didn't notice it was already shared. Sentry isn't great in this case and generates a new link.
I've fixed the description with the new link now.

btw: @antonis and @geriux already took care of this.

[2021-02-25 13:51] antonis commented on #14150
Hey @loremattei, @ceyhun  👋
Thank you for reporting this 🙇

A server side fix was applied (internal ref: `pb3aDo-Pe-p2`) to stop the Android app from crashing and a [client side fix will be included in the next version](https://github.com/wordpress-mobile/WordPress-Android/pull/14153) to prevent such issue from occurring in the future.

I'm closing this issue. Please reopen if the issue persists 🙇

[2021-02-25 13:51] #14150 closed, assigned to antonis

[2021-02-25 21:18] mdrockwell opened #14154 "Blog Posts List: Change Order Of Ellipses Menu Items in Compact View"
### Expected behavior
The ellipses menu items on Android, when viewing the posts list in compact view should better match the order of iOS, which is:

- View
- Stats
- Share
- Duplicate
- Move to Draft
- Move to Trash

### Actual behavior
The ellipses menu on Android has the "Trash" option is next to the "View" option, which can cause accidental deletions — especially since there is no confirmatio

[2021-02-26 23:47] #14132 closed, assigned to planarvoid

[2021-03-01 09:05] ParaskP7 opened #14162 "Bug: The added 'Topic' is not shown under the `FOLLOWED TOPICS` list after rotating the device"
### Expected behavior

Given the user is with the Reader's `Manage Topics & Sites` settings screen, after having rotated the screen at least once, when they add a `URL or topic to follow`, then the newly added `topic` appears within the `FOLLOWED TOPICS` list.

https://user-images.githubusercontent.com/9729923/109473815-7ad14300-7a7c-11eb-92ae-71850ea23f10.mp4

### Actual behavior

Given the user

[2021-03-01 19:05] mdrockwell opened #14167 "Unable to Update Price (moved to woocommerce repo)"
### Expected behavior
After tapping on the price field, you're able to update it to a new value.

### Actual behavior
After tapping on the price field and tapping on the backspace key, the existing price will clear, but you aren't able to enter a new price.

### Steps to reproduce the behavior
1. Navigate to Products tab
2. Select product
3. Enter the price change view
4. Tap on backspace key
5. A

[2021-03-01 21:37] eduardozulian opened #14168 "Jetpack Scan/Backup displays "Something went wrong" when VaultPress is being used"
If you try to access the Jetpack Backup/Scan with a site that's connected to VaultPress, the app shows a generic error without much info on what to do next.

### Expected behavior

In Calypso, for both Scan and Backup we show users a button/link that points them to their https://dashboard.vaultpress.com/:

<img width="904" alt="Captura de Tela 2021-03-01 às 18 35 20" src="https://user-images.gith

[2021-03-02 10:52] rezzap commented on #13685
@designsimply  @ParaskP7 Sorry for the delay on this one!

What I'm seeing is the same as what Sheri shows in the video. I think the difference here is that the other tabs instantly have content showing while the Insights tab shows loading for some time. It's not a significant delay, but if that's expected I think it's fine to close this issue for now. We haven't received many other reports about

[2021-03-02 11:00] ParaskP7 commented on #13685
👋 @rezzap !

Thanks for the response. 🙏

Great, we are all consistent on that then. 👍

It is not significant indeed. Whether that is expected or not it probably depends. Out of the top of my head I think this loading indicates that although the screen was done loading there are some kind of other data that is pending loading, maybe on other tabs, thus the delay. But, this needs to be further inves

[2021-03-02 15:22] renanferrari opened #14172 "Quick Start section is limited to My Site fixed width on tablets"
The My Site screen has a fixed width to prevent the layout from being too spread out on tablets, which could cause the Quick Start focus points to be [very far from their actual targets](https://user-images.githubusercontent.com/830056/109669157-9c9bfa00-7b50-11eb-8e62-5782e6cca41f.png), among other things.

The Quick Start section should not be limited to this fixed width and its cards can be abl

[2021-03-02 17:36] renanferrari commented on #13361
Hey @cameronvoell 👋 I'm currently on my groundskeeping rotation and I'm wondering if any progress was made on this issue since your last comment or if we're still not sure what the root cause is.

[2021-03-02 19:36] eduardozulian commented on #14041
Here's an example: 3783275-zen

[2021-03-02 19:50] zwarm commented on #14004
@mbshakti - any thoughts on how they should be reordered ?

[2021-03-03 07:18] #13972 closed, assigned to ParaskP7

[2021-03-03 07:23] ParaskP7 opened #14177 "Small Reader Improvements: Topics Picker Empty State"
Relates #14159

This issue is about showing some illustration and copy that there are no recommendations left on an empty state.

Start Instructions (⚠️):
1. Wait for @mbshakti to provide illustration and copy.
2. Remove the `Needs Design` label.
3. Start this issue.

[2021-03-03 09:09] designsimply commented on #13685
Ok, so what I'm hearing is that we got one user complaint that Stats Insight is loading slowly but after testing ourselves we think it only _feels_ slow in comparison with other stats screens—which seem to display instantly when we switch between different Stats tabs. While I do think it would be lovely to improve the user experience by making the Insights screen as delightfully fast as the other

[2021-03-03 09:30] ParaskP7 commented on #13685
👋 @designsimply !

I agree.

I am tending towards the `close the issue with an ask to re-open`. However, I am not sure what an `ask to re-open` closed issue will look like or how we deal with those afterwards.

[2021-03-03 09:39] designsimply commented on #14087
I agree this should be investigated but would like to wait for additional feedback from users before raising this in priority in Groundskeeping, partly because I think Jetpack Plugins are a relatively low-traffic area of the app compared to some other areas where we are focusing work currently. This is always subject to change and open for discussion, so please push back if you feel it should be p

[2021-03-03 09:47] designsimply commented on #14120
I reported this previously in https://github.com/wordpress-mobile/WordPress-Android/issues/12964 and was quite surprised at the time that a lot more people hadn't mentioned the issue. After a bit of research, I found that it may be (have been?) part of an A/B test on the Gboard keyboard on Pixel devices—which would explain the very low numbers of reports (me, you, and one other person so far). Any

[2021-03-03 09:47] #14120 closed, assigned to nobody

[2021-03-03 09:52] designsimply commented on #14121
Also see https://github.com/wordpress-mobile/WordPress-Android/issues/13353.

Are different media pickers used in the Media Library vs Gutenberg Mobile? If yes, do changes need to be made in both places?

[2021-03-03 09:55] designsimply commented on #14129
Possibly related: https://github.com/wordpress-mobile/WordPress-iOS/issues/15556.

[2021-03-03 09:55] designsimply commented on #14137
Gah! I love this so much!

[2021-03-03 10:29] hypest commented on #14118
👋 @cameronvoell , is this perhaps under the same umbrella of investigation on the AutosavePending issue you were on recently? In other words, should we merge this ticket with https://github.com/wordpress-mobile/WordPress-Android/issues/13003 or should it stay as separate? Thanks!

[2021-03-03 10:33] designsimply commented on #14167
I think this one got filed in the wrong spot! Moved to https://github.com/woocommerce/woocommerce-android/issues/3651 👍

[2021-03-03 10:33] #14167 closed, assigned to nobody

[2021-03-03 10:49] planarvoid opened #14178 "Do not start quick start for the actually selected site"
If you have site that's elligible for quick start after a fresh install, if you create a new site, the QS gets started also for the previously selected site. This is because we're starting the QS too early before the newly created site is selected.

I can share an account on which this happens persistently.

Steps to repro:
- Make sure you're on a fresh install with at least one site
- Turn on the

[2021-03-03 11:01] osullivanchris commented on #12964
Saw your comment on #14120

Might be a rare issue. But in case some default changes in future, I wonder if the position of the button could be redefined. Is it positioned X pixels below the field? Or is it positioned above the keyboard somehow?

[2021-03-03 12:13] osullivanchris commented on #14172
cc @mbshakti @mattmiklic for any opinions on either of these two options

[2021-03-03 12:25] guarani commented on #14087
Thanks @designsimply, I agree with the assessment. (I also corrected a few typos I'd made in the issue above 😄).

[2021-03-03 13:12] #13791 closed, assigned to AliAkberAakash

[2021-03-03 14:39] mbshakti commented on #14172
Would we consider something like stacking them on top of each other? It may take up too much vertical space though, and not sure how we feel about this, here's a rough mock

<img width="594" alt="Screen Shot 2021-03-03 at 9 38 12 AM" src="https://user-images.githubusercontent.com/6350997/109821812-5acc8b80-7c04-11eb-8ec5-aa8da08ac868.png">

[2021-03-03 14:50] #14178 closed, assigned to planarvoid

[2021-03-03 15:18] #13692 closed, assigned to nobody

[2021-03-03 19:11] jd-alexander commented on #14121
Good question. I will investigate this and get back to you @designsimply 🙏🏾

[2021-03-03 20:12] designsimply commented on #13685
It just means we close and mention in a comment to please re-open and create a new issue if it comes up again. 👍

[2021-03-03 20:12] #13685 closed, assigned to nobody

[2021-03-03 20:18] designsimply commented on #7928
Removing `[Status] Stale` as I believe this is still something wanted. I'll also change one of the labels from `General` to `Tech debt` (but feel free to change that back if it seems wrong).

@renanferrari since you are on Groundskeeping Android this week, could you give this issue a quick read and add any details you think might be helpful in moving it forward? My goal is to either just get feedb

[2021-03-03 20:23] designsimply commented on #5109
@planarvoid this issue is quite old but I am **so very much** in favor of improving error messaging, especially around failed image uploads, and I was wondering if you have any thoughts about how best to move this one forward or if it can be closed in favor of newer work that has already been done or is already planned? For example, I noticed https://github.com/wordpress-mobile/WordPress-Android/i

[2021-03-03 21:22] cameronvoell commented on #13003
Looks like we found another potential cause of this Exception in sentry: https://github.com/wordpress-mobile/gutenberg-mobile/pull/3205#issuecomment-790015642
 Caused by leaving the editor while an upload is ongoing.

[2021-03-03 22:01] designsimply commented on #12964
Let's see if @jd-alexander has space to do some quick research on this one during his upcoming Groundskeeping rotation that starts March 15. @jd-alexander I don't think this is a widespread issue, yet!, but would it be possible to timebox this and try to find out about how the suggestion row is positioned and whether it might be a quick fix to help users with Gboard who might be facing this issue?

[2021-03-03 23:56] renanferrari commented on #13697
I spent some time looking into this today and even though I couldn't find the root cause of the crash, I was able to locate where it originates from and to submit a PR that should prevent it from happening again: #14185

I also managed to reproduce the crash once, but couldn't find a way to do it again after that. I'm leaving some of the steps I used when the crash happened below, so maybe someone

[2021-03-04 00:10] designsimply commented on #14041
Making it so the "Site address" field will not validate if an @ symbol is included in the URL field could help, however, I will also note that in many of these cases users may still need help understanding very basic things such as the difference between an email address and a site address or help figuring out what their website address is at a very basic level because they are entering completely

[2021-03-04 00:20] renanferrari commented on #7928
Hey @designsimply 👋 Thanks for pinging me on this!

Yes, I agree with you, this is definitely something we still want. I'd say that there's still plenty of redundant logic being repeated across the app when it comes to handling events like `OnAuthenticationChanged` and `OnAccountChanged`.

Maybe the first step moving forward could be to map where we are currently listening for those events so we c

[2021-03-04 07:13] jd-alexander commented on #12964
Thanks for the ping here @designsimply I can definitely look into this during groundskeeping.

[2021-03-04 12:12] ashiagr commented on #14128
Updated design (Figma ref: I5jpMcL84tYRh3FQJZs0fF-fi-315%3A89)

<img width="436" alt="Screenshot 2021-03-04 at 5 39 37 PM" src="https://user-images.githubusercontent.com/1405144/109962085-ca2fa180-7d10-11eb-97df-369d5b6f1a25.png">

[2021-03-04 13:27] #14004 closed, assigned to zwarm

[2021-03-04 22:04] renanferrari opened #14193 "Missing file extension on media upload response causes NPE"
Sentry issue: https://sentry.io/share/issue/a5716e8df6f54651be218d1682f98dde/
User report: 3784160-zd-woothemes

[code]

Related FluxC issue: https://github.com/wordpress-mobile/WordPress-FluxC-Android/issues/1910

[2021-03-04 22:11] renanferrari commented on #14193
From what I've seen on Sentry, it seems that this is only caused on XML-RPC responses, so it's probably fair to say this only affects self-hosted sites.

I tried a few things to reproduce this, but ultimately I wasn't able to. That said, simply making the extension parameter nullable on `MimeTypes::getMimeTypeForExtension` should be enough to prevent the crash from happening.

[2021-03-04 22:12] renanferrari commented on #14193
From what I've seen on Sentry, it seems that this only happens on XML-RPC responses, so it's probably fair to say this only affects self-hosted sites.

I tried a few things to reproduce this, but ultimately I wasn't able to. That said, simply making the extension parameter nullable on `MimeTypes::getMimeTypeForExtension` should be enough to prevent the crash from happening.

[2021-03-04 23:04] renanferrari commented on #14041
Hey 👋 This is an interesting one!

The reason we accept a `@` as part of the URL is because we are currently using a validator that follows the standards defined by the [RFC 3987](https://tools.ietf.org/html/rfc3987), which is basically the document that says what should be considered a valid URL and what should not. Despite what we might think, there's a really broad range of valid URLs that are

[2021-03-05 00:18] designsimply commented on #7944
For reference, here are some screenshots I took today:

#### Account with no plans or upgrades

![image](https://user-images.githubusercontent.com/1119271/110048358-f34e3300-7d0c-11eb-9669-67e36b3adb75.png)

#### Account with a plan

![Screen Shot 2021-03-04 at Mar 4 5 07 37 PM](https://user-images.githubusercontent.com/1119271/110048098-64d9b180-7d0c-11eb-8a35-d606e832d247.png)

Because closing a

[2021-03-05 01:16] designsimply commented on #14041
@renanferrari Ah! RFC 3987! 😁  Thank you for checking in on this and adding excellent notes.

@eduardozulian after some investigation, it appears that ruling out site addresses like http://something@example.org is not a super straightforward change may not cover the use cases you've raised. I'm keen to make sure your suggestion gets seen and evaluated. Would you like to keep this case open in orde

[2021-03-05 05:00] reginabally commented on #14193
The user wrote back and said that the issue was resolved after fixing a problem on the control panel at their host.

[2021-03-05 07:22] ParaskP7 commented on #14069
Work on this issue is being temporary paused.

[2021-03-05 08:08] designsimply commented on #12341
Numbers still fairly low but the comment about media still stands.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1756432648&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%28%29">![image](https://user

[2021-03-05 08:13] designsimply commented on #9997
Here's the 90-day view right now for reference. I plan to loop back to check the numbers on this one again in a few weeks.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=%22OutOfMemoryError%22&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&wid

[2021-03-05 08:19] designsimply commented on #10169
Looping back to check on how this crash is doing, I see that there aren't any cases recorded for Android 11 in the [WORDPRESS-ANDROID-2T](https://sentry.io/share/issue/88306a09ef304935983ff86b6ebc515c/) report in the Tags section. @jd-alexander does this mean there's nothing to do app-side and it's okay to close this case? I worry because even though there may be an OS-level fix, the crash still h

[2021-03-05 08:31] designsimply commented on #14193
@reginabally can you maybe find out what they changed in their control panel? I am quite curious what solved the issue for them!

[2021-03-05 09:29] ashiagr opened #14195 "Reader: Wrong related post shown on rotation"
### Expected behavior

Given the user is on a Reader related post screen (nested at least to 2 levels), on rotating the device, last selected related post should be shown.

### Actual behavior

Given the user is on a "Reader" related post screen (nested at least to 2 levels), on rotating the device, first selected related post is shown instead of the last one.

### Steps to reproduce the behavior

[2021-03-05 10:23] #14128 closed, assigned to ashiagr

[2021-03-05 12:50] #13973 closed, assigned to ashiagr

[2021-03-05 16:27] renanferrari commented on #13761
Closing this as it seems to be a duplicate of #13271 which was fixed by #14103 and https://github.com/wordpress-mobile/WordPress-Utils-Android/pull/62.

[2021-03-05 16:27] #13761 closed, assigned to nobody

[2021-03-05 19:59] #14129 closed, assigned to zwarm

[2021-03-06 05:41] jd-alexander commented on #14121
@designsimply to answer your question, based on my investigation both the Media Library and Gutenberg Mobile utilize the same pickers which will be modified with these changes so both places will get the updated functionality as a result. Currently, the Consolidated Media Picker is powering both experiences but the previous picker design/functionality still exists for rollback purposes. You can gi

[2021-03-08 06:44] reginabally commented on #7216
From a 3-star app review, Mar 6, 2021, 20:39:

[2021-03-08 09:18] reginabally commented on #14193
@designsimply I'm curious to know too! I've sent the user a follow-up reply and asked them for more details. Thanks for the nudge!

[2021-03-08 21:16] cameronvoell commented on #14118
This sentry event is actually different than the Ticket coverd in #13003 . See this comment https://github.com/wordpress-mobile/WordPress-Android/pull/12144#issuecomment-679352923 from @mchowning

Specifically in that comment we mention that upon exiting a post in WPAndroid, if we detect difference between post data in WPAndroid and Gutenberg, we report two different events to Sentry:

1. SaveOnEx

[2021-03-08 23:06] renanferrari opened #14214 "Replace Kotlin synthetics with View Binding"
A few months ago, [Google announced](https://android-developers.googleblog.com/2020/11/the-future-of-kotlin-android-extensions.html) that Kotlin synthetics are being deprecated and support for them will be removed later this year and recommended developers to switch to View Binding.

We're planning to submit multiple PRs over the next few days, each to tackle a single area of the app. Looking into

[2021-03-09 02:43] reginabally opened #14216 ""This post no longer exists" for links that use the non primary domain"
It was reported in 3771371-zd-woothemes that when opening a link through the Chrome browser, the app shows "The post no longer exists".

### Expected behavior

I would expect the app would be able to open up the post that I clicked through the Chrome browser.

### Actual behavior

When I click a link that's pointing to the URL with a non-primary domain on Chrome browser, choose to open up with the

[2021-03-09 09:49] reginabally commented on #13989
Another report in 3805269-zd-woothemes.

[2021-03-09 13:00] eduardozulian commented on #14041
@designsimply most of the cases I've seen came from the logs directly when there was a volley error trying to access something like `http://something@example.org/xmlrpc.php`. So my assumption is that users simply don't know what went wrong and contact support saying they "can't log in".

That said, let's keep it open for now then and I'll make sure to ping other guild members to collect a few repo

[2021-03-09 14:12] #13619 closed, assigned to nobody

[2021-03-09 16:24] oguzkocer opened #14222 "Increase the severity of `UseAppTint` lint error"
While working on the composite Gutenberg build project, we came across `UseAppTint` lint error in files we have not made any changes to. We don't know why this error wasn't present before these changes and we don't think it'd be right to handle these errors as part of a larger project, so we decreased the severity of it to `warning` in https://github.com/wordpress-mobile/WordPress-Android/pull/142

[2021-03-09 19:34] designsimply commented on #14216
Thanks for including a video @reginabally!

Tested and confirmed that links opened from Chrome into the app that are pointing to the *.wordpress.com version of a URL on a site using a custom domain results in a "This post no longer exists" message.

My testing steps:

1. Be on a site with a custom domain set as the primary domain.
1. Copy the URL for any post from the site.
1. Create a new post an

[2021-03-09 19:44] designsimply commented on #14222
Adding to Groundskeeping To Do with a note that we should do this update in the rotation that starts on 2021-03-29 (as discussed in Slack 👍).

<sup>(internal reference: p1615307153317300-slack-CC7L49W13)</sup>

[2021-03-10 01:55] reginabally commented on #13239
Another case reported in 3807063-zd-woothemes. I'm seeing the same behavior on WordPress.com Reader.

Link to the post without a featured image: https://wordpress.com/read/feeds/94930564/posts/3223494127

<img width="1277" alt="Markup 2021-03-10 at 09 48 29" src="https://user-images.githubusercontent.com/40906847/110563710-a93ed480-8186-11eb-900c-1d7ac2c64988.png">

Link to the post with a feature

[2021-03-10 18:24] cameronvoell opened #14228 "Re-add Block Editor e2e test"
Previously we had an [e2e test](https://github.com/wordpress-mobile/WordPress-Android/blob/f8cda8c567968a3516dd3ca6de113c2bc5fb62ef/WordPress/src/androidTest/java/org/wordpress/android/e2e/BlockEditorTests.java#L39-L73) for opening the Block Editor and then switching to the classic editor, that test [was disabled](https://github.com/wordpress-mobile/WordPress-Android/blob/f8cda8c567968a3516dd3ca6d

[2021-03-11 07:15] aforcier opened #14234 "Stories prepublishing bottom sheet: Categories not loading"
### Expected behavior

When publishing a story, the category list should be pre-filled.

### Actual behavior

In some cases the category screen is blank in the prepublishing bottom sheet from the story creator.

Originally submitted by a user, and I was able to reproduce.

### Steps to reproduce the behavior

From a fresh install of the app:
* Enter the story creator
* Press 'publish'
* Tap the ca

[2021-03-11 11:25] ParaskP7 commented on #14069
I am currently resuming work on this issue.

[2021-03-11 16:49] jd-alexander commented on #14234
Thanks for the ping @aforcier I could take a look. I haven't looked at the categories code as yet. @zwarm let me know if you could assist with this.

[2021-03-11 19:04] develric opened #14240 "Pending drafts local notifications"
Not sure there is a real issue, but since I will not be able to look into it soon-ish, creating this so it's not lost 😄

Don't think it's urgent so adding it to GK project for now.

### Expected behavior
The following is what I understood the feature should look like (so my interpretation of it 😄 )

In Notifications settings, the `Notify me on pending drafts` flag should deactivate/activate local

[2021-03-11 21:11] aerych commented on #14240
See also:
p1615417475001800-slack-android
pcaMk7-rI-p2

[2021-03-11 22:19] designsimply commented on #14240
Interesting! I don't feel strongly about the idea of getting notifications in the app about my own pending drafts (as seen in https://github.com/wordpress-mobile/WordPress-Android/pull/4835) and I don't know how many users would like to have that, however, I very much like the suggestion to make it so site admins and editors get notifications for pending drafts submitted contributors or other user

[2021-03-11 22:35] designsimply commented on #14240
To clarify a bit, my vote would be to remove the current "Notify me on pending drafts" setting in the app in favor of waiting for https://github.com/Automattic/wp-calypso/issues/8556 to be updated and then deciding whether a separate toggle would even be needed in the app for that. It could just be a notification that you get automatically and I'm not sure whether a separate toggle would be needed

[2021-03-12 00:12] jd-alexander commented on #14234
Taking a look now, and I will create a PR once I find the solution. I will add you and @zwarm as a reviewer.

[2021-03-12 09:21] develric opened #14246 "Reader site filters: remove filter tab bar for P2s and A8C"
In the reader we already added the possibility to filter by site in Following and later in P2s and Automattic tabs.

The bottom sheet that the filter opens has tabs itself that makes sense in the `Following` page (since it has 2 inner tabs) but not much in the P2s and Automattic pages (since we have only one inner tab there

| Following | P2s |
|---|---|
| ![image](https://user-images.githubuserco

[2021-03-12 14:13] planarvoid opened #14248 "Analyze released features"
We have multiple released features that were developed behind a flag. The goal of this issue is to find out which of these issues can be removed.

[2021-03-15 06:08] reginabally commented on #14193
@designsimply This is the reply we received from the user:

It sounds like an out-of-storage issue caused by huge log files on the site. 🤔

[2021-03-15 11:31] planarvoid opened #14259 "Remove Tenor feature config and deprecated Giphy code"
Remove `TENOR_AVAILABLE` in `build.gradle` and the `TenorFeatureConfig` class since the flag was now released to everyone. Keep the firebase flag as it is necessary for the current versions.

[2021-03-15 11:38] planarvoid opened #14260 "Remove Gutenberg mentions build config flag"
The `GUTENBERG_MENTIONS` in `build.gradle` is always true. The task is to remove it and clear the unused code.

[2021-03-15 11:39] planarvoid opened #14261 "Remove homepage picker flag"
The `HOME_PAGE_PICKER` is always true in `build.gradle`. Let's remove it and cleanup the unused code.

[2021-03-15 11:40] planarvoid opened #14262 "Remove unified login/signup flag"
The UL&S is released to everyone so let's remove the `UNIFIED_LOGIN_AVAILABLE` in build.gradle and the unused code in the login library and the WPAndroid code.

[2021-03-15 11:41] planarvoid opened #14263 "Remove the `AnyFileUpload` flag"
Remove ANY_FILE_UPLOAD in build.gradle and the unused code.

[2021-03-15 12:57] #13239 closed, assigned to nobody

[2021-03-15 16:26] designsimply commented on #12239
I'm removing the high priority label for this issue because there has been no new activity on this thread and would also like to note the ask is still open for anyone to add new cases we can review.

[2021-03-15 17:27] designsimply commented on #12394
Confirmed no new occurrences in 16.3+. Closing as fixed. 🎉

[2021-03-15 17:27] #12394 closed

[2021-03-15 17:41] designsimply commented on #13273
Steady numbers but still happening in the latest release.

**Events in the last 90d:** 2,000
**Users affected in the last 90d:** 42
**Limited to:** Android 9+
<sub>WORDPRESS-ANDROID-14T: https://sentry.io/share/issue/83d65e73445b4d87ad38a068e49b2dd6/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=

[2021-03-15 17:46] designsimply commented on #13463
Looping back with a quick update. Still happening in the latest release, still limited to Samsung devices using Android 5.0.x.

**Events in the last 90d:** 892
**Users affected in the last 90d:** 190
**Limited to:** Android 5.0.x on Samsung devices
<sub>WORDPRESS-ANDROID-RW3: https://sentry.io/share/issue/1caa56f08ba140ff8ff1b53d31810f5c/</sub>

<a href="https://sentry.io/organizations/a8c/discove

[2021-03-15 17:49] designsimply commented on #13664
**Events in the last 90d:** 115
**Users affected in the last 90d:** 99
<sub>WORDPRESS-ANDROID-10NE: https://sentry.io/share/issue/762bf8571c744bd69bdc10deb8ac4f66/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2081853904&sort=-timestamp&sta

[2021-03-15 17:51] designsimply commented on #13670
**Events in the last 90d:** 69
**Users affected in the last 90d:** 68
<sub>WORDPRESS-ANDROID-11XS: https://sentry.io/share/issue/47c2547d65554997a142d75e20e342e1/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2109205049&sort=-timestamp&stat

[2021-03-15 17:54] designsimply commented on #13677
**Events in the last 90d:** 22
**Users affected in the last 90d:** 15
<sub>WORDPRESS-ANDROID-125Q: https://sentry.io/share/issue/ada09b37698d4da0a5b670d24c11454e/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2113302219&sort=-timestamp&stat

[2021-03-15 17:56] designsimply commented on #13678
**Events in the last 90d:** 15
**Users affected in the last 90d:** 5
<sub>WORDPRESS-ANDROID-128J: https://sentry.io/share/issue/9adde0d55b1f45f0aaf1962f986f4e38/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2114459505&sort=-timestamp&stats

[2021-03-15 17:57] designsimply commented on #13694
**Events in the last 90d:** 11
**Users affected in the last 90d:** 10
<sub>WORDPRESS-ANDROID-12JA: https://sentry.io/share/issue/e65894576d994842aff323cbb08e9a98/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2120368700&sort=-timestamp&stat

[2021-03-15 17:58] designsimply commented on #13695
**Events in the last 90d:** 16
**Users affected in the last 90d:** 16
<sub>WORDPRESS-ANDROID-12EQ: https://sentry.io/share/issue/d4d04f1864b1483dbff566c6033d1cd2/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2118545647&sort=-timestamp&stat

[2021-03-15 17:59] designsimply commented on #13696
Closing as there were no instances recorded for version 16.3+.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A2112591351&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%28%29">![image](https://user-ima

[2021-03-15 17:59] #13696 closed, assigned to nobody

[2021-03-15 18:02] designsimply commented on #13698
Closing because there were no new instances in versions past 16.3.

**Events in the last 90d:** 2
**Users affected in the last 90d:** 2
<sub>WORDPRESS-ANDROID-1250: https://sentry.io/share/issue/ad00b79cd8cb48e196de086fd1e55d5d/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Event

[2021-03-15 18:02] #13698 closed, assigned to nobody

[2021-03-15 18:12] designsimply commented on #12001
I looked but couldn't find a working link! Closing since it was tested several times and no one was able to replicate the bug. 👍

[2021-03-15 18:12] #12001 closed

[2021-03-15 18:18] designsimply commented on #13861
Re-tested (to double check) using 16.9-rc-1 and found that I was able to receive a push notification for a reply to a help request made with the app.

Closing as fixed. Props @zwarm. 🎉

[2021-03-15 18:18] #13861 closed, assigned to zwarm

[2021-03-15 18:37] designsimply commented on #10666
I tested this today using WPAndroid 16.9-rc-1 and found that I was unable to upload media when logged in as a contributor. I checked the Media Library and found I can see images previously uploaded on the site but I was not offered the option to upload an image from that screen.

<img src="https://user-images.githubusercontent.com/1119271/111202313-564f8d80-8589-11eb-89a2-a292fadc3f14.png" width="

[2021-03-15 18:37] #10666 closed

[2021-03-15 18:46] designsimply commented on #10292
I think needing to manually invoke the sync is exactly the problem in these cases. Users expect that if they update a post on the web that the changes will immediately and automatically sync to the app without needing to pull-to-refresh on the posts list.

[2021-03-15 18:46] designsimply commented on #10292
Removing from high priority due to inactivity and because the fix for it is project level complex and hasn't had an opportunity to get picked up yet. We need conflict resolution! 😊

[2021-03-15 19:03] designsimply opened #14266 "Reader: add back suggested posts"
This is a suggestion from someone made in an app review:

* Mar 13, 2021, 20:28
* Device: Samsung Galaxy A01
* Device language: English
* App version name: 16.8.1
* Android version (SDK): Android 10 (SDK 29)

[2021-03-15 20:14] #14259 closed, assigned to planarvoid

[2021-03-15 20:29] designsimply commented on #8404
Closing due to inactivity. Please leave a comment here if you feel strongly that this issue should be re-opened or please create a new issue with a good explanation or user quote. Thank you!

[2021-03-15 20:29] #8404 closed

[2021-03-15 21:16] mchowning commented on #10879
Closing this because we are in the process of removing the ability to turn on/off the block editor. cc: @guarani  and @cameronvoell , let me know if you think I might be missing something here.

[2021-03-15 21:16] #10879 closed

[2021-03-16 00:05] jd-alexander commented on #14234
@aforcier I have not been able to reproduce this as yet. Does this behavior exist once you uninstall APK from the emulator/device and reinstall and log in?

[2021-03-16 02:00] aforcier commented on #14234
Interesting that you can't reproduce - I just tried on a fresh install/login of 16.8.1 from the Play store and it's still happening:

![device-2021-03-16-105740](https://user-images.githubusercontent.com/9613966/111244702-c1ab6500-8646-11eb-9922-fef04f819a47.png)

(WP.com account, WP.com simple site.)

[2021-03-16 13:27] #14263 closed, assigned to planarvoid

[2021-03-16 21:09] jd-alexander commented on #14234
Okay thanks! I will work on reproducing and resolving. I will do this resolution in another PR since the bottom sheet fix is almost complete.

[2021-03-16 21:14] jd-alexander commented on #14228
@cameronvoell would it be fine to reuse the test that exists here and remove the classic editor related logic in it since it's going to be removed soon? I am going to go ahead and give this a go.

[2021-03-16 23:49] jd-alexander commented on #14234
I tried again to reproduce to no avail. I used Google Pixel 4 XL, Android 11 physical device and emulator and I also tried Google Pixel 3 XL. The code that fetches the categories from the API is here https://github.com/wordpress-mobile/WordPress-Android/blob/e796f20f39146eb92e75c8f274246f614b940ff2/WordPress/src/main/java/org/wordpress/android/ui/prefs/WPComSiteSettings.java#L226

Would you be abl

[2021-03-17 00:32] jd-alexander commented on #12964
@designsimply I have started looking into this and it won't be easy to resolve in an optimal way because from a programmatic standpoint, I don't have access to the state of the Gboard to know when the suggestions are being shown or not. I am thinking I could check the device's clipboard or the autofill framework to see if it could give some details if the user has content in their clipboard and I

[2021-03-17 11:41] #14234 closed, assigned to jd-alexander

[2021-03-17 14:30] planarvoid commented on #5109
I think the best way forward would be mapping the error messages that don't sound user friendly and create issues for Groundskeeping @designsimply ?

[2021-03-17 18:42] aerych opened #14273 "Reader: Do not show recommended posts on P2 articles"
For more discussion see: p1615940900000100-slack-wpmobile

P2 sites serve a project management function and are not your typical blog. From this perspective the recommended posts list seems out of place at the bottom of a P2 article.

Let's opt to not show recommended posts when the article belongs to a p2.

Related: https://github.com/wordpress-mobile/WordPress-iOS/issues/16114

[2021-03-17 20:16] jd-alexander commented on #13273
@malinajirka thanks for the thorough investigation you have done so far 🙇🏾

In your reproduction steps, the fact that you reproduce the crash with a 5MB post (Paste the text 50 times (50x 100kb)) is it safe to say that we could indeed increase the `5MB` cursor window to a higher value to solve the issue?

I checked around and I found folks increasing the cursor window to values between the range o

[2021-03-17 20:34] designsimply commented on #12964
@jd-alexander I realized I assumed this only affects Pixel users based on some Googling on my part, as a gut check though… do you agree it's limited in that way or do you think it might be happening for other devices? fwiw, we haven't seen any user reports about it yet (that I know of) besides the one already included above.

[2021-03-17 20:41] jd-alexander commented on #12964
Good question. Since Gboard is a keyboard that has support for a lot of device types it may be impacting other devices that choose to utilize Gboard as their default keyboard. I think Pixels get Gboard as the default. I don't think we have any metrics right now of keyboard usage. If we want to determine this, we could introduce an event in tracks that has the name of the input method.

[2021-03-17 23:41] renanferrari opened #14274 "Remove unused code from the login library"
As a follow up to #14262, after the `UNIFIED_LOGIN_AVAILABLE` flag is removed, we should also remove all the unnecessary code and resources from the login library.

[2021-03-17 23:47] jd-alexander commented on #12964
So I think we may need to rely on design changes to resolve this issue. I am not able to check if autofill or clipboard suggestions are being shown so I don't know when I should adjust the padding of the button. The methods that allow checking this value are all hidden within the Android API for internal use only.

[2021-03-18 01:09] designsimply opened #14277 "Support: text on the empty state My tickets page is unreadable white on light gray"
Steps to reproduce:

1. Change the device settings to dark theme.
1. Delete and re-install the app (if needed) to clear out any support ticket history.
1. Go to My Site > Account > Help & Support > My Tickets.
1. Try to read the text on the screen.
1. Change the device settings to light theme.
1. Try to read the text on the screen.

**Result:** in dark theme the text "Conversations started from th

[2021-03-18 06:41] aforcier commented on #13809
This should be a little bit improved once this PR lands in WP.com and Jetpack: https://github.com/Automattic/jetpack/pull/19176. (I was fixing a separate, video loading indicator issue for the block and realized it may have an effect on this issue.)

Only for stories, and only when VideoPress is enabled, the preview should show correctly in the in-app preview (once the PR has landed). This was don

[2021-03-18 10:28] #14261 closed, assigned to planarvoid

[2021-03-18 13:43] osullivanchris commented on #12964
@mattmiklic  going to tag you back in on this one as it was your baby. Sounds like an issue with Google's keyboard, we can't dynamically display the button in the right place. Would the suggestion to have it positioned below the field be acceptable?

[2021-03-18 14:02] malinajirka commented on #13273
Thanks @jd-alexander for following up on this. Your plan sounds good to me. It probably won't solve this issue entirely, but it could at least limit the number of occurrences. Let's start with the first step and monitor if it changes the trends.

[2021-03-18 14:18] aleone89 opened #14278 "Stories: Add ability to add featured image to the stories post [Enhancement]"
### Expected behaviour

When creating a story, the story will appear as an ordinary post in the blog post feed.

The expectation would be that there would be an image/snapshot taken as a featured image.

In a way I thought it would be a "Stories" post type.

### Actual behaviour

If a Blog Post Block is in use, an empty tile will show where the story appears: https://d.pr/i/9qa79b

<img width="140

[2021-03-18 14:32] aleone89 opened #14279 "Stories: Text alignment tool doesn't align text"
### Expected behavior

When creating a story and adding text > aligning text, the expectation is that the text aligns as set on the story.

Editor mode:

Left align

<img width="270" alt="https://cdn-std.droplr.net/files/acc_662189/Ewnd2Z" src="https://user-images.githubusercontent.com/1119271/112070609-a901ea00-8b33-11eb-8a17-6f363979dea2.png">

Right align

<img width="270" alt="https://cdn-std.

[2021-03-18 15:37] jd-alexander commented on #13273
Thanks for the feedback @malinajirka. Once I complete the PR, I will ask you for a review! 🙇🏾 If we notice improvements in WP Android occurrence of this after the change has been released for a while we can also introduce this change to Woo as well.

[2021-03-18 15:52] mattmiklic commented on #12964
Hmm, tough call here. The buttons are positioned at the bottom of the screen/above the keyboard to make them easier to reach when your hands are in a typing position. Moving the button up loses that for everyone, even those not affected by this bug. And makes the position inconsistent with all the other login screens.

Since you can still proceed with the blue check button on the keyboard, or tapp

[2021-03-18 18:39] jd-alexander commented on #14216
Thanks for reproducing this @reginabally and @designsimply 🔆  I have started my investigation into the issue and once it has been resolved and tested, I will provide a link to the APK so you can test while the PR is being reviewed. 🙇🏾

[2021-03-18 22:35] jd-alexander commented on #14216
I was able to resolve the issue @reginabally @designsimply 😄  . If you wish to give it a try you can [download the APK ](https://github.com/wordpress-mobile/WordPress-Android/pull/14280#issuecomment-802292230).

[2021-03-18 22:39] jd-alexander commented on #12964
Thanks for the thoughts here @mattmiklic I agree with waiting on Google to resolve the bug. They have restricted all the internal keyboard APIs that would allow us to resolve the issues anyway and we would need to make a custom keyboard to get it resolved programmatically.

Indeed! If it becomes more impactful to the flow, we could definitely make some changes but until then the existing design ca

[2021-03-18 23:57] jd-alexander commented on #10169
@designsimply Unfortunately, there's still not much we can do from the app-side of things, so it's probably best to close this case for now and hope that the OS-level fix will resolve it. I am happy that the number of users affected is holding steady.

[2021-03-19 05:40] aforcier opened #14282 "Site Settings: Categories don't load if there are more than 100"
### Expected behavior

Loading the list of categories under Site Settings for sites with a large number of categories should correctly list them.

### Actual behavior

![device-2021-03-16-105740](https://user-images.githubusercontent.com/9613966/111244702-c1ab6500-8646-11eb-9922-fef04f819a47.png)

It looks like results returned from the API are paginated to 100, but [the logic](https://github.com/

[2021-03-19 05:42] aforcier commented on #14234
Thanks for trying @jd-alexander - after trying this again and not reproducing initially I did some troubleshooting and found the cause. It's completely unrelated to the issue that was fixed in #14242, and only happens for sites with over 100 categories 😅 (and when I was testing the original issue I happened to be using a test site with 300+ categories).

I filed this here as a separate issue: http

[2021-03-19 05:51] jd-alexander commented on #14234
Okay great. I am so happy that you were able to figure it out @aforcier because I was pulling out my hair wondering how I can't reproduce it 😆

[2021-03-19 16:11] jd-alexander commented on #14282
In the `fetchCategories` method there is [a comment](https://github.com/wordpress-mobile/WordPress-Android/blob/8fadaa0ec3deb0e34d81985697ecf186a9ce02bc/WordPress/src/main/java/org/wordpress/android/ui/prefs/WPComSiteSettings.java#L207) about utilizing FluxC for this behavior.

There is a likelihood that this might fix the issue because this FluxC logic is being used to pull down the very categori

[2021-03-19 19:58] aerych commented on #14273
Closing. See p1616180676023700-slack-wpmobile

[2021-03-19 19:58] #14273 closed, assigned to nobody

[2021-03-21 16:24] SiobhyB commented on #8459
@malinajirka, sorry that I missed your ping originally! I was on sabbatical at the time and pretty much wiped all emails when I was back. 🤦‍♀️ I'm seeing the "missing XML-RPC methods" error when testing a few examples but there also still seem to be some cases where the generic "couldn't connect to WordPress site" error is show, such as the site listed in 3829320-zen. I also see a more recent issu

[2021-03-22 10:19] #14262 closed, assigned to renanferrari

[2021-03-22 13:09] ParaskP7 opened #14291 "Jetpack App"
This is the main project issue for the `Jetpack App` project.

Project Thread: `pcdRpT-93-p2`

### Task

- [x] Basics: #14293 ⚙️
- [ ] Emphasis: #14294  ⚙️
~~- [ ] IAP: #14295~~ Note: This will be a separate issue when the time comes

[2021-03-22 13:11] #14260 closed, assigned to planarvoid

[2021-03-22 13:12] planarvoid opened #14292 "Remove consolidated picker flag"
The consolidated media picker was released to everyone so this task is to remove the flag and the now unused code

[2021-03-22 13:14] ParaskP7 opened #14293 "Jetpack App: Basics"
Parent: #14291

This is the main project issue for the `Jetpack App: Basics` project.

Internal Link: `pcdRpT-gx-p2`

### Platform9 Tasks
- [x] Jetpack App (Basics): Merge Jetpack App Branch (Into Develop) #14411 @jkmassel @ParaskP7
~~- [ ] Jetpack App (Basics): Configure Google API #14336~~
~~- [ ] Jetpack App (Basics): Configure Firebase #14308~~
- [X] Jetpack App (Basics): Configure CI #14309
~

[2021-03-22 13:15] ParaskP7 opened #14294 "Jetpack App: Emphasis"
Parent: #14291

This is the main project issue for the `Jetpack App: Emphasis` project.

#### Internal Links
- Jetpack App i5: Emphasis (pcdRpT-iP-p2)
- Jetpack App i5 final wrap up comment (pcdRpT-iP-p2#comment-311)

#### Raven Tasks
- [x] Jetpack App (Emphasis): Hide Reader #14508 @ashiagr
- [x] Jetpack App (Emphasis): Remove FAB from My Site #14509 @ashiagr
- [x] Jetpack App (Emphasis): Hide Qu

[2021-03-22 13:18] ParaskP7 opened #14295 "Jetpack App: IAP"
This is the main project issue for the `Jetpack App: IAP` project.

Internal Link: TODO

### Platform9 Tasks
- [ ] TODO

### Backend Tasks
- [ ] TODO

### Raven Tasks
- [ ] TODO

[2021-03-22 13:30] ParaskP7 opened #14296 "Jetpack App (Basics): Create Main Feature Branch"
Parent: #14293

- Create `feature/jetpack-app-basics` branch.
- Create `feature/jetpack-app-basics-init` branch.
- Create new product flavor dimensions (`app` dimension with `wordpress` and `jetpack` values).
  - Find `applicationId` (what is the equivalent of `org.wordpress.android` for the Jetpack app).
  - The `applicationId` for the Jetpack app should be: `com.jetpack.android`
  - Update other

[2021-03-22 13:35] ParaskP7 opened #14297 "Jetpack App (Basics): Create All `jetpack` Product Flavor Res Structure"
Parent: #14293

You should do the following for the parent `jetpack` and children `jetpackJalapeno` and `jetpackWasabi` product flavors:
- Setup the res directory structure.
- Setup the `icons` directories (`drawable`, `mipmpa-xyz`).
- Setup the `values` directory (`strings.xml`).
- Setup the `xml` directory (`shortcut.xml`).

[2021-03-22 13:51] ParaskP7 opened #14298 "Jetpack App (Basics): Create Base Color Structure"
Parent: #14293

- Update `styles.xml` to extract primary/secondary colors to become placeholders.
- Update `colors.xml` for WordPress app.
- Add `colors.xml` for Jetpack app.
- Add `themes.xml` for the WordPress Login library.
- Make sure to add all the related values directories for various device configuration (`values-night`, `values-v23`, etc).

[2021-03-22 13:53] ParaskP7 opened #14299 "Jetpack App (Basics): Handle Sites"
Parent #14293

- Research requirements.
- Remove `Connect another site` from the epilogue.
- Restrict app to only show Jetpack Sites.
- Disable ability to create a new site.
- Update API's to filter for Jetpack blogs only. We can use same logic cloud.jetpack.com uses (`me/sites?filter=jetpack`).

[2021-03-22 14:02] ParaskP7 opened #14300 "Jetpack App (Basics): Update Stats Colors"
Parent: #14293

As per the feedback from @osullivanchris, the stats change for the Jetpack app would be changing the all `blue` colors to `jetpack_green` and keeping the WordPress app all `ping` colors unchanged.

[2021-03-22 14:05] ParaskP7 opened #14301 "Jetpack App (Basics): Update MySite Tab Icon"
Parent: #14293

Change the MySite icon for Jetpack to the Home icon. Text stays as "My Site"

[2021-03-22 14:07] ParaskP7 opened #14302 "Jetpack App (Basics): Update Login UI"
Parent: #14293

- [x] - Update prologue messages (for more info refer to `pcdRpT-ld-p2`).@ashiagr
- [x] - Update prologue Images (for more info refer to `pcdRpT-ld-p2`). @ashiagr
- [x] - Update no jetpack sites view @zwarm
- [x] - Update missing jetpack view @zwarm
~~Review existing verbiage for entering email address and update verbiage to reflect no signup.~~ Confirmed with iOS that no changes a

[2021-03-22 14:09] ParaskP7 opened #14303 "Jetpack App (Basics): Handle Login"
Parent: #14293

Option 1 (not pursuing)
- Restrict to WP.com login only
- Disable sign up during login, if possible
- Display an error if the user logs in without any Jetpack sites available
- Disable social logins

**Option 2 - To be implemented for Basics** [See for discussion](https://wp.me/pcdRpT-kx)
The first 3 tasks are in PR #14459
* Add an epilogue screen that is displayed when the user do

[2021-03-22 14:11] ParaskP7 opened #14304 "Jetpack App (Basics): Disable Ability to Create a New Site"
TODO

[2021-03-22 14:18] ParaskP7 opened #14305 "Jetpack App (Basics): Update App Icons"
Parent: #14293

Based on the new Jetpack app icons (provided by @osullivanchris), this task is about updating the current temporary ones with these updated ones (see attached `.zip` file).

[jetpack_app_icons(svg).zip](https://github.com/wordpress-mobile/WordPress-Android/files/6309977/jetpack_app_icons.svg.zip)

[2021-03-22 14:20] malinajirka commented on #8459
No worries at all @SiobhyB! These two issues seem quite similar. I'd suggest closing this one as you suggested. We might also consider assigning the other issue to groundskeeping if you feel it should be prioritized. Wdyt?

[2021-03-22 14:23] ParaskP7 opened #14306 "Jetpack App (Basics): Handle Widgets"
Parent: #14293

- Disable widgets in Jetpack App

[2021-03-22 14:26] #14304 closed, assigned to nobody

[2021-03-22 14:31] ParaskP7 opened #14307 "Jetpack App (Basics): Update Notifications Colors"
Parent: #14293

Color Updates:
- Background color: No updates ✅
- Notification badge icon color: Update from blue (`primary`) to 🟢 (`colorPrimary`) ✅
- Notifications tab badge/dot icon color: Update from pink (`accent`) to 🟢 (`colorPrimary`) ✅

The notifications tab badge/dot for the Jetpack app can go 🟢 (from the WordPress app pink dot).
- WordPress: accent (`ping_50` for both the light and dark

[2021-03-22 14:54] ParaskP7 opened #14308 "Jetpack App (Basics): Configure Firebase"
Parent: #14293

TODO

- `google-services.json` file for `com.jetpack.android`.
- Push notifications configuration.
- Remote config configuration.

[2021-03-22 14:55] ParaskP7 opened #14309 "Jetpack App (Basics): Configure CI"
Parent: #14293

TODO

[2021-03-22 14:55] ParaskP7 opened #14310 "Jetpack App (Basics): Configure WPCom API"
Parent: #14293

TODO

- WPCom API key.

[2021-03-22 14:56] ParaskP7 opened #14311 "Jetpack App (Basics): Configure Logging"
Parent: #14293

TODO

- Encrypted log key.

[2021-03-22 14:56] ParaskP7 opened #14312 "Jetpack App (Basics): Configure Tenor"
Parent: #14293

TODO

- Tenor API key.

[2021-03-22 14:57] ParaskP7 opened #14313 "Jetpack App (Basics): Configure Sentry"
Parent: #14293

TODO

- Sentry DSN.

[2021-03-22 14:59] ParaskP7 opened #14314 "Jetpack App (Basics): Configure Zendesk"
Parent: #14293

Change the subject from "WordPress for Android Support" to "Jetpack for Android Support" (the latter without internationalization).

### To test

1. Contact the support from the Jetpack app and enter your message
2. Check that the ticket was sent with the "Jetpack for Android Support" subject'
3. Contact the support from WP app
4. Check that the ticket was sent with "WordPress for

[2021-03-22 15:00] zwarm opened #14315 "Jetpack App (Basics): Update About the App"
Parent #14293

App Settings: About the App Section
- [ ] Update WordPress for Android
- [ ] Update Open source licenses

|Wordpress for |open source
|---|---
|![light](https://user-images.githubusercontent.com/506707/112011405-a042f100-8afe-11eb-82be-deb043707dd7.png)|![dark](https://user-images.githubusercontent.com/506707/112011415-a20cb480-8afe-11eb-816a-006e5df6f6bf.png)

[2021-03-22 15:44] planarvoid opened #14318 "Remove WP Stories feature flag"
The task is to remove `WPStoriesFeatureConfig` and the now unused code.

[2021-03-22 17:59] guarani opened #14319 "Log In screen displaying site address path components"
### Expected behavior

When logging into a site using a URL that includes path components (e.g. https://example.com/wp-admin/index.php), it would be nice if the app could remove these components when displaying the site address

### Actual behavior

The app shows a message on the Log In screen which includes path components (if present), which feels a bit verbose and distracting.

### Steps to rep

[2021-03-22 23:32] designsimply commented on #14282
🤔 not _exactly_ the same, but this should be tightly coupled with https://github.com/wordpress-mobile/WordPress-Android/issues/11843.

[2021-03-22 23:56] designsimply commented on #8459
+1 to closing in favor of https://github.com/wordpress-mobile/WordPress-Android/issues/12401 and adding to Groundskeeping. I'll do both. 👍

[2021-03-22 23:56] #8459 closed

[2021-03-23 00:44] JavonDavis opened #14323 "Crash in signed build when Me button is tapped"
### Expected behavior

App should not crash when clicking MeButton

### Actual behavior

App crashes when Me button tapped

### Steps to reproduce the behavior

1. Download signed 17.0-rc-1 build from the releases page
2. Sign in and tap the Me button in the top right from the My Site page

##### Tested on [device], Android [version], WPAndroid [version]
Google Pixel 4a, Android 11, 17.0-rc-1

Sen

[2021-03-23 09:44] #14292 closed, assigned to planarvoid

[2021-03-23 11:02] planarvoid opened #14326 "Remove the follow/unfollow comments flag"
The task is to remove the `FollowUnfollowCommentsFeatureConfig` since it's now released for everyone.

[2021-03-23 11:38] antonis opened #14327 "Desktop preview allows horizontal scrolling on some devices"
### Expected behavior
Desktop preview fits to screen on all devices and does not allows horizontal scrolling.

### Actual behavior
Desktop preview does not fit to taller screen and allows horizontal scrolling (internal report: `pbMoDN-28i-p2#comment-4192`)

![20210305_015736](https://user-images.githubusercontent.com/304044/112139983-16695580-8bdc-11eb-9b1a-678e3d7e23e0.gif)

### Steps to reproduc

[2021-03-23 14:06] sentry[bot] opened #14329 "IllegalArgumentException: You cannot start a load for a destroyed activity"
Sentry Issue: [WORDPRESS-ANDROID-1786](https://sentry.io/organizations/a8c/issues/2237585123/?referrer=github_integration)

[code]

[2021-03-23 15:04] SiobhyB commented on #14041
I'm just noting a conversation related to this at pbArwn-1Uo-p2#comment-2710, where more examples of users entering their email address into the form were found by searching our ticket system for tickets tagged `origin:login-site-address` e.g. 3833080-zen

In some of these cases, I get a sense that the users may be trying to set up sites or accounts from scratch, though it could also be the case t

[2021-03-23 15:09] SiobhyB commented on #12401
Noting some discussion around this in pbArwn-1Uo-p2#comment-2710. It seems that although there have been some improvements to the messaging in these cases (see: https://github.com/wordpress-mobile/WordPress-Android/issues/8459), there are still times where the generic error message is displayed and leading to confusion. A recent example of a site with the problem can be found in the site listed in

[2021-03-23 15:45] designsimply commented on #14323
This is happening for me on both Pixel 3 and 4 with 17.0-rc-1 but it did not happen when I tested with 16.9-rc-3. Great catch!

(Aside: search for `29f7320469f14d5c9ba10991b9ff1342` in Sentry to see an example crash from my test user `design5279` for this case.)

[2021-03-23 16:37] renanferrari commented on #14323
Thanks for the opening this issue! I can confirm I was able to reproduce this issue and that the assumptions in #14324 are correct in that Proguard really is removing the `MeFragment`.

I just spent some time investigating this to make sure I understand what was causing this and I now believe I do.

**The problem**

Looking at the Sentry crash report, I was able to find that the crash was related

[2021-03-23 16:47] mzorz commented on #11223
Taking these comments above in consideration:

(proposed solution by @malinajirka )

I can add we do have a mechanism of the sorts in the Stories library that performs a check for insufficient storage and offers to open the Storage section of your device's Settings app. See this PR https://github.com/Automattic/stories-android/pull/300 for implementation details, and here's the specific [technical

[2021-03-23 17:06] SiobhyB opened #14331 "Enhancement: Display Notice for Featured Image's Recommended/Required Size/Dimensions"
### Expected behavior

If a theme requires featured images to be a certain size and a user attempts to upload an image outside of that size, then they are usually notified via a notice in the post editor's sidebar. Notices around recommended sizes for featured images are also sometimes incorporated in SEO plugins, for example, [the official AMP plugin](https://en-gb.wordpress.org/plugins/amp/).

I

[2021-03-23 17:52] JavonDavis commented on #14323
Thanks @renanferrari! Great work tracking down that bug report and writing all this up. I'll sync with the other platform engineers on what we can do as it relates to the suggested solutions. cc @wordpress-mobile/release-managers...

For now I've upgraded the PR to cover not only the MeFragment but all classes that extend Fragment, I think this should be a more wholesome solution.

[2021-03-23 19:24] khaykov commented on #14019
Done in #14140

[2021-03-23 19:24] #14019 closed, assigned to khaykov

[2021-03-23 20:23] designsimply commented on #10169
I've discussed this internally and we decided to keep it open for now but add notes/labels to indicate we don't think it's actionable in the sense we cannot fix it from our side. We'll circle back to it in another future triage and see what's what at that point.

<sup>(internal reference/private channel: p1616519425037100-slack-GDQDH5HP1)</sup>

[2021-03-23 21:28] eduardozulian commented on #14041
Another case in 3842207-zen

[2021-03-24 06:19] #14216 closed, assigned to jd-alexander

[2021-03-24 09:20] ParaskP7 opened #14336 "Jetpack App (Basics): Configure Google API"
Parent: #14293

TODO

- Login client ID.
- Login scheme ID.
- Login server client ID.

[2021-03-24 14:00] #14274 closed, assigned to renanferrari

[2021-03-24 18:43] cameronvoell commented on #13361
Hi @renanferrari, I was able to find an arguably worse version of this issue that likely has the same underlying cause as this issue: https://github.com/wordpress-mobile/gutenberg-mobile/issues/3177.

It can only be re-created with very large posts, so investigating it likely will involve debugging the autosave handoff between Aztec, Gutenberg, and WPAndroid that should ideally be made immune to p

[2021-03-24 18:59] #14318 closed, assigned to planarvoid

[2021-03-24 19:23] mzorz commented on #13677
Checked this - this consistently happens in low memory situations and is not at all seen frequently. Last occurence is 13 days ago. We can close this one as per discussed ref`pbMoDN-2bA-p2` cc @designsimply

[2021-03-24 19:23] #13677 closed, assigned to mzorz

[2021-03-24 19:25] mzorz commented on #13678
This also has very few occurences (last one 15 days ago) Closing as discussed in `pbMoDN-2bA-p2` cc @designsimply

[2021-03-24 20:03] #13670 closed, assigned to mzorz

[2021-03-24 21:29] designsimply commented on #14329
This is showing as new in 16.8.1 so we should definitely have a look.

@mzorz @fluiddot what's the best way to look for a potential culprit for this crash since there are cases recorded for it in 16.8.1 but not any for 16.8 (at least so far)? I tried doing a compare of those release tags and landed on [this result](https://github.com/wordpress-mobile/WordPress-Android/compare/16.8...16.8.1) 🤔  but

[2021-03-24 21:39] designsimply commented on #63
<sup>play-store-reviewId=gp%3AAOqpTOHWLpnSvsW5piKuQNtP49n2lnMYtxwl0VByDbGdw4DLyX7afkwFi0VH7Vwpu9qCEI29kbRyrVUo5vZcb4uC</sup>

[2021-03-24 22:35] designsimply commented on #11223
It happens to users enough times a day that I think it might be worth considering trying it in an area we think would be the most impactful. My best guess is that an "insufficient device storage" notice would be most useful to users in the editor when attempting to upload media. @yaelirub I would love to get your input on this one—do you think this one's worth pursuing? Is the idea to start with j

[2021-03-24 22:57] yaelirub commented on #11223
I think we should implement this dialog. Since like @mzorz mentioned its already implemented in stories this should be fairly straight forward.

I'm seeing a lot of ENOSPC errors with logs so I think we should look into @malinajirka's note:

@renanferrari , can you please give this priority.

[2021-03-25 07:09] mzorz commented on #14329
Looking into it - I think it may be unrelated (or at least not directly related). Just for completeness / follow up, the actual changes mentioned for 16.8.1 can be seen here:
- Gutenberg PR: https://github.com/WordPress/gutenberg/pull/29626/
- Mobile gutenberg PR: https://github.com/wordpress-mobile/gutenberg-mobile/pull/3227

I'll continue investigating and come back here

[2021-03-25 07:41] mzorz commented on #14329
Ok I found the culprit, this issue was actually showing since last month in 16.8-rc-1, PR coming soon explaining the issue 👍

[2021-03-25 07:54] mzorz commented on #14329
PR and explanation ready here https://github.com/wordpress-mobile/WordPress-Android/pull/14345 cc @designsimply - I'm aiming at `release/17.0` since Media is an important part of the app 👍

[2021-03-25 08:31] fluiddot commented on #14329
The version `16.8` wasn't released in favor of `16.8.1` so any issues we might find caused by changes in `16.8` will be tagged with `16.8.1`.

Thank you very much @mzorz for checking this and creating the fix 🙇 !

[2021-03-25 10:31] mzorz opened #14347 "Tabs for comments filters don't keep the list's scrolling position on orientation changes"
See related PR where the feature was introduced https://github.com/wordpress-mobile/WordPress-Android/pull/14140

### Expected behavior
When changing the device orientation, I expect the scroll placement on the list I'm looking at to be kept.

### Actual behavior
The list is scrolled all the way up to the first element.

https://user-images.githubusercontent.com/6597771/112458851-049ec400-8d3c-11e

[2021-03-25 11:39] develric opened #14348 "Notification not kept correctly on double config changes"
### Expected behaviour
In the notifications screen, if I tap on a notification and get the notification details screen, I expect to be able to swipe between notifications even with multiple configuration changes in between (like display rotation)

### Actual behaviour
In the notifications screen, if I tap on a notification and get the notification details screen, after double configuration changes

[2021-03-25 12:21] mzorz commented on #14347
Also note:

Selecting (action mode) state is lost as well when testing 17.0-rc-2

[2021-03-25 13:26] mzorz opened #14350 "[Login] Button covered by keyboard in 2FA authentication code screen"
### Expected behavior
Button should be visible after entering code so I can tap on it

### Actual behavior
Button is half covered by the numeric  keyboard
![Screenshot_20210325-103608](https://user-images.githubusercontent.com/6597771/112480079-6b2fdc00-8d54-11eb-90ff-b3dcd382bce0.png)

### Steps to reproduce the behavior
1. enable 2fa
2. login to the WPAndroid app
3. observe the screen when the a

[2021-03-25 13:46] mzorz commented on #13662
I was able to reproduce this one on [`17.0-rc-2` ](https://github.com/wordpress-mobile/WordPress-Android/releases/tag/17.0-rc-2)

[code]
Steps to reproduce:
1. create a story and publish it
2. create a new Post
3. observe the crash

[2021-03-25 14:26] khaykov commented on #14347
Thanks for reporting this one, @mzorz ! Just for a context, this is preexisting behavior, and not related to the comment filters :) We are planing to address this in the near future.

[2021-03-25 14:51] mzorz commented on #14347
🤦 I totally missed reading the preceding text - very sorry @khaykov and thanks for your kind clarifying comment here! 🙇 (from https://github.com/wordpress-mobile/WordPress-Android/pull/14140)

[2021-03-25 16:15] mzorz commented on #14329
Closing via https://github.com/wordpress-mobile/WordPress-Android/pull/14345

[2021-03-25 16:15] #14329 closed, assigned to mzorz

[2021-03-25 17:14] malinajirka commented on #11223
Just a quick note - If I recall correctly, @planarvoid already made some modifications to the logs -> we used to store 30 log files, but we are storing only the last 5 files now. Having said that, we might still want to verify that their size is within reasonable bounds and is not causing these crashes.

[2021-03-25 18:00] renanferrari commented on #11223
@yaelirub Thanks for pinging me on this!

I'm going to check on what we need to do to implement a dialog similar to the one implemented on stories and also, as @malinajirka suggested, I'm going to look into the work @planarvoid did on reducing application logs size and try to understand if there's anything we can pinpoint there.

[2021-03-25 20:50] sakets3010 commented on #14350
@mzorz i would like to work upon this feature.

[2021-03-26 15:39] khaykov opened #14357 "Show illustration in No Network empty view in Comment List"
Currently, we show simple "Not Network" text message in Comment List empty view. On other screens we add an illustration to it, so it makes sense to align Comment List empty view behavior with the rest of the app.

[2021-03-26 20:09] #14348 closed, assigned to nobody

[2021-03-26 20:42] renanferrari commented on #11223
I was investigating this issue and looking at the latest Sentry logs and it looks like this problem is [much less frequent in the latest versions of the app](https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=ENOSPC+%28version%3A%2216.8%2A%22+OR+version%3A%2216.9%2A%22%29

[2021-03-26 21:44] yaelirub commented on #11223
Yes but on Groundskeeping. cc: @designsimply

[2021-03-29 08:38] planarvoid opened #14362 "Investigate current emails and their deeplink handling"
Look into emails sent to new users and possible improvements with deeplink handling withing the Android app

[2021-03-29 09:55] mzorz commented on #13662
Closing via #14351

[2021-03-29 09:55] #13662 closed, assigned to nobody

[2021-03-29 16:58] antonis opened #14364 "Horizontal scroll position after orientation change in layout picker and site creation design picker"
### Expected behavior
Horizontal scroll position of thumbnails is preserved after screen rotation.

### Actual behavior
Horizontal scroll position of thumbnails is not preserved on configuration change, even if you select a theme. It is expected to see the theme even after screen rotation.
Vertical Scroll position is not preserved in the most accurate way after configuration change either.

### St

[2021-03-29 19:28] oguzkocer commented on #14222
Fixed in https://github.com/wordpress-mobile/WordPress-Android/pull/14366.

[2021-03-29 19:28] #14222 closed, assigned to nobody

[2021-03-29 19:35] mzorz commented on #12341
This is interesting! This crash was happening [here:](https://github.com/wordpress-mobile/WordPress-Android/blob/4a6df393d07cf6363da6070f2bb513830dd33bec/WordPress/src/main/java/org/wordpress/android/ui/uploads/UploadService.java#L625-L627
)

[code]

This one was still like this in [16.8.1](https://github.com/wordpress-mobile/WordPress-Android/releases/tag/16.8.1)

But it was changed recently as p

[2021-03-29 19:35] #12341 closed

[2021-03-30 06:45] #14069 closed, assigned to ParaskP7

[2021-03-30 11:51] planarvoid opened #14371 "Handle "Create a site" deeplink"
When a user has an account without a site, they're sent an email that links to the "Create site" flow. These links are now handled in the browser. We want to add a deeplink handling to the app so that these links now link to the in-app "Create site" flow.

[2021-03-30 12:54] mzorz commented on #13809
I've only managed to scratch the surface on this one and wondered if we haven't tried this before, maybe we could try the suggestion in this [SO comment]( `Add #t=1 after src in html file <source src="xyz.mp4#t=1" type="video/mp4">`), wdyt?

[2021-03-30 14:46] SiobhyB commented on #8767
I can still replicate this issue on a Pixel 5, Android version 11, and version alpha-285 of the WordPress app.

I tested with [the Photos theme](https://wordpress.com/theme/photos) active and you'll see that the Post Format options still display under the _Post Settings_ screen, even though that theme doesn't support them:

<img src="https://user-images.githubusercontent.com/2998162/113005711-9e1b

[2021-03-30 14:59] SiobhyB commented on #8598
I can confirm that this is still an issue with the classic editor. Here are screenshots taken while testing with German enabled on a Pixel 5, Android version 11, and version alpha-285 of the WordPress app:

| List  | Headings |
| ------------- | ------------- |
| <img src="https://user-images.githubusercontent.com/2998162/113009442-da9c3600-916f-11eb-8def-bd53c8375fde.png" width="100%"> | <img src

[2021-03-30 18:10] SiobhyB commented on #8924
I'm still able to replicate this by following the initial steps of attempting to add any tag with a `<` via the Post Settings screen.

I tested on a Pixel 5, Android version 11, and version alpha-285 of the WordPress app.

I also checked the web version of the issue (Automattic/wp-calypso#28974) and see that's since been resolved. I'm able to add tags with a `<` via Calypso now with no issues.

[2021-03-30 18:59] AmandaRiu commented on #13361
I tested the following scenarios on a Pixel 4 running Android 11:
- Created a new post using the Gutenberg demo app initial html on the web and then pulled it down to the device. I inserted a new paragraph block to the beginning of the post, added some text, and then clicked preview. The preview was updated with the new text. I tried different timings to see if I could somehow not have the update

[2021-03-30 18:59] khaykov opened #14372 "Comment Filed not cleared after reply in Comment Details"
After you submit a reply from Comment Details, input field is not cleared in certain conditions.

Steps to reproduce:
- Open Comment list from My Site screen.
- Make sure you have more then 3 comments.
- Open second comment in the list.
- Wire a reply and submit it.
- Notice that the  comment you submitted was not cleared from the edit text field.

I can speculate that this is related to multiple

[2021-03-30 19:05] cameronvoell commented on #13003
We had potential steps for reproducing exiting a page without autosaving, with steps detailed in this comment here (attempting to publish a specific page template: https://github.com/wordpress-mobile/WordPress-Android/pull/14231#issuecomment-797227717. I was unable to reproduce.

A previous issue with publishing empty page templates was fixed here: https://github.com/wordpress-mobile/WordPress-And

[2021-03-30 22:05] AmandaRiu commented on #13793
Tested the following scenarios on a Pixel 4 running Android 11:
- Edit a post using the Desktop app then open on mobile. **Only updates after a PTR on the posts list. Expected**
- Edit a post on mobile but don't save it (local changes). Edit the same post on Desktop and publish. **Refreshing the lists of posts mobile shows a version conflict as expected.**
- Edit a post on the web then refresh the

[2021-03-30 22:05] #13793 closed, assigned to nobody

[2021-03-30 22:28] AmandaRiu commented on #13353
Tested on an emulator running Android 11 and this is still an issue when selecting a webp image via Photos. Looking at the notes on this ticket it seems this is already known and the next step is to figure out what the error message should say.

<img src="https://user-images.githubusercontent.com/5810477/113064781-b4819080-9185-11eb-959c-1cacf308b643.png" width="300"/>

Pinging @planarvoid  as it

[2021-03-30 22:32] jd-alexander commented on #10953
I tested this on WPAndroid alpha-285, Pixel 3a, Android 11.

I was not able to reproduce this issue. I set both my phone and self-hosted site to the Tokyo timezone and both posts I published reflected the right timezone.

[2021-03-30 22:44] jd-alexander commented on #10911
I tested this on WPAndroid alpha-285, Pixel 3a, Android 11.

I was not able to reproduce this issue. I followed the instructions as described in the issue.

1. I switched to a site that was already hidden and I was able to successfully create and publish posts.
2. I also made a visible site hidden and executed the same actions and noticed no issues.

[2021-03-31 03:22] jd-alexander commented on #10881
Heads up that I am doing an audit of several tickets in this repo that has been opened for a long time and this is an item in this list. If this helps, we have disabled the option to switch to the classic editor https://github.com/wordpress-mobile/WordPress-Android/pull/14334 and we have added a deprecation notice for our users https://github.com/wordpress-mobile/WordPress-Android/pull/14205 so th

[2021-03-31 03:31] jd-alexander commented on #10772
I tested this on WPAndroid alpha-285, Pixel 3a, Android 11.

I wasn't able to reproduce this bug with the Aztec editor. What I did notice was the thumbnail was not being shown at all for videos added to posts once I saved/published the post. Due to the fact that this editor is being depreciated #14334 #14205 and will only remain for older posts, do we want to close this issue?

[2021-03-31 03:35] jd-alexander commented on #10655
I tested this on WPAndroid alpha-285, Pixel 3a, Android 11.

I checked on `develop` and this behavior still exists so I think this issue can remain open for further investigation in the future if the need arises due to user requests or breakage in any flows that may rely on this behavior.

[2021-03-31 04:12] jd-alexander commented on #10527
I tested this on WPAndroid alpha-285, Pixel 3a, Android 11.

I used the steps here in an attempt to reproduce this issue. I am happy to report that it no longer exists as there's now a network connection check that is done before allowing post edits while the app is within this state, so I am going to be closing this issue.

<kbd><img src="https://user-images.githubusercontent.com/1509205/11308938

[2021-03-31 04:12] #10527 closed

[2021-03-31 04:36] jd-alexander commented on #10466
I tested this on WPAndroid alpha-285, Pixel 3a, Android 11.

I followed these reproduction steps and this bug still exists within the app.

[2021-03-31 07:26] reginabally opened #14374 "WordPress.com Plans page update required"
The WordPress.com Plans page on WPAndroid app (My Site > Plan) is showing outdated information. The WordPress.com Blogger plan is no longer available but it appeared twice on this page.

![Screenshot_2021-02-02-11-24-35-44_1cdbe7dded7ec259ed1024b4ff1ae8db](https://user-images.githubusercontent.com/40906847/113106261-249b1f80-9235-11eb-87d2-991e79dd87a8.jpg)

On the other hand, the WordPress.com Pe

[2021-03-31 08:50] planarvoid commented on #13353
I think this could be handled in Groundskeeping, wdyt @AmandaRiu ?

[2021-03-31 08:53] #14326 closed, assigned to planarvoid

[2021-03-31 08:54] #14362 closed, assigned to planarvoid

[2021-03-31 10:33] hypest commented on #6011
I've verified that the issue still exists, and also verified the [settings based way Rachel's mentioned above](https://github.com/wordpress-mobile/WordPress-Android/issues/6011#issuecomment-439850498) works.

Device: Pixel 2XL
OS version: Android v11
App version: 17.0-rc-2

The app doesn't receive the user role nor the capabilities from a self-hosted site (not even when the role is set to Editor f

[2021-03-31 10:46] hypest commented on #6640
Can't replicate on alpha-280. The featured image setting properly seems to update in my testing. Closing as fixed!

[2021-03-31 10:46] #6640 closed

[2021-03-31 11:46] hypest commented on #7729
Still happening in my testing. Also, there's the [same issue on WPiOS](https://github.com/wordpress-mobile/WordPress-iOS/issues/10188).

That said, we nowadays have a pre-publishing dialog that indeed shows that the datetime is older than the current datetime, though it doesn't highlight it in any particular way. What I'm trying to say is that the user can notice that and change on the spot actual

[2021-03-31 14:01] ParaskP7 opened #14377 "Jetpack App (Basics): Configure Release/Beta Lane"
Parent: #14293

We need to configure our CI Infrastructure to support the new Jetpack flavor and incorporate this into our current release processes.

[2021-03-31 14:06] ParaskP7 opened #14378 "Jetpack App (Basics): Update Illustrations"
Parent: #14293

TODO

[2021-03-31 14:07] ParaskP7 opened #14379 "Jetpack App (Basics): Handle Notifications"
Parent: #14293

- [x] Add new AppKey for `com.jetpack.android`  #14468

[2021-03-31 14:17] ParaskP7 opened #14380 "Jetpack App (Basics): Update Base Colors"
Parent: #14293

This task is based on `pcdRpT-k6-p2#comment-321` where it is described in more details what base color values to use on the Jetpack app:

| Base Color | Light Theme | Dark Theme
-----|-----|-----
colorPrimary|jetpack_green_50 (`#008710`)|jetpack_green_40 (`#069e08`)
colorPrimaryVariant|jetpack_green_40 (`#069e08`)|jetpack_green_50 (`#008710`)
colorSecondary|jetpack_green_50 (`#0087

[2021-03-31 14:28] ParaskP7 opened #14382 "Jetpack App (Basics): Update Link Colors"
Parent: #14293

As per feedback from @osullivanchris, links will continue to be shown in their default color (which is `colorPrimary` or `jetpack_green_50` for the Jetpack app) at all places except on the Gutenberg editor.

Internal reference: `p1619187309233400-slack-C0180B5PRJ4`

[2021-03-31 14:34] ParaskP7 opened #14383 "Jetpack App (Basics): Update Tab Colors"
Parent: #14293

This task is based on `pcdRpT-if-p2#comment-312` where it is described in more details what tab color values to use on the Jetpack app, and why. Also, it was mentioned on `pcdRpT-k6-p2` that rather than having green as the active colour for the bottom tab bar, use black (white in dark mode).

[2021-03-31 14:37] ParaskP7 opened #14384 "Jetpack App (Basics): Update Settings Colors"
Parent: #14293

This task is based on `pcdRpT-if-p2#comment-312` where it is described in more details what settings header color values to use on the Jetpack app, and why. Probably this change needs to be replicated on the WordPress app as well. Also, it was mentioned on `pcdRpT-k6-p2` that we should change the settings heading colors to the system high emphasis colour (this could even change in

[2021-03-31 15:41] SiobhyB commented on #8598
I'm going to go ahead to close this, as it's resolved in Gutenberg and the classic editor is [set to be removed](https://github.com/wordpress-mobile/gutenberg-mobile/issues/3209). Feel welcome to re-open with any further thoughts!

[2021-03-31 15:41] #8598 closed

[2021-03-31 15:45] SiobhyB commented on #8628
I copied each of the writing samples Sheri listed in [this comment](https://github.com/wordpress-mobile/WordPress-Android/issues/8628#issuecomment-474484034) to a new post on my test site. I then opened them in the app and had the following results when attempting to edit each post:

* [Gutenberg demo post](https://github.com/dmsnell/gutenberg-document-library/blob/master/library/demo-post.html):

[2021-03-31 15:52] SiobhyB commented on #8843
I went through the steps to reproduce n a Pixel 5, Android version 11, and version alpha-285 of the WordPress app, and can confirm this is still an issue. Posts aren't featured correctly on the Textbook theme when the `featured` tag is added via the app.

[2021-03-31 16:01] SiobhyB commented on #9321
I was able to edit posts and pages for a self-hosted site on a Pixel 5, Android version 11, and version alpha-285 of the WordPress app.

I also searched through our internal P2s and ticket system but wasn't able to find matching reports from within the last two years.

As this report came in around two years ago and we haven't been able to replicate or dig into similar reports, I'll go ahead to cl

[2021-03-31 16:01] #9321 closed

[2021-03-31 16:29] SiobhyB commented on #9845
I attempted to replicate this as part of a recent triage effort (ref: p9ugOq-1Og-p2) but wasn't able to. Here's what I tried:

* Drafted a new post within the app.
* Enabled airplane mode.
* Attempted to publish the draft.
* When the publish failed, I tapped the **More** option alongside the draft in the posts list and then attempt to **Retry** several times.
* Disabled airplane mode.
* Published

[2021-03-31 16:45] SiobhyB commented on #8628
cc-ing @hypest to get a second opinion on closing this in favour of the two related reports I linked to from the Gutenberg Mobile repository. I think they overlap well with the issue I was able to reproduce but I may be missing a case for keeping this one open.

[2021-03-31 19:01] malinajirka commented on #9845
@SiobhyB  I remember I saw a PR on the backend, which implemented a check to make sure two posts with identical content don't get published. I can't find it right now, but unless we are able to replicate the issue we might even consider closing both issues. Either way, I agree that closing at least this issue in favor of the newer issue make sense.

[2021-03-31 20:46] shiki commented on #9820
We can just cancel this. It's been a while. Almost 2 years! 😄

[2021-03-31 20:46] #9820 closed

[2021-03-31 20:54] AmandaRiu commented on #13169
tested on a Pixel 4 running Android 11 and this is still an issue. When I loaded a really long post I had to actually click into a block to replicate the issue, but made no changes and yet when I return to the post list it shows I have local changes.

<img src="https://user-images.githubusercontent.com/5810477/113209955-aee98080-9241-11eb-91d5-9b9093a86684.png" width="300"/>