[2020-07-29 13:01] oguzkocer opened #12552 "NullPointerException: Attempt to invoke virtual method 'int org.json.JSONObject.optInt(java.lang.String, int)' on a nul..."
Another issue with very low number of users but very high number of events, so might be worth prioritizing. The first release seems wrong to me, not sure why. `15.0` seems like the first meaningful release for this.

**Sentry Url**: https://sentry.io/share/issue/cdafd860323d4df49e911de5ce5af741/
**User Count**: 5
**Count**: 590
**First Release**: org.wordpress.android-12.8
**First Seen**: 2019-07-

[2020-07-29 14:11] develric commented on #11769
closed by #11770 and #11772

[2020-07-29 14:11] #11769 closed

[2020-07-29 14:42] michelleweber commented on #9179
I'm wondering if we spin it, so it's more like an instruction for how to solve this problem: "Editing site icons on self-hosted WordPress sites requires the Jetpack plugin."

[2020-07-29 14:52] osullivanchris commented on #9179
thanks @michelleweber that sounds good to me!

[2020-07-29 15:02] #12324 closed

[2020-07-29 15:06] adityabhaskar commented on #11835
Hi @jd-alexander

Thanks for assigning this issue. Here's how I intend to resolve this:

If the password is empty,
   1. Show a toast to user
   2. Ignore blank password / remove previous password

The password check will go in here:
https://github.com/wordpress-mobile/WordPress-Android/blob/a5623c4262a7fd062053161246ec1ea52caf0da6/WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostSet

[2020-07-29 15:31] zwarm opened #12553 "Reader Improvements: Repository Renaming"
For the RI project the term repository doesn't quite fit the definition of a single point of entry for all data access. As such we will rename the repository to **dataProvider** and keep them lean and focused on get responsibilities only.

The goals of this task are:
- [x] Rename `ReaderPostRepository` to `ReaderPostDataProvider`

- [x]  Rename `ReaderDiscoverRepository` to  `ReaderDiscoverDataPro

[2020-07-29 17:29] develric commented on #12235
Hi @oguzkocer , in my understanding this should now be fixed with the updated endpoint merged (D45139). Could you have a bit of time to check if it works for you also so we decide if we can close? Thanks 😊

[2020-07-29 18:37] renanferrari commented on #12542
So, after testing this for a bit, here's what I found:
1. This only happens when using a Magic Link to login on step 5.
1. This also happened before the Unified Login & Sign-Up was implemented (so I'll go ahead and remove that label, just to make sure we're tracking only newly introduced bugs with it, but feel free to use it again in the future if you're not sure).

Assuming those findings are acc

[2020-07-29 21:15] jd-alexander commented on #11835
Thanks for tackling this @adityabhaskar I did a review of your PR. Let me know your thoughts 😄

[2020-07-29 21:37] develric opened #12556 "Activity Result not set when changing site icon"
While testing #12555 I found an issue with setting the site icon of a site from the WP Media Library.

### Expected behavior
When setting a site icon in My Site, selecting an image from the WP Media Library I would expect the site icon to be changed accordingly

### Actual behavior
When setting a site icon in My Site, selecting an image from the WP Media Library the site icon is not changed and no

[2020-07-29 21:46] designsimply commented on #12542
Totally cool by me to put this one in Groundskeeping—I put it in the to-be-triaged list for now and will circle back. Thanks for the update and feedback @renanferrari!

[2020-07-30 00:18] mzorz commented on #12556
Closing via #12558

[2020-07-30 00:18] #12556 closed

[2020-07-30 09:26] ParaskP7 opened #12561 "Site Pages and Posts Search Clear Content is misbehaving on Configuration Change"
### Expected behavior
When searching for `Site Pages` or `Blog Posts` using a specific search query (say `tags`) everything works as expected. All pages or posts that match that search query are shown, as expected. Then, when clicking the `Clear Button (X)`, the search query and results gets cleared. However, if the screen gets rotated first (a configuration change) and then the `Clear Button (X)`

[2020-07-30 09:27] ParaskP7 commented on #12561
The above might also relate to:
- Set Parent Search should clear contents on multiple configuration changes #11316 and
- Pages Search should clear contents on multiple configuration changes #11317

[2020-07-30 19:18] #11835 closed

[2020-07-30 20:49] designsimply commented on #12561
Thank you for the report @ParaskP7!

I tested using WPAndroid 15.4-rc-1 on Pixel 3 Android 10 and verified that if I search the Posts List then rotate the device and tap "X" that it clears the form field but the results below it are still visible when they should not be. ([55s](https://cloudup.com/cLTjlNbYDoF))

[2020-07-30 20:51] designsimply commented on #12561
Tangentially related: https://github.com/wordpress-mobile/WordPress-Android/issues/11913.

[2020-07-30 22:08] designsimply opened #12570 "First preview attempt does not work for changes to previously saved drafts"
Steps to reproduce:

1. Create a new draft.
1. Add a title and content.
1. Go to More > Preview.
1. Expect the preview to work.
1. Make any change to the content.
1. Go to More > Preview.
1. Observe the preview does not open.
1. Go to More > Preview again.

<img width="270" alt="Screen Shot 2020-07-30 at Jul 30 3 58 01 PM" src="https://user-images.githubusercontent.com/1119271/88979132-42ffe400-d2

[2020-07-31 06:41] #12058 closed

[2020-07-31 13:05] #4842 closed

[2020-07-31 15:35] bummytime commented on #12550
I agree @oguzkocer - adding it to the groundskeeping project.

[2020-07-31 15:37] bummytime commented on #12465
Adding to groundskeeping.

[2020-07-31 17:57] develric commented on #9999
Spent some time investigating this one but unfortunately did not come to a conclusion. I mostly agree with Joel direction [above](https://github.com/wordpress-mobile/WordPress-Android/issues/9999#issuecomment-569328174), and I was more pointed toward checking the `getVideoFrameFromVideo` function [here](https://github.com/wordpress-mobile/WordPress-Android/blob/8e55b05faff828e3d91b8c2c2be6124acabf

[2020-07-31 20:29] #12524 closed

[2020-07-31 20:32] designsimply opened #12577 "Posts List: add ability to search posts on self-hosted sites"
Steps to reproduce:

1. Switch to a WordPress.com or Jetpack site in the app.
1. Look for a search icon near top right in the following locations.
1. Go to My Site > Blog Posts.
1. Go to My Site > Site Pages.
1. Switch to a self-hosted non-Jetpack site in the app.
1. Look for a search icon near top right in the following locations.
1. Go to My Site > Blog Posts.
1. Go to My Site > Site Pages.

**R

[2020-07-31 20:34] designsimply commented on #12577
<sup>(internal reference: play-store-feedbackid=gp:AOqpTOEzGzThlwyzpV_83S6Z3dsHa0qdd88UZhycwBAERLDV-5v6BEHgzzTEKcVTn9eLaBcSI_2905rNL74_iKml)</sup>

[2020-07-31 23:07] designsimply opened #12578 "Sign up: Quick Start prompt does not happen if you sign up and create a new site using the new UL&S flow"
Steps to reproduce:

1. Install WPAndroid 15.4 or higher.
1. Log out.
1. Tap the Continue with WordPress button.
1. Enter an email address not already associated with a WordPress.com account.
1. Follow the prompts to sign up.
1. Create a new site.
1. Expect to see a prompt asking, "Want a little help getting started?" after signing up and creating a new site.

**Result:** I do not get a Quick Star

[2020-08-03 07:48] #12553 closed

[2020-08-03 08:17] develric commented on #11359
Adding a couple of images to clarify the above.

Here below the Follow/Unfollow icon in the Followed Sites screen

<p align="center">
  <img width="300" src=https://user-images.githubusercontent.com/47797566/89160909-198ed300-d572-11ea-8d50-eff9ba82157e.png>
</p>

Here below the screen where we would like to add the Follow/Unfollow icon:

<p align="center">
  <img width="300" src=https://user-imag

[2020-08-03 09:55] erricgunawan commented on #12344
This might create or have a side effect: any time a past date Private post is updated on the app, somehow the published date would then be changed to Today's date, instead of keeping the original date.

So for example, I have a private post on July 23rd.

I edited in the app, then I hit "Update" to save the changes.

The `Publish Date` will display Today's date and it's also greyed out on the "Upd

[2020-08-03 10:48] oguzkocer commented on #12235
The call seems to be successful now, so we can close it 👍

[2020-08-03 10:48] #12235 closed

[2020-08-03 12:57] maxme commented on #11319
Menu editing will come to Gutengerg with Full Site Editing. But it's not going to land soon. The current state (August 2020): the design phase for the Web part is in progress for entities (menu, header, etc.).

[2020-08-03 14:37] zwarm commented on #12545
Addressed in https://github.com/Automattic/wp-calypso/pull/44584

[2020-08-03 14:37] #12545 closed

[2020-08-03 15:48] bummytime commented on #12578
@renanferrari any updates on this one?

[2020-08-03 16:16] cameronvoell commented on #10493
@mkevins  @geriux Great investigation so far.

I was tempted at first to try a [Rx style debounce function](https://stackoverflow.com/questions/50858684/kotlin-android-debounce) for only allowing a one click per X milliseconds. But even at a full second debouncing limit I could get 2 editors to open simultaneously.

I also considered a more generalized onClick handler applied multiple places in th

[2020-08-03 19:25] renanferrari commented on #12578
@designsimply As I mentioned during our internal discussion, I believe this bug was introduced before that version and that it only happens when creating a site from the Post Signup Interstitial. Can you confirm this or is there something I'm missing?

---

@bummytime Already shared this with you internally, but sharing it here again to give it more visibility and also to add some more details:

A

[2020-08-04 08:07] #12578 closed

[2020-08-04 15:19] #8052 closed

[2020-08-04 18:20] MohosinMiah opened #12598 "The Gradle Enterprise plugin must be applied to the settings (was applied to a project) 'Enterprise plugin'"
### **Gradle is not build.It shows The Gradle Enterprise plugin must be applied to the settings (was applied to a project).**

### My Gradle File code :
[code]

### Settings.gradle

[code]

[2020-08-04 20:03] mchowning opened #12599 "List of Users Available for Mentions Does Not Refresh"
### Describe the bug
On Android, the list of users available for use in an @-mention is not refreshed after it is initially loaded. In other words, the initial list of users appears to never get updated after it is initially downloaded.

### To Reproduce
In the following steps, the same bug can be seen by either performing an @-mention when typing a comment or adding an @-mention inside the gutenb

[2020-08-05 08:11] loremattei opened #12601 "Create WPAndroid screenshots on CI"
We have a Fastlane setup to create enhanced screenshots for WPAndroid. It runs a dedicated set of UI tests which use mocked API calls and takes basic screenshots. Then, the screenshots are processed to add promo text, composites, etc.

Currently:
- The screenshot generation lane has to be run on a local machine and takes quite a bit of time.
- There are some small issues with some languages that n

[2020-08-05 11:11] develric opened #12602 "Adding to the Reader P2 Follow/Unfollow comments capability"
### Background

We already massively use P2 blogs internally in a8c to enforce teams project collaboration and we are going to launch the P2 Product [p7DVsv-8N3-p2] pretty soon.

In a P2 web page we allow a user to Follow/Unfollow a stream of comments to a post by the `Follow` button available at the bottom of a post itself.

<p align="center">
  <img width="300" src=https://user-images.githubuser

[2020-08-05 17:39] bummytime opened #12605 "Add an in-app review prompt"
Google recently released a [new In-App Review API for Google Play reviews](https://android-developers.googleblog.com/2020/08/in-app-review-api.html). From their [developer docs](https://developer.android.com/guide/playcore/in-app-review):

Naturally, there are some restrictions to consider:

Let's figure out how to integrate this into WPAndroid!

/cc @mattmiklic @frosty @yaelirub

[2020-08-06 12:38] hafizrahman commented on #12605
This is cool! I'd suggest making the prompt appear after user successfully publishes a new post or page.

[2020-08-06 12:40] frosty commented on #12605
We already implement the existing app rating system – @khaykov, would you be able to take a quick look and see how different this is from what we use already?

[2020-08-06 16:53] khaykov commented on #12605
@frosty It is pretty different. Currently, we just show a dialog that takes user to the Play Store where he has to write a review. The new review prompt and API are superior, and we will probably get more reviews from them since you can do it without leaving an app.

I checked the guidelines and we are in a clear with our current and new flow.

[2020-08-06 17:15] mattmiklic commented on #12605
In terms of design, could we re-use the existing prompt to review, but have it lead to this new in-app UI instead of linking out to the Play Store?

[2020-08-06 17:18] khaykov commented on #12605
@mattmiklic No, If I understand the guidelines correctly:

[2020-08-06 18:29] mattmiklic commented on #12605
Ahh ok, thanks for clarifying that. I had a chance to look through the documentation and it sounds like we'd be required to figure out situations in which it would feel natural and unobstructive to make this modal dialog appear.

I think this requires greater sensitivity than our current prompt in Notifications (are there more?) because there will be no ability to present the option to review the

[2020-08-07 05:16] #7654 closed

[2020-08-07 14:54] mzorz opened #12622 "Photo Picker shows white background when in dark mode"
### Expected behavior
Photo picker should show a dark background when in dark mode

### Actual behavior
Photo picker shows a white background when in dark mode

![darkmodepicker](https://user-images.githubusercontent.com/6597771/89658209-a0aab680-d8a4-11ea-9994-d59b5f8222d2.gif)

### Steps to reproduce the behavior
1. Enable dark theme: Go to Settings -> Display -> Dark theme (turn ON)
2. when in

[2020-08-07 22:35] marecar3 opened #12624 "Site Settings screen crashes in wasabiDebug build variant"
### Expected behavior

Site settings screen shouldn't crash when the user opens it.

### Actual behavior

Site settings screen shouldn't crash when the user opens it.

### Steps to reproduce the behavior

1. Build wasabiDebug variant
2. Install the app
3. Login in with credentials
4. Try to open the Site settings screen
5. It crashes

### Error from the API call

<img width="842" alt="Screenshot 2

[2020-08-07 22:37] marecar3 commented on #12624
Hey @designsimply, this is maybe a good candidate for groundskeeping?
cc @oguzkocer

[2020-08-10 04:46] erricgunawan opened #12628 "Reader: Image Caption/Title Repeated/Duplicated on Another Post"
### Expected behavior
Image caption (or title) from one post should not be displayed on another post in the Reader.

### Actual behavior
Sometimes the image caption/title for one post shows up on two or three others. This is just on the app Reader, not from the website. It's not always the next post either, sometimes there are 2 or 3 posts between them.

It doesn't happen regularly with the same b

[2020-08-10 10:39] ashiagr commented on #12628
Hey @erricgunawan,

I just noticed this issue and I believe I've some inputs:

Reader post card was recently refactored and I believe this issue is related to [this one](https://github.com/wordpress-mobile/WordPress-Android/issues/12353) which was introduced because of an [Android bug](https://issuetracker.google.com/issues/73186245).

It got fixed in release `15.3-rc-1` [here](https://github.com/

[2020-08-10 20:56] khaykov opened #12629 "Some notification badges are not visible in the first load"
We got a report that some notification badges are not visible in dark mode (10y anniversary and 100 likes were mentioned).

[![Image from Gyazo](https://i.gyazo.com/ad90524bf7b97ad0c0b2eba879e1eaee.png)](https://gyazo.com/ad90524bf7b97ad0c0b2eba879e1eaee)

### Expected behavior
All notification badges are visible in both dark and light modes.

### Actual behavior
Some notification badges are not v

[2020-08-10 21:35] designsimply commented on #9985
**Events in the last 90d:** 2,100
**Users affected in the last 90d:** 448
<sub>https://sentry.io/share/issue/bc58d62dcf1b4af3bb8eafc59ff99180/</sub>

A search for `"Service not connected. Please start a connection before using the service." ` in Sentry shows this crash has dwindled and almost disappeared. Closing.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=

[2020-08-10 21:35] #9985 closed

[2020-08-10 21:35] designsimply commented on #8634
Slightly lower events per day are happening for `"PARAGRAPH span must start at paragraph boundary"` with 32 in the last 30d, and the number perday is slightly lower as well but still happening in recent releases.

[![image](https://user-images.githubusercontent.com/1119271/89831710-8595ac00-db1b-11ea-9845-25a09a4cef4c.png)](https://sentry.io/organizations/a8c/discover/results/?display=daily&field=

[2020-08-10 21:36] designsimply commented on #9904
**Events in the last 90d:** 4,000
**Users affected in the last 90d:** 92
**Limited to:** Android 6.x & 7.x
<sub>https://sentry.io/share/issue/25c5482018784560b498f2fddb147974/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1016025421&sort=-t

[2020-08-10 21:40] designsimply commented on #9997
A search for `"OutOfMemoryError"` in Sentry > Discover returns 563 events in the last 30d:

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=%22OutOfMemoryError%22&sort=-timestamp&statsPeriod=30d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%28%

[2020-08-10 21:47] designsimply commented on #9999
**Events in the last 90d:** 4,400
**Users affected in the last 90d:** 527
**Limited to:** Android 8.0.0 and above
<sub>https://sentry.io/share/issue/536eac3cce544a968c6df9e044c8425a/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1019439549&

[2020-08-10 21:52] designsimply commented on #10057
**Events in the last 90d:** 16,000
**Users affected in the last 90d:** 252
**Limited to:** Android 9 and above (including 5 for Android 11)
**Note:** Lots of Redmi devices are affected
<sub>https://sentry.io/share/issue/882e9e1e8bd74a099702c55790a563be/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&fie

[2020-08-10 21:54] designsimply commented on #10169
**Events in the last 90d:** 26,000
**Users affected in the last 90d:** 4,500
<sub>https://sentry.io/share/issue/88306a09ef304935983ff86b6ebc515c/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1017530748&sort=-timestamp&statsPeriod=90d&width

[2020-08-10 22:02] designsimply commented on #10492
A 90d graph of results for `"Drag shadow dimensions must be positive"` in a search at Sentry > Discover returns 1,512 events:

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=%22Drag+shadow+dimensions+must+be+positive%22&sort=-timestamp&statsPeriod=90d&widths=

[2020-08-10 22:06] designsimply commented on #10493
**Events in the last 90d:** 8,800
**Users affected in the last 90d:** 2,200
<sub>WORDPRESS-ANDROID-1D: https://sentry.io/share/issue/ab9754690c664b8b849fdf9c28f23830/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1015109563&sort=-timestamp&

[2020-08-10 22:10] designsimply commented on #10494
**Events in the last 90d:** 26,000
**Users affected in the last 90d:** 880
**Limited to:** Android 9 and 10
**Majority of:** mostly Redmi and Samsung
<sub>WORDPRESS-ANDROID-3CW: https://sentry.io/share/issue/c24b15bfbb884b44aece31bd07b29f9e/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&n

[2020-08-11 07:37] erricgunawan commented on #12628
Thanks for looking into this @ashiagr !

Glad to hear it's related to something here.

Actually, some of us aren't able to reproduce this (including me).

It's a report from a user that said they're having this issue.

They reported they're already in `15.3` (the device info mentioned above is the user's device info).

I believe `15.3-rc-1` predates `15.3` so the fix should have been included, no?

[2020-08-11 08:01] ashiagr commented on #12628
I tested on `15.2` and `15.3` and captured videos here:

**15.2** https://cloudup.com/iEAWbGGy076.
**15.3** https://cloudup.com/iEAWbGGy076

Noticed that an image title appeared on a wrong post at `timestamp: 00.16` on **15.2** but not on **15.3**  at `timestamp: 00.11`.

Yes, it should have been included.

It would be great if they can fresh install and confirm it.

[2020-08-11 09:45] rezzap opened #12633 "Rename Contact Us to Connect App support"
We receive a lot of tickets in the mobile apps with only phone number and contact details. One user followed up on such a ticket to confirm that they thought they were settings up their support for people who visit their site through the app to contact them.

We're wondering if part of the issue here is the label 'Contact Us' that may be causing people to not realize this is for App Support.

I'd

[2020-08-11 14:28] planarvoid opened #12636 "Enhance DeviceMediaListBuilder to support multiple file types"
The DeviceListBuilder functionality is now very basic. As part of this ticket you should investigate how to load all the required files (Images, Video, Audio, Documents) and how to filter out unsupported MimeTypes (based on the MimeTypes class from FluxC). You should create a new parameter class for this filtering that should be used instead of MediaBrowserType.

[2020-08-11 14:30] planarvoid opened #12637 "Enhance DeviceMediaListBuilder to support search"
Investigate how to use content resolver to support search of the files by name.

[2020-08-11 14:32] planarvoid opened #12638 "Extract an interface from the DeviceListBuilder to enable various sources"
The PhotoPicker uses only local files right now. We should create a new `Source` interface that would support various sources of data (for example the WordPress media and the free photo library). The new interface should also support search and pagination. A good choice would be using a repository pattern.

[2020-08-11 14:39] planarvoid opened #12639 "Create a MediaPickerActivity and Fragment behind a flag"
Copy & paste the PhotoPickerActivity and the PhotoPickerFragment into new MediaPickerActivity and MediaPickerFragment (and view model). These classes should be available behind a flag that's turned off for now. This allows us to develop the new picker and run both versions and compare the functionality.

[2020-08-11 14:52] planarvoid opened #12640 "Create WP Media library source for the consolidated media picker"
Based on the the result of [this](https://github.com/wordpress-mobile/WordPress-Android/issues/12638) we need to create an implementation to support loading of images from the WP media library

[2020-08-11 14:53] planarvoid opened #12641 "Create Pexel source for the media picker component"
Based on the the result of [this](https://github.com/wordpress-mobile/WordPress-Android/issues/12638) we need to create an implementation to support loading of images from the Pexel library

[2020-08-11 14:53] planarvoid opened #12642 "Create Tenor source for the media picker component"
Based on the the result of [this](https://github.com/wordpress-mobile/WordPress-Android/issues/12638) we need to create an implementation to support loading of images from the Tenor library

[2020-08-11 14:56] planarvoid opened #12643 "Update the UI to use Action Mode instead of bottom bar"
Based on the designs we'll be moving the `Insert` and `Edit` actions from the bottom bar to the Action Mode toolbar. This should be the case for all the use cases. We should make sure to hide the `Edit` button when needed.

[2020-08-11 14:57] planarvoid opened #12644 "Hide FAB in the stories mode when an item gets selected"
The FAB triggers camera. It's currently only visible for the Stories mode. In this case we should only show it until the user selects an item. Once an item is selected, the FAB should be animated away.

[2020-08-11 15:05] planarvoid opened #12645 "Update the Toolbar and the UI based on the designs"
We should update the UI using the black and white toolbar, with the updated action mode. Furthermore let's use this ticket to change the ratio of tiles to 1:1 instead of 4:3 and update the color scheme if necessary.

[2020-08-11 15:07] planarvoid opened #12646 "Define and implement tracking mechanism for the media picker"
The task is to:
- define all the events we want to track in the consolidated media picker.
- make sure we're tracking comparable events both in the old and the updated media picker so we can compare results with an A/B test.
- implement the updated events

[2020-08-11 15:11] planarvoid opened #12647 "Use the updated media picker component in the Image block"
Use the new activity in the Gutenberg Image block
- make sure it works as expected
- make sure it's hidden behind the feature flag

[2020-08-11 15:12] planarvoid opened #12648 "Use the updated media picker component in the Video block"
Use the new activity in the Gutenberg Video block
- make sure it works as expected
- make sure it's hidden behind the feature flag

[2020-08-11 15:12] planarvoid opened #12649 "Use the updated media picker component in the Gallery block"
Use the new activity in the Gutenberg Gallery block
- make sure it works as expected
- make sure it's hidden behind the feature flag

[2020-08-11 15:14] planarvoid opened #12650 "Use the media picker component in the WordPress media library"
Use the new activity in the Media library to replace WordPress library picker
- make sure it works as expected
- make sure it's hidden behind the feature flag

[2020-08-11 15:15] planarvoid opened #12651 "Use the media picker component to replace the "Choose from device" functionality"
Use the new component to replace the `Choose from device` functionality in the Media library that let's the user to choose any file (audio/image/document/video) from their device.

[2020-08-11 15:18] planarvoid opened #12652 "Enable editing in single selection"
Add functionality to enter selection mode on Long press

[2020-08-11 15:20] planarvoid opened #12653 "Use the media picker component when selecting an avatar"
Use the media picker component to select:
- User avatar from the Me screen
- Site avatar from the My Site screen
- Featured image from the editor

Make sure all the changes are behind a flag

[2020-08-11 15:21] planarvoid opened #12654 "Use the media picker component in Aztec"
Use the new component in Aztec
- make sure everything works as expected
- make sure it's hidden behind a flag

[2020-08-11 16:41] elibud commented on #12633
Let's rename the label to: "Contact WordPress support"

[2020-08-11 16:58] #10759 closed

[2020-08-11 19:30] rezzap commented on #12633
I think we need to be careful to clarify that this is 'App Support' and not 'WordPress support'. We don't support the WordPress software, just the app.

[2020-08-11 20:54] designsimply commented on #12633
Adding some screenshots for reference and noting that we are also discussing the exact wording of the text for this screen in the comments at https://github.com/wordpress-mobile/WordPress-iOS/issues/14616.

<img src="https://user-images.githubusercontent.com/1119271/89947891-63b32c80-dbe2-11ea-875a-a7b0b720d603.png" width="33%" alt="Screenshot_20200811-144851"> <img src="https://user-images.github

[2020-08-12 01:05] designsimply commented on #8363
The WORDPRESS-ANDROID-GP issue in Sentry still seems to be happening in current releases. @planarvoid @malinajirka would you recommend re-opening this issue or creating a new GitHub issue for this?

**Events in the last 90d:** 9,400
**Users affected in the last 90d:** 1,400
<sub>WORDPRESS-ANDROID-GP: https://sentry.io/share/issue/730912cdc8744fa6abc162fd9d289865/</sub>

<a href="https://sentry.io/

[2020-08-12 10:15] loremattei opened #12657 "NullPointerException: Attempt to invoke virtual method 'void androidx.recyclerview.widget.RecyclerView.addOnScrollListe..."
**Sentry Url**: https://sentry.io/share/issue/af9bf1418add4f589f5f91c794263e7a/
**User Count**: 388
**Count**: 557
**First Release**: org.wordpress.android@15.3-rc-1+891
**First Seen**: 2020-07-17T17:12:12.464000Z
**Last Seen**: 2020-08-12T09:58:23Z
**24 Hours**: 41
**30 Days**: 556

[code]

[2020-08-12 11:18] planarvoid opened #12658 "Implement search using searchable DeviceMediaListBuilder"
The DeviceMediaListBuilder source interface should now include a search endpoint.
This ticket is to implement search in the photo picker that filters out the list of results

[2020-08-12 14:52] bummytime commented on #12633
As @mattmiklic mentioned [here](https://github.com/wordpress-mobile/WordPress-iOS/issues/14616#issuecomment-672899406), `Contact Support` looks like the winner.

[2020-08-12 15:45] jd-alexander commented on #12633
Thanks for sharing @bummytime 🙇‍♂️

[2020-08-12 16:58] designsimply commented on #6832
Block, word, and character count were added to the block editor in https://github.com/wordpress-mobile/WordPress-Android/pull/12191. Props @hypest. 🎉

To find the word count in WPAndroid, open a post or page in the block editor, tap the three dots at top right, and select "Content structure".

<img src="https://user-images.githubusercontent.com/1119271/90044199-8b5dcf80-dc8a-11ea-98b6-e6722a6c56da

[2020-08-12 16:58] #6832 closed

[2020-08-12 17:01] designsimply commented on #8404
Requests for this appear to have stopped getting reported in Jan 2019. Have there been any new requests since then?

[2020-08-12 17:25] designsimply commented on #9887
I re-tested this issue today using WPAndroid 15.5 beta and I am no longer able to replicate the problem described where category selection did stay consistent when opening and closing Categories from Post or Page > More > Post Settings > Categories.

I believe this was fixed in https://github.com/wordpress-mobile/WordPress-Android/pull/11025. Props @jd-alexander. 🎉

Here are the screenshots from m

[2020-08-12 17:26] AliSoftware commented on #12601
@loremattei

Is this still true? I've run the lane locally and see all screenshots for `ar` properly generated on my Machine in `fastlane/metadata/android` (and also in `fastlane/promo_screenshots` after running the `create_promo_screenshots` lane)

Currently, raw screenshots are in `fastlane/metadata/android` and promo screenshots are in `fastlane/promo_screenshots`. I can change the output from

[2020-08-12 17:26] #9887 closed

[2020-08-12 17:40] designsimply commented on #8862
I tested this using WPAndroid 15.5-rc-1 and found that the Site Title is now displayed at the top of the block editor. If anyone is still having issues, please first make sure you are using the newest editor. You can turn on the block editor for a site in My Site > Settings.

<img src="https://user-images.githubusercontent.com/1119271/90048279-81d76600-dc90-11ea-8e2d-4c78b0ba1e52.jpg" width="270"

[2020-08-12 17:40] #8862 closed

[2020-08-13 02:23] designsimply commented on #4230
<sup>(internal reference: play-store-feedbackid=gp:AOqpTOGkEs-OK-6Ed-WO5k_HtJQnpF9uO5MSuDtDCVPAaXb0FI24R3HfRBL9GFjSCU-2Nr-kPZdiEQ6g46LOgmC_)</sup>

[2020-08-13 12:47] loremattei commented on #12601
If all the screenshots are generated properly, that's ok.

What's the point of removing them is the screenshots are taken by the CI anyway?
Or is this point obsolete and was written at an earlier point where both the promo screenshots and the raw screenshots were all in the same folder?

Sorry, I didn't meant to to move the output to `fastlane/layout`, I meant to move it to the folder and with the

[2020-08-13 14:48] mzorz opened #12668 "Site icon change not working when aborting action"
### Expected behavior
Changing the site's icon should either work or show an error if something could not be done or if the process is aborted.

### Actual behavior
When aborting a change in the crop tool, you end up with a forever spinning wheel.

### Steps to reproduce the behavior
1. tap on my site icon to change the icon
2. accept the dialog
3. choose an image
4. when the crop tool appears, ta

[2020-08-13 17:25] designsimply commented on #12668
Good find! Tested and confirmed using WPAndroid 15.5-rc-1 that starting to select an image then exiting the Edit Photo screen using the X results in a spinner that doesn't go away until you leave the My Site section of the app and then go back again. ([2m12s](https://cloudup.com/cRwVn6JnOby))

<img width="33%" alt="Screen Shot 2020-08-13 at Aug 13 11 22 48 AM" src="https://user-images.githubuserco

[2020-08-13 18:46] mzorz commented on #12668
Thanks for confirming and adding screenshots to this @designsimply 🙇

[2020-08-13 23:51] #8350 closed

[2020-08-14 02:43] designsimply commented on #12629
I saw this problem while testing notifications in WPAndroid 15.5-rc-1. My device appearance is set to Dark Theme and the App Settings > Appearance in WPAndroid is set to System Default. I also observed that if I re-visited the same screen in Dark Theme later that the badge appeared normally. Light Theme seems fine regardless.

<img src="https://user-images.githubusercontent.com/1119271/90208183-6f

[2020-08-14 13:31] mchowning opened #12682 "@-mentions fail to Load When First Downloaded in Comments"
### Expected behavior
When typing an @-character in a comment, the mentions pop-up should always load.

### Actual behavior
The first time the @ character is typed and the @-mentions are downloaded for the first time, the mentions UI does not load. This is only an issue in comments, not in the Gutenberg editor.

### Steps to reproduce the behavior
1. Open the reader
2. Tap the comment button on a

[2020-08-14 15:01] guarani commented on #12682
Some extra info I noticed when experiencing this error: On a clean install, I'd enter Reader, and on the first site the @-mentions UI would load fine. It was on the second site I visited that it wouldn't load — until I tapped Space. I saw this behavior both times in two attempts to reproduce.

[2020-08-14 15:52] mbshakti opened #12683 "Quick start not showing up"
### Expected behavior
After creating a new account and going through the site creation flow, I expected to see the quick start flow.

### Actual behavior
I didn't encounter the quick start flow

### Steps to reproduce the behavior
1. Create new account
2. Go through account creation flow
3. Go through site creation flow

##### Tested on [device], Android [version], WPAndroid [version]
Device Pixel

[2020-08-14 21:23] renanferrari commented on #12683
This seems to be a duplicate of #12578, which was fixed by #12590. I'm closing this for now but feel free to open it again if I'm missing something.

[2020-08-14 21:23] #12683 closed

[2020-08-15 02:23] aforcier commented on #7068
Was sorting through some old notifications and came across this, sorry I missed it!

It's been quite a long time, I can't say for sure what the implications would be, or even how relevant this is anymore with all the changes to the login flow since.

I think it's fair to either categorize this as technical debt or close this entirely. Since it doesn't seem to have affected us in 2.5 years I'd be i

[2020-08-15 21:37] A-L-Fearon commented on #10935
Hey @jclement92 are you still working on this ?

[2020-08-15 21:41] jclement92 commented on #10935
Unfortunately, I am not

[2020-08-15 23:06] A-L-Fearon commented on #10935
I would like to take a crack at it then

[2020-08-16 00:53] jclement92 commented on #10935
Go for it @A-L-Fearon

[2020-08-16 04:07] erricgunawan commented on #12628
Sorry for the delay!

I managed to reply back to the user asking them to update to the latest version (which is on `15.4` now).

If they ever encountered the issue again, I told them to let us know.

Thanks again for looking!

[2020-08-17 10:22] #12633 closed

[2020-08-17 16:03] oguzkocer opened #12696 "[PhotoPickerFragment] TypeCastException: null cannot be cast to non-null type org.wordpress.android.fluxc.model.SiteModel"
**Sentry Url**: https://sentry.io/share/issue/9aba7a0e8f254c378345d522f9717154/
**User Count**: 19
**Count**: 32
**First Release**: org.wordpress.android@15.5-rc-1+902
**First Seen**: 2020-08-11T22:55:56.840000Z
**Last Seen**: 2020-08-17T15:46:16Z
**24 Hours**: 13
**30 Days**: 32

[code]

[2020-08-17 17:36] guarani commented on #12599
👋 @mchowning with https://github.com/wordpress-mobile/WordPress-Android/pull/12607 merged, can this be closed?

[2020-08-17 18:09] mchowning commented on #12599
Thanks @guarani, you're right it can be closed.

[2020-08-17 18:09] #12599 closed

[2020-08-17 22:18] A-L-Fearon commented on #10940
Howdy @jd-alexander, is this issue still available ?

[2020-08-18 01:17] jd-alexander commented on #10940
@A-L-Fearon yes it is.

[2020-08-18 04:47] mokagio opened #12702 "Test failing on CircleCI as of 17 August 2020, 15:34:27 UTC"
I noticed that the "test" step if failing on CircleCI across different branches.

**I believe the error has something to do with the CircleCI internals or environment, rather than with code that we shipped.**

I pushed a branch with the head pointing to the [last successful `develop` build](https://app.circleci.com/pipelines/github/wordpress-mobile/WordPress-Android/15019/workflows/98eaae87-beb1-4

[2020-08-18 05:27] mokagio commented on #12702
I opened a [PR on WooCommerce Android](https://github.com/woocommerce/woocommerce-android/pull/2735) where the only change I made was on the README.

It failed on CI, too, whereas the last commit on `develop` (so the same code as that PR) [passed](https://app.circleci.com/pipelines/github/woocommerce/woocommerce-android/6924/workflows/76368fc9-3244-480a-8c8a-edae57a017bd)

[2020-08-18 05:34] mokagio commented on #12702
@anitaa1990 pointed out that builds fail on [WordPress-FluxC-Android](https://app.circleci.com/pipelines/github/wordpress-mobile/WordPress-FluxC-Android), too.

In fact, I re-run [a recent passing build](https://app.circleci.com/pipelines/github/wordpress-mobile/WordPress-FluxC-Android/2661/workflows/f44af035-f501-4917-b88f-29e9df402a49), and [it failed](https://app.circleci.com/pipelines/github/w

[2020-08-18 05:35] mokagio commented on #12702
I thought maybe something changed in [our CircleCI orbs](https://github.com/wordpress-mobile/circleci-orbs/) that could have to do with these failures, but there hasn't been a commit since [Jun 11](https://github.com/wordpress-mobile/circleci-orbs/commit/a8c0d45f33ff1f80d227fb7a37f6b4e77f8cca85)

[2020-08-18 07:34] malinajirka commented on #8363
@designsimply It seems like the same issue so I think we can just re-open it. I've moved it to Groundskeeping backlog so it can be prioritised.

[2020-08-18 13:30] Bawya1098 commented on #10940
@jd-alexander. Hello, I would like to try and Contribute and work on this.
Could you please help me with the authentication part?

[2020-08-18 14:15] mzorz opened #12711 "WP Stories: videos URL not welformed"
### Expected behavior
Creating a story on a whitelisted site should produce a jetpack Story GB block with well-formed URLS for both pics and videos

### Actual behavior
Video URls are not right, see for example
[code]

The URL here reads `"url":"https://dekervit.wpsandbox.me/wp-1597759601712-mp4/"`

### Steps to reproduce the behavior
1. switch site to a whitelisted story site create a story
2. cr

[2020-08-18 15:57] jd-alexander commented on #10940
Hi @Bawya1098 Thanks for volunteering to contribute. We really appreciate it 😄

Could you expound a bit on the issues you are having? Thank you.

[2020-08-18 17:38] A-L-Fearon commented on #10940
@jd-alexander thanks for the response, was inquiring to take this on but @Bawya1098 beat me to it 😅

[2020-08-19 00:51] jd-alexander commented on #10169
So there's a high possibility this issue was fixed and will be released in a future Android release. I got this information from the[ Google Issue Tracker for Android](https://issuetracker.google.com/issues/62427912) The Google engineer did not state if there would be any fixes for devices currently facing this issue in the near future.

[2020-08-19 05:25] #12711 closed

[2020-08-19 05:38] Bawya1098 commented on #10940
@jd-alexander, I was not  clear with the ` OAuth2 Authentication`,
I'm able to build it locally but not able to login.

[2020-08-19 09:13] loremattei commented on #12702
Fixes are here:
https://github.com/woocommerce/woocommerce-android/pull/2739
https://github.com/wordpress-mobile/WordPress-FluxC-Android/pull/1671
https://github.com/wordpress-mobile/WordPress-Android/pull/12703

[2020-08-19 09:13] #12702 closed

[2020-08-19 18:31] designsimply commented on #11223
A search for all crashes with `"ENOSPC"` returns 2,736 occurrences in the last 90d:

<a href="https://sentry.io/organizations/a8c/discover/results/?cursor=0%3A0%3A1&display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=ENOSPC&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%28%29%22"

[2020-08-19 18:32] designsimply commented on #11223
Is it normal for an app to crash if there is no space left on the device or is there something we can do to help users in that situation?

[2020-08-19 18:34] designsimply commented on #11312
After that blip back in Apr/May, this one seems to be slowing down a lot. A search for all crashes with `"CursorWindowAllocationException"` returns 749 occurrences in the last 90d:

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=%22CursorWindowAllocationExcep

[2020-08-19 18:38] designsimply commented on #11790
**Events in the last 90d:** 455
**Users affected in the last 90d:** 259
**Limited to:** Android 5, 6, 7 (mostly 6.x, only 3 reports for 7.x)
<sub>WORDPRESS-ANDROID-AVV: https://sentry.io/share/issue/703dcdfc9828483f8a7ff8f63ac85ffb/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+E

[2020-08-19 20:00] #10935 closed

[2020-08-19 21:57] startuptester opened #12726 "Bug: In Media Screen, 'Audio' only appears in header if there is an existing uploaded audio file"
### Expected behavior
For all other file types (Video, Doc, Images), The tabs contains all the options, regardless of what exists in the library. Audio should not be any different.

### Actual behavior
Audio tab only exists if there is an audio file uploaded to the library. If you delete the only one, it will disappear from the tab options again.

### Steps to reproduce the behavior
1. Open the Me

[2020-08-19 23:32] #12243 closed

[2020-08-20 09:42] oguzkocer opened #12730 "[AvatarHelper] IllegalArgumentException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNo..."
**Sentry Url**: https://sentry.io/share/issue/704c7d1782b146e38dbd470f3456c32c/
**User Count**: 5
**Count**: 124
**First Release**: org.wordpress.android@15.4+901
**First Seen**: 2020-08-11T13:34:35.035000Z
**Last Seen**: 2020-08-20T08:16:20Z
**24 Hours**: 18
**30 Days**: 123

[code]

[2020-08-20 12:54] mzorz opened #12732 "WP Stories: remove `ids` from GB block structure"
While testing this PR https://github.com/wordpress-mobile/WordPress-Android/pull/12729 I realized the ids being sent in the block structure are being wiped off on the remote site somehow - I’m sending this for example (1 slide):

[code]

and this is what I see on the web editor:

[code]
(the `"ids":[232]` array is not there).

Confirmed with @Tug the `ids` array is not part of the structure anymor

[2020-08-20 16:01] msilbers opened #12736 "Contact Support: Set character minimum"
We'd like to see if we can set a character minimum for when folks contact us. We get a fair amount of tickets that include things like the following:

- Hi
- Hii
- Hey
- hello
- text

If we could set a character minimum in the form to at least 6, it would help most of this (I hope!), but I can see up to 10 characters being good too. Folks should be sending us questions and their site link, and I d

[2020-08-20 17:12] designsimply commented on #11791
**Events:** 1,000
**Users affected:** 142
**Note:** 76% Android 6.0 + 16% Android 6.0.1 = 92% Android 6.x total
**Note:** Lots of HUAWEI devices
**Culprit:** `com.android.webview.chromium.WebViewContentsClientAdapter in getDefaultVideoPoster`
<sub>WORDPRESS-ANDROID-AWF: https://sentry.io/share/issue/7f9c48c8dba04519a745cc00768bdd85/</sub>

<a href="https://sentry.io/organizations/a8c/discover/resu

[2020-08-20 17:28] #11898 closed

[2020-08-20 18:52] designsimply commented on #11803
I think the problem with grouping may be JN/RN specific. @mchowning would you mind adding your perspective to a new p2 post or to p77Llu-do3-p2 (internal reference) ?

I did look through the latest events inside the WORDPRESS-ANDROID-8XJ Sentry issues and noticed at least a few that mentioned possible correlations in the exceptions themselves but I am not sure if this is why Sentry is grouping unr

[2020-08-20 21:26] designsimply commented on #11966
A search for "Unable to start activity ComponentInfo{org.wordpress.android/org.wordpress.android.ui.posts.PostsListActivity}: kotlin.TypeCastException: null cannot be cast to non-null type org.wordpress.android.fluxc.model.SiteModel" in Sentry Discover shows this result:

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=devic

[2020-08-20 21:31] designsimply commented on #12022
Comparing a search for "issue.id:1676656641 version:15.0*" and "issue.id:1676656641 version:15.1*" in Sentry Discover, I don't see any events recorded in 15.1 (also see [Version](https://sentry.io/organizations/a8c/issues/1676656641/tags/version/?project=1438088) stats for the issue). Closing as fixed. Props @zwarm @malinajirka. 🎉

[2020-08-20 21:31] #12022 closed

[2020-08-20 21:44] designsimply commented on #12106
A search for "issue.id:1017203349 version:15.0*" in Sentry Discover returned a few results while a search for "issue.id:1017203349 version:15.1*" returned no results.

Closing as no new events are being recorded for this crash since version 15.1.

[2020-08-20 21:44] #12106 closed

[2020-08-20 21:49] designsimply commented on #12106
Aside: a more general search for `"SignupEpilogueFragment"` in Sentry Discover returns events but a search for `"SignupEpilogueFragment" "Invoking subscriber failed"` returns no events. @oguzkocer I believe this meant the crash from the Sentry issue noted in this GitHub ticket (1017203349) is no longer happening and I assume if crashes related to `SignupEpilogueFragment` will show up in other Sent

[2020-08-20 21:51] designsimply commented on #12200
I agree it's not worth the effort at this time for a single case reported.

Thank you for looking at this @planarvoid!

Closing and noting we can re-open or create a new issue if an alert comes up for this case in Sentry again at a later time.

[2020-08-20 21:51] #12200 closed

[2020-08-20 22:54] #12732 closed

[2020-08-21 01:01] aforcier opened #12738 "Reader: Jetpack slideshow block displays as bulleted image list"
Slideshow blocks are being displayed as a list of images with bullet points in the reader. This likely requires a similar fix to https://github.com/wordpress-mobile/WordPress-Android/issues/11673, at least to remove the bullets.

![wpandroid-reader-slideshow-bullet-list-merged](https://user-images.githubusercontent.com/9613966/90840561-45dd8880-e395-11ea-92d4-be1dc6c450f1.png)

This is happening i

[2020-08-21 02:24] AmandaRiu opened #12739 "Add support for JDK 11"
The latest version of Circle CI requires our App support JDK 11. See paqN3M-c9-p2

[2020-08-21 05:00] khaykov opened #12741 "Migrate to new AndroidX prefrences"
We should migrate to a new [Preference library](https://developer.android.com/reference/androidx/preference/package-summary) introduced with androidx. It's based on recycler view and plays nicely with rest of the modern components that we are using.

This will also probably require figuring out the mess and dark magic around is toollbar/appbar/action mode in nested preference screens.

[2020-08-21 05:05] khaykov opened #12742 "Move NotificationsDetailListFragment from ListFragment to RecyclerView"
`NotificationsDetailListFragment` is extending `ListFragment` which is pretty inconvenient for a lot of different reasons. Ideally, we would extend a regular fragment and switch to using `RecyclerView`.

[2020-08-21 08:11] malinajirka opened #12744 "Topics chips component is non-deterministic and the chips flicker on re-rendering"
### Expected behavior
When I click on the bookmark action the set of chips at the top of the post card view remains the same and it doesn't flicker.

### Actual behavior
When I click on the bookmark action the set of chips changes - some get hidden behind "x+" chip and the "x+" chip flickers.

<img src="https://user-images.githubusercontent.com/2261188/90867587-e7fd7080-e395-11ea-8380-86ce02d296be

[2020-08-21 09:21] maxme commented on #11771
Edit: the table is horizontally scrollable.

<s>Tables with a lot of columns are not horizontally scrollable, which makes part of the content inaccessible.</s>

[2020-08-21 09:47] maxme opened #12745 "Reader - Comment: tables are not formatted and styled"
# What I see on the comment screen

<img src="https://bia.is/s/LURv/Screenshot_20200821_114457_org.wordpress.android.jpg" width="400" />

# What I see in the Web Reader

<img width="1069" alt="Screenshot 2020-08-21 at 11 26 15" src="https://user-images.githubusercontent.com/40213/90877279-1bdf9280-e3a4-11ea-9bd2-f33b92a08e23.png">

[2020-08-21 09:52] maxme opened #12746 "Reader - Comment: Audio block is not visible"
### Expected behavior

What I see in a Reader comment:

<img src="https://bia.is/s/xRXH/Screenshot_20200821_114457_org.wordpress.android.jpg" width="400" />

### Actual behavior

What I see in the Web Reader:

<img width="1063" alt="Screenshot 2020-08-21 at 11 50 13" src="https://user-images.githubusercontent.com/40213/90877547-87c1fb00-e3a4-11ea-8893-56ebc298e13f.png">

##### Tested on [device],

[2020-08-21 14:47] mzorz opened #12750 "Reader doesn't show next page block"
### Expected behavior
I was expecting the break block to render

### Actual behavior
The break block doesn't render

### Steps to reproduce the behavior
1. write a new post
2. add some text
3. add a break block
4. add some more text
5. publish
6. open it in the reader
7. observe no break block is rendered

<img width="409" alt="Screen Shot 2020-08-21 at 11 31 51" src="https://user-images.githubuse

[2020-08-21 14:57] belcherj opened #12751 "Reader: Pay with PayPal Block, PayPal button does not render"
### Expected behavior

When using the Pay with PayPal block I should see the PayPal button in the reader

### Actual behavior

I do not see the PayPal button

### Steps to reproduce the behavior

1. Starting at URL: https://wordpress.com/read/feeds/77116051/posts/2871659129
2. Observe that PayPal button does not appear

##### Tested on [device], Android [version], WPAndroid [version]

Pixel 1, And

[2020-08-21 15:08] belcherj opened #12752 "Reader: Vimeo Block embeds do not render in comments"
### Expected behavior
Vimeo video should show in the comment

### Actual behavior
Vimeo video does not show

### Steps to reproduce the behavior
1. Add a Vimeo Block to a comment
2. View in Android
3. Observe video does not show

Example: pceC9O-60-p2

##### Tested on [device], Android [version], WPAndroid [version]

Pixel 1, Android 10, alpha-238

[2020-08-21 15:18] belcherj opened #12753 "Reader Comment: Verse block displays as plain text"
### Expected behavior

Text should display as a verse

### Actual behavior

Text displays as plain text

![image](https://user-images.githubusercontent.com/6817400/90906609-edf84f00-e39f-11ea-982c-fb2767fe2266.png)

### Steps to reproduce the behavior

1. Use the verse block in a comment
2. View that comment in the reader

##### Tested on [device], Android [version], WPAndroid [version]

Pixel 1,

[2020-08-21 15:19] cpapazoglou opened #12754 "Reader: Lastest Posts block doesn't appear when inserted in a comment"
### Expected behavior
Expected to at least see the latest posts block .

### Actual behavior
Latest posts block is not visible at all.

### Steps to reproduce the behavior
1. Boot a site which has Gutenberg enabled for comments (eg a P2)
2. Add a comment containing `latest-posts` block
3. View the comment in the Reader of your android device

##### Tested on [device], android [version]
Tested on H

[2020-08-21 15:41] aerych opened #12755 "Reader: WordPress embed blocks appear cropped / misaligned"
Refs: https://github.com/Automattic/wp-calypso/issues/45105

When viewing a post that contains Gutenberg WordPress embed blocks in the Android reader, the content can be cropped and misaligned.

#### Steps to reproduce
1. Create a post on a test site and add some Gutenberg WordPress embed blocks. Link the blocks to WordPress posts that will generate preview cards.
2. View the post in the Android r

[2020-08-21 15:43] davemart-in opened #12756 "Reader: Paragraph alignment is off"
### Expected behavior
Center and right aligned content to show up in the Android reader.

### Actual behavior
All text was left aligned.

### Steps to reproduce the behavior
Here's what I posted:

<img width="803" alt="Image 2020-08-21 at 11 27 01 AM" src="https://user-images.githubusercontent.com/5634774/90908094-e8036d80-e3a1-11ea-8764-f0439d6fe137.png">

Here's what I saw in the Android reader:

[2020-08-21 15:55] belcherj opened #12757 "Facebook Embed Block does not appear in comments"
### Expected behavior

Facebook Embed block in comments should appear

### Actual behavior

Facebook Embed block does not appear

### Steps to reproduce the behavior

1. Use Facebook embed block in a comment
2. View comment in app
3. Observe it does not appear

##### Tested on [device], Android [version], WPAndroid [version]

Pixel 1, Android 10, alpha-238

[2020-08-21 16:38] belcherj opened #12758 "Contact Block link not encapsulating full address in comments"
### Expected behavior

The entire contact block to be linked to google maps

### Actual behavior

On the email and phone number are linkified

### Steps to reproduce the behavior

1. Post comment with Contact Block w/ link to google maps turned on
2. Observe comment in reader
3. Observe only email and phone number are linkified

![image](https://user-images.githubusercontent.com/6817400/90914022-2

[2020-08-21 17:28] jleandroperez opened #12759 "Reader doesn't process Column Blocks"
### Expected behavior
WPA's Reader would arrange content in columns, whenever the Columns block is used.

### Actual behavior
Content is displayed in rows.

### Steps to reproduce the behavior
1. Add a new post (in Calypso!)
2. Insert the **Columns** block
3. Add content to each column
4. Publish the post
5. Open the content in the Reader
6. Observe the content is rendered in rows

<img width="300

[2020-08-21 17:56] jleandroperez opened #12762 "Notifications: Column Blocks aren't processed"
### Expected behavior
Comment Notifications containing Column Blocks should layout the content in columns.

### Actual behavior
Text isn't laid out in columns

### Steps to reproduce the behavior
1. Add a new Comment
2. Insert a Columns Comment
3. Add content to each comment
4. Mention a second User

As a result, whenever **User B** gets the notification, the contents will not be displayed in colu

[2020-08-21 18:21] jleandroperez opened #12763 "Notifications: Youtube Blocks in Comments aren't processed"
### Expected behavior
Comment Notifications containing Youtube Blocks should display a video player.

### Actual behavior
Raw text is displayed!

**NOTE:**
Mentions in post **do work**. This issue is for **comment Notifications!**

### Steps to reproduce the behavior
1. Add a new comment
2. Mention **User B**
3. Insert a Youtube Block

As a result, whenever **User B** receives the notification, th

[2020-08-21 18:30] jd-alexander opened #12764 "Notifications : Button block is not rendering correctly in comments"
### Expected behavior
The button block will be rendered with the respective border or background based on the behavior that's added during it's creation.

### Actual behavior
Only the text and link (if configured) are shown. The button's style is not rendered.
<kbd><img src="https://user-images.githubusercontent.com/1509205/90921903-aa5a1100-e3b0-11ea-9206-3f0274d44230.png" width="320"></kbd>

###

[2020-08-21 19:21] elibud opened #12765 "Comments: Quote block is not rendering correctly"
### Expected behavior

The Quote block on comments should render correctly.

### Actual behavior

In the comment preview the quote block definitely looks wrong.
![Screenshot_2020-08-21-15-53-00-115_org wordpress android](https://user-images.githubusercontent.com/5558824/90926799-33317680-e3ca-11ea-982f-6d23dabde39b.jpg)

In the comment details there's room for improvement.
![Screenshot_2020-08-21-

[2020-08-21 19:29] elibud opened #12766 "Comments: Gallery block not rendering correctly"
### Expected behavior

The Gallery block on comments should render correctly.

### Actual behavior

Instead, there's a bulleted list of images.

### Steps to reproduce the behavior

Add a gallery block in a comment of a site you own.
Go to the site, Comments.

![Screenshot_2020-08-21-15-53-49-301_org wordpress android](https://user-images.githubusercontent.com/5558824/90927348-527cd380-e3cb-11ea-8

[2020-08-21 19:48] guarani opened #12767 "Instagram embed in Reader not opening Instagram when tapped"
### Expected behavior

The user should be able to tap on an Instagram post embedded in a WordPress post, and be shown the post on instagram.com (e.g. in a web view).

### Actual behavior

Tapping on an Instagram post embedded in a WordPress post shows a black screen with the message "Unable to view image".

| <img alt="Gif showing Instagram post not opening when tapped on WPiOS" width="350" src="h

[2020-08-21 19:56] theck13 opened #12768 "Comments: Code Block is Not Styled"
### Expected behavior
The code block is styled with monospace font and a colored background.

### Actual behavior
The code block is not styled with monospace font and a colored background.

### Steps to reproduce the behavior
0. Follow a site.
1. Publish a post with a code block to the site in Step 0.
2. Comment on post from Step 1.
3. Go to **_Notifications_**.
4. Tap the notification for the com

[2020-08-21 20:13] guarani opened #12769 "Instagram embed not rendering correctly in Reader comment"
### Expected behavior

An Instagram embed in a post **comment** should be rendered correctly (i.e. the Instagram post should be visible in the comment).

### Actual behavior

The Instagram embed shows the text "View this post on Instagram" followed by the Instagram's text which appears to be unformatted.

This works correctly (known issues https://github.com/wordpress-mobile/WordPress-Android/issu

[2020-08-21 21:12] JavonDavis opened #12770 "Comments: Embed block not rendering"
### Expected behavior

Embed block to render youtube preview

### Actual behavior

Block did not render

### Steps to reproduce the behavior

1. Create a comment on a post
2. add an embed block
3. use url http://www.youtube.com/watch?v=dQw4w9WgXcQ
4. view comment from Android

<img width="495" alt="Screenshot 2020-08-21 at 4 08 23 PM" src="https://user-images.githubusercontent.com/6520461/90935474

[2020-08-21 21:20] guarani opened #12771 "Instagram embed not rendering correctly in notification mention"
### Expected behavior

When viewed via the Notifications tab in WPAndroid, a comment containing an Instagram embed should be rendered correctly (i.e. the Instagram post should be visible in the comment). Note: it should be possible to see the post's photo, since it renders fine in Reader posts).

### Actual behavior

The Instagram embed shows the text "View this post on Instagram" in the center of

[2020-08-21 21:39] guarani opened #12772 "Instagram embed in post isn't centered in Reader"
### Expected behavior

The Instagram embed should render in the Reader centered horizontally and/or not cut-off.

### Actual behavior

The Instagram embed renders in the Reader slightly right of center and cut off.

<img src="300" alt="Screenshot showing Instagram embed cut-off in Reader post" src="https://user-images.githubusercontent.com/1898325/90936610-8825ba80-e3d3-11ea-8b4e-6ac04baba938.jpg"

[2020-08-21 22:33] jd-alexander opened #12773 "Comments : Media & Text - text alignment does not work."
### Expected behavior
The text will be right-aligned if configured as such.

### Actual behavior
The text is not right-aligned.

### Steps to reproduce the behavior
1. Make a Media & Text block within a comment and right-align the text.
2. Notice that the right align does not take effect.

Tested on Google Pixel 4 XL, Android 10, WPAndroid `develop` ()

[2020-08-21 23:53] designsimply commented on #12343
**Events in the last 90d:** 38
**Users affected in the last 90d:** 13
<sub>WORDPRESS-ANDROID-FC1: https://sentry.io/share/issue/44c38036c5a7459facd6ec94f08111b9/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1758312274&sort=-timestamp&stats

[2020-08-22 01:03] yaelirub opened #12774 "Reader and Comments - Layout-grid block appears vertically even in landscape"
Expected behavior

I expected to see the items in the grid the way they were laid out when I created the post

Actual behavior

The items appear one after the other, vertically

Steps to reproduce the behavior

1. Create a post with the block editor
2. Add a layout-grid block
3. Add items to the block
4. Publish the post
5. See the post in Reader
6. The first 4 elements in the page are part of a l

[2020-08-22 21:24] AmandaRiu opened #12775 "Crashing when opening a comment from notification during block testing"
While testing opening comments from notifications for blocks, it seems that either one of the comments is causing the app to crash, or just having to scroll through so many comments is causing the app to crash. The post with all the test block comments can be found here: pceC9O-60-p2

### Expected behavior
The comment is scrolled to and displayed successfully.

### Actual behavior
The app crashes.

[2020-08-24 09:47] maxme commented on #10410
Fixed via https://github.com/wordpress-mobile/WordPress-FluxC-Android/pull/1508

[2020-08-24 09:47] #10410 closed

[2020-08-24 13:37] designsimply commented on #7216
<sup>play-store-eviewid=gp:AOqpTOEN6VUIMqMed6Rj9BWVQs5CXVfvRl-OHp2BpoXYy3uhKruwEOCuCyCKAGR8DUo1tN9nAB6R9c3xJnrC7A</sup>

[2020-08-24 14:24] develric opened #12782 "Cannot share pdf file to WPAndroid app."
### Expected behavior
When sharing a pdf (or other kind of app supported file) we would like the WPAndroid app to be offered in the list of possible receiving client apps, so we can add the file to the Media Library and/or create a post with that.

### Actual behavior
When sharing a pdf (need to check with other kind of app supported files) WPAndroid app is not offered in the list of possible rece

[2020-08-25 01:43] khaykov opened #12784 "Add lint check to enforce theming and minimize usage of color references"
We should add lint rules that will prevent theme breaking layout changes from occurring, eg. using colors in root view backgrounds, or referencing colors instead of attributes/styles.

Thanks to @aforcier for the suggestion 🙇

[2020-08-25 01:46] designsimply opened #12785 "Site Pages: "Saving…" dialog stuck after tapping "View" on a page while "Uploading Media…""
Steps to reproduce:

1. Go to My Site > Site Pages > Drafts > "+".
1. Apply any page template.
1. Add an image block and use "take a photo" to add an image.
1. Tap back arrow before the upload completes.
1. Tap "+" to start a new page before the upload completes.
1. Apply any page template.
1. Add an image block and use "take a photo" to add an image.
1. Tap back arrow before the upload completes.

[2020-08-25 01:46] designsimply commented on #12143
Closing as issue 1 fixed in https://github.com/wordpress-mobile/gutenberg-mobile/pull/2371 (props @SergioEstevao 🎉), issue 2 addressed in https://github.com/wordpress-mobile/WordPress-Android/pull/12114 (props @mkevins 🎉), and issue 3 moved to https://github.com/wordpress-mobile/WordPress-Android/issues/12785.

[2020-08-25 01:46] #12143 closed

[2020-08-25 08:19] #12639 closed

[2020-08-25 09:30] maxme commented on #10910
I'm closing this issue - We'll remove the site switcher from the editor in iOS: https://github.com/wordpress-mobile/WordPress-iOS/issues/14744

[2020-08-25 09:30] #10910 closed

[2020-08-25 10:59] malinajirka opened #12790 "BlockSite undo action doesn't work"
### Expected behavior
When I click on the undo action in the snackbar I expect all posts that have been deleted to re-appear.

### Actual behavior
When I click on the undo action in the snackbar nothing happens.

### Steps to reproduce the behavior
1. Open Reader
2. Click on the "more" button on one of the items
3. Click on "Block Site"
4. Notice posts from that blog disappear
5. Click on "undo" i

[2020-08-25 17:59] mzorz commented on #10492
Ok so by looking into one of the logs collected in Sentry I could see one of the crashes on Aztec happened shortly after an image failed to upload _(also, there's a bug there we need to check: the image they tried to upload was a .webp image which is unsupported in FluxC and as such it will always fail, will open a separate issue on this)_.

So I figured given the crash was a few seconds after the

[2020-08-25 20:12] #12622 closed

[2020-08-26 00:24] guarani opened #12800 "YouTube shortcode not rendering correctly in notification mention"
### Expected behavior

When viewed via the Notifications tab in WPAndroid, a comment that includes a Shortcode block which in-turn contains the YouTube shortcode (e.g. `[youtube https://www.youtube.com/watch?v=fX8YLri4wxU]`) should be rendered correctly (i.e. the YouTube video should be visible in the comment). Note: this works fine for posts that contain this same content.

### Actual behavior

T

[2020-08-26 07:11] #12790 closed, assigned to malinajirka

[2020-08-26 08:06] malinajirka opened #12802 "Infinite loading screen in Reader"
Update: This is happening only when the ReaderImprovements feature flag is enabled.

### Expected behavior
When I open Reader, the fullscreen progress screen should automatically disappear.

### Actual behavior
When I open Reader, the fullscreen progress screen is sometimes shown indefinitely.

### Steps to reproduce the behavior
1. Start the app and go to My Site
2. Restart the app
3. Turn on air

[2020-08-26 11:42] oguzkocer commented on #12696
Fixed in #12804.

[2020-08-26 11:42] #12696 closed

[2020-08-26 14:39] designsimply commented on #63
<p style="clear:both;"><sup>play-store-reviewid=gp:AOqpTOGQWxDUjXy0gtzuC-pzTwC1GRFzahJ5fkNUWEkUiQpHSle5SPQOUVazCx5Nw7TvzJHJR0-bufG0wtM1nQ</sup></p>

[2020-08-26 20:11] designsimply commented on #12465
I can see that Sentry reported this issue as having started 9 months ago in org.wordpress.android-13.7 so I agree with moving to Groundskeeping.

**Events in the last 90d:** 584
**Users affected in the last 90d:** 84
<sub>https://sentry.io/share/issue/bc434295f8b144768849e9bc34a9df8f/</sub>

It's also worth noting the frequency has been very low over the last 90d and has gone down from ~2 to 4 iss

[2020-08-26 22:05] AliSoftware commented on #12601
Update: `ar` UI Tests actually still crash, so this is not fixed after all. That doesn't prevent the screenshots to be generated, but that still makes the UI Tests crash and thus still needs to be fixed

[2020-08-27 17:09] designsimply opened #12815 "Some tracks events have user_id=0"
@koke posted about some tracks events with `user_id=0` and noted:

<sup>(internal reference: p4a5px-2y7-p2)</sup>

Let's investigate these events and make sure there aren't any problems related to the `user_id=0` events.

[2020-08-28 10:01] #12638 closed

[2020-08-28 11:32] #12027 closed

[2020-08-28 12:15] #10492 closed

[2020-08-28 12:34] #12318 closed

[2020-08-28 13:26] malinajirka opened #12821 "Add missing unit tests for ReaderImprovements Phase 2"
BackLog

In Progress
- [ ] Placeholder
- [x] ReaderPostCardActionHandler (@malinajirka)
- [x] ReaderSiteFollowUseCase (@ashiagr )

Done
- [x] ReaderDiscoverViewModel (@malinajirka)
- [X] DiscoverDataProvider @zwarm
- [x] PostLikeUseCase (@zwarm)

[2020-08-28 13:28] #12039 closed

[2020-08-28 13:34] mzorz opened #12822 "Media picker shows content types that can't be uploaded to WP"
### Expected behavior
Don't allow picking media items to insert in the Editor if these are not going to be allowed to be uploaded

### Actual behavior
I've found it's possible to add a `.webp` image from the picker to the Editor but then it won't upload, and the error shown offers the possibility to retry (but you can't actually retry - it'll always end up failing no matter what the user does).

#

[2020-08-28 13:35] mzorz commented on #10492
Re: this:

Opened issue here #12822

[2020-08-28 14:22] malinajirka commented on #12026
There are still some minor tasks left in the sub-issues, however, this ticket isn't useful anymore -> closing.

[2020-08-28 14:22] #12026 closed

[2020-08-28 15:00] mzorz commented on #12736
I've been checking their [documentation](https://developer.zendesk.com/embeddables/docs/android-support-sdk) and couldn't find a way to do this as a SDK consumer.

I also wonder, this behavior is requested for the _first_ message only, and then we'd have to lift the character limit after the first message has been sent (so in order to allow conversations with shorter words like "yes", "no" to happ

[2020-08-28 16:47] designsimply commented on #12736
If we cannot enforce a character limit using the SDK in our current implementation, would it be possible to identify the tickets with a very short amount of text and tag them so that an auto-responder could then be triggered on the Zendesk side?

<sup>(internal reference: p8wKgj-1ox-p2#comment-8682)</sup>

[2020-08-28 17:17] designsimply commented on #10360
Closing in favor of https://github.com/wordpress-mobile/WordPress-iOS/issues/12333. @maxme please re-open if Gutenberg (toolbar buttons) tracking is still needed and I've closed this issue too early!

[2020-08-28 17:17] #10360 closed

[2020-08-28 17:42] guarani commented on #12768
Thanks for the report @theck13!

Block rendering in notifications isn't handled by gutenberg, so I've updated the labels.

[2020-08-28 18:06] mzorz commented on #12736
That's a great idea! however if we tried to do this from the Android app itself, the SDK is closed in this aspect, we present the chat screen and it doesn't expose this information to us (so we can't really tell what length the messages are).

[2020-08-28 22:13] designsimply opened #12828 "Stats: request to improve the "Data not loaded" screen when stats are loading slowly"
Steps to reproduce:

1. Use a site that has 1M+ yearly views or 150k+ monthly views.
1. Go to Stats.
1. Browse the Days, Weeks, Months, Years screens and note how long it takes for each one to load.

**Result:** the Days and Weeks screens loaded fairly quickly, and the Months and Years screens took 70+ seconds to load. During the loading time, the first screen displayed says "Data not loaded" and

[2020-08-28 23:16] designsimply opened #12829 "Site creation preview screen subdomain is not visible in dark mode"
Steps to reproduce:

1. Switch the device or app settings to Dark Theme.
1. Log out and start a new signup.
1. Follow the prompts.
1. Select a site address and tap the "Create Site" address.
1. Check to see that all text on the next screen is readable.

**Result:** the site address on the "Your site has been created!" screen is white on almost white and isn't readable.

<img width="270" alt="Scree

[2020-08-28 23:46] designsimply opened #12830 "Quick Start: indicator dot is missing on the site icon step and FAB was missing for the post publish step the step could not be completed"
Steps to reproduce:

1. Log out and sign up as a new user and create a new site.
1. Select "Yes, Help Me" when prompted for help getting started.
1. Complete both tours in the Next Steps section.

**Result:** see the full video for this signup and quick start test: [13m6s](https://cloudup.com/c7gu79UYhB2).

* Couldn't get past the "Publish new post" step at first because the floating action bar wa

[2020-08-29 01:21] aforcier commented on #12830
Just a quick note to mention that I tested this on `15.5.1` and could reproduce for that version as well (I was checking if https://github.com/wordpress-mobile/WordPress-Android/pull/12728 might be the cause, looks like it isn't).

[2020-08-29 13:14] rezzap opened #12832 "Unified Login: site address login fails with "Error while adding site. Error code GENERIC_ERROR" for private custom-domain WordPress.com sites using a 2FA login"
### Expected behavior

I would expect that I could log in with the new unified login flow using my site address for a private WordPress.com site with a custom domain or be directed in the correct direction to be able to login.

### Actual behavior

When I try to log in with my site address for a WordPress.com site using a custom domain, I get a generic error message.

### Steps to reproduce the be

[2020-08-29 15:18] mzorz commented on #12736
I wonder if this is possible from Zendesk side on the web though? 🤔

[2020-08-29 16:13] designsimply commented on #12570
I noticed this again while beta testing with 15.6-rc-1—in this case, it's timing out most often and the editor stays open but sometimes the app freezes.

Video: [44s](https://cloudup.com/cseXSXWMmpE)
<p style="clear:both;"><sup>Tested with WPAndroid 15.6-rc-1 on Pixel 3 Android 10.</sup></p>

<details>
<summary>App logs for the timestamp matching the video</summary>

[code]
</details>

[2020-08-31 01:39] ashiagr opened #12834 "Reader Improvements: Sites/Blogs you might like"
Project Issue: https://github.com/wordpress-mobile/WordPress-Android/issues/12899

### Goal
Display a list of recommended sites to follow in the new "Discover" feed on the "Reader" tab, and allow the user to follow a site directly in the feed or tap it to see all the posts for the site.

<img width="50%" alt="Screen Shot 2020-08-26 at 2 35 18 PM" src="https://user-images.githubusercontent.com/7937

[2020-08-31 10:13] malinajirka opened #12837 "Reader: New Discover crashes on old Android SDK"
### Expected behavior
The app doesn't crash after pull-to-refresh on discover tab on API 22.

### Actual behavior
The app crashes after the pull-to-refresh request completes on API 22

### Steps to reproduce the behavior
1. Enable RI FF
2. Open Discover tab in Reader
3. Pull to refresh
4. Notice the app crashes when the request completes

##### Tested on [device], Android [version], WPAndroid [ver

[2020-08-31 10:20] malinajirka opened #12839 "The "follow" button doesn't follow the designs on older Android API"
### Expected behavior
The follow button should ideally look the same on both new and old Android versions.

### Actual behavior
The follow button looks weird on old Android versions

### Steps to reproduce the behavior
1. Open discover tab in Reader
2. Click on one of the "topics you might like'
3. Notice the color of the button (it's red instead of pink)
4. Click on the follow button
5. Notice th

[2020-08-31 10:41] malinajirka opened #12840 "Some ReaderPost list items are shown with a huge bottom padding"
Some ReaderPost list items are shown with a huge bottom padding

### Steps to reproduce the behavior
1. Open Reader on Android API 22
2. Scroll until you encounter a post with a huge bottom padding

<img src="https://user-images.githubusercontent.com/2261188/91712024-3c1f0680-eb87-11ea-9914-9e7037ba188c.png" width="250px" />

##### Tested on [device], Android [version], WPAndroid [version]
Emulato

[2020-08-31 13:36] #12744 closed

[2020-08-31 13:36] malinajirka commented on #12840
This issue is fixed in `com.google.android.material:material:1.2.0` - https://github.com/material-components/material-components-android/commit/6f10bd0606ee68ddd19a269694374e8d3525a672. We'll update the library during the hack week.

[2020-08-31 20:31] oguzkocer commented on #12465
The reason this error no longer shows up is because we removed all the crash logs (`error` type Sentry issues) a while back, so this got removed as part of it [here](https://github.com/wordpress-mobile/WordPress-Android/commit/3984a4f8d9aa7090d93dd79aa050c8358475a811#diff-6f21283e30f3228c960c81242d354739L89-R89). That doesn't mean the issue is gone, it just means we are just not tracking it.

@des

[2020-08-31 20:37] oguzkocer commented on #10532
Just noting that with [this change](https://github.com/wordpress-mobile/WordPress-Android/commit/3984a4f8d9aa7090d93dd79aa050c8358475a811#diff-6f21283e30f3228c960c81242d354739L127) we are no longer tracking this issue in Sentry. If there is nothing we can do about the issue, I suggest we just close it. If we do want to be tracking this for some reason, let's add the tracking code back in.

cc @mzo

[2020-08-31 20:46] oguzkocer opened #12844 "[PreviewImageFragment] IllegalArgumentException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNo..."
**Sentry Url**: https://sentry.io/share/issue/73f958f6295d4ecf9437a0ab67251edc/
**User Count**: 89
**Count**: 170
**First Release**: org.wordpress.android-14.8
**First Seen**: 2020-05-21T15:24:23Z
**Last Seen**: 2020-08-31T09:38:12Z
**24 Hours**: 11
**30 Days**: 75

cc @malinajirka @ashiagr

[code]

[2020-08-31 21:03] oguzkocer commented on #12736
@mzorz As with almost every library/SDK that's outdated, as far as I know, it's because nobody has updated it yet. We don't have a process in place to regularly update our dependencies, which we probably should, so it happens fairly randomly. I think Hack week would be a great time to do these upgrades since we already go through so many changes and the app pretty much needs to be tested as a whol

[2020-08-31 21:13] mzorz commented on #10532
Sounds good to me @oguzkocer 👍

[2020-08-31 21:21] mzorz commented on #12736
Thank you for your answer @oguzkocer, I imagined you wouldn't have this information but since you were among the last people to work on the Zendesk files in the repo it still made sense to ask.

[2020-09-01 00:00] #10532 closed

[2020-09-01 00:02] jd-alexander opened #12846 "Update WordPress Lint to the latest version - 1.0.2"
Update WordPress Lint to the latest version - 1.0.2

[2020-09-01 00:24] designsimply commented on #12832
Tested and confirmed that attempting a 2FA login for a WordPress.com custom-domain private site using the site address flow fails with the following error while a 2FA login in for a .wordpress.com private site on the same account using the site address flow works normally.

Video: [2m3s](https://cloudup.com/c0GRBLtZrWs)
<sup>Tested with WPAndroid 15.6-rc-2 on Pixel 3 Android 10 logging to gotravel

[2020-09-01 00:34] designsimply commented on #12832
I set this issue to medium priority because, even though this bug is in one of our critical flows (login), a workaround is available which is to use the "Continue with WordPress.com" login flow.

Adding the `Requires Triage` label to get a confirmation on priority—is medium fine or should this issue be escalated to high priority and assigned because it's a login issue?

@renanferrari or @planarvoi

[2020-09-01 02:01] designsimply commented on #7126
I believe this issue is still valid, @AiratHalitov can you confirm?

[2020-09-01 03:53] designsimply commented on #12802
@malinajirka I tested the steps provided a handful of times with two different accounts using WPAndroid 15.6-rc-2 on Pixel 3 Android 10 and I wasn't able to see the infinite loading screen described in this issue. ([1m22s](https://cloudup.com/ctY_U_qsK4Z))

[2020-09-01 08:15] malinajirka commented on #12802
😞 I'm sorry @designsimply. I forgot to mention that this is happening only when the Reader Improvements feature flag is enabled. The fullscreen progress view isn't used at all in a regular build. Ashita is already looking into the root cause of this issue ;).

[2020-09-01 08:23] #12839 closed, assigned to nobody

[2020-09-01 08:41] #12844 closed, assigned to ashiagr

[2020-09-01 10:11] mzorz opened #12853 "Media library - easy to trigger video playing when selecting a video"
Note: first observed by @megsfulton in https://github.com/Automattic/stories-android/issues/398, moving here.

#### What happens:
1) Open media picker, select multiple pieces of media
2) Tap on the center of the video media
3) Observe it opens a fullscreen video playback mode

#### What I'd expect:
I don't expect to trigger the video playback when selecting the video media. I'd expect to trigger t

[2020-09-01 10:20] AiratTop commented on #7126
@designsimply
Yes, the bug is still actual.

[2020-09-01 10:24] develric opened #12854 "Including a button to browse the files from the device in the Media Picker."
Even with the upcoming Media Picker Consolidation project we should still include a button to browse the files on the device.

We can place it in the right-hand position on the top appbar of the picker using the gridicons-image.svg icon for this since this matches with what can be found currently for selecting an image from the device.

[2020-09-01 10:49] ashiagr commented on #12802
This issue seems to happen only on an emulator.

Shortest steps to reproduce:
- Go to Reader -> discover tab (with RI FF enabled)
- Enable and then disable airplane mode
- Pull to refresh
- Notice loading for approx. 3 mins

It could not be reproduced on an actual device.

As discussed on Slack, marking it as won't fix.

[2020-09-01 10:49] #12802 closed, assigned to ashiagr

[2020-09-01 11:01] malinajirka commented on #12802
Just for future reference: The root of the issue is that volley requests on emulators sometimes take minutes to finish (even though we receive the response from the server within ms). This can be noticed even with disabled RI FF.
1. Open Reader - following tab
2. Enable and then disable airplane mode
3. Pull to refresh
4. Notice loading for approx. 3 mins

[2020-09-01 12:01] #12837 closed, assigned to malinajirka

[2020-09-01 12:34] #12822 closed, assigned to mzorz

[2020-09-01 12:43] elibud commented on #12832
@frosty @renanferrari can you please look into this one?

[2020-09-01 12:45] ashiagr opened #12857 "Reader: Error in logcat when enabling notifications on follow site"
### Expected behavior
Enabling notifications on follow site from the more menu on a reader post should not display error in the logs

### Actual behavior
Enabling notifications on follow site from the more menu on a reader post displays error in the logs
[code]

### Steps to reproduce the behavior
1. Launch app and go to the Reader -> Following tab
2. Click on More -> unfollow blog
3. Click on Mor

[2020-09-01 12:46] mzorz opened #12858 "Picking unsupported media item from device media picker"
Coming from https://github.com/wordpress-mobile/WordPress-Android/pull/12824#pullrequestreview-479677181

### Expected behavior
Users should not be presented with media item types that are unsupported by WP to be uploaded

### Actual behavior
In the media picker, if users then choose to use the device picker, there they can be offered items that are saved in a format that WP does not support (for

[2020-09-01 14:27] planarvoid commented on #12832
let me know @renanferrari if you need any help with investigating/fixing this issue

[2020-09-01 16:04] #10493 closed

[2020-09-01 16:28] renanferrari commented on #12832
@designsimply @elibud @planarvoid Thanks for pinging me here.

Since that workaround is available, medium seems fine for me as well.

I'm not sure. We haven't done much testing on the site address flow, since we haven't modified it in any meaningful way. That said, how would I go about testing a private site? Do we have a wpmt site for that? If not, I guess I should setup my own and if that's the

[2020-09-01 16:34] designsimply commented on #12832
The wpmt sites are hosted elsewhere, and so you will want to setup a WordPress.com private site with a custom domain and set the owner account to be 2FA-enabled—quite the combination of things (another reason for medium priority and not high). 👍

I have a test account (I actually have MANY! 😂) and can add a test user to it if you have one (note: I almost always test as a regular user with an accou

[2020-09-01 16:53] designsimply commented on #12832
fwiw, here's the same flow tested on WPiOS 15.6.0.1 and you can see that the workaround in that case is to ask the user to sign in with an application-specific password (as mentioned on the issue). I suspect this is because if the site is private and has 2FA then we may not be able to detect that it's a WordPress.com at the login stage in the app (?) and if that's the case then this flow might be

[2020-09-01 16:56] designsimply commented on #12832
Alternately, I'd suggest simply logging someone with this kind of setup in to their WP.com account—if we can detect that—even if they choose the site address flow. I don't know why we'd want to let people sign in to WordPress.com with the site address flow anyway.

[2020-09-01 19:32] rezzap commented on #12832
Just for some context, the reason why I've brought this up is that I seem to be seeing an increase of WordPress.com users who end up in the site address log in flow and get confused or stuck. This is new since the unified login, but on testing, this was the only area I ran into trouble. A lot of 'new sites' are set to private by default so I think this could be affecting a high number of new users

[2020-09-01 19:43] AdamGrzybkowski commented on #12834
Some question about the feature:
1. I can see that the "Sites to follow" card is displayed somewhere between other cards. Is there a specified/fixed position for it? If not, is there a rule on how it should be calculated?
2. How should the app behave when:
       - there are no suggestions (is this even possible with the API?)
       - there are more than 3 suggestions
3. Should there be a message

[2020-09-01 20:35] bummytime commented on #12552
Interesting issue. In the past 2 months, I'm seeing a single person encounter this crash. @designsimply, it probably is worth having somebody investigate this NPE on the next Groundskeeping rotation just as a sanity check.

[2020-09-01 20:41] bummytime commented on #12657
Seems like we are seeing a significant number of these crasher events (1.4K) since 15.3 (and 844 users). @zwarm it looks like you recently worked on `NotificationsListFragmentPage`, could you take a peek at this? Thanks!

[2020-09-01 20:47] bummytime commented on #12730
@renanferrari this crasher started on August 11th. Looks like it might be originating on `SignupConfirmationFragment` in `onViewCreated`.  Any thoughts?

[2020-09-01 21:51] renanferrari commented on #12730
@bummytime This seems to be related to a new class added during UL&S. Should be an easy fix. I think I'll be able to work on it tomorrow.

[2020-09-01 23:44] renanferrari commented on #12832
@planarvoid It seems that we are not handling this specific error on FluxC. I haven't looked into the endpoint we're using, but I _think_ we can handle this by just updating FluxC. Could you please let me know what you think?

[2020-09-02 04:38] ashiagr commented on #12834
Great questions! Here are the answers:

We should follow the order returned by [the API](https://public-api.wordpress.com/wpcom/v2/read/tags/cards?tags=android) and display cards with “recommended_blogs” card type under “Sites to follow”. Note that “recommended_blogs” are not parsed yet unlike other card types. We can discuss it more when you've gone through the entire flow.

If there are no sugge

[2020-09-02 05:21] RHcar opened #12863 "Midnight"

[2020-09-02 08:02] planarvoid commented on #7126
Thanks for checking in on this issue. It would be difficult for us to add specific cases to support every plugin out there, but as the WordPress mobile project is open source plugin authors are welcome to submit PRs for their own changes. In this case it changes the way titles are stored in DB so it might not get approved. The suggested solution doesn't make sense on mobile because it uses a [pure

[2020-09-02 08:14] planarvoid opened #12865 "Update Action mode in Media Picker"
Based on the designs the action mode should have grey background and the "Edit" icon should show the number of items that are selected.

The task of this PR is to implement these two changes and generally update the action mode to look according to the designs.

[2020-09-02 11:01] #12167 closed

[2020-09-02 11:53] #12308 closed

[2020-09-02 21:06] designsimply commented on #12863
Closing due to lack of info, but please comment if you have a bug report or feature request to share!

[2020-09-02 21:06] #12863 closed, assigned to nobody

[2020-09-03 13:21] planarvoid commented on #12832
I don't really know any specifics @renanferrari of the FluxC part but I think you're right. It should be enough to use a specific error that says something similar as the iOS app.

[2020-09-03 14:19] #12730 closed

[2020-09-03 16:51] #12858 closed, assigned to mzorz

[2020-09-03 17:40] designsimply opened #12880 "Comments: the default comment on a new WordPress install doesn't show up in the app when Jetpack is connected"
Steps to reproduce:

1. Set up a new WordPress install, do not make any changes to it.
1. In the app, log in to WordPress.com.
1. Add the site from step 1.
1. Go to Comments and verify you can see the default comment.
1. Go to Stats and complete the Jetpack install flow.
1. Go to My Site > Comments.
1. Try to find the default comment after pull to refresh.

**Result:** the default comment shows up

[2020-09-03 17:51] designsimply opened #12881 "Comments: once a comment has been trashed and restored it no longer appears in the trash if I trash it again (Jetpack only)"
Steps to reproduce, sourced from https://github.com/wordpress-mobile/WordPress-Android/issues/7131:

1. Create reply to a default comment that comes with my WP install.
1. Trash the comment we created.
1. Changed my mind. Let’s restore it.
1. But no. Let’s trash it after all.
1. Ok. Let’s see all the comments we got.

**Result:** the reply to the default comment that I trashed, restored, then tras

[2020-09-03 17:53] designsimply commented on #7131
Following up, I see that _a lot_ of work was done on this case already, but without a resolution, so let's start with a re-cap:

* 2017-05-11 - Originally reported on May 11, 2017 16:24:01 (3207800-t) for WPAndroid 7.0.
* 2017-06-01 - Notes posted at p4a5px-1Nh-p2, unable to replicate using direct API calls.
* 2017-06-21 - Investigated and unable to replicate in the app. (p4a5px-1Nh-p2#comment-689

[2020-09-03 17:54] designsimply commented on #7131
Let's continue working on the problems reported in this thread in the following two issues: https://github.com/wordpress-mobile/WordPress-Android/issues/12880, https://github.com/wordpress-mobile/WordPress-Android/issues/12881.

[2020-09-03 17:54] #7131 closed

[2020-09-03 19:21] designsimply commented on #12854
Do you have a design file you could include with this issue?

Here are some current screenshots of the media picker in the Media and Editor screens taken with 15.6 beta:

Self-hosted Media|Self-hosted Editor|Jetpack Media|Jetpack Editor|Media > Choose from device|Editor > Choose from device
---|---|---|---|---|---
![Screenshot_20200903-130016](https://user-images.githubusercontent.com/1119271/9215

[2020-09-03 19:22] designsimply commented on #12865
Do you have a design file you could include with this issue? What is the action mode?

[2020-09-03 20:12] mbshakti opened #12882 "Move settings icon from following tab to reader app nav bar"
Project Issue: https://github.com/wordpress-mobile/WordPress-Android/issues/12899

The settings icon can currently only be accessed from the filter bar in the following tab. Let's move the settings icon to the app nav bar next to the search icon so it's a global action that can be accessed from any tab (following, discover, likes, saved). This increases the discoverability of the "manage" tab and

[2020-09-03 20:13] designsimply commented on #7181
I believe this was done in https://github.com/wordpress-mobile/WordPress-Android/commit/3efd4b4a55c0eb3d1070f212a76d96065b4b9f6f#diff-ce2cfc65678b6a8203a286daa53451be as part of https://github.com/wordpress-mobile/WordPress-Android/pull/11493 done for the Media Editing project which was launched in WPAndroid 14.8.

@ashiagr can you please confirm and close as necessary?

[2020-09-03 20:18] mbshakti opened #12883 "Change copy from "tags" to "topics" on the manage screen"
Project Issue: https://github.com/wordpress-mobile/WordPress-Android/issues/12899

The "manage tags & sites" screen has several references to the word "tags". Let's rename all instances of tags to topics here so it doesn't create confusion to users.

<img width="562" alt="Screen Shot 2020-09-03 at 4 17 14 PM" src="https://user-images.githubusercontent.com/6350997/92162953-f4a3af00-ee00-11ea-8b7a-6

[2020-09-04 00:15] develric opened #12885 "Wrong thumbnail shortly shown for videos at the end of the upload in media library"
While working on #12867 we noticed the following behaviour (that is not related to that PR itself).

### Expected behavior
In Media library, when loading a video from the device, in the final upload phase a thumbnail should be shown taken from the video frames.

### Actual behavior
In Media library, when loading a video from the device, in the final upload phase sometimes a thumbnail is shown that

[2020-09-04 00:19] #12636 closed

[2020-09-04 02:11] khaykov commented on #12865
Action mode is the AppBar that appears above the regular one, usually when you select some elements on the screen.
Here is the design:
[![Image from Gyazo](https://i.gyazo.com/ec453e327ec3ed6577843bc33a2eb8eb.png)](https://gyazo.com/ec453e327ec3ed6577843bc33a2eb8eb)

[2020-09-04 02:31] khaykov commented on #12830
So, I watched the video and can reproduce and confirm that that the FAB is missing right after site creation for new accounts. Quick Start trying to point to it is just a consequence. I pinpointed the issue to 15.5.1 (15.4 is ok).

I did some more digging and was able to pinpoint it to [this](https://github.com/wordpress-mobile/WordPress-Android/commit/675c9c122723960f4526e9dfca27ac2c2fa00f08#diff

[2020-09-04 07:42] malinajirka opened #12886 "Reader: Wrong content on Saved tab"
### Expected behavior
When I switch to Saved tab, list of saved posts should be rendered.

### Actual behavior
When I switch to Saved tab, list of posts from Automattic tab is displayed.

### Steps to reproduce the behavior
1. Select Automattic tab
2. Restart the app
3. Select "Following" tab
4. Select "Saved" tab
5. Notice the content is a content of the Automattic tab, not saved tab

##### Teste

[2020-09-04 08:41] malinajirka commented on #12886
I've investigated this issue and it's quite interesting. ViewPager2 is not correctly handling fragment state restoration and not even fragment's lifecycle. When you follow the steps, none of the fragment is moved to the "resumed" state. Either case, I've not been able to reproduce the issue with `v1.1.0-alpha01` of the viewpager2 library. Since it's still in alpha, I don't want to use it in produc

[2020-09-04 11:43] develric commented on #12854
Hey @designsimply thanks for the above 🙇‍♂️; I started opening a PR #12884 related to this hopefully to ease some discussion about it. We are thinkering with @planarvoid already a bit and we will soon ping @SylvesterWilmott to have his input design wise (currently we have this comment thread that triggered the task pbArwn-nS-p2#comment-1556)

[2020-09-04 12:01] #12601 closed

[2020-09-04 14:39] #12637 closed

[2020-09-04 20:18] renanferrari commented on #12830
Thanks for pinging me here, @khaykov. I wasn't able to look much into this today, but what I can say for now is that since you said the FAB is also not being shown when you don't create a new site from the Post-Signup Interstitial, then I believe it's unlikely that this is related to that specific change you mentioned, as we only start the site creation flow in that new way if we tap the "Create W

[2020-09-05 03:41] aforcier opened #12894 "Reader: More posts should have preview images in the list view"
### Expected behavior

I expect as many reader posts as possible to display a preview image in the feed and site view screens, even if they don't have a featured image set.

### Actual behavior

For the most part, posts containing images but without a featured image set are missing a preview image.

------

While working on supporting posts with a Story block in the reader, I noticed a few odditie

[2020-09-06 18:23] msilbers opened #12897 "Video: adding video to posts available on plans that don't allow it"
### Expected behavior

That on a free or Personal plan, you can add video to the media library, but not publish posts or pages with video. Was that correct?

### Actual behavior

You can add a video block on a free site and upload video, no alerts or warnings along the way.

### Steps to reproduce the behavior

1. Open a free site
2. Add a Blog Post
3. Add Video Block
4. Choose video from device o

[2020-09-06 21:55] msilbers commented on #12897
Looks like this is expected! Closing the issue

[2020-09-06 21:55] #12897 closed, assigned to nobody

[2020-09-07 12:37] ashiagr opened #12899 "Reader Improvements: Phase 3 - Project Issue"
This is the main project issue for Phase 3 of the Reader Improvements Project:

### Tasks

**Paused**
Discover: Sorting Posts: https://github.com/wordpress-mobile/WordPress-Android/issues/12901

**In Review**

**Done**
- [x] Reader Detail Updates: Issue: https://github.com/wordpress-mobile/WordPress-Android/issues/12900 PR #13151
- [x] Change copy from "tags" to "topics" on the manage screen: Issu

[2020-09-07 12:47] ashiagr opened #12900 "Reader Improvements: Reader Detail Updates"
Project Issue: https://github.com/wordpress-mobile/WordPress-Android/issues/12899

### Goal
Update the Reader Detail design

### Screenshots
![Reader Detail View (Android)](https://user-images.githubusercontent.com/1405144/92388963-c215f100-f135-11ea-8140-bfbc9d8a9a3f.png)

### Designs
- [Explorations](https://www.figma.com/file/a5O8CmzVbGbWBpqzrPUyiC/Reader-Detail-View?node-id=0%3A1)
- [Specs](ht

[2020-09-07 12:53] ashiagr opened #12901 "Reader Improvements: Discover: Sorting Posts"
Project Issue: https://github.com/wordpress-mobile/WordPress-Android/issues/12899

### Goal
When the user is on the new Discover they are given the option to sort the posts by popularity or most recent.

### Screenshots
![discover-sorting](https://user-images.githubusercontent.com/1405144/107877317-a3403580-6ef1-11eb-87be-c2b4dbb18817.jpg)

### Designs
- [Explorations](https://www.figma.com/file/g

[2020-09-07 15:45] mrfoxtalbot opened #12903 "Clicking on 'edit post' via frontend link will fail if said post is not synced on local device"
### Steps to reproduce

1. Visit your site while logged in
2. Click on the "Edit" link
3. Choose the WordPress App to edit the post

### Expected behavior
I would expect the mobile app to open that post in the editor. If the post is not available, I would expect the app to ask me to wait for a moment while it syncs.

### Actual behavior
If the post is NOT available on the local device (i.e. is not

[2020-09-08 00:16] designsimply commented on #12903
Thank you for the bug report @mrfoxtalbot! We add the tags during triage if you are not part of the mobile division. 👍

[2020-09-08 00:57] designsimply commented on #12903
Tested and confirmed using WPAndroid 15.6-rc-2 on Pixel 3 Android 10 that trying to open a post by clicking the "Edit" link while logged in on the mobile web results in an error and a blank new post in the editor if that post has never been loaded in the Posts List in the app before. If the Posts List is refreshed at any point, then the post opens normally. ([1m53s](https://cloudup.com/cmyWR0Nisf0

[2020-09-08 02:54] designsimply commented on #7103
Tested and confirmed this is still an issue in WPAndroid 15.6 beta. ([1m14s](https://cloudup.com/cNkpDhGWPHh))

When I try to upload media on a site without enough remaining storage space from the Media screen, I see the following notice but it is small and could be easy to miss especially on a screen with a lot going on ("Upload Failed" on the image itself is more prominent and a full screen of i

[2020-09-08 07:33] #12894 closed, assigned to aforcier

[2020-09-08 09:41] #12654 closed

[2020-09-08 13:07] maxme commented on #10486
I tried to reproduce that one using a draft and using a published post and I was able to preview the video

[2020-09-08 13:07] #10486 closed

[2020-09-08 13:16] elibud commented on #7103
@frosty @planarvoid can we roll this one into the Media Picker improvements?

[2020-09-08 13:49] emilylaguna opened #12906 "Reader Detail: Post content loses paragraph spacing on second viewing"
| First View | Second View |
|:--:|:--:|
|<img src="https://user-images.githubusercontent.com/793774/92484379-75b2cb80-f19e-11ea-9d58-4734f7c81f21.jpg" width="50%" />|<img src="https://user-images.githubusercontent.com/793774/92484388-777c8f00-f19e-11ea-92dc-1f6dd66dd4fd.jpg" width="50%" />|

### Steps to reproduce the behavior
1. Launch the app
2. Tap on the Reader tab
3. Tap on the Following sec

[2020-09-08 13:56] zwarm commented on #11684
We want to keep a consistency and generic experience in the Reader. For now, we won't be supporting custom spacing: Automattic/wp-calypso#43595 (comment)

[2020-09-08 13:56] #11684 closed

[2020-09-08 14:53] planarvoid commented on #7103
hey @develric 👋 , I'm pinging you since you worked on the improved error codes in the dialogs. Could we change the message in the failed block or does this work need to be done in the Gutenberg repo?

For the other issue (the snackbar not being too clear) - this could definitely be fixed but we'd need a designer input (let's see what @mattmiklic says)

[2020-09-08 15:21] rezzap opened #12907 "App Slowness reported when editing posts."
### Expected behavior

We would expect the app to respond quickly and blocks to respond correctly to content size and selection when adding new text despite the length of the post they are trying to edit.

### Actual behavior

A user has reported in response to an app review, that the behaviour of the app is very slow and they see significant delays when trying to edit long posts.

### Steps to re

[2020-09-08 15:28] develric commented on #7103
Hi there 👋!
I understand there are 2 issues:
1. In the Media Library the snackbar is not clear enough: I agree with @planarvoid we better get a design input here.
2. In the GB blocks we want to change the message in the media overlay to be more clear for the user: there is still some magic for me in the glue code between the app and GB but AFAIU we cannot currently change runtime that message dire

[2020-09-08 19:20] zwarm commented on #12544
@designsimply
I wanted to recap what I am reading
1 - The text is not top stacking when right align (There is a prior rule for screens smaller than 660px that ignores left/right alignment requests - we've discussed this rule when we did the work for social media link icons)
2 - The image doesn't fill entire column

Take a look at this [video](https://d.pr/v/SYHAkj ) for 15.7-rc-1. The right alignm

[2020-09-08 22:56] mattmiklic commented on #7103
I've pinged @SylvesterWilmott to see if he can take a look at this.

[2020-09-08 23:00] designsimply commented on #12602
This came up in an app review:

<sup>google-play-reviewid=gp:AOqpTOFyu1QJghB73esWuPgdYICF131y5uTmbZfIB1CxXcSHxTi0kXFDPr2paMQmCmVfo7lg5Md3eSrtgv7AGA</sup>

Accessing notifications and getting notifications about posts followed site should be possible (I think we just need to explain the settings to them) so I sent a reply about that, however, they are correct that following comments is not yet avai

[2020-09-09 07:51] #12644 closed

[2020-09-09 08:36] maxme opened #12913 "Remove the "Switch Editor" button in Site Settings for some sites"
Calypso has deprecated the classic editor and removed any way to switch to the classic editor. We're about to switch our users to the block editor as well, but we kept the option for users to switch back to the classic editor as the default.

We want to remove that "Switch Editor" option in the "Site Settings" for most sites except for a few cases:
- Self hosted sites (all of them). They can insta

[2020-09-09 09:32] develric opened #12914 "Manage adding from Free Photo Library case in Media Picker for WP Stories."
This is related to the #12884 PR

In that PR we are removing menus when user need to browse the device for media and the user is directly landed to the system file browser with the correct file type filtering (image only, video only, image and video only or all files with a supported WP MIME type); menus we are removing are like this one:

<p align="center">
  <img width="300" src=https://user-ima

[2020-09-09 09:41] develric opened #12915 "Overlapped labels when accessing new media picker without permissions active."
This was noted while working on the #12884 PR and is related to the new media picker

### Expected behavior
After a clean install, when opening the media picker for the first time we should get the following message that asks for permissions.

<p align="center">
  <img width="300" src=https://user-images.githubusercontent.com/47797566/92582068-c86cb000-f290-11ea-8a47-15c11f7876ba.png>
</p>

### Ac

[2020-09-09 10:23] #12028 closed

[2020-09-09 11:37] zwarm commented on #12759
@designsimply This is the intended behavior. TLDR; For mobile devices ≤ 580px the columns are stacked. This [iOS ticket](https://github.com/wordpress-mobile/WordPress-iOS/issues/14714#issuecomment-680271886) details the why much better than I can do.

[2020-09-09 11:37] #12759 closed

[2020-09-09 11:57] zwarm commented on #12764
@designsimply
This behavior is as expected. The app doesn't render any blocks in notifications or comments.

[2020-09-09 11:57] #12764 closed

[2020-09-09 16:30] maxme commented on #7103
What is the blocker here? Could we send the error message (or error code) from the app in the event that signals the block editor the upload failed?

[2020-09-09 16:50] yaelirub commented on #12602
Hey @designsimply  👋
This project is a candidate for a project but I know @frosty has some ideas about this task.

[2020-09-09 17:02] maxme commented on #7103
I just checked in the glue code, we would need to update a callback (and its callers) and add something like `String causeOfFailure` to the parameters:

https://github.com/WordPress/gutenberg/blob/master/packages/react-native-bridge/android/src/main/java/org/wordpress/mobile/WPAndroidGlue/DeferredEventEmitter.java#L121-L123

Then we could get that `causeOfFailure` in the JS code here:

https://git

[2020-09-09 17:21] develric commented on #7103
Thanks for checking this and the details @maxme  , AFAIU it doesn't seem too much GB work (at least for a GB pro dev 😄 ) so I would say that seems the way to go in case this is the direction the design will confirm 🙇

[2020-09-09 17:30] designsimply commented on #12828
I noticed this again while testing 15.7. beta—I took a video this time and found that it took over 1m51s to load Months stats (started recording a few seconds in and tapped Retry 23s in though) and about 1m35s to load Years stats for the en.blog site. ([3m37s](https://cloudup.com/cRnhvNadRmV))
<p style="clear:both;"><sup>Tested with WPAndroid 15.7-rc-1 on Pixel 3 Android 11.</sup></p>

Internet co

[2020-09-09 18:16] designsimply commented on #12602
Ace. Thanks @yaelirub!

[2020-09-09 21:37] khaykov commented on #12830
@renanferrari Yes, I think that commit just uncovered the underlying issue. I think I might know what the problem might be, so I'll try to fix it 👍

[2020-09-09 21:49] renanferrari commented on #12830
@khaykov Let me know if I can help you with anything :)

[2020-09-09 22:54] designsimply opened #12920 "Reader: opening a post from a topic screen and tapping back goes to discover.wordpress.com and not the topic screen previously opened"
Steps to reproduce:

1. Go to Reader > Discover.
1. Tap any topic.
1. Tap any post title.
1. Tap back button (top left).
1. Observe that discover.wordpress.com loads instead of taking you back to the topic you had opened previously.

**Result:** I expected that opening a post from a topic screen and tapping back would take me back to the topic but I am taken to the discover.wordpress.com site stre

[2020-09-09 23:09] designsimply commented on #12920
Something similar happens when you open a post from a site stream then tap the share icon (top right) and dismiss the sharing bottomsheet—in that case just the header changes to discover.wordpress.com and the rest of the site stream remains in tact, but then they are are mismatched at that point. Pull to refresh doesn't change the header or the list of posts.

Video: [1m23s](https://cloudup.com/cw

[2020-09-09 23:54] designsimply opened #12922 "Reader: topic NoResultsView doesn't say the topic name and mentions tags in the message"
Steps to reproduce:

1. Open any tag or topic in the Reader that has no results.
1. Observe that the no results screen doesn't show you which topic you are viewing.

**Result:** I expected the NoResultsView on the Topic screen to show me the topic name. I also noticed that the heading says "Topic" while the page content says "No posts with this tag". Should those match? Should it be "topic" or "ta

[2020-09-10 07:06] malinajirka commented on #12920
I believe this is a duplicate of https://github.com/wordpress-mobile/WordPress-Android/issues/11957. Wdyt?

[2020-09-10 08:15] #12920 closed, assigned to nobody

[2020-09-10 09:29] rezzap opened #12927 "Clicking New Post or New Page causes the app to crash in 15.7-rc-1 (WordPress.com Simple sites only)"
### Expected behavior

Clicking on the new post button when trying to create a new post would open the editor.

### Actual behavior

When I click on the + button to add a new page or page and then select either of the options, the app does a refresh the first time around and keeps me on the My Site page. The second time I do so, the app crashes and a message with as pop-up that 'WordPress keeps st

[2020-09-10 12:29] designsimply commented on #12920
Yes. Totally a duplicate. Thank you for catching that!

[2020-09-10 15:08] SylvesterWilmott commented on #7103
I believe for dark themes, snackbars are intended to be a light colour for this reason [[From Material Guidelines](https://lh3.googleusercontent.com/Ey82bBeAAmuo-9NgcGIYqM9KyuXd37MHU1RruzbatBbe8oqVEjFyiNBM7WA6XDNg08QavD5DSalm8Kl28bsDwN9PNUcynDIO4XUOSg=w1064-v0)]. I think a snackbar is a good enough component to communicate that storage is full. The error in the editor may benefit from a copy chang

[2020-09-10 16:55] designsimply commented on #12927
Nice catch @rezzap !!!

Tested and confirmed using with WPAndroid 15.7-rc-1 on Pixel 3 Android 11. Oof, I'm surprised I didn't catch this earlier—I happened to literally test every single other type of site and didn't hit the bug on any of them! Grr. However, it's an excellent case showing our beta testers being really awesome. ❤️

I couldn't replicate the bug with a WordPress.com Business, Jetpac

[2020-09-10 18:20] mbshakti opened #12934 "Update header for P2 postcards to show author"
After receiving some feedback internally that it's much more efficient to have the author name included in the postcard UI for P2 posts specifically, I've updated the design for P2 postcards as per below:

Changes to header include:

- Show author name next to site name
- Show author icon next to site icon
- Show timestamp below

<img width="850" alt="Screen Shot 2020-09-10 at 2 58 13 PM" src="htt

[2020-09-11 07:13] maxme commented on #12927
I found this crash on alpha-242 yesterday when testing the update and @loremattei published an update quickly after that (15.7-rc-2 and alpha-243). It's not clear why this happened, local builds of these versions where not crashing but the one we got from the Play Store was flawed. I'm not sure if Lorenzo had time to investigate the build logs yet.

[2020-09-11 07:13] #12927 closed, assigned to nobody

[2020-09-11 11:00] rezzap opened #12938 "Posts showing Duplicates in Reader Followed Sites Filter"
### Expected behavior

I'd expect posts to only show up once in the Reader when scrolling through the feed.

### Actual behavior

Some posts seem to be showing up as duplicates. I've not been able to consistently reproduce this, but I have done it twice now.

### Steps to reproduce the behavior

1. Navigate to the Reader feed in the Android app
2. Click on the gear icon to open Followed Sites
3. S

[2020-09-11 19:13] zaforkhan opened #12942 "WordPress Android"

[2020-09-14 09:20] reginabally opened #12945 "PDF file not showing on the media picker screen on the classic editor"
### Expected behavior
To be able to select the PDF file that's been uploaded to the Media library on the classic editor to add it to the page/post on the app.

This can be achieved on the WP iOS app (version 15.6) but not on Android.

### Actual behavior
Only photos are showing on the media picker screen.

### Steps to reproduce the behavior

1) Go to My Site > Media and upload a PDF file to the s

[2020-09-14 11:33] malinajirka commented on #10666
It seems it's again possible to enqueue a media for upload even when the user doesn't have permissions to upload media files. @planarvoid Do you think this issue could be related to some of the changes you did to the media picker?

[2020-09-14 19:21] emilylaguna opened #12951 "Reader: Add a 'Report This Site' button to the reader post overflow menu"
<img width="255" alt="Screen Shot 2020-09-11 at 4 56 23 PM" src="https://user-images.githubusercontent.com/793774/93127705-3ba46680-f683-11ea-85b9-d84325f42778.png">

Mirroring the action on Calypso, we should also add this option to the mobile apps.

### Specs
- Add a report button to the reader post's overflow menu
- It should appear wherever the 'Block This Site' option appears
- Upon tapping o

[2020-09-14 21:36] A-L-Fearon commented on #10939
Hi, I would like to take on this issue.

[2020-09-14 21:39] jd-alexander commented on #10939
Sure @A-L-Fearon go ahead 🙌🏾

[2020-09-14 23:49] designsimply commented on #12942
Closing because no info came through. If you need to contact support, please use the contact form in the Help & Support section of the app. If you'd like to report a bug or make a feature request, please give it another try!

[2020-09-14 23:49] #12942 closed, assigned to nobody

[2020-09-15 00:05] oguzkocer opened #12952 "Remove unused encrypted logging changes"
Since we moved encrypted logging logic to https://github.com/wordpress-mobile/WordPress-FluxC-Android, we don't need the changes in https://github.com/wordpress-mobile/WordPress-Android/pull/11562/ anymore. There might be a few more changes from a previous PR, so a quick audit would be good to have.

@jkmassel Could you think of anything else other than mostly reverting that PR?

[2020-09-15 13:01] planarvoid commented on #10666
I don't think so @malinajirka. The changes we did are still behind a flag and haven't actually touched the upload logic (only the media picker). The video you posted even uses the system media picker, not our version.

[2020-09-15 15:06] designsimply commented on #12938
Thank you for the report @rezzap!

I tested with 15.6 (App Store version) and 15.7-rc-2 (TestFlight beta) and was unable to replicate. ([5m37s](https://cloudup.com/c3RjEwjFrGm))

I noticed that in the original user report at 3281533-zen the user mentioned there were actual duplicate posts that had been created by mistake on the site. If that's what the Reader is picking up (and caching) then I won

[2020-09-15 16:00] renanferrari opened #12957 "Login: When logging in with a site address, Atomic and Jetpack sites behave like self-hosted sites instead of WP.com ones"
### Expected behavior

When logging in with a site address for an Atomic or Jetpack site, I'd expect to be logged into their associated WP.com account at the end of the flow.

### Actual behavior

Instead, I'm either unable to login or they behave just like self-hosted sites, not allowing me, for example, to access Stats and Notifications or to see other sites associated with the same WP.com accou

[2020-09-15 23:30] #12830 closed, assigned to khaykov

[2020-09-16 07:10] #12775 closed

[2020-09-16 07:10] designsimply opened #12964 "Login: Gboard one-tap clipboard suggestion overlaps the Continue button in the 2fa verification code screen on some devices"
The "Continue" button gets overlapped by the new one-tap clipboard suggestions currently being A/B tested on the Gboard keyboard on Pixel devices [according to 9to5google](https://9to5google.com/2020/05/20/gboard-android-clipboard-suggestions/).

<img src="https://user-images.githubusercontent.com/1119271/93302900-e4ec7900-f7b7-11ea-89e8-671dc2810196.png" width="270" alt="Screenshot_20200916-00462

[2020-09-16 18:03] designsimply commented on #12907
Thanks so much for reporting this @rezzap! It's way cool that this person took the time to send in a video!

We are tracking two performance-related issues that I think cover the most prevalent cases they've brought up in https://github.com/wordpress-mobile/gutenberg-mobile/issues/2594 and https://github.com/wordpress-mobile/gutenberg-mobile/issues/1888. Let's close this issue in favor of followin

[2020-09-16 18:03] #12907 closed, assigned to nobody

[2020-09-16 19:09] #12951 closed, assigned to zwarm

[2020-09-17 06:05] malinajirka opened #12970 "Use v2 endpoint for Tag/Topic detail screen"
### Expected behavior
When I click on one of the topics on the discover screen a tag detail screen is displayed. Posts on this screen are ordered by popularity - the app uses `v2/read/tags/` endpoint.

### Actual behavior
When I click on one of the topics on the discover screen a tag detail screen is displayed. Posts on this screen are ordered chronologically - the app uses `v1.2/read/tags/` endpo

[2020-09-17 13:44] hypest opened #12975 "Posts list toolbar icons not visible"
### Expected behavior
The "Search" and "switch to list view" toolbar icons on the Posts list screen should be visible.

### Actual behavior
The icons are not visible, although they are there to tap on.

### Steps to reproduce the behavior
Open the Posts lists screen

Screenshot:
![93479865-7b7a8080-f905-11ea-81fa-61160cce7a13](https://user-images.githubusercontent.com/1032913/93480273-edeb6080-f90

[2020-09-17 14:53] #12915 closed, assigned to nobody

[2020-09-17 17:37] #12832 closed, assigned to nobody

[2020-09-17 22:10] mbshakti opened #12980 "Using "tags" instead of "topics" (copy) on the interest picker screen"
Let's use the copy "topics" instead.

![Screenshot_20200917-180816](https://user-images.githubusercontent.com/6350997/93533468-f6956400-f910-11ea-88db-835daf21416e.png)

[2020-09-18 01:38] reginabally opened #12983 "Images added using Image blocks appear smaller in Reader (compared to Classic blocks)"
### Expected behavior
I would expect the images added to a post using Image blocks appear the same sizes as the images added using Classic blocks in the app's Reader.

### Actual behavior
The images added using Image blocks are smaller in the Reader compared to the Classic block.

### Steps to reproduce the behavior

1. Create a new post
2. Upload an image using an Image block, make sure the image

[2020-09-18 04:09] designsimply commented on #12983
@malinajirka is this a bug or expected behavior—should images inserted using the block editor as full size look the same as image inserted using the classic block as full size?

Example Reader post URL: https://wordpress.com/read/feeds/102614808/posts/2918187307

Here's the HTML for each scenario from the example post noted, for reference.

Image block:

`<figure class="wp-block-image size-full"><

[2020-09-18 07:57] malinajirka commented on #12983
@designsimply It looks like a bug to me. Both images look as expected on the Web and iOS so it's probably an issue with one of the hardcoded styles on Android.

[2020-09-18 09:58] #12739 closed

[2020-09-18 11:27] reginabally commented on #12983
I'm not sure if this is related but I see the same behavior on the email notification.

**Mobile view**

![Screenshot_2020-09-18-19-01-18-34](https://user-images.githubusercontent.com/40906847/93592314-89eb9980-f9e4-11ea-83a5-778b110ac1e3.jpg)

**Desktop view**

<img width="509" alt="Screen Shot on 2020-09-18 at 19-21-51" src="https://user-images.githubusercontent.com/40906847/93592340-95d75b80-f9

[2020-09-18 11:32] malinajirka commented on #12983
I'd say it's related. The only weird thing is that I can't explaing why it's not happening on iOS (any ideas @leandroalonso)?

[2020-09-18 12:19] leandroalonso commented on #12983
@malinajirka I'm pretty sure this is a browser style being applied to the `figure` tag.

In iOS, Safari does exactly that: it adds a margin to the `figure`. To prevent that from happening I've override this style to "reset" this behavior:

[code]

[2020-09-18 18:37] #12957 closed, assigned to nobody

[2020-09-18 22:49] #12975 closed, assigned to nobody

[2020-09-18 22:56] megsfulton commented on #5116
@mbshakti - Know you're taking a look at notifications and wanted to highlight this for your consideration.

[2020-09-18 22:59] megsfulton commented on #6605
Going to close out this 'Needs Design' issue. Changes to this are tracked [in this issue](https://github.com/wordpress-mobile/WordPress-iOS/issues/8850).

[2020-09-18 22:59] #6605 closed

[2020-09-18 23:12] megsfulton commented on #7898
Think it's worth moving this forward with the footnote description since these terms/concepts are not well know or understood. Made an attempt to shorten the footnote text for send pingbacks, the current description for receive pingbacks is 👍

Send Pingbacks
Notify other blogs linked to in your posts

Receive Pingbacks
Allow link notifications from other blogs

[2020-09-18 23:21] megsfulton commented on #7899
@mattmiklic - Any updated thoughts on this one?

[2020-09-18 23:22] megsfulton commented on #7950
Closing this issue out, the block editor and recent media library updates have addressed this.

[2020-09-18 23:22] #7950 closed

[2020-09-18 23:27] megsfulton commented on #9938
Design for this is covered in: #10032 - closing

[2020-09-18 23:27] #9938 closed

[2020-09-21 03:23] tarunvijwani opened #12996 "Delay in displaying images from the phone"
### Expected behavior
The images from the phone should be displayed immediately

### Actual behavior
We need to wait for a few seconds for the images from the phone to get listed on the screen

### Steps to reproduce the behaviour
1. In the post/page editor, add an image block
2. Choose option add image > choose from device.
3. You will need to wait for a few seconds(~10 seconds) to get the images

[2020-09-21 04:18] reginabally commented on #12996
I'm able to replicate this on OPPO Reno 4, Android 10, WPAndroid 15.7-rc-4.

Tested the same steps on Huawei Nova 2i, Android 8, WPAndroid 15.6 but the photos on device appear almost immediately.

[2020-09-21 07:13] malinajirka commented on #12983
@leandroalonso I see, thanks for the info. It seems it's a bug on Android, Web and iOS (it's already fixed in iOS). We might want to consider removing the hardcoded style from ios and moving it into the shared css, wdyt?

[2020-09-21 17:09] designsimply opened #12998 "Feature Request: add Facebook and Twitter login options"
We received a request to add Facebook & Twitter login options in our beta tester feedback.

<sup>Sep 17, 2020 at 10:18 PM - Galaxy On Nxt WPAndroid 15.6 Android 8.1</sup>
<sup>play-store-feedbackid=gp:AOqpTOGTX181J4jWlS-71kxUqLV5nIFJaT6z5vdf8tHjiqHAqQsOJhgLnjTttxe1Tt77aWWDzSa7PosYn_ENihh-</sup>

[2020-09-21 17:50] mattmiklic commented on #7899
I don't think there are -- but this is probably very relevant to upcoming work on Jetpack features, cc: @osullivanchris @folletto @eeeeevon13.

[2020-09-21 20:22] designsimply commented on #12996
Thanks for the report @tarunvijwani!

I tested using my Pixel 3 device as a quick check from my side. I feel my connection speed is pretty decent and am wondering how yours compares! Here are the results of my test and I'll note that I'm already on to the 15.8 beta and I tested with 3 different site types: WordPress.com Free, WP 5.5.1 Jetpack 8.9, and WP 5.5.1 Self-hosted (no plugins).

Video: [6m

[2020-09-21 20:33] #12640 closed

[2020-09-21 22:12] megsfulton commented on #12828
We can definitely improve the messaging here. In order to do that, it would be helpful to understand what the underlying cause of the error is?

Also wondering if there's a technical issue here that might need some developer eyes 👀 on it?

[2020-09-21 22:20] megsfulton commented on #11610
Tested this in the latest alpha build with the new login flow and the issue appears to have been addressed. Closing for now.

[2020-09-21 22:20] #11610 closed

[2020-09-21 22:27] megsfulton commented on #11320
+1 for the proposal to remove the icon for view site. Removing the "Needs design" label

[2020-09-21 22:28] megsfulton commented on #11318
Looks like this has been resolved? Feel free to re-open if that's not the case.

[2020-09-21 22:28] #11318 closed

[2020-09-22 03:09] aforcier commented on #9436
@oguzkocer I believe we can close this now, #12896 upgraded us past this to `4.0.1`, and the main problem libraries (Crashlytics and Fabric) aren't used anymore, and I think the Bintray plugin has been updated. ccing you anyway in case you spot anything relevant in here to any new warnings you might have noticed.

[2020-09-22 03:09] #9436 closed

[2020-09-22 09:38] loremattei opened #13003 "SaveOnExitException$NoAutosavePending: Post had changes that needed to be saved when exiting the editor, and there was NOT an autosave p..."
**Sentry Url**: https://sentry.io/share/issue/648ba279d5064d88af6d395f2fa73358/
**User Count**: 45
**Count**: 177
**First Release**: org.wordpress.android@15.7-rc-1+916
**First Seen**: 2020-09-10T06:54:21Z
**Last Seen**: 2020-09-22T05:53:33Z
**24 Hours**: 19
**30 Days**: 177

[code]

[2020-09-22 09:42] loremattei commented on #13003
It looks like this error has been added in 15.7 and we are getting some reports about it.
I'm adding this to Triage as I guess it's something we want to investigate since we added the error reporting for it.

[2020-09-22 23:56] designsimply opened #13005 "Comments: add a visual editor for comments"
We received the following feedback internally.

Adding a new comment (full-screen)|To edit on an existing comment|Editing an existing comment
---|---|---
<img width="270" alt="Screen Shot 2020-09-22 at Sep 22 5 29 33 PM" src="https://user-images.githubusercontent.com/1119271/93947613-6896f000-fcf9-11ea-8ce2-b4782b3ca4eb.png">|<img src="https://user-images.githubusercontent.com/1119271/93948000-7dc

[2020-09-23 10:26] #12865 closed, assigned to nobody

[2020-09-23 18:11] bummytime commented on #13003
Thanks @loremattei. @malinajirka could you investigate this one?

[2020-09-23 18:46] malinajirka commented on #13003
This is not a crash and it's an expected error. We added it to get a better idea how many users are encountering it. It doesn't have any user facing impact - the post gets saved correctly when the user exits the editor. This issue can be reproduced by making a change in the editor and exiting the editor within the next 500ms.

[2020-09-23 18:49] bummytime commented on #13003
Thanks @malinajirka. Does that mean this issue can be closed?

[2020-09-24 02:41] aforcier opened #13010 "Reader: Links opened from Reader sometimes trigger the deeplink component"
Discovered in #13002 - this behavior is extra bad for Stories since they effectively link to themselves.

### Expected behavior

When the Reader attempts to open a URL externally, the WordPress app shouldn't be included in the list of possible apps to handle the link.

### Actual behavior

On certain devices/API levels, the WordPress app itself is one of the options.

### Background

We already [d

[2020-09-24 09:28] #13010 closed, assigned to aforcier

[2020-09-24 11:49] rachelmcr commented on #12424
I ran into the same issue while testing the same flow in the Woo Android app, so this probably needs an upstream fix in https://github.com/wordpress-mobile/WordPress-Login-Flow-Android/.

[2020-09-24 13:10] FarheenNishat commented on #10574
This is not limited to Android 8.0 and below, It has occurred in Android 9 as well.

[2020-09-24 20:14] designsimply commented on #12996
Thank you for testing @reginabally!

Is there any chance I could get you to test this again by adding a few images in the editor and checking how fast they appear using the OPPO Reno 4 with 15.8-rc-1 instead of 15.7-rc-4?

May I assume you did your tests with OPPO Reno 4 and the Huawei Nova 2i both over WiFi and both using the same network?

[2020-09-25 04:40] reginabally commented on #12996
Happy to test again, @designsimply!

Please check out this video recording on OPPO Reno 4 with 15.8-rc-1: https://d.pr/v/JESvbA

And yes, the tests for OPPO Reno 4 and the Huawei Nova 2i are both over WiFi and the same network. I've attached a screenshot of the speed test of my network:

<img src="https://user-images.githubusercontent.com/40906847/94227268-8d26de00-ff2c-11ea-915b-4c478a0df36d.jpg"

[2020-09-25 10:25] reginabally opened #13015 "Support: "Browse our FAQ" link does not respond if an automattic.com email address is saved in the contact email field"
### Expected behavior
I would expect to be able to access the FAQ page to check out the app's documentation.

### Actual behavior
Tapping Browse our FAQ does nothing.

### Steps to reproduce the behavior

1) Go to Me > Help & Support
2) Tap on Browse our FAQ
3) The screen stays and does nothing

### Application log

[code]

##### Tested on OPPO Reno 4, Android 10, WPAndroid 15.8-rc-1

**Note:** Th

[2020-09-25 10:29] loremattei opened #13016 "SQLiteException: no such table: tbl_discover_cards (code 1 SQLITE_ERROR)"
**Sentry Url**: https://sentry.io/share/issue/8901c9353bff433c8b1e56a1996420ab/
**User Count**: 79
**Count**: 92
**First Release**: org.wordpress.android@15.7-rc-2+918
**First Seen**: 2020-09-12T15:39:14Z
**Last Seen**: 2020-09-25T10:22:51Z
**24 Hours**: 54
**30 Days**: 92

[code]

[2020-09-25 10:30] loremattei commented on #13016
This one doesn't seem to have a big impact right now, but since it seems to be new in the latest version, it may be worth it to investigate it more and fix it now.

[2020-09-25 15:05] dani-elo commented on #4376
Another request for this in 3311830-zen

[2020-09-25 16:08] designsimply commented on #10666
Thanks to both of you for raising this issue and for checking the details about the system vs app media picker!

I'd like to do some additional testing on this one:

* Check other roles in addition to contributor.
* Check various types of site.
* Test uploads from Media vs Editor.
* Decide whether the broken "delete failed media" action should be filed as a separate issue.

[2020-09-25 17:19] designsimply commented on #13015
Thanks for the report @reginabally. I have a few questions if you don't mind?

1. Does pull-to-refresh help at all?
1. If you go back to the My Site screen and then browse back to the Help & Support screen, is the FAQ link still unresponsive?
1. Does this problem happen if you log in using a test user account?

Aside: this came up in beta testing for 15.7 from another happiness engineer (and I wan

[2020-09-25 17:43] designsimply commented on #7484
Re-tested with WPAndroid 15.8-rc-1 on Pixel 3 Android 11 and I can no longer see the same problem happen. 🎉 ([30s](https://cloudup.com/c7-YstC_2QQ))

[2020-09-25 19:04] designsimply commented on #8345
This was reported internally by someone using Jetpack Free WPAndroid 15.6.
<sub>(ht @erricgunawan, internal references: p4a5px-2Do-p2, 3330122-zen)</sub>

They previously imported comments then deleted them later and also uninstalled/reinstalled the Disqus for WordPress plugin and those may be factors worth noting for this particular case. A Jetpack resync was tried and did not seem to help. The a

[2020-09-26 18:35] msilbers commented on #13015
I was able to replicate this just now on the beta (15.8-rc-1). I had just opened and scrolled through the FAQ. However, after checking My Site and navigating back, the "Browse Our FAQ" button no longer did anything. I checked my app logs and it shows no errors.

Closing and reopening the app didn't resolve it, the Browse our FAQ button no longer works for me.
Edit: It works again after uninstall/r

[2020-09-28 11:52] leandroalonso commented on #12983
@malinajirka sure thing!

[2020-09-28 16:14] designsimply commented on #12996
Thank you for the video! I can see that as soon as you tapped "Choose from device" it took about 5s for images from the phone to appear on the OPPO Reno 4 device.

I tried testing again with my Pixel 3 and found that the images showed up very quickly for me before and after clearing the app cache and local storage. ([1m21s](https://cloudup.com/c0V3kW_RcwQ))

I checked how much space my Photos app

[2020-09-28 18:23] designsimply commented on #13015
Thanks for testing @msilbers!

To summarize, we've seen 3 reports of this, starting in 15.7 beta testing, all from a8c accounts and no reports from users yet (based on what has been reported in this issue). It only appears to happen after something goes wrong with the link and deleting/reinstalling the app fixes the problem but we would like to avoid giving delete+reinstall as advice if at all pos

[2020-09-28 18:47] marco-altran commented on #11818
Thoughts about how the UI should be? What do you think of the example below?

![image](https://user-images.githubusercontent.com/69607277/94472126-adf76980-01a0-11eb-9f7c-6205b9f6876f.png)

[2020-09-28 19:23] designsimply commented on #7485
Tested and confirmed this is still an issue in the Aztec editor in WPAndroid 15.8-rc-2 and noting priority is low since it hasn't come up from users yet and because work on the editor is currently focused on the block editor when possible. ([1m12s](https://cloudup.com/cqE9cq88Q8y))

[2020-09-28 20:24] designsimply opened #13025 "AppBar: the header covers up some of the data in "View more" screens in the Stats section"
Steps to reproduce:

1. Go to Stats > Insights.
1. Tap "View more" on the Latest Posts Summary card.
1. Tap "View more" on the Recent Weeks card.

**Result:** the first row of data is cut off and you cannot scroll to see it.

<img src="https://user-images.githubusercontent.com/1119271/94480781-070cd080-0194-11eb-8f21-2390aa4af10f.png" width="270" alt="Screenshot_20200928-140329">
<p style="clear:b

[2020-09-29 05:32] khaykov commented on #13025
@designsimply I don't have "View more" on the Recent Weeks card, and not sure how to get to that page 😕 Any ideas on what I might be doing wrong?

[![Image from Gyazo](https://i.gyazo.com/d8b4e3b2062f63fa34a47296b3030886.gif)](https://gyazo.com/d8b4e3b2062f63fa34a47296b3030886)

[2020-09-29 06:30] AdamGrzybkowski opened #13027 "Following a feed with `/read/following/mine/new` sometimes fails"
### Expected behavior
Following/Unfollowing a feed when `feedId != 0` using `/read/following/mine/new` works

### Actual behavior
Currently only unfollowing works (in certain edge cases). Following fails with response `{"info":"invalid_feed","subscribed":false}`
This issue was found when testing this PR https://github.com/wordpress-mobile/WordPress-Android/pull/12960

Here's https://github.com/wor

[2020-09-29 10:27] ashiagr commented on #13027
Another example `9to5Google.com`:
`{"blog_id":146091833,"feed_id":86180988}`

This feed has a feed url associated with it `http://9to5google.com/feed`
<img width="326" alt="Screenshot 2020-09-29 at 3 43 24 PM" src="https://user-images.githubusercontent.com/1405144/94545872-bddb8000-026a-11eb-846b-8018b7e181bb.png">

So the app tried to follow by feed url:
<img width="567" alt="follows another site

[2020-09-29 12:47] malinajirka commented on #12983
@designsimply I'm probably missing some step. I've tried to re-test this on a few emulators (different Android version 7,9,10) and all the images looked ok. I used my own post (https://wp.me/p22nRd-1CR) + the post you shared. Could you please re-test it -> 🤞 perhaps someone already fixed it. Thank you!

<img width="500" alt="Screenshot 2020-09-29 at 14 44 00" src="https://user-images.githubusercon

[2020-09-29 14:43] rossanafmenezes commented on #12996
A couple of new reports and also some more info from HE testing below:

Ticket 3348229-zen
Site: https://saida.tv/ -  self-hosted
Device Samsung Note 8
App version 15.7
Android 11

Ticket 3350798-Zen
Site: https://khamnews.com - Self-hosted
Device: User did not come back with this info yet
App Version: 15.7
Android: not provided yet

Also tested on my own devices:

Pixel 2
Android 11
App version 1

[2020-09-29 15:06] msilbers commented on #13015
Just want to note that I tested with a non-a8c account and it worked just fine!

[2020-09-29 15:21] rezzap commented on #12996
The user from 3348229 has replied back with the logs. These lines look suspicious:

<details>
<summary>Full set of app logs from the user with some data removed</summary>

[code]
</details>

<sup>(internal reference: p1601335801037600-slack-C0HTU7HV3)</sup>

Since this is being looked into internally at the moment, I'm going to let the user know we're looking into it for now.

[Note from Sheri: I

[2020-09-29 17:09] designsimply commented on #12996
@planarvoid @develric @mzorz each of you worked on Media Picker Consolidation issues in 15.7. Can one of you let me know what you think about this issue? I would most like to know if you think that adding a loading spinner would be a good temporarily update and which data points would be best to gather from users reporting this going forward (i.e. app version, OS version, device family, number of

[2020-09-29 17:11] zwarm commented on #12769
FYI: At the time of this ticket, the Android app doesn't render any gutenberg blocks in comments.

[2020-09-29 17:13] zwarm commented on #12753
Blocks are not rendered in the comments section at the moment. Future plans are in discussion.

[2020-09-29 18:20] designsimply commented on #12996
Aha. Ignore that last messages because now I see in the Slack conversation (internal reference: archives/C0HTU7HV3/p1601335801037600) that @develric is working on this and targeting 15.8. 👍

[2020-09-29 19:53] designsimply commented on #5875
Someone mentioned this in beta testing feedback during the 15.8 release cycle:

<sup>play-store-reviewId=gp%3AAOqpTOGb-skY3z7EzAjweqsYbF6_bo8XlLI17BXlkEqOPSW66pYJdaoU1bIeu1rOWLxYvRZNk77gS0Bj1Kg_VHkR&corpus=BETA_FEEDBACK</sup>

[2020-09-29 20:03] designsimply commented on #12312
From a beta tester in the 15.8 release cycle:

<sup>play-store-reviewId=gp%3AAOqpTOHYc3EINswCu5B73Ue7Z0RlU5gkzsX3qrDPyM_2FmUq0dW8VJgBljcgzkpBrGGCi-T2d-7frDIV71LyhXis&corpus=BETA_FEEDBACK</sup>

Note: it might be a stretch but I think a contact form is one area that would help them—app reviews have limited space for discussion so sometimes we need to make a guess at what people mean. If they meant

[2020-09-30 00:43] designsimply commented on #12828
I checked on this again during 15.8 beta testing and found the issue where the "Data not loaded" message appears on the Months screen for a site with a lot of followers (70M) and traffic (183k views per month), but the data loaded normally after that when I did a pull-to-refresh. Note that this only happens for me on sites with a very high volume of traffic. In any case, I wonder if we can make it

[2020-09-30 03:50] mzorz opened #13036 "Only allow supported media types in media selecting entry points"
### Expected behavior
History: follow up from https://github.com/wordpress-mobile/WordPress-Android/issues/12822 - the fix in https://github.com/wordpress-mobile/WordPress-Android/pull/12824 turned out to cause major delays as explained in https://github.com/wordpress-mobile/WordPress-Android/issues/12996.

Given this, the expected behavior would be to not allow people to pick unsupported media it

[2020-09-30 03:53] mzorz commented on #12996
Thank you all for the various reports 🙇 - this is getting fixed in #13035 and a follow up issue has been created here: https://github.com/wordpress-mobile/WordPress-Android/issues/13036

[2020-09-30 07:53] reginabally commented on #13015
It's also worth mentioning that once I switched to a test account, I was able to access the FAQ with the Browse our FAQ button. After I switched it back to my HE account, I'm able to access the FAQ page too!

Not directly related to the issue but I used to try sending a test message through Contact Support under Help and Support but I wasn't able to send using my a8c email account. So I guess ther

[2020-09-30 12:31] zwarm opened #13037 "Reader Post: Verse block is not displaying full text"
### Expected behavior
Expect the verse block to be fully readable

### Actual behavior
The text is too long for the device screen and gets cut off.

### Steps to reproduce the behavior
1. Launch the App
2. Tap Reader and navigate to a post with a verse block
3. Notice that the text in the verse section is off the screen

##### Tested on Pixel 3XL Android 10, WPAndroid 15.7

<img width="360" alt="S

[2020-09-30 13:00] zwarm commented on #12773
ATM, comments do not support any block rendering. Next steps are being discussed.

[2020-09-30 13:55] zwarm commented on #11771
@maxme Can you provide some more detail not scrolling? I tried on emulator and physical device (pixel 3XL) and the content of the screen scrolls as expected. See attached gif. Thanks.

<img src="https://user-images.githubusercontent.com/506707/94694296-afd93e00-0302-11eb-8e36-88b6dfa53f40.gif" width="300" alt="Screenshot">

[2020-09-30 15:31] mzorz commented on #12996
Closing via #13035

[2020-09-30 15:31] #12996 closed, assigned to mzorz

[2020-09-30 17:36] designsimply commented on #7487
Still valid! 🙂

To prepare:

* Create a WordPress.com Business account.
* Go to My Site > Sharing and complete the connection flow for any social media account.

To test:

1. Go to My Site > Blog Posts > More menu (three dots).
1. Look for an option to share a post or share a post again (only available to WordPress.com Premium or Business).

Result: the option to [re-share a post](https://wordpres

[2020-10-01 08:17] loremattei opened #13043 "IllegalArgumentException: [EditPostActivity] not attached to window manager"
**Sentry Url**: https://sentry.io/share/issue/03fe12bff0a8429d936665b30910c200/
**User Count**: 200
**Count**: 246
**First Release**: org.wordpress.android@15.7-rc-3+920
**First Seen**: 2020-09-17T11:37:04Z
**Last Seen**: 2020-10-01T07:54:50Z
**24 Hours**: 42
**30 Days**: 246

[code]

[2020-10-01 08:19] loremattei opened #13044 "EncryptedLogging: ExceptionInInitializerError"
**Sentry Url**: https://sentry.io/share/issue/16f46ed069914393abcc576fae700e8d/
**User Count**: 83
**Count**: 160
**First Release**: org.wordpress.android@15.6+915
**First Seen**: 2020-09-10T04:08:34Z
**Last Seen**: 2020-10-01T08:04:40Z
**24 Hours**: 10
**30 Days**: 160

[code]

[2020-10-01 08:20] loremattei commented on #13044
cc @jkmassel

[2020-10-01 08:21] loremattei opened #13045 "NullPointerException: Attempt to invoke virtual method 'int org.wordpress.android.fluxc.model.SiteModel.getId()' on a n..."
**Sentry Url**: https://sentry.io/share/issue/7cacd4f401ea4058bf8b971fa13399eb/
**User Count**: 760
**Count**: 941
**First Release**: org.wordpress.android@15.1-rc-1+881
**First Seen**: 2020-07-03T09:14:52Z
**Last Seen**: 2020-10-01T07:48:08Z
**24 Hours**: 7
**30 Days**: 282

[code]

[2020-10-01 13:52] zwarm commented on #12745
FYI: ATM blocks are not rendered in comments and I believe discussions are in progress on how to address this moving forward.

[2020-10-01 14:38] maxme commented on #11771
@zwarm you're right! I tried again on the Reader directly, but also via a notification, and I was able to scroll horizontally and that same post with a table block. I'll update my previous comment.

[2020-10-01 16:55] designsimply commented on #7498
Looping back to take another look at this one!

@0nko are you sure those aren't two separate accounts? I feel like the emails I am thinking of (blog subscriptions for new posts) always go to the email address for the account, so if you subscribed as one email address then you should receive the email at that address. Could you maybe step back a little and let me know some steps for how to test thi

[2020-10-01 17:14] designsimply commented on #13025
Strange! I don't see it anymore either! I'm certain it was there before though—screenshot as evidence! 😂

Well, I'll close this for now unless I can spot the issue again.

[2020-10-01 17:14] #13025 closed, assigned to khaykov

[2020-10-01 17:28] designsimply opened #13046 "AppBar: "Image details" heading disappears after scrolling up while using light mode"
Steps to reproduce:

1. Go to My Site > Profile (top right) > App Settings and set Appearance to Light.
1. Go to My Site > Media > tap any image > scroll to see file details.

**Result:** after scrolling up to see file details the "Image details" heading in the AppBar disappears when in light mode.

<img src="https://user-images.githubusercontent.com/1119271/94842317-7d017980-03d8-11eb-8ae9-414a45

[2020-10-02 12:17] #13037 closed, assigned to zwarm

[2020-10-02 12:45] #11771 closed

[2020-10-02 15:36] designsimply commented on #7596
Checking back in on this, I compared the view for a plugin description on the app (I used version 15.8-rc-1) with the description of the app on the web and I found that the app is showing bulleted lists.

<img src="https://user-images.githubusercontent.com/1119271/94941583-4ee07000-0492-11eb-9b39-9250f5dbad45.png" height="340" alt="Screenshot_20201002-092915"> <img src="https://user-images.githubu

[2020-10-02 15:36] #7596 closed

[2020-10-02 23:18] guarani opened #13052 "Unsupported block bottom sheet is triggered when device is rotated"
### Expected behavior

When a post that contains an unsupported block is open in the block editor, rotating the device shouldn't cause a bottom sheet to appear.

### Actual behavior

When a post that contains an unsupported block is open in the block editor, rotating the device **causes a bottom sheet to appear**.

### Steps to reproduce the behavior

1. Open the block editor on a post that contai

[2020-10-02 23:25] guarani commented on #13052
The fix should be the same as what was done for the Reusable block component, see [here](https://github.com/WordPress/gutenberg/pull/25265/commits/f99ef14d255a2234579140cea225d5c8ee2421e1).

[2020-10-05 09:24] #12767 closed

[2020-10-05 09:26] hypest commented on #13052
Related and probably the same issue as https://github.com/wordpress-mobile/gutenberg-mobile/issues/2680. Leaving both open until those get investigated. @marecar3 please check out both of these issues, thanks!

[2020-10-05 14:55] develric opened #13055 "Permission issue while reading images from device"
While reviewing the #13009 PR I noticed the issue described below. Tracking here since it is something to further investigate.

### Expected behavior
I expect to be able to add an image to a GB image block from device.

### Actual behavior
At least with code from the above mentioned PR when trying to add an image from device to the GB image block in logcat I get the error `7103-7103/org.wordpress.

[2020-10-05 15:57] marecar3 commented on #13052
Thanks, @hypest, I will prioritize it.

[2020-10-06 01:35] reginabally opened #13056 "Site Pages feature missing for Editor on self-hosted sites"
### Expected behavior
I would expect the Editor user of a self-hosted WordPress site is able to access the Site Pages feature on the app.

### Actual behavior
Site Pages feature is missing for Editor on self-hosted WordPress site.

### Steps to reproduce the behavior

1. Log in to the app as an Editor user of a self-hosted WordPress site (not connected to Jetpack).
2. See that the Site Pages featu

[2020-10-06 03:06] bluefuton commented on #13027
The sites that it wasn't possible to follow from the original issue (#12960) are:

- 9to5mac.com/feed
- 9to5google.com/feed

The blog IDs are both private, hence the `no_access` response. I'm assuming they don't want that content indexed in Reader. **Our post recommender should respect this and skip any private sites.** Site recommendations already do this.

The other site was:

- theprettycanary.

[2020-10-06 06:19] AdamGrzybkowski commented on #13027
@bluefuton I also had problems with this one https://github.com/wordpress-mobile/WordPress-Android/pull/12960#issuecomment-698975017
Could you check why this was not working? It's probably one of the above reasons but it might be worth checking
Thanks!

[2020-10-06 06:22] malinajirka opened #13057 "Editors don't see Site Pages menu item"
### Expected behavior
User in Editor role can see and edit site pages.

### Actual behavior
"Site Pages" menu item is not displayed for users in Editor role.

### Steps to reproduce the behavior
1. Create a self-hosted site
2. Add a new user with Editor role
3. Log into the app using the self-hosted log in
4. Open My Site
5. Notice "Site Pages" menu item is missing

#3373718-zen

[2020-10-06 11:16] davidlevinwork commented on #13057
Hi
I would like to help with this issue..
Just to be sure - you want to create "Site Pages" menu as a new button in this page?

[2020-10-06 11:51] malinajirka commented on #13057
Hello @davidlevinwork! Your willingness to contribute is very much appreciated ;)!

The "Site Pages" button already exists and works as expected in most scenarios. However, it's not being shown on self-hosted sites when the user has "Editor" role. I think we'll need to modify [this](https://github.com/wordpress-mobile/WordPress-Android/blob/e4594f370eed3f6b30ffbb07165f53f3c25cb163/WordPress/src/ma

[2020-10-06 12:12] malinajirka commented on #13057
Few more notes about the issue:
The menu item is visible on iOS and the user can edit pages. However, it seems that the menu item is always shown on ios -> there aren't any conditions which would hide it ([link](https://github.com/wordpress-mobile/WordPress-iOS/blob/786d37608e369ece3b3083a7cda9e1485a92a3b8/WordPress/Classes/ViewRelated/Blog/Blog%20Details/BlogDetailsViewController.m#L814-L821)).

[2020-10-06 16:16] renanferrari opened #13064 "Login: Jetpack site users not connected to WP.com can't log in using their Jetpack site address"
### Expected behavior
Any Jetpack site user should be able to log in to the app using their site address.

### Actual behavior
Only the user who connected the Jetpack plugin is able to log in to the app using their site address.

### Steps to reproduce the behavior
1. Create a self-hosted site.
1. Install and connect the Jetpack plugin to it.
1. Add a new user in `wp-admin` via `Users > Add New`.

[2020-10-06 17:32] designsimply commented on #10413
Still valid!

[2020-10-06 18:09] designsimply commented on #13064
Nice catch!

There is one more variable to consider and that is whether or not the account email address has or does not have a WordPress.com account associated with it.

Using the steps above, if the user does have a WordPress.com account associated with their email address then they are logged in but the Jetpack site is not added (because this user has never connected Jetpack via the WP Admin >

[2020-10-06 18:40] renanferrari commented on #13064
@designsimply That's a very good point, thanks for mentioning it!

The reason that happens is because we are not really using the WordPress.com account to connect to the Jetpack site. Instead, we just assumed the user had already connected before and redirect them to the WordPress.com flow, which is clearly not ideal.

That said, I've just [opened a PR](https://github.com/wordpress-mobile/WordPres

[2020-10-06 19:25] designsimply commented on #13057
Closed https://github.com/wordpress-mobile/WordPress-Android/issues/13056 as a duplicate even though it was created first since this issue already has a bit more technical discussion and detail in the comments! /hat tip @reginabally ❤️

Note: it's also worth considering the FAB button, which should have an option to add a page if that is allowed by the role, i.e. for editors but not authors.

<img

[2020-10-06 19:26] designsimply commented on #13056
Tested and confirmed using WPAndroid 15.9-rc-1 on Pixel 3 Android 11. Thank you for the report @reginabally!

Even though this issue was filed first, I'd like to close it in favor of https://github.com/wordpress-mobile/WordPress-Android/issues/13057 which already has some additional discussion and technical detail in the comments.

[2020-10-06 19:26] #13056 closed, assigned to nobody

[2020-10-06 20:11] zwarm opened #13066 "Prepublishing Nudge: Add Categories to bottom sheet"
Introduce categories to the PPN bottom sheet.

This feature will allow users to
- Pick categories from existing categories
- Add new categories

![Screen Shot 2020-10-06 at 4 08 34 PM](https://user-images.githubusercontent.com/506707/95254672-3a7fd880-07ee-11eb-8e5e-d40cf4f439d6.png)

[2020-10-06 21:36] bluefuton commented on #13027
@AdamGrzybkowski I was able to subscribe successfully to http://recliningstandards.com and it doesn't appear to be affected by either of the issues above. Do you recall what the response was from the API?

There is a reliable workaround here - always subscribe using the blog ID instead. I believe that's what Calypso Reader does when following sites via Reader Search and recommendations.

[2020-10-06 23:13] designsimply opened #13067 "AppBar: copy and share icons aren't visible on the "Application log" screen while in light mode"
Steps to reproduce:

1. Go to My Site > Account (top right) > App Settings > Appearance and select "Light".
1. Go to My Site > Account (top right) > Help & Support > Application log.
1. Look for the copy and share icons near the top right.

**Result:** the copy and share icons are not visible on the "Application log" screen while in light mode.

<img src="https://user-images.githubusercontent.com/

[2020-10-07 06:08] malinajirka opened #13069 "Reader: Missing featured image when subfilter component is used"
### Expected behavior
Featured image of a post should be displayed in the "following" Reader tab no matter whether the subfilter component is being used or no filter is set.

### Actual behavior
Featured images on some posts are displayed only when no filter is set.

### Steps to reproduce the behavior
1. Open Following tab
2. Find a post with a featured image
3. Use the filter to show posts only

[2020-10-07 06:22] malinajirka opened #13070 "Reader crashes when I open a post with a video on API 23"
### Expected behavior
The app doesn't freeze+crash when I open a post with a video.

### Actual behavior
The app freezes and crashes after +-5s after I open a post with a video.

[code]

### Steps to reproduce the behavior
1. The app works on API 29, I was able to reproduce this behavior on Emulator API 23
2. Go to reader
3. Open a post with a video (eg. https://wp.me/sbblmJ-video)
4. Notice the a

[2020-10-07 06:26] AdamGrzybkowski commented on #13027
@bluefuton unfortunately, I don't :(

About subscribing with a blog ID - this was the solution proposed [here](https://github.com/wordpress-mobile/WordPress-Android/pull/12960#issuecomment-699662787) but I wasn't sure if it's ok to do it that way.

[2020-10-07 06:32] malinajirka commented on #13069
I've just double checked if this issue could be related to posts from other blogs, but I can confirm it's happening even when the only site I follow is "wpstoriesdemo.mystagingwebsite.com".

[2020-10-07 06:35] aforcier commented on #13069
@malinajirka can you check this while proxied (with cleared app data)?

I believe the cause might be that two different endpoints are used for the feed and the filter view, and for Jetpack sites one respects the beta block setting and the other does not. Proxying should return the same results for both endpoints.

[2020-10-07 06:42] ashiagr commented on #13027
@AdamGrzybkowski solution proposed [here](https://github.com/wordpress-mobile/WordPress-Android/pull/12960#issuecomment-699662787) looks fine to me:

If we have a valid `blogId` I think it is safe to `followByBlogId`. It is only when we don't have a `blogId` when we should consider following by `feedId`.

It is a simple fix, right?

[2020-10-07 06:58] malinajirka commented on #13069
@aforcier I can confirm it works when proxied. Does it mean we can close the issue ?:)

[2020-10-07 07:06] aforcier commented on #13069
@malinajirka great! Yep we can close it, the block will be promoted to production before stories ship to users. 👍

[2020-10-07 07:06] #13069 closed, assigned to nobody

[2020-10-07 09:23] malinajirka opened #13072 "Local changes label appears after I open a page and close it without making any changes"
### Expected behavior
When I open a page and close it without making any changes, the "local changes" label does not appear.

### Actual behavior
When I open a page and close it without making any changes, the "local changes" label appears.

I think it happens only on self-hosted sites (eg. jurassic ninja). It does NOT happen on posts so I believe there isn't any technical limitation.

<img src="h

[2020-10-07 11:15] malinajirka commented on #13064
#3381855-zen

[2020-10-07 12:32] #12641 closed

[2020-10-07 20:38] damemm56 opened #13079 "<!--- Installable Build Comment --->"
You can test the changes on this Pull Request by downloading the APK [here](https://75590-9306568-gh.circle-artifacts.com/0/Artifacts/WordPress-pr-13078-build-75590.apk).

_Originally posted by @peril-wordpress-mobile in https://github.com/wordpress-mobile/WordPress-Android/pull/13078#issuecomment-705172654_

[2020-10-08 08:00] AdamGrzybkowski commented on #13027
@ashiagr Yes, I will try to push it today/tomorrow :)

[2020-10-08 13:23] planarvoid opened #13086 "Referrers "View more" is sometimes hidden"
When some of the referrers are marked as a spam, they're not returned from the API. However, the endpoint still counts them in the limit and this causes the "View more" item to be incorrectly invisible. This needs to be fixed on the API.

Steps to reproduce:
- Mark your referrers between position 1 and 6 as spam
- Go to Stats/Referrers block
- Notice that the referrers you marked as a spam are inv

[2020-10-08 14:33] planarvoid opened #13089 "Support multiple media sources in media picker"
It is currently possible to switch media sources in the media picker while selecting featured image and the site icon. The featured image can be selected from the device, the WP library, the gif library and the stock library, the site icon can be selected from the device and the WP library.

We need to implement the same functionality in the consolidated media picker.

[2020-10-08 15:17] zwarm opened #13091 "Reader Comments: Unable to post comments"
### Expected behavior
When responding to comments via the Reader, I expected the comment to be posted or the comment icon to be disabled if the user wasn't able to post a comment

### Actual behavior
When responding to comments via the Reader, the comment fails to post for some sites and the user sees the "Couldn\'t post your comment" toast.

##### Tested on [Emulator], Android [10], WPAndroid [15

[2020-10-08 16:50] renanferrari commented on #13064
Closed by #13065.

[2020-10-08 16:50] #13064 closed, assigned to nobody

[2020-10-08 17:16] designsimply commented on #13091
@zwarm thanks for the bug report! I'd like to help test this. ~May I ask if the Business/Atomic site you tested with was private or public?~ EDIT: nevermind! I saw the support ticket reference and figured it out.

[2020-10-08 18:00] azollafox commented on #13091
Looks like this might be a result of this issue: https://github.com/Automattic/wp-calypso/issues/46284

[2020-10-08 19:20] designsimply commented on #13091
Thanks @sarahfg! Tested and confirmed using the following steps.

To prepare:

* Set up a WordPress.com Business site with plugins installed.
* Make sure the following settings are *on* in My Site > Manage > Settings > Discussion:
  * "Let visitors use a WordPress.com, Twitter, Facebook, or Google account to comment."
  * "Comment author must fill out name and e-mail"
  * "Users must be registered

[2020-10-08 19:32] designsimply commented on #13091
I also verified that I was unable to leave a comment via the Reader web. ([47s](https://cloudup.com/cCePGrhjfuW))

<img src="https://user-images.githubusercontent.com/1119271/95503893-3af0ae80-0969-11eb-8e83-0171f1c90d3a.png" width="270" alt="Screenshot_20201008-131850">
<sup>Tested with WPAndroid 15.9-rc-1 on Pixel 3 Android 11 on WordPress.com Business site (with plugins installed) artindesignco

[2020-10-08 19:34] designsimply commented on #13091
Closing in favor of https://github.com/Automattic/wp-calypso/issues/46284 as it appears this is a problem happening upstream. Please leave a comment here or create a new issue if you feel there is an app-specific problem and I will re-investigate. Thank you!

[2020-10-08 19:34] #13091 closed, assigned to nobody

[2020-10-08 20:24] bummytime commented on #13016
Fix #13073 was merged into 15.9. Closing.

[2020-10-08 20:24] #13016 closed, assigned to nobody

[2020-10-08 20:31] bummytime commented on #13043
This one has been growing steadily since September 17th (now 423 users / 584 events). @hypest I see a `GutenbergEditorFragment` at the top of the call stack there ☝️ . Any thoughts on this one?

[2020-10-08 20:49] bummytime commented on #13044
@jkmassel  Looks like this commit https://github.com/wordpress-mobile/WordPress-Android/commit/738a93400395cf0eecf46a7061b189d275334a15 **may** be the culprit for these crashers? Any thoughts on this one?

[2020-10-08 21:05] jkmassel commented on #13044
These seem to be exclusively very old Samsung devices that hit this issue, all of which are running Android 5. I'd guess it's a bad software version that somehow doesn't work right with loading Sodium. Given the low number of device types affected, we could probably make a list of those that just don't get encrypted logging to avoid this crash (though I wonder how they'd fare trying to launch Gute

[2020-10-08 21:06] bummytime commented on #13045
@planarvoid Looking through the history of `SiteSettingsFragment`, this commit https://github.com/wordpress-mobile/WordPress-Android/commit/c6cd5191e09978eec008cdfb8ff00a8f348945fb#diff-2ef05e651dd8427b13f1714a6f1afeb1 seems to line up with the timing (crashes first seen on Jun 20, 2020) of this crasher. Would you checking this one out?

[2020-10-08 21:24] bummytime commented on #13070
@malinajirka nice sleuthing! 🕵️  I _think_ this NPE is related to #11791. I also found the following Sentry issues:
- https://sentry.io/share/issue/7f9c48c8dba04519a745cc00768bdd85/
- https://sentry.io/share/issue/9d64bf025649420fb83bac618692477b/
- https://sentry.io/share/issue/67d62c7540d84aaa905934ede9da4888/

Should we close this one in favor of #11791 (or vise versa)? With the repro steps you

[2020-10-08 21:50] aerych opened #13093 "Post Previews: Previewing changes to an already published post on an Atomic site shows the published version"
### Expected behavior
When editing an already published post and previewing changes, we expect to see a preview of those changes appear in a web browser.

### Actual behavior
The published version of the post is shown rather than the autosave.

### Steps to reproduce the behavior
Edit a post on an Atomic site.  Do not use an ephemeral site as they do not correctly report their atomic status via th

[2020-10-09 07:01] malinajirka commented on #13070
Closing in favor of #11791

[2020-10-09 07:01] #13070 closed, assigned to nobody

[2020-10-09 07:29] planarvoid commented on #13045
hey @bummytime , I don't think that's commit is related but I'll look into it, it seems like a simple fix (even though it's scary it appeared 4 months ago)

[2020-10-09 08:05] hypest commented on #13043
Yeap, looks related to the [recent work](https://github.com/wordpress-mobile/WordPress-Android/pull/12144) on saving the post on exit from the editor. @mchowning , please dive into this one.

I'm adding the "Blocking" priority label to this one since it's about a critical flow (editing and exiting the editor) and users count is in the hudrends.

[2020-10-09 08:37] malinajirka commented on #13043
I'm able to consistently reproduce the issue.

1. Turn on "Don't keep activities" settings
2. Optional: Add delay(2000) to this line https://github.com/wordpress-mobile/WordPress-Android/blob/3984a4f8d9aa7090d93dd79aa050c8358475a811/WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostRepository.kt#L122
3. Open editor
4. Type something
5. Click on the up arrow
6. Press home button
7. Wai

[2020-10-09 08:48] malinajirka commented on #13043
I believe we need to check `isFinishing` wherever we call `hideSavingProgressDialog` ([this line](https://github.com/wordpress-mobile/WordPress-Android/blob/41bd2065d54ef0ea5df14bb5893d658866dab232/WordPress/src/main/java/org/wordpress/android/ui/posts/EditPostActivity.java#L1652) causes the crash). We also need to hide the progress dialog in `onDestroy` - and probably re-show the dialog after a c

[2020-10-09 13:38] bummytime commented on #11791
@malinajirka and I chatted about this in Slack some more. Apparently this is a known bug in Chrome - but there are workarounds. Based the number of affected users we are seeing here https://github.com/wordpress-mobile/WordPress-Android/issues/13070#issuecomment-705831797 (about 150 in aggregate), this would put the issue at "Normal" priority. Moving to groundskeeping project.

For future reference

[2020-10-09 13:43] malinajirka commented on #11791
I've done a quick investigation of this crash and it seems it's an issue with Webview/Chrome.

This is a javadoc of the `getDefaultVideoPoster ` method which is the root cause of the NPE.

"When not playing, video elements are represented by a 'poster' image. The image to use can be specified by the poster attribute of the video tag in HTML. If the attribute is absent, then a default poster will b

[2020-10-09 18:50] #13045 closed, assigned to planarvoid

[2020-10-09 19:48] designsimply commented on #13093
Thank you for the report @aerych! Tested and confirmed using the following steps:

1. In the app, open a WordPress.com Business site that has plugins installed.
1. Open any previously published post in the block editor.
1. Make changes to the title and content.
1. Go to  More (three dots at top right) > Preview.
1. Check to see if the changes are present.

Results: the title change is visible but

[2020-10-09 23:28] jd-alexander opened #13100 "WordPress Lint Checks not running on the codebase"
### Expected behavior
That the WordPress Lint dependency should run checks against the files in our codebase.

### Actual behavior
The checks aren't being run.

### Steps to reproduce the behavior
 Basically you would need to push a change that's supposed to break the lint rules that exist within the WordPress Lint dependency and the build will pass which means the checks aren't being run. Check t

[2020-10-10 19:15] AdamGrzybkowski commented on #13027
@ashiagr pushed the changes here https://github.com/wordpress-mobile/WordPress-Android/pull/12960/commits/6d083f04286ee76505329dbb350c18ff569527ce

[2020-10-11 03:13] songsammy opened #13102 "request fdroid download"
I am in a region where google services is not available.
I' read #9387 but here's what i wanted.
I don't need features like login with google, so will you please release a version like an fdroid version.
An official fdroid version without sensitive data.

[2020-10-11 21:25] bluefuton commented on #13027
Two changes were made to the API in response to this issue:
- we no longer recommend sites that do not have any new posts in the last 12 months (D50827-code)
- we added a check to ensure we always exclude private sites when recommending posts (D50687-code)

[2020-10-12 04:00] ashiagr commented on #13027
Thanks so much @AdamGrzybkowski , @bluefuton !!!

[2020-10-12 05:22] reginabally commented on #2885
From app review:

Date of the review: Oct 10, 2020, 21:15
Rating: 4 stars
No device, OS, and app version recorded.

[2020-10-12 10:32] hypest commented on #11239
https://github.com/wordpress-mobile/gutenberg-mobile/issues/1853 is now closed. Is this ticket still valid or not?

[2020-10-12 10:37] hypest commented on #10352
Can't repro on WPAndroid v15.9-rc-2. New page properly stays in the Pages draft section and doesn't appear on the posts list. Closing but please reopen if the issue happens again. Thanks!

[2020-10-12 10:37] #10352 closed

[2020-10-12 10:42] hypest commented on #11189
Closing since by @designsimply 's findings this is a theme related issue. While at it I'll remove the "gutenberg-mobile" label as well since it's not an editor issue. Please, feel free to reopen if needed.

[2020-10-12 10:42] #11189 closed

[2020-10-12 11:04] hypest commented on #12168
Based on Rachel's comment, this is most probably not mobile related so, closing. Please, feel free to re-open if it turns out to be a mobile one, thanks!

[2020-10-12 11:04] #12168 closed

[2020-10-12 15:48] develric opened #13111 "Review offline behavior in consolidated media picker"
This is a stub reminder issue about reviewing offline behavior before and while loading items in consolidated media picker (especially for Stock and Gif media).

[2020-10-12 18:14] designsimply commented on #9387
@tibaultbordeaux, you can find an .apk file linked on the GitHub page for each release. See https://github.com/wordpress-mobile/WordPress-Android/releases.

[2020-10-12 18:20] designsimply commented on #13102
Thank you for your interest in the app. The answer in #9387 still stands at the moment and I'm sorry I don't have a better answer for you at this time. As mentioned in the other issue, installing the app with limits on the functionality is currently the best available solution. You can find .apk files attached for each release at https://github.com/wordpress-mobile/WordPress-Android/releases.

[2020-10-12 18:20] #13102 closed, assigned to nobody

[2020-10-12 18:30] designsimply commented on #5394
Oops. Didn't close this before but am closing it now because a lot of changes have been made to the media picker since the original request. Please file any problems you find in a new issue and they will be triaged from there!

[2020-10-12 18:30] #5394 closed

[2020-10-12 20:26] #13052 closed, assigned to marecar3

[2020-10-12 21:38] designsimply commented on #7646
I wasn't able to replicate this in my own testing in the past, but I also did not adjust nginx or PHP settings at the time I had tested. Everything recommended earlier still hold as good troubleshooting steps in general, although I feel the `media upload failed: javax.net.ssl.SSLException` part of the error first reported should have prompted me to ask for SSL settings to be checked as well. Sorry

[2020-10-12 21:38] #7646 closed

[2020-10-12 22:09] designsimply opened #13113 "Some announcement badges contain text that looks like they are links but that aren't active"
### Expected behavior

I expect that any text that looks like a link in the announcement badges will work like a link.

### Actual behavior

Some text, usually numbers, look like they are links but nothing happens when you tap on them.

### Steps to reproduce the behavior

Trigger any announcement badge that contains links and try to tap on them. ([56s](https://cloudup.com/c2GMVrCiSA2))

Some exam

[2020-10-13 07:11] reginabally opened #13115 "Preview feature isn't working when draft isn't saved after adding the second block"
### Expected behavior
I would expect the Preview feature to automatically save the draft for me and let me preview my draft after I added the second (and more) block to the page/post.

### Actual behavior
The Preview feature doesn't pop-up the preview screen to let me view my draft after I added a second block.

### Steps to reproduce the behavior

1. Go to My Site > Site Pages or Blog Posts to cr

[2020-10-13 14:04] rezzap opened #13120 "Copy Logs and Share button can't be seen against white background"
### Expected behavior

I would expect to be able to see the copy and share buttons in the top corner of the Application Logs page which helps users share logs with us.

### Actual behavior

The buttons are showing white against white, therefore can't be seen.

### Steps to reproduce the behavior

1. Navigate to Me > Help & Support
2. Go to Application Log
3. View the button in the top right corner

[2020-10-13 18:18] designsimply opened #13121 "Stats: Countries map image is blank white-only"
Steps to reproduce:

1. Go to Stats > Days, Weeks, Months, or Years.
1. Try to view the map of countries.

**Result:** Countries map image is blank and all white regardless of the Appearance settings. Note: the problem does not happen in 15.8.1 and does happen starting in 15.9-rc-1.

<img src="https://user-images.githubusercontent.com/1119271/95898882-f8eeb080-0d4c-11eb-8a81-6c79f8135f4b.jpg" widt

[2020-10-13 18:31] designsimply commented on #13120
Thank you for the report @rezzap!! We're tracking this one in https://github.com/wordpress-mobile/WordPress-Android/issues/13067 so I'll close this as a duplicate. 👍

[2020-10-13 18:31] #13120 closed, assigned to nobody

[2020-10-13 18:43] designsimply commented on #13115
Thank you for reporting this @reginabally! We're already tracking this issue at https://github.com/wordpress-mobile/WordPress-Android/issues/12570 so I will close this one as a duplicate. 👍

[2020-10-13 18:43] #13115 closed, assigned to nobody

[2020-10-13 18:43] designsimply commented on #12570
This came up again in an app review for WPAndroid 15.7, also see https://github.com/wordpress-mobile/WordPress-Android/issues/13115 hat tip @reginabally ❤️

Date of review: Oct 1, 2020, 03:20
Device: Redmi 9
App version code: 924
App version name: 15.7

[2020-10-14 15:38] develric opened #13132 "Issue in parcel marshaling when preview/edit"
### Expected behavior
In pick from device or from tenor, I would expect to be able to edit/preview a selected item.

### Actual behavior
In pick from device or from tenor, trying to edit/preview a selected item cause the following:

[code]

[code]

**Note 1:** Stock seems to work well
**Note 2:** The issue seems present only if you edit/preview on an item that is currently selected; non selected i

[2020-10-14 15:56] guarani opened #13133 "Post previews show black nav bar after user visits Unsupport Block Editor on Jetpack-connected sites"
### Expected behavior

A black nav bar shouldn't be shown in post previews.

### Actual behavior

Post previews sometimes show an unwanted black navigation bar. It looks like this happens after the user has used the Unsupported Block Editor.

<img width="350" alt="Screenshot showing black nav bar in Unsupported Block Editor" src="https://user-images.githubusercontent.com/1898325/96014230-85b46f80-

[2020-10-14 17:34] designsimply opened #13135 "Post Settings: location setting does not stay open on first tap, "locations near me" list is missing, and location setting is not visible after it is set unless you leave and return to Post Settings"
Steps to reproduce:

1. Go to My Sites > + > Blog post to start a new post.
1. Go to More (three dots at top right) > Post settings.
1. Scroll down and tap Location.
1. Observe that a window opens and immediately closes the first time Location is tapped.
1. Tap Location again.
1. Look for a list of "locations near me" to select from.
1. Observe there is nothing in the "locations near me" list.
1.

[2020-10-14 22:44] designsimply opened #13137 "Duplicate post created if the internet connection is lost while trying to save a draft post"
Steps to reproduce:

1. Go to My Site > Blog Posts > Drafts > +.
1. Add a title and some content.
1. Tap More (three dots at top right) > Save.
1. Quickly turn off the network connection or turn on airplane mode.
1. Observe that the new draft now has a notice on it in the Posts List that says,<br>"We couldn't complete this action but we'll try again later."
1. Turn on the network connection again.

[2020-10-14 22:53] designsimply commented on #13137
Possibly a regression of https://github.com/wordpress-mobile/WordPress-Android/issues/9347.

Also, note that the user reports on https://github.com/wordpress-mobile/WordPress-Android/issues/8594 are more likely this bug (or another similar one) because those users reported duplicates being persistent (like in the test above) and unlike in the 8594 issue where the duplicate post only appears briefl

[2020-10-14 23:04] #13046 closed, assigned to khaykov

[2020-10-14 23:35] designsimply commented on #8363
**Events in the last 90d:** 10,800
**Users affected in the last 90d:** 1,000
<sub>WORDPRESS-ANDROID-GP: https://sentry.io/share/issue/730912cdc8744fa6abc162fd9d289865/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1024074753&sort=-timestamp

[2020-10-14 23:36] designsimply commented on #8634
Still fairly low frequency for this one. Following are the search results for "PARAGRAPH span must start at paragraph boundary" and showing a 30-day graph.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=%22PARAGRAPH+span+must+start+at+paragraph+boundary%22&s

[2020-10-14 23:39] designsimply commented on #9904
Seeing a slight decrease in frequency on a search for `IndexOutOfBoundsException` in Sentry. Still happening in the latest release, 15.8.1.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=IndexOutOfBoundsException&sort=-timestamp&statsPeriod=90d&widths=-1&wid

[2020-10-14 23:40] designsimply commented on #9997
A search for `"OutOfMemoryError"` in Sentry > Discover returns 497 events in the last 30d.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=%22OutOfMemoryError%22&sort=-timestamp&statsPeriod=30d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%28%

[2020-10-14 23:42] designsimply commented on #9999
**Events in the last 90d:** 4,900
**Users affected in the last 90d:** 401
**Limited to:** Android 8.0.0 and above
<sub>WORDPRESS-ANDROID-58: https://sentry.io/share/issue/536eac3cce544a968c6df9e044c8425a/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=

[2020-10-15 00:06] guarani opened #13139 "Page button not shown despite user having Editor role"
### Expected behavior

The app should allow site users with the `editor` role to manage (edit/add) pages. Only users with the `author`, `contributor`, or lesser roles are not meant to manage pages.

Roles and capabilities reference: https://wordpress.org/support/article/roles-and-capabilities/

### Actual behavior

**Tested on a self-hosted site**

The app doesn't show site editors the buttons/fea

[2020-10-15 00:07] guarani commented on #13139
Related: https://github.com/wordpress-mobile/WordPress-iOS/issues/15111

[2020-10-15 00:20] guarani opened #13140 "App does not receive user role changes after they've been modified from another device"
### Expected behavior

If the user's role of a self-hosted site is changed remotely (i.e. not within the app), it should be possible to have the app refresh allowing the user to perform actions in accordance with their newly given role.

### Actual behavior

When logged in to a self-hosted site, if I change the user's role remotely, there appears to be no way of refreshing the app so that the user

[2020-10-15 00:22] guarani commented on #13140
Found while filing https://github.com/wordpress-mobile/WordPress-Android/issues/13139.

[2020-10-15 00:23] guarani commented on #13140
A possible UX solution to this issue could be to allow pull-to-refresh on the site screen.

[2020-10-15 09:11] develric commented on #13132
Closed by #13138

[2020-10-15 09:11] #13132 closed, assigned to nobody

[2020-10-15 10:25] #12646 closed

[2020-10-15 11:10] #13089 closed, assigned to planarvoid

[2020-10-15 12:20] bummytime commented on #12657
**Update:** 3.3k events and 1.6k users — @zwarm did you have a chance to investigate this one?

[2020-10-15 12:26] marecar3 commented on #13133
We have closed PR: https://github.com/wordpress-mobile/WordPress-Android/pull/13142
because we want a different solution than we have in closed PR. (clear cookies)

At this moment we don't want to clear cookies because we don't want to user experience "Login with WordPress"
flow each time when he tries to edit the block inside WebView.

[2020-10-15 17:38] designsimply commented on #13139
Thank you for the report @guarani! I think this is a duplicate of https://github.com/wordpress-mobile/WordPress-Android/issues/13057 so I'll close this issue. If you feel it's not a duplicate can you please re-open this issue again?

[2020-10-15 17:38] #13139 closed, assigned to nobody

[2020-10-15 17:41] designsimply commented on #7842
Still valid.

[2020-10-15 18:22] guarani commented on #13139
Thanks @designsimply, definitely a duplicate! I need to fine-tune my issue search skillz 😄

[2020-10-15 22:51] zwarm opened #13149 "Prepublishing nudges: Write unit tests for Categories"
Write unit tests for
Prepublishing Nudges
- Select Categories
- Add Categories

[2020-10-16 06:25] mkevins commented on #11239
The underlying issue is still possible, AFAIK, but the symptoms exhibited in wordpress-mobile/gutenberg-mobile#1853 seem to be resolved. I'm not sure how common / likely the collisions described in this issue are to occur, but it could result in some consistency issues with the React rendering of galleries, in theory, since we use id as a key. Also, there is a potential edge case from the collisio

[2020-10-16 07:29] sentry[bot] opened #13153 "IllegalStateException: Can not perform this action after onSaveInstanceState"
Sentry Issue: [WORDPRESS-ANDROID-FJN](https://sentry.io/organizations/a8c/issues/1761712636/?referrer=github_integration)

[code]

**Steps to reproduce**

1. Launch app
2. Login using self-hosted site
3. Go to Reader -> Following tab
4. Click filter
5. Click "login to wordpress.com" on the filter bottom sheet
6. Click "login to wordpress.com" on Me screen

![login_crash](https://user-images.github

[2020-10-16 09:11] develric opened #13155 "Indeterminate progress bar in site icon when cancelling editing."
### Expected behavior
When setting/change the site icon, when landed into the photo edit, if I cancel the operation (x cross on top left) site icon should stay unchanged

### Actual behavior
When setting/change the site icon, when landed into the photo edit, if I cancel the operation (x cross on top left) site icon get the indeterminate progressbar that is never stopped.

### Steps to reproduce th

[2020-10-16 09:21] planarvoid commented on #13153
Related issue - https://github.com/wordpress-mobile/WordPress-Android/issues/10852

[2020-10-16 10:14] ashiagr opened #13156 "Add missing unit tests for reader post details"
Add tests for `ReaderPostDetailViewModel`

[2020-10-16 15:53] zwarm commented on #13066
Additional Tasks
- [x] Add a submit button to bottom of Add Category View as seen below
<img width="250" src="https://user-images.githubusercontent.com/506707/96280385-e622e880-0fa5-11eb-8a3e-5ecae047dc6e.png">

- [x] On the select categories view, replace 'Add new category" text link with "+" in the toolbar

- [x] Remove PTR functionality, it doesn't belong in a bottom sheet

- [x] Move [tracking

[2020-10-16 19:04] #12900 closed, assigned to nobody

[2020-10-16 19:30] zwarm opened #13163 "Reader Posts intermittently duplicated upon bookmark action"
### Expected behavior
Reader post is shown once in the feed

### Actual behavior
The reader post is duplicated in the feed after bookmarking
 detail | detail | feed
---|---|---
<img width="480" src="https://user-images.githubusercontent.com/506707/96300871-4f195900-0fc4-11eb-9208-ade7cbb97bba.png">|<img width="480" src="https://user-images.githubusercontent.com/506707/96300872-517bb300-0fc4-11eb-9

[2020-10-16 20:07] designsimply commented on #10057
**Events in the last 90d:** 19,000
**Users affected in the last 90d:** 199
**Limited to:** Android 9 and 10 (and a very small number of cases for Android 11)
**Note:** Lots of Redmi devices are affected
<sub>WORDPRESS-ANDROID-57M: https://sentry.io/share/issue/882e9e1e8bd74a099702c55790a563be/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field

[2020-10-16 20:12] designsimply commented on #10169
Great note! I checked and there were no cases recorded in Sentry for this issue for Android 10 or 11, however, a lot of cases are still happening for devices running Android 9 and below. Not sure yet whether to close this or leave it open to see how it evolves over time.

**Events in the last 90d:** 32,000
**Users affected in the last 90d:** 3,600
<sub>WORDPRESS-ANDROID-2T: https://sentry.io/share

[2020-10-16 20:15] designsimply commented on #10494
Noticed another decrease in users affected compared to last time.

**Events in the last 90d:** 27,000
**Users affected in the last 90d:** 391
**Limited to:** Android 9 and 10 only
**Majority of:** mostly Redmi and Samsung
<sub>WORDPRESS-ANDROID-3CW: https://sentry.io/share/issue/c24b15bfbb884b44aece31bd07b29f9e/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&fi

[2020-10-16 20:16] designsimply commented on #10572
**Events in the last 90d:** 1,000
**Users affected in the last 90d:** 116
<sub>WORDPRESS-ANDROID-2XE: https://sentry.io/share/issue/e686abc964fe474680bc1549eec154a2/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1104176654&sort=-timestamp&s

[2020-10-16 20:17] designsimply commented on #11223
A search for all crashes with `"ENOSPC"` returns 3,407 occurrences in the last 90 days:

<a href="https://sentry.io/organizations/a8c/discover/results/?cursor=0%3A0%3A1&display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=ENOSPC&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%28%29

[2020-10-16 20:18] designsimply commented on #11312
A search for all crashes with `"CursorWindowAllocationException"` returns 637 occurrences in the last 90 days:

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=%22CursorWindowAllocationException%22&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&

[2020-10-16 20:20] designsimply commented on #11790
**Events in the last 90d:** 639
**Users affected in the last 90d:** 218
**Majority of cases are for:** Android 5.x and 6.x
<sub>WORDPRESS-ANDROID-AVV: https://sentry.io/share/issue/703dcdfc9828483f8a7ff8f63ac85ffb/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438

[2020-10-16 20:23] designsimply commented on #11791
**Events:** 1,400
**Users affected:** 141
**Majority of cases are:** Android 6.0
<sub>WORDPRESS-ANDROID-AWF: https://sentry.io/share/issue/7f9c48c8dba04519a745cc00768bdd85/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1629979327&sort=-time

[2020-10-16 20:26] designsimply commented on #11803
**Events last 90d:** 38,000
**Users affected last 90d:** 606
<sub>WORDPRESS-ANDROID-8XJ: https://sentry.io/share/issue/f69cf2cbf05f4064a66748d515cab007/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1509710590&sort=-timestamp&statsPeriod=90

[2020-10-16 20:28] designsimply commented on #11966
A search for `"Unable to start activity ComponentInfo{org.wordpress.android/org.wordpress.android.ui.posts.PostsListActivity}: kotlin.TypeCastException: null cannot be cast to non-null type org.wordpress.android.fluxc.model.SiteModel"` in Sentry Discover shows this result:

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=dev

[2020-10-16 20:30] designsimply commented on #12343
**Events in the last 90d:** 81
**Users affected in the last 90d:** 22
<sub>WORDPRESS-ANDROID-FC1: https://sentry.io/share/issue/44c38036c5a7459facd6ec94f08111b9/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1758312274&sort=-timestamp&stats

[2020-10-16 20:36] designsimply commented on #12260
**Events last 90d:** 2,000
**Users affected last 90d:** 45
**Majority of cases recorded are for:** Android 8.1.0 and below (plus 2 reports for Android 9)
<sub>WORDPRESS-ANDROID-13C: https://sentry.io/share/issue/027fed659e884718ac18307ff8de680e/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culpr

[2020-10-16 20:37] designsimply commented on #12341
**Events in the last 90d:** 121
**Users affected in the last 90d:** 18
<sub>WORDPRESS-ANDROID-F7H: https://sentry.io/share/issue/57de38ddfcb346f6b4b9fde615966757/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1756432648&sort=-timestamp&stat

[2020-10-16 20:38] designsimply commented on #12342
**Events in the last 90d:** 884
**Users affected in the last 90d:** 683
<sub>WORDPRESS-ANDROID-F99: https://sentry.io/share/issue/f8446ccce4b44145a970421331426f4f/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1757110691&sort=-timestamp&sta

[2020-10-16 20:41] designsimply commented on #12394
**Events in the last 90d:** 653
**Users affected in the last 90d:** 477
<sub>WORDPRESS-ANDROID-DQZ: https://sentry.io/share/issue/749a54cba25644d4a8ff59e1c1c3b3b3/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1737475229&sort=-timestamp&sta

[2020-10-16 21:00] designsimply commented on #12463
Looks to be dwindling again. Could keep an eye on it.

**Events in the last 90d:** 659
**Users affected in the last 90d:** 72
<sub>WORDPRESS-ANDROID-68: https://sentry.io/share/issue/2e6c079378b84f72a20ac45ed5ec42d1/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=14

[2020-10-16 21:02] designsimply commented on #12466
**Events in the last 90d:** 2,000
**Users affected in the last 90d:** 96
<sub>WORDPRESS-ANDROID-AT: https://sentry.io/share/issue/bd1fcd0ffbc44e2eb80c97e2d1801f01/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1021808172&sort=-timestamp&sta

[2020-10-16 21:05] designsimply commented on #12550
**Events in the last 90d:** 940
**Users affected in the last 90d:** 754
<sub>WORDPRESS-ANDROID-1E9: https://sentry.io/share/issue/1b677ab4487e47579f3dcba7e4763fa4/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1051398125&sort=-timestamp&sta

[2020-10-16 21:17] designsimply commented on #12552
@bummytime according to the data I'm seeing right now, only 3 users were affected that got recorded in this Sentry issue in the last 90 days but the frequency come in at 995 which I found confusing at first. Upon a closer look, it appears that it has a relatively high number of cases in 15.7 and then it started up again more heavily in 15.9-rc-1 and 15.9-rc-2. Because the cases are happening mostl

[2020-10-16 21:23] designsimply commented on #12657
+1 this one's totally worth a look!

**Events in the last 90d:** 3,300
**Users affected in the last 90d:** 1,600
<sub>WORDPRESS-ANDROID-HC9: https://sentry.io/share/issue/af9bf1418add4f589f5f91c794263e7a/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=

[2020-10-16 21:27] designsimply commented on #13043
Thank you for the steps @malinajirka! Thank you for working on a fix @mchowning! @mchowning do you need a hand finding a reviewer and how would you feel about targeting 16.0 instead of 16.1 on this one (or sooner even)? I ask because the graph is showing an upward trend with decently high daily occurrences in a short span of time.

**Events in the last 90d:** 1,000
**Users affected in the last 90d

[2020-10-16 21:30] designsimply commented on #13044
**Events in the last 90d:** 318
**Users affected in the last 90d:** 147
**Limited to:** Samsung devices with Android 5.x
<sub>WORDPRESS-ANDROID-Q9R: https://sentry.io/share/issue/16f46ed069914393abcc576fae700e8d/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=143808

[2020-10-16 21:34] bummytime commented on #12552
Thank you @designsimply! 🤠

[2020-10-19 01:14] reginabally commented on #10675
~Another report in 3415661-zen, using Google Pixel (not specifying the actual model), Android 11 and WPAndroid version 15.8.1.~ (EDITED: The report in the ticket isn't related to this issue but I was able to replicate the steps in the original thread)

Able to replicate this on OPPO Reno 4, Android 10, WPAndroid version 15.9-rc-2.

[2020-10-19 06:52] designsimply commented on #11803
Number of occurrences on this one seems really high compared to users affected. Why?

[2020-10-19 07:00] designsimply commented on #11943
Removing from high priority because it didn't get picked up and because an issue with featured image uploads was fixed around the same time and because there are other higher priority issues in consideration right now. We can always add this back to the high priority list later if needed.

[2020-10-19 07:01] designsimply commented on #11674
Removing from high priority because this is likely a problem happening upstream and needs to be fixed on the Calypso side. Adding the `Needs manual testing` label to ask for a check on that.

[2020-10-19 07:37] malinajirka commented on #13043
I'm sorry, the PR slipped through my filters. I'll review it asap and target 16.0. I think there is too many code changes for 15.9, however, I'll discuss it with Lorenzo.

[2020-10-19 08:23] malinajirka opened #13169 "Editor: Post contains local changes even when the user doesn't modify the post"
### Expected behavior
When I open a post in the gutenberg editor and I close it I expect the post won't contain any local changes.

### Actual behavior
When I open a post in the gutenebrg editor and I close it the post contains local changes.

### Steps to reproduce the behavior
1. My Site
2. Blog Posts
3. Open a published post (eg. [this long post](https://gist.github.com/mchowning/61f1dadc6d3829

[2020-10-19 08:48] #13043 closed, assigned to mchowning

[2020-10-19 09:36] koke opened #13170 "Site Switcher UI is a bit confusing"
### Expected behavior

The Site Switcher has somewhat the appearance of a dropdown, so I expected to tap anywhere in the area and be presented with a switcher.

### Actual behavior

Instead, there are actually four different tappable areas:
- The icon lets you change the site icon
- The title lets you change the site title
- The URL takes you to the site in a web view
- The down arrow shows the si

[2020-10-19 11:49] hypest commented on #13169
Looks related to the ticket opened a few days ago in the gb-mobile repo: https://github.com/wordpress-mobile/gutenberg-mobile/issues/2714