[2020-10-19 12:05] malinajirka commented on #13169
Thanks for the info, I've missed that. They look similar, however, I haven't even need to scroll + this issue isn't about autosave but about save on exit. Having said all that there is a pretty high chance these two tickets are related.

[2020-10-19 19:34] #8363 closed

[2020-10-19 20:28] designsimply commented on #13170
Noting that these changes were updated in https://github.com/wordpress-mobile/WordPress-Android/pull/12799 as part of a larger AppBar refresh project that shipped in in 15.8 (originally https://github.com/wordpress-mobile/WordPress-Android/pull/12547). 😍

@osullivanchris, since you were involved in the design decisions, may we have your input on this one with a goal of making this issue actionable

[2020-10-19 21:48] designsimply commented on #12938
Possibly related: https://github.com/wordpress-mobile/WordPress-Android/issues/11350

[2020-10-19 21:49] designsimply commented on #13163
Not sure if it's related, but there's another issue on file about duplicate sites showing in the Reader at https://github.com/wordpress-mobile/WordPress-Android/issues/12938 that I wanted to mention in case fixing one affects the other. 😊

[2020-10-19 22:10] BigActual opened #13177 "Unable to select media image (jpg) uploaded from handheld device as Featured Image"
### Expected behavior
I expected to be able to designate an uploaded image from the handheld device as the Post Thumbnail/Featured Image, based on https://apps.wordpress.com/2012/09/19/version-2-2-now-available-featured-images-all-new-stats/#:~:text=To%20set%20an%20image%20as,you'll%20need%20WordPress%203.4.
### Actual behavior
Looking through the upload process several times using both block and

[2020-10-20 05:15] #12883 closed, assigned to nobody

[2020-10-20 05:16] #12882 closed, assigned to nobody

[2020-10-20 09:30] osullivanchris commented on #13170
Thanks @koke and @designsimply

I did some usability testing on the site switcher (see the comment at the very bottom of pbArwn-C9-p2), and it performed well. People understood the action for switching site, and its a lot simpler for the iA than going up a level to another view.

I did not do testing on the other tap-able areas though. I did consider this approach of making the whole row perform s

[2020-10-20 12:14] planarvoid commented on #10057
I've attempted to fix this issue by implementing a full database for referrers instead of saving JSON - https://github.com/wordpress-mobile/WordPress-FluxC-Android/pull/1726. We can still come back to it but it is a massive overkill. I'd focus now on trying to making the page size smaller to lower the file size in DB.

[2020-10-20 12:30] #12834 closed, assigned to nobody

[2020-10-20 12:30] #13027 closed, assigned to nobody

[2020-10-20 12:59] frosty commented on #13170
I have to say I'm not a fan of having all these tap targets here either. If a user has multiple sites, it would be much nicer to be able to tap anywhere in that area – I feel like changing the site icon or title are going to be super infrequent activities. They're  part of the Quick Start checklists, so there's another prompt there for new users to change them. Also, iirc removing Site Title from

[2020-10-20 13:03] osullivanchris commented on #13170
oh yes I meant to say to you! I added another account on instagram. I noticed they do this, with a double tap it also works. Cool idea anyway.

sounds good to me. I'd propose we change the entire area to open site switcher. As you mentioned changing title and icon can be done elsewhere. And visit site also has a link in the list. We would just have to change that url text to grey and remove the ic

[2020-10-20 13:09] BigActual commented on #13177
Resolved.
Tyler pointed out where I went wrong
https://wordpress.slack.com/archives/C02RQC4LY/p1603161015055800?thread_ts=1603150491.055600&cid=C02RQC4LY
"You should be able to set the featured image in the post settings.  You can get to post settings by going to the My Site tab, tapping either the Posts circular button or the Blog Posts item under the Publish section, tapping the post to edit fro

[2020-10-20 13:09] #13177 closed, assigned to nobody

[2020-10-20 15:30] planarvoid commented on #13169
Since you're also @mchowning doing groundskeeping this week, is it ok if I'll leave this to you?

[2020-10-20 20:09] designsimply commented on #13170
I must admit (totally chiming in with a personal opinion) that I'm quite swayed by Chris's argument that new users should have a super easy/simple/fast way to change the site title and icon and 🙈  I really like all the tap targets! Is this because I am a power user? 🤔😬😊

[2020-10-20 21:07] develric opened #13187 "Featured image not set from WP Media Lib in http self-hosted sites"
**Note 1:** this was noted while working in the consolidated media picker project but it seems not related to it since behaviour is the same also without that feature on.
**Note 2:** the following applies for http pure self-hosted sites; https case (like with jurassic ninja without setting up the JP) works as expected.

### Expected behavior
When setting a featured image from WP Media lib I expect

[2020-10-21 07:04] ashiagr commented on #12980
Closed via #13146

[2020-10-21 07:04] #12980 closed, assigned to nobody

[2020-10-21 10:44] loremattei opened #13194 "IllegalArgumentException: Unexpected char 0x662 at 49 in Content-Disposition value: form-data; name="media[0]"; filename="S..."
**Sentry Url**: https://sentry.io/share/issue/6cf330eb8d4e4260ac3133f059edc772/
**User Count**: 67
**Count**: 710
**First Release**: org.wordpress.android@15.9-rc-1+930
**First Seen**: 2020-10-06T20:15:22.396000Z
**Last Seen**: 2020-10-21T10:42:12Z
**24 Hours**: 288
**30 Days**: 703

[code]

[2020-10-21 10:46] loremattei opened #13195 "RuntimeException: Unable to start activity ComponentInfo{org.wordpress.android/org.wordpress.android.ui.WPWebViewAc..."
**Sentry Url**: https://sentry.io/share/issue/1988ba5de5754cc0a29032b1c85e3ee9/
**User Count**: 85
**Count**: 326
**First Release**: org.wordpress.android@15.8-rc-2+927
**First Seen**: 2020-10-01T17:49:50.204000Z
**Last Seen**: 2020-10-21T09:32:45Z
**24 Hours**: 14
**30 Days**: 326

[code]

[2020-10-21 10:49] loremattei opened #13196 "UninitializedPropertyAccessException: lateinit property featuredImageView has not been initialized"
**Sentry Url**: https://sentry.io/share/issue/ca318ff6adde4e07bebdfecda260ca54/
**User Count**: 6
**Count**: 33
**First Release**: org.wordpress.android@16.0-rc-1+936
**First Seen**: 2020-10-20T11:33:09.386000Z
**Last Seen**: 2020-10-21T06:49:44Z
**24 Hours**: 34
**30 Days**: 34

[code]

[2020-10-21 10:50] loremattei commented on #13196
This has not a big impact right now, but since it's new in the latest beta I think it's worth monitoring and some investigation.

[2020-10-21 12:18] sentry[bot] opened #13197 "NullPointerException: Attempt to invoke virtual method 'void org.wordpress.android.login.LoginEmailFragment.finishLogin..."
Sentry Issue: [WORDPRESS-ANDROID-DA8](https://sentry.io/organizations/a8c/issues/1733840879/?referrer=github_integration)

[code]

[2020-10-21 12:21] planarvoid commented on #13197
After investigation of the logs it seems that the following steps are happening:
- User clicks on "Continue with WordPress.com"
- User clicks on "Continue with Google.com"
- The app (for an unknown reason) restarts the LoginActivity.
- The login activity tracks that it's showing "Prologue"
- This means the `savedInstanceState == null`
- The Google login finishes successfully
- Since the LoginActiv

[2020-10-21 14:21] osullivanchris commented on #13170
Haha its not necessarily my argument/my opinion. I was just articulating that side of things 😄

I do see what you mean. But I think its a lot for a first use case. And actually, not even entirely sure it would be obvious to new users. Some actual call to action "Set your site title" would be more obvious to me, than figuring out that its tapable.

cc @mbshakti  ☝️ this discussion may be relevant t

[2020-10-21 14:29] #13121 closed, assigned to planarvoid

[2020-10-21 14:29] #12658 closed

[2020-10-21 14:30] develric commented on #13194
I could reproduce this one in the following way:

- Download in your device/emu this [image](https://drive.google.com/file/d/1rJnc48ueXP4jk4h4oT0VKm1BKC8VBjnx/view?usp=sharing)
- Create a post and add an image block
- try to upload into the image block the downloaded image above
- boom

Verified that 15.8 does not have this issue but it's present in current 15.9 production so it seems probably goo

[2020-10-21 14:42] planarvoid commented on #13194
[This is related stackoverflow issue](https://stackoverflow.com/questions/58869988/unexpected-char-0x662-at-42-in-content-disposition-value-form-data-name-userf)

[2020-10-21 19:22] #13156 closed, assigned to ashiagr

[2020-10-21 22:16] guarani commented on #9563
I noticed today that attempting to view a _site_ while offline shows both the broken-looking "Web page not available" screen **and** by the more user-friendly UI below it:

| <img width="300" alt="non-user-friendly web page not available message shown when attempting to view a site while offline" src="https://user-images.githubusercontent.com/1898325/96792726-6051d380-13d1-11eb-9799-7692a33b50c4.g

[2020-10-21 23:29] develric commented on #13195
Could not reproduce this one; logs reports `Resources$NotFoundException: String resource ID #0x2040003` exception while creating `WPWebViewActivity` in various scenarios. In some of them (even if as said not the only scenario) the issue is triggered by `view_site_from_header` when opening a site in the main My Site header menu. @khaykov could you have a look into this in case something rings any b

[2020-10-21 23:37] develric commented on #13196
Hi @ashiagr , I see you self-assigned so I'm assuming you are having a look into this already, correct? I set a low pri for now but not removing the Required Triage since as per Lore comment above it's under monitoring and we can change priority in case numbers rise.

[2020-10-22 07:04] ashiagr commented on #13196
Hi @develric,

I was able to reproduce this issue. Linked PR fixes it. Let me know if you can review it else will ask @zwarm as she has more context.

[2020-10-22 09:52] develric commented on #13196
Hey @ashiagr thanks for wrangling a fix! I agree @zwarm can have more context so I'm happy with her reviewing the PR, of course let me know in case I can help 🙇 .

[2020-10-22 11:05] develric commented on #13194
closed by #13205

[2020-10-22 11:05] #13194 closed, assigned to planarvoid

[2020-10-22 14:15] frosty opened #13210 "Media Library search only searches viewed pages of content"
### Expected behavior

If I have previously scrolled through multiple pages of photos in my media library, whenever I perform a search in the media library I would expect to find matching images within those pages that I've already browsed.

### Actual behavior

If I have previously scrolled through multiple pages of photos in my media library, and then I leave and re-enter the Media section of th

[2020-10-23 09:35] rezzap commented on #7216
From a 3 star review:

play-store-eviewid=gp:3AAOqpTOGSTW8OKzDwDS4DtJLi4WWeosn_JzDU4sH6OTmvBVnnqdTJTa6nvcQrf_Dm1T5qitiCOkWi4S7DJIBFtQ

[2020-10-23 16:13] bummytime opened #13220 "Improving Error Messaging for non-English characters in Site Creation Flow"
### Expected behavior

I would expect to be told non-English characters are not supported if I'm using unsupported characters in trying to create a site.

### Actual behavior

When trying to create a site using a language like Arabic or Chinese, we see the error `No available addresses matching your search` instead. It would be helpful if we could show a message that non-English characters are not

[2020-10-23 16:21] bummytime commented on #13220
On WP.com, this is the error displayed when the `اختبارات` is used as a site name:

<img width="953" alt="Screen Shot 2020-10-23 at 11 18 46 AM" src="https://user-images.githubusercontent.com/154014/97028480-d1080580-1521-11eb-94c1-64b598c731aa.png">

[2020-10-23 21:51] designsimply opened #13221 "Quick Start: indicator dot is missing on the Add Page floating action button (FAB)"
Steps to reproduce:

1. Log out and sign up as a new user and create a new site.
1. Select "Yes, Help Me" when prompted for help getting started.
1. Go to Next Steps > Customize Your Site > Create a new page.
1. Tap Pages.
1. Look for the pulsing dot on the "Add Page" FAB (floating action bar).

**Result:** there's no dot on the FAB for the Add Page step in Quick Start. ([53s](https://cloudup.com/

[2020-10-25 16:47] geriux commented on #11803
After a lot of investigation, I found most of these issues are related to pasting HTML content into the editor, there are cases that are breaking the parsing system so some users encounter this issue multiple times when trying to paste something making the number of occurrences to be higher.

Unfortunately, I wasn't able to reproduce them but I wanted to share what is happening so we can work on f

[2020-10-26 09:26] #12552 closed

[2020-10-26 09:34] malinajirka commented on #9563
@guarani I think it'd be better to open a new issue. The convo on this ticket won't be most probably related to the fix. Thanks!

[2020-10-26 10:35] develric opened #13223 "WP Media library wrong items upload ordering"
Noticed during internal call for testing (comment here `pbMoDN-1oy-p2#comment-2753`); note that I could not replicate it currently but we are further checking it (cc @maxme )

### Expected behavior
When uploading into media library, I would expect the last added media to be on the top left in the grid.

### Actual behavior
When uploading into media library, the last added media is not always on th

[2020-10-26 10:55] develric opened #13224 "Slow thumbnails loading time for videos in WP Media library"
This is a stub reminder issue to further investigate this comment noticed during internal call for testing (pbMoDN-1oy-p2v#comment-2755); better check if we download the full videos or if the thumbnails are very slowly generated on the server.

### Expected behavior
When loading video thumbnails from WP Media library, they load in a timely way.

### Actual behavior
When loading video thumbnails fr

[2020-10-26 11:04] develric opened #13225 "x icon in search bar for Tenor and Free photo library gets centered in landscape"
Noticed during internal call for testing (comment here pbMoDN-1oy-p2#comment-2756)

### Expected behavior
In Tenor or Free Photo library when searching in landscape, the x icon should stay on the right

### Actual behavior
In Tenor or Free Photo library when searching in landscape, the x icon get centered

### Steps to reproduce the behavior
- Go into Tenor or Free Photo library
- Rotate device to

[2020-10-26 11:11] develric opened #13226 "Keyboard not auto dismissed after uploading featured image in post settings."
Noticed during internal call for testing (comment here pbMoDN-1oy-p2#comment-2756)

### Expected behavior
When adding a photo from Tenor or Free photo lib, while searching, the keyboard is opened but it should be closed when adding the image and coming back to the post settings

### Actual behavior
When adding a photo from Tenor or Free photo lib, while searching, the keyboard is opened and it is

[2020-10-26 11:17] develric opened #13227 "Image not shown in image block when Don't keep activities is on."
Noticed during internal call for testing (comment here pbMoDN-1oy-p2#comment-2763)

### Expected behavior
When adding an image from Free Photo library in GB image block, the selected image should appear in the image block

### Actual behavior
When adding an image from Free Photo library in GB image block, the selected image does not appear in the image block

### Steps to reproduce the behavior
-

[2020-10-26 11:26] develric opened #13228 "ANR sometimes when adding from free photo library to gallery block."
Noticed during internal call for testing (comment here pbMoDN-1oy-p2#comment-2763).

### Expected behavior
When adding multiple images to a gallery block from Free Photo Library (could possibly happen also with other sources), I would expect those images to be uploaded into the gallery block

### Actual behavior
When adding multiple images to a gallery block from Free Photo Library (could possibly

[2020-10-26 11:30] develric opened #13229 "Missing add from WP Media Lib for stories"
Noticed during internal call for testing (comment here pbMoDN-1oy-p2#comment-2766)

### Expected behavior
When adding media to stories I expect to be able to add from WP Media Library.

### Actual behavior
When adding media to stories the option to add from WP Media Library is not available.

### Steps to reproduce the behavior
- Create a new story
- In the picker that opens notice you cannot add

[2020-10-26 12:14] zwarm opened #13230 "API category action fails, but success response is returned"
### Actual behavior

Sometimes the API responds with a success response containing null name if we try to add a subcategory with an existing title.

This is possible using the Prepublishing Nudges Category view or the Edit Post Settings view

See - [Video](https://cloudup.com/iZ1Mg4mhtmI).

### Expected Behavior
The request should fail and the API returns a failure response.

### Steps to reproduc

[2020-10-26 12:30] guarani opened #13231 "Offline Support: Improve UI when viewing a site while offline"
### Expected behavior

The offline UI when viewing a site should show a clean interface.

### Actual behavior

I noticed today that attempting to view a site while offline shows both the broken-looking "Web page not available" screen and followed by the more user-friendly UI below it:

| <img width="300" alt="non-user-friendly web page not available message shown when attempting to view a site whi

[2020-10-26 12:31] guarani commented on #9563
Created https://github.com/wordpress-mobile/WordPress-Android/issues/13231, thanks!

[2020-10-26 12:35] #12343 closed

[2020-10-26 13:32] planarvoid commented on #13224
I've checked the video media model objects and we don't have any other URL than the video URL. We're using Glide to show the thumbnail and it seems that this is the most efficient way to go at the moment. The perfect approach would be to generate the thumbnail when we're uploading the file.

[2020-10-26 17:29] designsimply commented on #13223
This is an upstream issue with Calypso and has been reported many times by users 🙂  please see https://github.com/Automattic/wp-calypso/issues/43840 for the latest report and check out the links in the comments as well.

[2020-10-26 18:38] designsimply commented on #12885
The problem where the wrong thumbnail sometimes shows up for a video upload in the media library came up in an app review:

<sup>play-store-reviewid=gp:AOqpTOEFa_4xGgTSHTiglh4RCq63eL5LeLWEVJeE6RGXo9aJqfqZMwPRu0tCb2jXp1YRnuRhQtBWpYjeTZuFGQ</sup>

[2020-10-26 18:38] designsimply commented on #13224
This came up in an App Review:

<sup>play-store-reviewid=gp:AOqpTOEFa_4xGgTSHTiglh4RCq63eL5LeLWEVJeE6RGXo9aJqfqZMwPRu0tCb2jXp1YRnuRhQtBWpYjeTZuFGQ</sup>

[2020-10-26 20:11] designsimply opened #13237 "Stats Widget: consider adding the domain in the heading of the 4 x 2 stats widget"
<sup>play-store-reviewid=gp:AOqpTOG-9pGbuYzpaPPG2kGveDlm7QsbON7PrfnkEuXNAbrCkuIkLDdrq5B3ON8xhKLvFsOXyOMs2cjckIAOBw</sup>

<img src="https://user-images.githubusercontent.com/1119271/97223174-036d6900-1795-11eb-8d43-f3a10bd16f10.png" height="540" alt="Screenshot_20201026-140847"> <img src="https://user-images.githubusercontent.com/1119271/97222895-a07bd200-1794-11eb-8b83-624e10e656a8.jpg" height="5

[2020-10-26 20:45] emilylaguna commented on #13195
👋 @khaykov I just wanted to follow up on this issue to see if you had a chance to look at this or if I should assign it to someone else?

[2020-10-27 01:37] theck13 opened #13238 "Software Keyboard Hides Bottom Widgets"
### Expected
All interface widgets are shown or can be scrolled into view, especially at the bottom of the screen.

### Observed
Some interface widgets are not shown or can't be scrolled into view, especially at the bottom of the screen.

### Reproduced
Some partially hidden widgets have been observed on the ***Log In*** screen while entering the two-factor authentication code and on the ***Commen

[2020-10-27 04:11] ashiagr commented on #13196
Fixed in #13202

[2020-10-27 04:11] #13196 closed, assigned to ashiagr

[2020-10-27 04:50] ashiagr opened #13239 "Some posts have a featured image in the list, but not in the post detail"
### Expected behavior
Featured image if set on the post should be present in the post detail.

### Actual behavior
Some posts having a featured image in the list do not show it in the post detail.

![featured-image](https://user-images.githubusercontent.com/1405144/97257792-f906aa00-183c-11eb-907a-41aaeedca182.gif)

### Steps to reproduce the behavior
See video

**More details**

https://github.co

[2020-10-27 08:16] #10057 closed

[2020-10-27 11:36] khaykov commented on #13195
@develric @emilylaguna Sorry, I was AFK for the past week, but looking at this issue I think I know what the problem is. I'll push a quick fix asap 👍

[2020-10-27 12:40] azollafox commented on #11412
We have another user reporting this issue is back on a WordPress.com Simple site for them, app version 15.9.1 ticket 3440642-zen

[2020-10-27 13:23] emilylaguna commented on #13195
Awesome! Thanks for the heads up, and fixing it so quickly. 🙌

[2020-10-27 14:06] bummytime commented on #11412
@planarvoid @zwarm 👋 Did we get any logs that could help us determine if this is an endpoint caching or app issue?

[2020-10-27 15:40] #13225 closed, assigned to planarvoid

[2020-10-27 15:54] #13226 closed, assigned to planarvoid

[2020-10-27 18:05] zwarm opened #13244 "Stats Detail Post Header should open images in browser"
### Expected behavior
When viewing stats for a post with an image "attachment page", the navigation path for images should take the user to a browser with the image open.

### Actual behavior
When viewing stats for a post with an image "attachment page", the navigation path takes the user to the Reader. Since the image is not a post, the reader shows an error message.

fig 1|fig 2|fig 3
---|---|--

[2020-10-27 18:22] designsimply commented on #11412
Another report came in from an app review saying Stats aren't updating:

* Device: Samsung Galaxy S10+
* Device language: Swedish
* App version code: 938
* App version name: 15.9.1
* Android version (SDK): Android 10 (SDK 29)

I asked them to please try going to Android Settings > Apps & notifications > WordPress app > Storage & cache and tapping the "Clear cache" option and to please report back

[2020-10-27 19:56] #13067 closed, assigned to khaykov

[2020-10-28 00:50] renanferrari commented on #13197
I spent some time on this today but I also failed to reproduce the issue.

Starting from the steps shared by @planarvoid above, I tried to force the app to restart the `LoginActivity` while logging in with Google by experimenting with many combinations of low memory, slow network connection and starting the flow with different amounts of Google accounts linked to the device and then completing it

[2020-10-28 03:42] reginabally commented on #11412
Sharing the app log in 3440642-zen.

[code]

[2020-10-28 08:44] planarvoid commented on #11412
thanks for the log @reginabally but there is nothing stats related in there :/. Are we sure the log is after the user tried opening/refreshing the stats?

[2020-10-28 08:48] planarvoid commented on #11412
@bummytime I haven't seen any logs yet that include what was added in June (look for `fetchVisits` string)

[2020-10-28 09:13] reginabally commented on #11412
Sorry, @planarvoid. I've sent the steps again to the user and requested for the new log.

[2020-10-28 10:29] loremattei opened #13248 "IllegalArgumentException org.wordpress.android.editor.gutenberg.GutenbergPropsBuilder in build"
Sentry Url: https://sentry.io/share/issue/c98a69d0e21641bf885f0910eeae2650/
User Count: 426
Count: 1.8K
First Release: org.wordpress.android@15.8-rc-1 (925)
First Seen: Sep 24, 2020 6:51:47 PM UTC
Last Seen: Oct 28, 2020 10:16:55 AM UTC
24 Hours: 29
30 Days: 1.8K
[code]

##### Tested on [device], Android [version], WPAndroid [version]

[2020-10-28 10:35] loremattei opened #13249 "titolo"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

##### Tested on [device], Android [version], WPAndroid [version]

[2020-10-28 10:37] loremattei opened #13250 "test"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

##### Tested on [device], Android [version], WPAndroid [version]

[2020-10-28 10:42] loremattei opened #13251 "IllegalArgumentException: No suitable parent found from the given view. Please provide a valid view."
**Sentry Url**: https://sentry.io/share/issue/d6f9d3ea2f804f0491cc08d97f112fe8/
**User Count**: 450
**Count**: 604
**First Release**: org.wordpress.android@15.7-rc-2+918
**First Seen**: 2020-09-14T08:42:39.457000Z
**Last Seen**: 2020-10-28T10:19:58Z
**24 Hours**: 4
**30 Days**: 563

[code]

[2020-10-28 12:40] azollafox commented on #11412
Here are the new logs:

[code]

[2020-10-28 13:15] #12643 closed

[2020-10-28 13:16] planarvoid commented on #11818
This is now implemented and merged so I'm closing this issue

[2020-10-28 13:16] #11818 closed

[2020-10-28 13:17] planarvoid commented on #11722
I cannot reproduce this issue. Do you think you double check whether this is still happening @designsimply ? thanks!

[2020-10-28 13:22] planarvoid commented on #6778
I've tried to reproduce this issue using the test steps and it's not happening any more so I'm closing it.

[2020-10-28 13:22] #6778 closed

[2020-10-28 14:14] emilylaguna commented on #13251
I'm unable to reproduce on my Android device or in the emulator.

👋 @malinajirka I see that you recently made the change to the [offending line](https://github.com/wordpress-mobile/WordPress-Android/blame/develop/WordPress/src/main/java/org/wordpress/android/ui/reader/discover/ReaderDiscoverFragment.kt#L175). Could you please take a look at this?

[2020-10-28 14:33] emilylaguna commented on #13248
The sentry url 404's for me so here's a correct one: https://sentry.io/share/issue/c98a69d0e21641bf885f0910eeae2650/

[2020-10-28 15:31] emilylaguna commented on #13248
Unable to reproduce this on my end, reached out to @marecar3 who mentioned this maybe similar to https://github.com/wordpress-mobile/gutenberg-mobile/issues/2692 but since this is happening in 15.9.1 he's going to take another look.

Thank you @marecar3!

[2020-10-28 16:20] planarvoid commented on #11412
thanks @sarahfg , and just to be sure - this user with these logs is seeing the wrong stats? The requests seem absolutely correct. We're fetching the data for the correct dates and the `Last data item` seems to be today. Or is this for the user who was able to recover?

[2020-10-28 17:58] marecar3 commented on #13248
Thank you @emilylaguna! 👍

[2020-10-29 11:23] #13251 closed, assigned to malinajirka

[2020-10-29 13:55] #13066 closed, assigned to zwarm

[2020-10-29 20:38] jkmassel opened #13266 "Users unable to figure out how to remove Jetpack sites that are unreachable"
When viewing a Jetpack site that's not reachable, the app behaves strangely:
- When viewing a site's settings, it'll attempt the load the settings, then kick you out of that screen with a toast that says "Couldn't retrieve site info".
- It looks like the handling is different than on WordPress.com – there, it looks like it automatically hides Jetpack sites that are unreachable. However they still

[2020-10-29 22:04] renanferrari commented on #13197
Decided to give this a second try today and luckily was able to reproduce the issue after a few attempts.

Apparently this happens when the user presses back at a very specific moment during the login process: _after_ we sent the request to perform a social login with their Google credentials but _before_ we have the chance to show the progress dialog that would normally prevent them to go back to

[2020-10-30 07:21] malinajirka opened #13267 "Jetpack Section: Project Issue"
This is the main project issue for the Jetpack Section project

### Tasks
- [x] Create feature flags for Activity Log, Restore, Backup and Scan
- [x] Activity Log Filters: https://github.com/wordpress-mobile/WordPress-Android/issues/13268
- [x] Restore: #13328
- [x] Backup Download: #13329
- [x] Scan: https://github.com/wordpress-mobile/WordPress-Android/issues/13326
- [x] Backup Screen: #13629

[2020-10-30 07:33] malinajirka opened #13268 "Jetpack Section: Activity Log"
https://github.com/wordpress-mobile/WordPress-Android/issues/13267

![activity_log_filtering](https://user-images.githubusercontent.com/2261188/100442209-ef749a00-30a7-11eb-8e9d-6980198a1f85.png)

#### Date Filter
- [x] Add support for a date range filter to the getActivities endpoint (https://github.com/wordpress-mobile/WordPress-FluxC-Android/issues/1744)
- [x] Add support for passing an input a

[2020-10-30 11:45] loremattei opened #13271 "Error: java.io.IOException: write failed: ENOSPC (No space left on device)"
**Sentry Url**: https://sentry.io/share/issue/db8457b6f72840b1810cb07afc234e16/
**User Count**: 390
**Count**: 2453
**First Release**: org.wordpress.android-14.6-rc-1
**First Seen**: 2020-04-09T11:04:33Z
**Last Seen**: 2020-10-30T11:34:01Z
**24 Hours**: 14
**30 Days**: 658

[code]

[2020-10-30 15:23] emilylaguna opened #13273 "SQLiteBlobTooBigException: Row too big to fit into CursorWindow requiredPos=0, totalRows=14"
**Sentry Url**: https://sentry.io/share/issue/83d65e73445b4d87ad38a068e49b2dd6/
**User Count**: 38
**Count**: 1557
**First Release**: org.wordpress.android-12.4
**First Seen**: May 24, 2019 9:46:39 AM UTC
**Last Seen**: Oct 30, 2020 6:23:14 AM UTC
**24 Hours**: 13
**30 Days**: 193

[code]

[2020-10-30 15:41] #13248 closed, assigned to marecar3

[2020-10-30 17:29] designsimply commented on #13273
Also see https://github.com/wordpress-mobile/WordPress-Android/issues/10057 / https://github.com/wordpress-mobile/WordPress-FluxC-Android/pull/1726 as a similar issue that has been at the top of our Groundskeeping Android prioritized list and was worked on recently. ❤️

<sup>(internal reference: p4a5px-2F5-p2)</sup>

[2020-10-30 23:28] emilylaguna commented on #13271
Hey @jkmassel, I see that you were the last to work on `LogFileWriter.kt:42`. Would you mind taking a look at this?

https://github.com/wordpress-mobile/WordPress-Utils-Android/blame/1dd7406ad540af7d6b9a2f3727b2b08b4d7fd1c9/WordPressUtils/src/main/java/org/wordpress/android/util/helpers/logfile/LogFileWriter.kt#L42

[2020-11-02 02:13] #13195 closed, assigned to khaykov

[2020-11-02 08:58] malinajirka commented on #13273
I've looked into this issue and here are things I found:
- We've seen a similar crash at various places throughout the app - https://github.com/wordpress-mobile/WordPress-Android/issues/10057 - sentry merged some "unrelated" crashes. (We've seen it even in Woo app https://github.com/woocommerce/woocommerce-android/issues/572)
- We increased Cursor window size to 5MB in 0371731434b4456f0d37c7388b2e

[2020-11-02 09:24] malinajirka commented on #13273
Another ideas for solutions:
4. Store only lets say 3000 characters of mContent into the db and store the rest into a file.
5. Look if we can somehow zip the mContent. It might not help.
6. Catch the exception and somehow modify the post so it fits the cursor window and show something like "Post is too big and can't be open on mobile".

[2020-11-02 10:09] malinajirka commented on #13273
I was able to reproduce the crash:
1. Generate 100kb of text and save it into the clipboard (eg on https://www.lipsum.com/)
2. Open a new post on the web
3. Paste the text 50 times (50x 100kb)
4. Publish the post
5. Go to Post List in the app and notice the app crashes

Solutions 1, 2 wouldn't solve this issue. Solution 5 would solve it only for some posts and there would still be a limit on post

[2020-11-02 10:40] #13149 closed, assigned to zwarm

[2020-11-02 14:27] diegoreymendez commented on #13266
I'm marking this as low severity, because:

- The severity is low: the App is still usable, and it's only the experience within the inaccessible site that is sub-optimal.  It's not even crashing or blocking any functionality.
- The impact is low: there's no reference in the issue to user reports, and given the nature of the report (a difference between WP Android and Web) I expect not a lot of use

[2020-11-02 14:36] diegoreymendez commented on #13266
As a side note in WordPress web, I'm seeing the site flagged as broken, instead of hidden - It may be because I intentionally moved .php files in order to not have to wait for the jurassic.ninja site to break:

<img width="278" alt="Screen Shot 2020-11-02 at 11 34 12" src="https://user-images.githubusercontent.com/1836005/97880086-7d56a280-1cff-11eb-82dc-9ab1ce59543f.png">

[2020-11-02 15:19] jkmassel commented on #13266
Thanks @diegoreymendez – this came about because of a user report asking how they could get rid of that site – they couldn't figure out how (and I couldn't either).

Eventually, I showed them how to hide it in Android using the list filter.

Thanks for looking at this!

[2020-11-02 17:36] develric commented on #12001
I was looking into this one, after some code speculation I tried to replicate it. I confirm that following the steps in @designsimply video I can replicate it with 14.9 version, but cannot replicate it anymore with current develop. Hey Sheri, maybe I'm just missing something, but can you confirm this is still an issue? Thanks 🙇

[2020-11-02 17:49] bummytime commented on #12736
**Nov 2nd, 2020 Update:** @mzorz emailed Zendesk about this and they replied that having a minimum character limit is **not** possible with any version of the Zendesk SDK.

Ref: https://github.com/wordpress-mobile/WordPress-iOS/issues/14695#issuecomment-720625770

cc @msilbers @ScoutHarris

[2020-11-02 18:56] bummytime commented on #12736
After a quick chat with @elibud, we decided to close this issue since nothing can happen on the app side. Please re-open if this situation changes.

[2020-11-02 18:56] #12736 closed

[2020-11-03 00:39] #13093 closed, assigned to planarvoid

[2020-11-03 08:58] #13229 closed, assigned to nobody

[2020-11-03 10:59] hypest commented on #12001
Just to be sure, can you also try with latest production version (v16.0) as well @develric? To check if it is a release version issue or not. Thanks!

[2020-11-03 11:38] develric commented on #12001
Hey @hypest , I tried again with released production version v16.0 (for completeness I used [this release apk](https://github.com/wordpress-mobile/WordPress-Android/releases/download/16.0/wpandroid-16.0-universal.apk) since I'm not reached yet from the 16.0 google play version, but I guess should be the same, correct?). I confirm I cannot reproduce the issue. Would be good if someone else can conf

[2020-11-03 13:06] simison commented on #13015
On a8c account, using alpha-253 release I see empty page:

<img src="https://user-images.githubusercontent.com/87168/97988681-06e0a000-1de6-11eb-9dfe-d4720f7178e9.jpg" width="270" alt="2020-11-03 15 04 41">

[2020-11-03 13:08] simison opened #13283 "Support: untranslated contact support header"
### Expected behavior
Header would've said something like "Contact Support"

### Actual behavior
Untranslated string at the contact support -header:

![2020-11-03 15 04 46](https://user-images.githubusercontent.com/87168/97988858-4d35ff00-1de6-11eb-8a5c-e6e56aacd3c9.jpg)

### Steps to reproduce the behavior
- Open _Help and Support_
- Tap "Contact Support"
- Observe problem

##### Tested on [devic

[2020-11-03 15:18] #13197 closed, assigned to nobody

[2020-11-04 14:30] diegoreymendez commented on #13266
Thanks @jkmassel, makes sense.  That description feels a bit more focused.

But since I've marked it as low priority, and since @bummytime mentioned this was reviewed last week by @emilylaguna and @malinajirka, I'm removing the "Requires Triage" tag for now.

[2020-11-04 17:11] khaykov commented on #10494
I tried to give this one a go, without much luck, but after checking the updated conversation on the issue, it looks like the Chromium team (or another relevant one) is actively working on mitigating the issue, that's why we probably see the decrease in cases. I assume that Redmi or Samsung might have some proprietary update mechanism for WebView, that's why the majority of the issues come from th

[2020-11-04 18:21] designsimply commented on #13283
Thank you for the report @simison!

I tested with the latest alpha versions, alpha-254 and alpha-253, as well as the latest beta, 16.1-rc-1, and I was able to see the "Contact Support" heading appear correctly on the My Site > Profile > Help & Support > Contact Support page. I used APK versions from the https://github.com/wordpress-mobile/WordPress-Android/releases page

alpha-254|alpha-253|16.1-r

[2020-11-04 18:35] designsimply opened #13292 "Post List: consider adding an option to copy the post URL"
We've received a request in beta tester feedback to have an option to copy the URL for a post:

* 2-star beta tester feedback
* Oct 27, 2020, 06:39
* Device: LGE LG G7 ThinQ
* Device language: English
* App version code: 939
* App version name: 16.0-rc-2
* Android version (SDK): Android 10 (SDK 29)

<sup>(internal reference: play-store-reviewId=gp%3AAOqpTOGxPytP9Xd-OvKfM-hn5mtQsQmTYXVx9GJjKOoDScX0

[2020-11-04 18:36] designsimply commented on #4230
* 2-star beta tester feedback
* Oct 27, 2020, 06:39
* Device: LGE LG G7 ThinQ
* Device language: English
* App version code: 939
* App version name: 16.0-rc-2
* Android version (SDK): Android 10 (SDK 29)

<sup>(internal reference: play-store-reviewId=gp%3AAOqpTOGxPytP9Xd-OvKfM-hn5mtQsQmTYXVx9GJjKOoDScX0q-KYXQTJvyJ0t8loRo6ydmeQYe6e8Idp3_GGDGji&corpus=BETA_FEEDBACK)</sup>

[2020-11-04 18:37] simison commented on #13283
I'm simply getting my version from Play store's beta program, and I don't have tooling set up to test from latest commit.

I can double check when next beta goes out and report back?

[2020-11-04 18:43] designsimply opened #13293 "General: optimize for smart watches"
We've received a request in beta tester feedback asking to optimize for a smart watch:

* 4-star beta tester feedback
* Oct 22, 2020, 11:41
* Device: Samsung Galaxy Tab S7+
* Device language: Italian
* App version code: unavailable
* App version name: unavailable
* Android version (SDK): Android 10 (SDK 29)

<sup>(internal reference: play-store-reviewId=gp%3AAOqpTOGunQyUuQC_a1h85eNsF8iyR49kM6R34EQ

[2020-11-05 01:18] reginabally opened #13294 "Reader: Line/paragraph breaks not rendered properly for classic block"
The line/paragraph breaks in a classic block isn't rendered properly in the Reader on the Android version of the app. It works well on WordPress.com Reader as well as the Reader on the iOS version of the app.

### Expected behavior
I would expect the output of the post in the Reader is the same across all platforms/devices.

### Actual behavior
The text added on a classic block in the Reader on th

[2020-11-05 11:39] rossanafmenezes commented on #13294
Another report here 3464940-zen

Asking user for more info on their device (it's a Blackberry according to the logs but  that's it)
App version: 16.0

They mentioned they are using the classic editor but I check and they are using the classic block.

[2020-11-05 14:04] #13244 closed, assigned to zwarm

[2020-11-05 14:12] azollafox commented on #13294
User above provided more details:

[2020-11-05 23:49] khaykov commented on #12624
Hey, @marecar3 👋 I know this was in a past, but I wanted to ask what site you were using (simple, atomic, JP) and what role was the user in?

[2020-11-06 00:27] khaykov commented on #13135
Looks like the PlacePicker library we were using was deprecated, and is no longer working. I will try to migrate us to the new version.

[2020-11-06 00:48] jd-alexander opened #13299 "Prepublishing bottom sheet : Keyboard overlays the fragment container"
### Expected behavior
The Prepublishing Bottom sheet's content should always be above the keyboard.

### Actual behavior
Sometimes when you press the Next button on the Story Composer screen the keyboard overlays the fragment container.

### Steps to reproduce the behavior
1. My Site
2. Press add new fab in the bottom right corner.
3. Select Story post.
4. Choose a media item.
5. Press and close t

[2020-11-06 05:53] reginabally opened #13302 "Reader: Related posts feature missing in 16.0"
### Expected behavior
I would expect at the end of the post in the Reader on the app, I'm able to see the related posts section, which can be found in the earlier version of the app.

**Screenshot taken on WPAndroid 15.9.2**

<img src="https://user-images.githubusercontent.com/40906847/98331371-684b7d80-2037-11eb-93a0-94db578da482.jpg" width="270" alt="Screenshot_20201106-134617">

### Actual beha

[2020-11-06 08:06] reginabally commented on #13294
Another report in 3453540-zen on Sony F5121, WPAndroid 15.9.2.

<img src="https://user-images.githubusercontent.com/40906847/98341493-e284fd80-2049-11eb-9ff6-c2416f32ae87.png" width="270" alt="Screenshot_20201105-193103~2">

Link to the post can be found in the ticket.

[2020-11-06 08:23] loremattei opened #13303 "IllegalStateException: jsonInterests.optJSONObject(i) must not be null"
**Sentry Url**: https://sentry.io/share/issue/95aeaf8dea364fdcb5d45550c3110de0/
**User Count**: 132
**Count**: 863
**First Release**: org.wordpress.android@15.8.1+932
**First Seen**: 2020-10-21T17:48:22.658000Z
**Last Seen**: 2020-11-06T07:56:03Z
**24 Hours**: 43
**30 Days**: 861

[code]

[2020-11-06 08:25] loremattei opened #13304 "Resources$NotFoundException: Resource ID #0x7f080221"
**Sentry Url**: https://sentry.io/share/issue/4699576189b8491ebaee24020cf64987/
**User Count**: 1
**Count**: 1055
**First Release**: org.wordpress.android@15.4-rc-1+897
**First Seen**: 2020-07-29T09:13:23.676000Z
**Last Seen**: 2020-11-06T01:52:39Z
**24 Hours**: 10
**30 Days**: 513

[code]

[2020-11-06 08:28] loremattei commented on #13304
Sentry reports this happens to only 1 user, but this is misleading. It happens to users who are not logged in, so they have user ID == 0 and Sentry counts them as a single user.
Given the number of occurrences, I think it's worth more investigation.

[2020-11-06 10:05] develric commented on #10163
I spent a bit of time on this one; didn't come to a final conclusion since run out of time + hitted my limits with my current skills on RN 🙃 . Sharing anyway in case it can accelerate steps of anyone that will look later into it.

- AFAIU we already save the state of `mEditorFragment` and `mEditorMediaUploadListener` in `EditPostActivity`

[code]

- In my understanding, what ends up happening is t

[2020-11-06 10:34] develric commented on #10621
Closing since it is superseded by the [GH project](https://github.com/orgs/wordpress-mobile/projects/48) and upcoming dedicated projects (like the My Site dashboard; not sure it's the most current one but original thread here `pbArwn-2G-p2`)

[2020-11-06 10:34] #10621 closed

[2020-11-06 10:47] develric commented on #11242
This is still an issue (tested with current develop 16.1-rc-1 on Pixel 3 Emu API 28), so leaving it opened but removing it from IA GH Project that is not currently active.

NOTE: on API 29 it seems the issue is not present at least for me.

[2020-11-06 10:55] develric commented on #11232
This is still current (tested with current develop 16.1-rc-1 on Pixel 3 Emu API 28), so leaving it opened but removing it from IA GH Project that is not currently active.

[2020-11-06 10:56] develric commented on #11013
This is still current (tested with current develop 16.1-rc-1 on Pixel 3 Emu API 28), so leaving it opened but removing it from IA GH Project that is not currently active.

[2020-11-06 10:57] develric commented on #10619
This is still current (tested with current develop 16.1-rc-1 on Pixel 3 Emu API 28), so leaving it opened but removing it from IA GH Project that is not currently active.

[2020-11-06 11:10] develric commented on #11935
Closed by #11942

[2020-11-06 11:10] #11935 closed

[2020-11-06 13:21] malinajirka opened #13312 "Reader: Discover keeps showing an infinite progress screen"
### Expected behavior
When `/cards` endpoint used for the discover tab in Reader returns an empty list of cards, the app should display an empty/error view.

### Actual behavior
When `/cards` endpoint used for the discover tab in Reader returns an empty list of cards, the app keeps showing an infinite loading screen. The user can leave the screen, but the UX is confusing.

### Steps to reproduce t

[2020-11-06 13:40] ashiagr opened #13313 "Media: "Unable to load media" error for newly uploaded media on certain sites"
### Expected behavior
Newly uploaded media should play properly just after upload from the media section under "My Site" on a wordpress.com atomic site. App displays "unable to load media" error.

### Actual behavior
Newly uploaded media does not play properly from the media section under My Site for such a site (tested on a wordpress.com site with business plan and public privacy settings).
It pl

[2020-11-06 13:45] ashiagr opened #13314 "Media: Newly uploaded media fails to play just after upload on certain sites"
### Expected behavior
Newly uploaded media should play properly just after upload from the media section under "My Site".

### Actual behavior
Newly uploaded media fails to play for certain kind of sites (tested on a wordpress.com site with business plan and public privacy settings) if played immediately after upload. App displays "unable to load media" error.

It plays fine on a simple site with

[2020-11-06 13:47] ashiagr commented on #13313
Duplicate of https://github.com/wordpress-mobile/WordPress-Android/issues/13314

[2020-11-06 13:47] #13313 closed, assigned to nobody

[2020-11-06 14:21] diegoreymendez commented on #13304
Can I ask you to look into this @renanferrari ?  I noticed you edited some of the code around the area this crash that's coming up in the crash log, so you may be better positioned to evaluate this issue.

I'm marking this as high priority ([high-severity, medium-impact](https://github.com/wordpress-mobile/WordPress-Android/blob/develop/docs/issue-triage.md#prioritization)).  Feel free to change t

[2020-11-06 14:38] diegoreymendez commented on #13303
Hey @AdamGrzybkowski !  I'm pinging you since you did the most recent modifications to `ParseDiscoverCardsJsonUseCase.kt` around the area that's showing up in the crash log for this issue.

Can I ask you to take a look at this crash?

I'm marking this as medium priority ([high severity, low impact](https://github.com/wordpress-mobile/WordPress-Android/blob/develop/docs/issue-triage.md#prioritizati

[2020-11-06 16:03] marecar3 commented on #12624
Hey @khaykov 👋
Thanks for asking. I think that is for a simple site. Maybe it's something specific with my blog or account?
If you need any help, please ping me. Thanks.

[2020-11-06 17:13] mindgraffiti commented on #12602
Removing from Trial Projects board as it is will be included in the future P2 + Comments projects.

[2020-11-06 19:48] #13299 closed, assigned to jd-alexander

[2020-11-06 20:21] renanferrari commented on #13304
@diegoreymendez Thanks for the ping! I'll try to look into this sometime next week.

[2020-11-06 22:06] designsimply commented on #4388
The ability to search for and link to existing content on the site was added in https://github.com/wordpress-mobile/gutenberg-mobile/pull/2484 and shipped with WPAndroid 15.9. Props @mkevins @dratwas. 🎉

<img src="https://user-images.githubusercontent.com/1119271/98419096-9209a200-2041-11eb-99d1-acc644e95a48.gif" height="350" alt="20201106_144714">

[2020-11-06 22:06] #4388 closed

[2020-11-06 22:11] designsimply commented on #13113
I saw this again while testing with WPAndroid 16.1-rc-1 on the finishing Next Steps notification: [1m31s](https://cloudup.com/cXYUMsu02uy).

[2020-11-06 22:24] designsimply opened #13320 "Cannot exit from previewing changes to a post or page and still continue using the app"
Steps to reproduce:

1. Go to My Site > Blog Posts > +.
1. Add a title and some content.
1. Tap the ellipsis menu (top right) > Preview.
1. Tap the arrow at top left to go back.

And:

1. Go to My Site > Blog Posts and open any pre-existing post or page.
1. Make any change to the post.
1. Tap the ellipsis menu (top right) > Preview.
1. Tap the arrow at top left to go back.

**Result:** the app bec

[2020-11-09 08:06] reginabally commented on #13320
I'm able to replicate this on OPPO Reno 4, Android 10 and WPAndroid 16.1-rc-1. Video recording: https://d.pr/v/SUmqqQ/udAqnWP7Rn

[2020-11-09 08:20] malinajirka commented on #13320
This might be related to https://github.com/wordpress-mobile/WordPress-Android/pull/12144 and https://github.com/wordpress-mobile/WordPress-Android/pull/13124 (cc @mchowning)

[2020-11-09 11:47] ashiagr opened #13326 "Jetpack Section: Scan"
#13267

![scan-i2](https://user-images.githubusercontent.com/1405144/98535220-be285b80-22ab-11eb-9d8e-149fcb288c8d.png)

## Designs
Add ability to start scans, see status, and manage threats.

## Tasks

- [x] Introduce scan feature flag (use a temporary scan menu item as an entry point that displays when scan feature flag is enabled) - #13334

# High priority (must have)
 #### Scan
- [x] Show a lo

[2020-11-09 14:36] mbshakti commented on #13302
Thanks for filing this issue @reginabally -- we actually removed this as part of the[ new Reader changes ](https://wordpress.com/blog/2020/09/23/discover-blogs-get-inspired-wordpress-reader/). However, I'd be curious to know if you encountered any users who mentioned this or if it was an observation of yours. If it's an observation of yours, was that section something you found value in? The quest

[2020-11-09 14:49] zwarm opened #13328 "Jetpack Section: Restore"
Parent #13267

<img width="1779" alt="Screen Shot" src="https://user-images.githubusercontent.com/506707/104459246-7c04ea00-557a-11eb-96eb-a830d82fe339.png">

**Design**
TBD

**Tasks**

- [x] Introduce restore request body to endpoint ([FluxC PR](https://github.com/wordpress-mobile/WordPress-FluxC-Android/pull/1761))
- [x] FluxC - Update endpoints to include message and current_entry for restore
-

[2020-11-09 14:54] zwarm opened #13329 "Jetpack Section: Backup Download"
Parent #13267

<img width="1779" alt="Screen Shot" src="https://user-images.githubusercontent.com/506707/100615590-cb9e9780-32e5-11eb-8793-b8394e82e36c.png">

**Design**
TBD

**Tasks**

- [x] Introduce "prepare for download endpoint" - [FluxC Issue](https://github.com/wordpress-mobile/WordPress-FluxC-Android/issues/1764) - [FluxC PR](https://github.com/wordpress-mobile/WordPress-FluxC-Android/pull

[2020-11-10 00:56] #9939 closed

[2020-11-10 01:14] cameronvoell commented on #13320
I reproduced this immediately when testing using WPAndroid 16.1-rc-1 (downloading APK from release page and building locally both showed the issue).

However this issue is not occuring on latest WPAndroid `develop`, I narrowed down that the issue seemed to be fixed by PR https://github.com/wordpress-mobile/WordPress-Android/pull/13217 which was merged just after `16.1-rc-1` was merged to develop.

[2020-11-10 03:20] khaykov opened #13332 "Hide Activity Log, Plans, Themes, WP-Admin on P2 sites"
We should hide Activity Log, Plans, Themes, WP-Admin on free P2 sites.

We should show Activity Log for sites with P2+ Plans.

[2020-11-10 03:22] khaykov opened #13333 "Add a branding for P2 sites"
As part of P2 improvements, we should add P2 branding where it makes sense.

This includes the P2 logo. The design is TBD.

[2020-11-10 08:36] reginabally commented on #12401
Occured in 3475121-zen on WPAndroid 16.0

[2020-11-10 09:34] reginabally commented on #13302
@mbshakti Thank you for the reply. The report was originated from the ticket 3464940-zen (it was mentioned at the device information above but maybe not too obvious).

I use Reader mainly to read internal P2s but as a user, I think it helps us in discovering posts that are related to the content that we're currently reading, without having to navigate away from the current screen. I hope that make

[2020-11-10 11:09] frosty commented on #13170
Maybe as part of the upcoming dynamic dashboard project, we could add a simple card for folks who have just created a new site and not set a title, that prompts them to tap to change the site name?

[2020-11-10 14:12] rossanafmenezes opened #13337 "Email notification link not opening in the App"
### Expected behavior

When you receive an email notifying you about a new post and you click on the link the post should open in the mobile app or in the browser according to your settings.

<img src="https://user-images.githubusercontent.com/30724184/98681779-1fded900-2331-11eb-99a1-5fee3680bb7a.jpg" width="270" alt="IMG_20201110_084530_105">

### Actual behavior

The link opens in a browser reg

[2020-11-10 14:49] osullivanchris commented on #13170
Totally agree @frosty it is only a big deal initially. So it makes sense to be a one time task.

[2020-11-10 15:24] planarvoid opened #13339 "Setup new My Site fragment behind a flag"
Create a new fragment behind a development feature flag. This fragment should be opened in the main activity instead of `MySiteFragment` when the flag is turned on.

[2020-11-10 15:28] planarvoid opened #13341 "Setup UI layer for My Site"
Setup Adapter, Base ViewHolder and a parent UI model for the improved my site. These should all be extensible. The UI model should have an enum type. There doesn't need to be an actual view holder implementation yet.

[2020-11-10 15:30] planarvoid opened #13342 "Setup presentation logic for My Site"
As part of this task
- create a ViewModel for ImprovedMySiteFragment
- create a UI model for the my site using exposed LiveData (could be a list of UI model items)
- Link Adapter to the observed data

[2020-11-10 15:34] planarvoid opened #13343 "Create My Site item and ViewHolder"
Create an item that contains the icon, my site title, URL and a link to select more sites. This item should be generated in the ViewModel, passed to the adapter and drawn in a new ViewHolder. You need to create a layout for this item. The item will contain actions for all the clickable items which are processed by the view model.
If necessary, split this task to handle the actions in another issue

[2020-11-10 15:35] planarvoid opened #13344 "Create a toolbar in improved My Site"
Copy the current Toolbar with the Me button and the scroll behaviour to the new fragment

[2020-11-10 15:37] planarvoid opened #13345 "Create a UI item for the list of quick actions"
Quick actions contain stats, pages, posts and media. We need to create an UI item and a ViewHolder to draw this block. The actions should be handled in the ViewModel.

[2020-11-10 15:38] planarvoid opened #13346 "Create a UI item for the category header in improved My Site"
Create a UI item, layout and a view holder for a category header (Publish, Look and Feel and so on).

[2020-11-10 15:40] planarvoid opened #13347 "Create a UI item for standard menu item in the improved My Site"
Create a UI item for the standard menu item - this includes layout, view holder and the action processed by the ViewModel.

[2020-11-10 15:42] planarvoid opened #13348 "Populate improved My Site menu items"
Based on the current logic show the correct headers and menu items in the improved my site fragment

[2020-11-10 15:43] planarvoid opened #13349 "Extract My Site quick start logic"
Extract quick start logic in my site into a testable component. Implement Quick start pointers in the view holders using the exposed UI model.

[2020-11-10 22:53] designsimply opened #13353 "Editor/Media: image upload failure "Failed to insert media" for a .wepb image on an image block"
Steps to reproduce:

1. Long-press to copy the image at the top of this page to copy the .webp file your device (or use your own .webp image). https://images.app.goo.gl/XanTzSj7fbbQjx1aA<br><sup>NOTE: for testing purposes only, image may be subject to copyright.</sup>
1. Go to My Site > + > Blog post.
1. Add a title and and image block.
1. Tap ADD IMAGE > Choose from device.
1. Select the image do

[2020-11-10 22:55] designsimply commented on #13353
Also see https://github.com/wordpress-mobile/WordPress-Android/issues/2885.

[2020-11-11 05:44] reginabally commented on #13353
Another report in 3478657-zen. Still asking for the device information.

[2020-11-11 10:24] rezzap opened #13357 "Reader: Paragraph block with light color background shows white text in Dark Mode"
### Expected behavior

If I'm using dark mode and my paragraph block has a light colored background assigned to it, the text would show dark.

### Actual behavior

The text shows white over the light colored background in the reader making it difficult to read.

### Steps to reproduce the behavior

1. Create a post with a paragraph block from the browser and assign a light colored background to it

[2020-11-11 10:24] rezzap opened #13496 "Paragraph block with light color background shows white text in Dark Mode"
### Expected behavior

If I'm using dark mode and my paragraph block has a light colored background assigned to it, the text would show dark.

### Actual behavior

The text shows white over the light colored background in the reader making it difficult to read.

### Steps to reproduce the behavior

1. Create a post with a paragraph block from the browser and assign a light colored background to it

[2020-11-11 10:45] dromero20 commented on #13353
The user got back to us in 3478657-zen and shared these details:

[code]

[2020-11-11 15:33] mchowning opened #13361 "Preview Out-Of-Date if Save is In Progress"
### Expected behavior

A post preview should always represent the current content in the editor.

### Actual behavior

If an autosave is in progress when the user attempts to preview the post, the currently-being-saved changes will not be uploaded and included in the preview.

### Steps to reproduce the behavior

1. Open a very long post, ideally on a slow device (so it will be slow to save)
2. Ad

[2020-11-11 15:36] mchowning commented on #13361
When investigating this, we should keep in mind that there is another bug that sometimes causes the preview to not actually open: https://github.com/wordpress-mobile/WordPress-Android/issues/12570.

[2020-11-11 22:03] renanferrari commented on #13304
I spent some time looking into this and while I couldn't reproduce the issue, I'm pretty sure this bug should not occur in version 16.1, since [the code in which this crash used to happen](https://github.com/wordpress-mobile/WordPress-Android/blob/fea2192672de31cac633a7c840abfdde7d836cca/WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginProloguePageFragment.kt#L56) has been upda

[2020-11-11 23:21] designsimply commented on #13294
I was unable to reproduce the problem testing with my Pixel 3 Android 11 device using the following testing steps:

1. On the web, create and publish a post using a classic block that contains several paragraphs.
1. Try copy/pasting content from elsewhere but also try typing in the entire post directly without using the paste function.
1. In the app, find the posts in the Reader.
1. Check to see w

[2020-11-11 23:31] designsimply commented on #13294
I tested with the 16.0.1 tag using a Nexus 5 Android 10 emulator and I am still able to see paragraphs render properly. I'm not sure what I'm missing in these testing steps (see steps noted in the previous comment) and may need to ask for some additional help/ideas for how to test this issue.

<img src="https://user-images.githubusercontent.com/1119271/98875820-3a50a980-243a-11eb-80a9-e07bf88e0b32

[2020-11-12 00:17] designsimply commented on #13337
I checked the My Site > Profile > App Settings > Open device settings > Advanced > Open by default screen and then I tapped on the "Open supported links" option and I saw the following note at the bottom of the screen:

<blockquote>App claims to handle following links:

wordpress.com
*.wordpress.com
public-api.wordpress.com</blockquote>

<img src="https://user-images.githubusercontent.com/1119271/

[2020-11-12 03:34] reginabally commented on #13294
I've tested with OPPO Reno 4, Android 10 on WPAndroid version 16.1-rc-2, the paragraphs render properly now. It works well on Huawei Nova 2i, Android 8 on WPAndroid version 16.0 too.

Since we're not able to replicate this, I'm closing this for now. Thank you so much, @designsimply!

[2020-11-12 03:34] #13294 closed, assigned to nobody

[2020-11-12 05:15] reginabally commented on #13353
Reported in an app review:

Date and time of the review: Nov 10, 2020, 22:37
Device:  Samsung Galaxy Note9
OS: Android 10 (SDK 29)

[2020-11-12 11:02] develric opened #13370 "Loading indicator in pick from WP Media lib does not disappear when 1 match in search"
### Expected behavior
When picking from the WP Media lib and using the search feature, I expect the bottom loading indicator to disappear after matching images are loaded.

### Actual behavior
When picking from the WP Media lib and using the search feature, the bottom loading indicator does not disappear after matching images are loaded, when only 1 image matches.

### Steps to reproduce the behav

[2020-11-12 17:58] ScoutHarris commented on #12934
From https://github.com/wordpress-mobile/WordPress-iOS/issues/14875#issuecomment-726152245:

There is a slight change in design:

And a clarification:

[2020-11-12 18:22] designsimply commented on #13337
The following PRs have some extra info about which types of deep links from emails are supported: https://github.com/wordpress-mobile/WordPress-Android/pull/4669, https://github.com/wordpress-mobile/WordPress-Android/pull/9957, https://github.com/wordpress-mobile/WordPress-Android/pull/11996, https://github.com/wordpress-mobile/WordPress-Android/pull/12004.

In testing, I found that the browser mu

[2020-11-12 18:32] rezzap opened #13375 "Reader: Paragraph block with light color background shows white text in Dark Mode"
### Expected behavior

If I'm using dark mode and my paragraph block has a light colored background assigned to it, the text would show dark.

### Actual behavior

The text shows white over the light colored background in the reader making it difficult to read.

### Steps to reproduce the behavior

1. Create a post with a paragraph block from the browser and assign a light colored background to it

[2020-11-12 19:37] mbshakti commented on #13170
This is a great discussion everyone. As I've been working on Quick Start card redesign, I noticed two problems:

1. The ability to change site icon is missing from the site settings page (however, the user can edit pretty much everything else from the site settings page).
2. For new users, it can get confusing if the way to edit site settings is too hidden. Currently, you can tap things (icon/titl

[2020-11-12 21:43] #13339 closed, assigned to nobody

[2020-11-13 03:03] reginabally commented on #11319
Originally shared in a WPAndroid app review (translated from Turkish):

More details shared in 3484255-zen:

I will share with them Full Site Editing in Gutenberg.

[2020-11-13 05:32] khaykov opened #13379 "Publishing empty post result in undismissable progress dialog and unresponsive app"
##### Steps to reproduce the behavior
- Create a new empty post.
- Tap PUBLISH in the toolbar.
- Notice the "Saving" progress dialog and that "Can't publish empty post Toast appears for a moment"
- Confirm that dialog is not disappearing and can't be dismissed.

Might not be clear from GIF - but the progress dialog is never dismissed by itself.
[![Image from Gyazo](https://i.gyazo.com/ffc0ae6ed7f2

[2020-11-13 07:39] hypest commented on #13379
Wondering if this related to recent work on the save-on-exit. @mchowning , @malinajirka can you please have a look? Thanks!

[2020-11-13 08:20] osullivanchris commented on #13170
Hey @mbshakti  thanks for sharing the explorations!

First, I didn't realise that you could not change the site icon in site settings. That's surprising! We should definitely add it in there. I think whatever way we display it, we should clarify what it is/what it does. I think the way its presented may fudge the line between user image and site image.

The entry point is super interesting. So we

[2020-11-13 08:21] osullivanchris commented on #13170
P.S. if you want to jam on this a bit - and look at the Jetpack/WP overlap, or have a call I'd be game @mbshakti - its an interesting one.

[2020-11-13 13:08] hypest commented on #13292
User might be referring to the "Copy" option some phones offer inside the OS's Share flow (external to the app), and the fact that some device vendors might not be offering that functionality.

[2020-11-13 13:28] hypest commented on #12570
👋 @mchowning, can this issue here related to the save-on-exit machinery? I think we should bump its priority and address it if so.

[2020-11-13 13:32] hypest commented on #13361
Added the "Priority High" lavel since this essentially means the Preview flow is broken since one cannot preview the changes currently in the editor. Please dive in @mchowning , thanks!

[2020-11-13 14:28] #13312 closed, assigned to nobody

[2020-11-13 14:41] planarvoid commented on #13353
thanks for reporting this @designsimply ! Could you please double check this with the new media picker (which will be coming out in the next release)? We've implemented a solution to filter out webp images. Thanks!

[2020-11-13 17:38] ScoutHarris commented on #12934
From https://github.com/wordpress-mobile/WordPress-iOS/issues/14875#issuecomment-726901672 - another change in design. We decided to still display the URL.

[2020-11-13 20:31] designsimply commented on #9649
@jd-alexander I'm looking back to this because some similar issues have come up for the iOS app recently. Regarding the view count, if the site owner is authenticated shouldn't that also avoid their own visit from getting counted in stats?

<sup>Source: https://wordpress.com/support/stats/</sup>

cc @guarani as it's tangentially related to https://github.com/wordpress-mobile/WordPress-iOS/issues/1

[2020-11-13 23:08] #13332 closed, assigned to khaykov

[2020-11-14 17:45] jd-alexander commented on #9649
Yes, I would expect that to be the behavior @designsimply :) I am going to have a look at this on Monday to see what's happening inside the Android app.

[2020-11-16 10:37] malinajirka opened #13401 "Introduce "Jetpack" section in My Site menu"
Implement the same changes which were implemented on iOS in https://github.com/wordpress-mobile/WordPress-iOS/pull/15287.

- Create "Jetpack" section
- Put Stats, Activity Log and Jetpack Settings in the Jetpack section
- Introduce new track events

jetpack_settings_viewed - settings opened (either from My Site or Settings screen)
jetpack_manage_connection_viewed - manage connection section opened

[2020-11-16 18:53] mbshakti commented on #13170
@osullivanchris  Let's do that, I'll message you on slack.

[2020-11-16 20:00] #13341 closed, assigned to planarvoid

[2020-11-16 22:12] mchowning commented on #13169
@mkevins has noted a similar-sounding issue [here](https://github.com/wordpress-mobile/WordPress-Android/pull/13398#pullrequestreview-530992031):

[2020-11-16 22:14] mchowning commented on #13169
I have spent some time investigating this, and it appears to be due to certain blocks having outdated or otherwise unexpected (but valid) formatting in the post content. I (obviously) still need to do some more investigation into this, and I do plan to follow-up on this.

[2020-11-17 09:50] malinajirka opened #13407 "Whitelisted IP addresses pref doesn't work in Jetpack settings"
### Expected behavior
When I click on "Whitelisted IP addresses" in Jetpack Security settings I expect "Whitelisted IP Addresses" screen to show up.

### Actual behavior
When I click on "Whitelisted IP addresses" in Jetpack Security settings nothing happens.

~Note 1: The theme issue is fixed in [this PR](https://github.com/wordpress-mobile/WordPress-Android/pull/13402).~
~Note 2: This issue is bl

[2020-11-17 13:34] guarani opened #13410 "Site creation preview shows cut-off site header"
### Expected behavior

The preview of a newly created site shouldn't have cut-off sections.

### Actual behavior

After creating a site in the app, the site preview is shown but the top of the site is cut-off.

| <img src="https://user-images.githubusercontent.com/1898325/99396333-621f9180-28c0-11eb-8073-78d89338c179.jpg" alt="Screenshot showing cut-off site preview" width="350"> |
| - |

### Step

[2020-11-17 19:07] designsimply commented on #13410
Not directly related, but the [subdomain is not readable in dark mode on the site creation preview screen](https://github.com/wordpress-mobile/WordPress-Android/issues/12829) and it would be cool for anyone working on this issue to see if that one can be fixed at the same time.

[2020-11-17 19:40] designsimply commented on #5510
Tested and confirmed this issue is still valid and searching comments is still not available on Calypso.

<img src="https://user-images.githubusercontent.com/1119271/99438732-09082b80-28c9-11eb-8789-626c062dd031.png" width="600" alt="image">

<sup>Comments screen in Calypso as of 2020-11-17 viewed using Firefox 82.0.3 on macOS 10.15.6 with a WordPress.com Free site using a free .blog subdomain.</s

[2020-11-17 20:33] #13135 closed, assigned to khaykov

[2020-11-17 20:40] #13221 closed, assigned to nobody

[2020-11-18 09:09] loremattei opened #13417 "IllegalStateException: Site already exists - seems like an issue with domain suggestions endpoint"
**Sentry Url**: https://sentry.io/share/issue/0ea7aaaad4c24aa7aa4efe640a719494/
**User Count**: 290
**Count**: 1941
**First Release**: org.wordpress.android-12.6
**First Seen**: 2019-06-19T13:33:15Z
**Last Seen**: 2020-11-18T07:40:42Z
**24 Hours**: 6
**30 Days**: 119

[code]

[2020-11-18 09:42] loremattei opened #13418 "NullPointerException: Attempt to invoke interface method 'java.lang.String org.wordpress.android.login.LoginBaseDiscove..."
**Sentry Url**: https://sentry.io/share/issue/9721304529a044e2a0b8bd82f2664128/
**User Count**: 88
**Count**: 400
**First Release**: org.wordpress.android@15.8-rc-2+927
**First Seen**: 2020-10-02T12:44:19.353112Z
**Last Seen**: 2020-11-18T08:02:02Z
**24 Hours**: 12
**30 Days**: 275

[code]

[2020-11-18 23:02] renanferrari commented on #13418
I'm labeling this issue as high priority ([high severity, medium impact](https://github.com/wordpress-mobile/WordPress-Android/blob/develop/docs/issue-triage.md#prioritization)) and assigning it to myself since I believe it's related to #12978.

[2020-11-18 23:42] renanferrari commented on #13417
Hey @malinajirka, would you mind looking into this? It seems like you have worked around the area of the codebase that is coming up in the logs and would have the necessary context to better evaluate this issue.

I'm labeling this issue as medium priority ([high severity, low impact](https://github.com/wordpress-mobile/WordPress-Android/blob/develop/docs/issue-triage.md#prioritization)) but feel f

[2020-11-19 03:21] jd-alexander commented on #9649
Hi @designsimply I haven't forgotten about this. I am just busy with the File Block project for mobile Gutenberg and I haven't gotten to this task in my list as yet. I am just giving you an update so you know I remember about it.

[2020-11-19 04:18] designsimply commented on #13417
Note: I've already tested signup for 16.2 beta testing and didn't spot a crash in the domain suggestions in my test. I did notice that free .blog subdomains started appearing for me in this release (scroll to 2:07 in [this video](https://cloudup.com/cxsy1kpDJ2m) to see what I mean) and they weren't there in the 16.1 or 16.0 releases (and probably others as well). Should I expect to see those sugge

[2020-11-19 05:41] designsimply commented on #5704
I regret that we weren't able to be more helpful with this case when it came up before. I have re-tested using the latest beta (16.2-rc-1) and I was still not able to replicate the problem.

My testing steps:

1. Set up a Jetpack site and use php.ini to set `upload_max_filesize = 1M`.
1. In the app, go to My Site > Account > App Settings and enable the "Optimize Images" setting.
1. Go to My Sites

[2020-11-19 05:41] #5704 closed

[2020-11-19 05:52] designsimply commented on #7877
@malinajirka should this issue stay open or can it be closed?

[2020-11-19 06:24] designsimply commented on #9649
No problem! Thank you for looking at it when you have time, that's perfect. It will be good to wrap this one up so we can let the mobile happiness engineers know if anything with the view counts is awry as I know users bring that up from time to time. They love stats!! It will also be good to be aware of the recent iOS changes to Previews and make sure both platforms are consistent. We have some c

[2020-11-19 12:09] ashiagr opened #13427 "Duplicate media on upload after retry"
### Expected behavior
Retrying upload for a previously upload failed image should not result in duplicate images in the media library.

### Actual behavior
If you upload more than one images at once and upload fails for an image, then on retrying to upload makes duplicate copies in the media library.

(Tested on a self-hosted site. Might also be reproducible on a simple WP site.)

### Steps to rep

[2020-11-19 12:11] malinajirka commented on #13417
Thanks for the ping;).

@designsimply It seems the link to the video is broken - it targets an ios ticket with a video which lasts only a few seconds.

AFAIR `.blog` domains should appear in all releases if you select "Blog" site type. They shouldn't appear for other site types.

There was an API issue a year ago where they stopped appearing for a couple of weeks/months (more info p99Zz8-SA-p2). B

[2020-11-19 12:39] hypest commented on #13379
Fixed with https://github.com/wordpress-mobile/WordPress-Android/pull/13381

[2020-11-19 12:39] #13379 closed, assigned to nobody

[2020-11-19 12:48] ashiagr opened #13428 "Continuous uploading notification"
### Expected behavior
Upload notifications should not be displayed continuously (as if stuck) even after upload is complete.

### Actual behavior
Upload notification is displayed continuously if the image is uploaded to the post but post has not been saved yet with this image and then the post is deleted.

### Steps to reproduce the behavior

1. Launch app
2. Edit a published post to upload an ima

[2020-11-19 12:54] malinajirka commented on #7877
This is one of the issues which doesn't have a high priority, but it'd still be nice to implement it sometime. We might want to consider adding it to groundskeeping - it's not a bug, but still an issue which affects users' storage (the impact is very low).

[2020-11-19 13:02] #11722 closed

[2020-11-19 20:46] aerych opened #13433 "Analytics: Add a flag to identify P2s"
We would like to be able to easily identify [new P2](https://wordpress.com/p2/) sites in tracks events.
Let's update our tracker to include a `site_type` property anywhere we note a site's blog_id. (Probably a change to AnalyticsUtils.java)  If the site is a P2 assign the value "p2", otherwise assign "blog".  In the future this can be extended to other site types, e.g. "store".

Details:
Property

[2020-11-20 00:31] aerych opened #13434 "Analytics: Implement new tracks events for comments to fill gaps."
See pbArwn-1oJ-p2 for more background.

We're lacking analytics coverage for Site comments, and need to fill gaps in Notifications and Reader comments. Let's implement the following new tracks events and properties to gain better insight into comments.

_Note: Please update with any corrections or additions in case there is existing coverage that was missed, or anything overlooked._

### Reader
Ad

[2020-11-20 07:42] malinajirka commented on #13427
This is probably not related, but I thought I'd better drop a comment just to be sure. When we were dealing with posts being duplicated after retry, we came to a conclusion that it cannot be prevented without making changes to the API.

If the app sends a POST request and goes offline, the server will still process the request. However, the app will never receive a response so it assumes the reque

[2020-11-20 13:51] ashiagr commented on #13427
Thanks @malinajirka !

This is exactly what is happening in this case. This is how I verified:

1. Create draft post (POST_ID = 0).
2. Select several images for upload.
3. Wait for few secs while images are uploading, then enable airplane mode.
4. Notice in the desktop browser that one or more of the images get uploaded in the selected site -> media section (response not received by the app as it

[2020-11-20 16:58] planarvoid opened #13442 "Site icon upload never starts"
### Expected behavior
- Change a site icon
- Select an image from your device
- Upload of the image starts
- The site icon gets updated

### Actual behavior
- Change a site icon
- Select an image from your device
- Upload of the image doesn't start
- The site icon is replaced with the progress bar

[2020-11-20 17:59] enejb commented on #11026
Just wanted to make a note that this should be fixed now on the api side. So I am closing this PR.

The changes will be shipped with Jetpack sites (atomic) in version 9.2

[2020-11-20 17:59] #11026 closed

[2020-11-20 18:11] enejb commented on #10666
We made some progress here.

See https://github.com/WordPress/gutenberg/pull/26531
And https://github.com/wordpress-mobile/WordPress-FluxC-Android/pull/1739
The last part of this solution is that we need to make changes to the iOS side of things.

[2020-11-20 22:45] designsimply commented on #13417
Thanks for catching that! It was an incorrect copy/paste and I've now fixed the link in the previous comment.

I record my signup tests from beta testing most of the time. Here are two example videos from the past few releases. Note that these were either installed from the Play Store via the beta program or by using the APK from the GitHub releases page (probably this).

* https://cloudup.com/cTo

[2020-11-21 02:42] khaykov opened #13446 "Clean up comment related analytics"
As part of P2-related improvements, we need to clear up existing analytics events, align both platforms, and fix the double-counting that is currently happening where notification related comment events are bundled with non-notification comment actions.

[2020-11-23 08:41] #13442 closed, assigned to nobody

[2020-11-23 09:00] malinajirka commented on #13417
It seems none of the sites created on these videos is a Blog (2x professional, 1x blank canvas) -> so IMO it's expected that .blog domains are not being suggested. Wdyt?

[2020-11-23 13:31] #13428 closed, assigned to ashiagr

[2020-11-23 19:49] #13343 closed, assigned to planarvoid

[2020-11-23 23:41] khaykov opened #13454 "Add unread post count to Reader"
We should add the count of unread posts to the Reader, similiar to how it's done in calypso:
<img width="276" alt="followed" src="https://user-images.githubusercontent.com/728822/100027577-ecc12e80-2da1-11eb-8b40-e3c372128ddb.png">

Design explorations for this are currently underway.

[2020-11-24 00:03] designsimply commented on #13496
I spotted this in the editor while testing the homepage picker introduced in https://github.com/wordpress-mobile/WordPress-Android/pull/13409. I noticed it happens for heading blocks as well as paragraph blocks.

Paragraph block|Heading block above latest posts|Heading block
---|---|---
<img src="https://user-images.githubusercontent.com/1119271/100028921-3c592780-2dad-11eb-886c-c751417c9b0e.png"

[2020-11-24 00:12] khaykov opened #13455 "Mark posts as seen/unseen in Reader"
We should add the ability to mark posts in Reader as seen/unseen.

On Calypso, this is currently implemented through the post's dropdown menu. Current proposal is to use the same approach on mobile.

[2020-11-24 00:17] khaykov opened #13456 "Add support for invite links to P2 sites"
We should add support for invite links to P2 sites. This will include a feature for generating (and disabling) invite links with specific privileges.

I'm not yet sure if we should add the functionality to open P2 links in the app.

This might also include a refactor of the People Management screen, since it's pretty old.

[2020-11-24 00:20] khaykov opened #13457 "Hide a video block in editor from P2 sites"
There is limited support for video on P2 sites available to the general public, so we need to hide the Video Block from the editor if the site is P2.

[2020-11-24 00:36] designsimply commented on #13410
Noting that the "Create your website" banner showing in this view isn't expected during site creation and @enejb has submitted a PR on the WP.com side to fix it.

<sup>(internal reference: D53196-code, pbMoDN-1A9-p2#comment-3222)</sup>

[2020-11-24 08:45] loremattei opened #13460 "NullPointerException: site.wpApiRestUrl must not be null"
**Sentry Url**: https://sentry.io/share/issue/0ba05632606442609bd4158f678d46c6/
**User Count**: 22
**Count**: 245
**First Release**: org.wordpress.android@16.0+946
**First Seen**: 2020-11-05T14:12:20.487000Z
**Last Seen**: 2020-11-24T06:58:19Z
**24 Hours**: 13
**30 Days**: 247

[code]

[2020-11-24 08:46] loremattei opened #13461 "Error: java.io.IOException: write failed: ENOSPC (No space left on device)"
**Sentry Url**: https://sentry.io/share/issue/96272d47bbf84f3cb0f92ec7e2f322fe/
**User Count**: 499
**Count**: 2283
**First Release**: org.wordpress.android-14.6.1
**First Seen**: 2020-04-28T12:22:54Z
**Last Seen**: 2020-11-24T07:43:28Z
**24 Hours**: 15
**30 Days**: 572

[code]

[2020-11-24 08:47] loremattei opened #13462 "JSApplicationIllegalArgumentException: Error while updating property 'textAlign' in shadow node of type: RCTAztecView"
**Sentry Url**: https://sentry.io/share/issue/047910f7e0d54079a42e4fde6944db32/
**User Count**: 153
**Count**: 176
**First Release**: org.wordpress.android@16.0-rc-1+936
**First Seen**: 2020-10-20T09:05:59.596000Z
**Last Seen**: 2020-11-24T08:14:47Z
**24 Hours**: 33
**30 Days**: 174

[code]

[2020-11-24 08:48] loremattei opened #13463 "ExceptionInInitializerError"
**Sentry Url**: https://sentry.io/share/issue/1caa56f08ba140ff8ff1b53d31810f5c/
**User Count**: 165
**Count**: 335
**First Release**: org.wordpress.android@15.7+924
**First Seen**: 2020-09-25T11:43:36.074000Z
**Last Seen**: 2020-11-24T07:42:18Z
**24 Hours**: 11
**30 Days**: 206

[code]

[2020-11-24 11:33] malinajirka commented on #13407
We currently have two copies of the Jetpack Security Settings. One is within SiteSettingsFragment and the other one is in JetpackSecuritySettingsFragment. This inconsistency was introduced in [this PR](https://github.com/wordpress-mobile/WordPress-Android/pull/13011). Having two copies makes the code hard to maintain and very error prone since we always need to make sure to update both places.

I

[2020-11-24 11:51] malinajirka commented on #13407
Another possible approach which would allow us to have only a single copy of the Jetpack settings:
1. Remove JetpackSecuritySettingsFragment and activity
2. Pass "show_jetpack_settings" flag to SiteSettingsFragment
3. When the flag is present, remove all settings which are not Jetpack Settings
It'd look like this:
<img src="https://user-images.githubusercontent.com/2261188/100090366-5b11f980-2e53-

[2020-11-24 12:46] antonis commented on #13410
This seems to be resolved now

<img width="360" src="https://user-images.githubusercontent.com/304044/100094706-180b5280-2e62-11eb-96a5-30e9d17b25bf.png"/>

[2020-11-24 13:01] leandroalonso commented on #13460
@mchowning can you help us with this one? It looks like that even [with the null checking](https://github.com/wordpress-mobile/WordPress-FluxC-Android/blob/develop/fluxc/src/main/java/org/wordpress/android/fluxc/store/ReactNativeStore.kt#L109) the app is still crashing.

[2020-11-24 13:04] leandroalonso commented on #13461
Duplicate of https://github.com/wordpress-mobile/WordPress-Android/issues/13271

[2020-11-24 13:04] #13461 closed, assigned to nobody

[2020-11-24 13:07] leandroalonso commented on #13463
@ashiagr `deleteFilesOlderThanDurationFromDirectory` was recently added. Do you have any idea what might be causing this crash?

[2020-11-24 13:10] leandroalonso commented on #13462
@marecar3 do you have any idea which block might be causing this issue? (pinging you here because I've seen that you already fixed a [similar error](https://github.com/wordpress-mobile/WordPress-Android/issues/12211) before).

[2020-11-24 13:21] guarani commented on #13410
Hi @antonis, I'm still seeing the "Create your website" banner in Play Store WPAndroid v16.1 when creating a new site, and the internal patch for WP.com side mentioned in https://github.com/wordpress-mobile/WordPress-Android/issues/13410#issuecomment-732507376 is still open. Which version did you see this resolved in?

| <img src="https://user-images.githubusercontent.com/1898325/100099246-f009f80

[2020-11-24 13:28] chipsnyder opened #13468 "Site Creation - Preview shows as blank screen for buisness.blog subdomains"
`.buisness.blog` subdomains render as a blank screen in preview.

### Steps to reproduce the behavior
1. Navigate to site creation flow
1. Select a design that that allows `.blog` subdomains like `Cassel`
1. On the Choose a Domain screen search for and select a domain that includes `buisness.blog`
1. Create your site:

Screenshot | GIF
--- | ---
<kdb><a href="https://user-images.githubusercontent.

[2020-11-24 13:28] antonis commented on #13410
Hello @guarani 👋
This is solved on the client by adding the wordpress user-agent in the preview webview. This was done as a minor fix on the clients as part of:
* Android: https://github.com/wordpress-mobile/WordPress-Android/pull/13409
* iOS: https://github.com/wordpress-mobile/WordPress-iOS/pull/15303

This should be merged soon and be available in `16.3`
Reopening the issue till this is done.

[2020-11-24 13:34] guarani commented on #13410
Hi @antonis 👋 I hadn't realized this was being fixed in the apps themselves, thanks for clarifying!

I'm curious if that means that the fix @enejb is doing (mentioned in https://github.com/wordpress-mobile/WordPress-Android/issues/13410#issuecomment-732507376) is addressing a different issue, or if it's no longer needed.

[2020-11-24 13:35] antonis commented on #12829
Fixed with https://github.com/wordpress-mobile/WordPress-Android/pull/13467

[2020-11-24 13:35] #12829 closed, assigned to antonis

[2020-11-24 13:40] antonis commented on #13410
@guarani My understanding is that a fix was needed in both the server and the clients for this to work. I'll leave this open and recheck.

[2020-11-24 14:00] mchowning commented on #13460
Sure @leandroalonso ! Any concerns if it's a week or two before I get to this?

[The following is mostly just a note for future me 🙂  ]

I'm wondering if it may be worth trying to not mutate the `site.wpApiRestUrl` until the very end of the recursive call (i.e., when a response is actually returned). Instead, we could keep the `wpApiRestUrl` as an explicit parameter that is passed around, which wo

[2020-11-24 14:14] guarani commented on #13410
I see, thanks again @antonis!

[2020-11-24 14:29] mchowning commented on #13460
I think this is basically a duplicate of https://github.com/wordpress-mobile/WordPress-FluxC-Android/issues/1579. Should we close one of these and/or merge the issues in Sentry?

[2020-11-24 14:35] leandroalonso commented on #13460
Oh, that's right! Thanks for pointing out @mchowning

Duplicate of https://github.com/wordpress-mobile/WordPress-FluxC-Android/issues/1579

[2020-11-24 14:35] #13460 closed, assigned to mchowning

[2020-11-24 15:58] antonis commented on #13468
Fixed with https://github.com/wordpress-mobile/WordPress-Android/pull/13472

[2020-11-24 15:58] #13468 closed, assigned to antonis

[2020-11-24 18:28] antonis commented on #9723
Hey @SylvesterWilmott 👋

as part of [“Choose a Domain” screen redesign](https://github.com/wordpress-mobile/gutenberg-mobile/issues/2722) a shadow has been added in the bottom toolbar with [this PR](https://github.com/wordpress-mobile/WordPress-Android/pull/13424)

In my understanding this resolves this issue. Please reopen if that's not the case.

<image width="360" src="https://user-images.githu

[2020-11-24 18:28] #9723 closed

[2020-11-24 18:34] aerych commented on #13446
Related: #13434

[2020-11-24 20:15] ercanduman commented on #11661
**java.lang.IndexOutOfBoundsException org.wordpress.aztec.formatting.InlineFormatter.applySpan**

java.lang.IndexOutOfBoundsException:
  at android.text.SpannableStringBuilder.checkRange (SpannableStringBuilder.java:1326)
  at android.text.SpannableStringBuilder.setSpan (SpannableStringBuilder.java:682)
  at android.text.SpannableStringBuilder.setSpan (SpannableStringBuilder.java:674)
  at org.wor

[2020-11-25 01:11] #13433 closed, assigned to khaykov

[2020-11-25 02:04] #12934 closed, assigned to khaykov

[2020-11-25 11:28] malinajirka opened #13476 "Stats keep failing to load on Jetpack Site when in "Author" role"
### Expected behavior
~Stats are not visible in Calypso in this scenario, so I assume we should hide the menu item.~

~Note: We are adding Jetpack label in this PR. So if we decide to hide the Stats menu item, we will want to hide the Jetpack label as well.~

See https://github.com/wordpress-mobile/WordPress-Android/issues/13476#issuecomment-734012115 -> stats should load even for users in non-adm

[2020-11-25 11:32] malinajirka opened #13477 "Install jetpack button shown even when jetpack already installed and connected"
### Expected behavior
Needs design - Stats for example redirect the user to the .com login flow. We might want to do the same thing when they go to Notifications (See my concern in https://github.com/wordpress-mobile/WordPress-Android/issues/13477#issuecomment-734156998 ).

### Actual behavior
When I log in using self-hosted credentials to a jetpack site and I open Notifications -> "Install Jetpac

[2020-11-25 14:26] #13418 closed, assigned to renanferrari

[2020-11-25 20:15] enejb commented on #13410
We just shipped a PR that addresses this issue from the backend. @antonis and @chipsnyder As I understand it was addressed on the client side as well.

I am closing this issue for now but feel free to open it again in case. I misunderstood and there is more work to be done.

[2020-11-25 20:15] #13410 closed, assigned to antonis

[2020-11-26 00:04] designsimply commented on #13477
I like the idea of matching with the Stats experience to prompt for a login in this case.

Perhaps an edge case (?) but I noticed that if I do log in when prompted but do so with a WordPress.com account other than the one the Jetpack account is connected with then the Stats will still not work ([1m26s](https://cloudup.com/c-zM6Q-voIT)) and Notifications will also not show for the Jetpack site in t

[2020-11-26 00:16] designsimply commented on #13456
I would **love** to be able to accept invitations through the app instead of by email—I'm not sure if this is on the table as an option or in scope for this issue and would like to add that this is a personal note from me as a user 🙂

[2020-11-26 00:51] designsimply commented on #13476
This also happens if you log in to a Jetpack site using the site address flow and then try to view Stats. ([1m26s](https://cloudup.com/c-zM6Q-voIT))

I think there may also be a bug in Calypso regarding whether all user roles should have access to stats. Please see https://github.com/Automattic/wp-calypso/issues/14151#issuecomment-416632733.

<sup>Source: https://wordpress.com/support/user-roles/#

[2020-11-26 02:42] designsimply commented on #8634
Still low priority.

[2020-11-26 02:45] designsimply commented on #9904
Another slight decrease but daily numbers are still comparatively high and it's still happening in the latest release.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=IndexOutOfBoundsException&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widt

[2020-11-26 02:47] designsimply commented on #9997
A search for `"OutOfMemoryError"` in Sentry > Discover returns 800 events in the last 30d.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=%22OutOfMemoryError%22&sort=-timestamp&statsPeriod=30d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%28%

[2020-11-26 02:49] designsimply commented on #9999
Leaving this in the Prioritized list because it's a media issue related to video thumbnails and Media is an important area of the app where we would like to avoid crashes.

**Events in the last 90d:** 5,300
**Users affected in the last 90d:** 377
**Limited to:** Android 8.0.0 and above
<sub>WORDPRESS-ANDROID-58: https://sentry.io/share/issue/536eac3cce544a968c6df9e044c8425a/</sub>

<a href="https:

[2020-11-26 02:50] designsimply commented on #10169
**Events in the last 90d:** 35,000
**Users affected in the last 90d:** 3,500
<sub>WORDPRESS-ANDROID-2T: https://sentry.io/share/issue/88306a09ef304935983ff86b6ebc515c/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1017530748&sort=-timestamp

[2020-11-26 02:52] designsimply commented on #10494
Another decrease and there are very few cases from the latest release (currently 16.1).

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1120389026&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%28%29">

[2020-11-26 02:55] designsimply commented on #10572
Trending down but still might be worth the advice above saying to bump WorkManager to its latest version. Would like to get a 2nd opinion.

**Events in the last 90d:** 1,100
**Users affected in the last 90d:** 95
<sub>WORDPRESS-ANDROID-2XE: https://sentry.io/share/issue/e686abc964fe474680bc1549eec154a2/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=times

[2020-11-26 02:57] designsimply commented on #11223
A search for `"ENOSPC"` in Sentry > Discover returns 3,903 occurrences in the last 90 days:

<a href="https://sentry.io/organizations/a8c/discover/results/?cursor=0%3A0%3A1&display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=ENOSPC&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths=-1&widths=-1&widths=-1&yAxis=count%2

[2020-11-26 02:59] designsimply commented on #11312
A search for `"CursorWindowAllocationException"` in Sentry > Discover returns 654 occurrences in the last 90 days:

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=%22CursorWindowAllocationException%22&sort=-timestamp&statsPeriod=90d&widths=-1&widths=-1&widths

[2020-11-26 03:12] designsimply commented on #11790
**Events in the last 90d:** 743
**Users affected in the last 90d:** 199
**Majority of cases are for:** Android 5.x and 6.x
<sub>WORDPRESS-ANDROID-AVV: https://sentry.io/share/issue/703dcdfc9828483f8a7ff8f63ac85ffb/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438

[2020-11-26 03:16] designsimply commented on #11791
**Events:** 1,600
**Users affected:** 120
**Majority of cases are:** Android 6.0
<sub>WORDPRESS-ANDROID-AWF: https://sentry.io/share/issue/7f9c48c8dba04519a745cc00768bdd85/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1629979327&sort=-time

[2020-11-26 03:19] designsimply commented on #11803
**Events last 90d:** 39,000
**Users affected last 90d:** 612
<sub>WORDPRESS-ANDROID-8XJ: https://sentry.io/share/issue/f69cf2cbf05f4064a66748d515cab007/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1509710590&sort=-timestamp&statsPeriod=90

[2020-11-26 03:23] designsimply commented on #11966
A search for `"Unable to start activity ComponentInfo{org.wordpress.android/org.wordpress.android.ui.posts.PostsListActivity}: kotlin.TypeCastException: null cannot be cast to non-null type org.wordpress.android.fluxc.model.SiteModel"` in Sentry Discover shows this result:

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=dev

[2020-11-26 03:27] designsimply commented on #12260
**Events last 90d:** 2,100
**Users affected last 90d:** 30
**Majority of cases recorded are for:** Android 6.0.1 with nothing reported in the last 90d above Android 8.1.0
<sub>WORDPRESS-ANDROID-13C: https://sentry.io/share/issue/027fed659e884718ac18307ff8de680e/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.f

[2020-11-26 03:28] designsimply commented on #12341
Number of occurrences are still very low but I'm leaving this open because of the note about it being a potentially easy fix.

[2020-11-26 03:30] designsimply commented on #12342
**Events in the last 90d:** 1,100
**Users affected in the last 90d:** 629
<sub>WORDPRESS-ANDROID-F99: https://sentry.io/share/issue/f8446ccce4b44145a970421331426f4f/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1757110691&sort=-timestamp&s

[2020-11-26 08:40] malinajirka commented on #13477
Since notifications are on one of the 3 main buttons in the app, we might want to consider showing a custom screen with a login button. Redirecting the user right away feels a bit too much. But perhaps it's ok, since we already know that the site is a Jetpack site. Let's wait for designers input on this. Wdyt?

Nice catch! This seems more related to https://github.com/wordpress-mobile/WordPress-An

[2020-11-26 08:45] malinajirka commented on #13476
Ohh, good to know. Thank you! I've updated the description.

[2020-11-26 09:17] #13344 closed, assigned to renanferrari

[2020-11-26 11:59] #13401 closed, assigned to malinajirka

[2020-11-26 23:38] #13446 closed, assigned to khaykov

[2020-11-27 00:37] #12602 closed

[2020-11-27 12:19] hypest commented on #13462
@marecar3 is focusing on some other projects as we speak so, let me reel in @cameronvoell to have a look at this one.

For context, the nested exception has some additional clues, possibly related to an attempt to set textAlign to `full`:

[code]

[2020-11-27 13:31] hypest commented on #13496
👋 @antonis, can this be in any way related to the Home Page picker? Not sure if there were any styling related changes that could introduce this issue?

[2020-11-27 13:42] antonis commented on #13496
Hey @hypest 👋
as far as I know HPP did not introduce any changes to the editor.
I'm not sure if this is related (or already resolved by) https://github.com/wordpress-mobile/gutenberg-mobile/pull/2703 that is [discussed here](https://github.com/wordpress-mobile/WordPress-Android/pull/13409#issuecomment-730071215) cc @geriux

[2020-11-27 15:38] geriux commented on #13496
It depends, if the user selected a color for the text, [#2703](https://github.com/wordpress-mobile/gutenberg-mobile/pull/2703) will fix that. If not, the mobile editor will switch the color depending on dark/light mode selection causing issues like the first message. There are some discussions about disabling dark mode in the content of the editor to prevent those issues but still no decision has

[2020-11-28 09:35] igotdes commented on #12424
Still encountering this issue on 16.2-rc-2 using two different accounts with different numbers. If I wait a few minutes between clicking the "Text me a code instead" link again, a verification code will sometimes be sent after a second or third attempt.

[2020-11-29 20:59] designsimply commented on #12394
Small increase in events but slight decrease in number of users affected. It doesn't have enough occurrences to send to the Prioritized list in Groundskeeping yet though so it's still on the To Do list for triage again next month.

**Events in the last 90d:** 884
**Users affected in the last 90d:** 438
<sub>WORDPRESS-ANDROID-DQZ: https://sentry.io/share/issue/749a54cba25644d4a8ff59e1c1c3b3b3/</sub

[2020-11-29 21:02] designsimply commented on #12463
Closing because there were no cases recorded by Sentry in the last 30d and because there have been no cases recorded by Sentry for any app version after 15.7-rc-3 in the last 90d.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1020093720&sort=-tim

[2020-11-29 21:02] #12463 closed

[2020-11-29 21:07] designsimply commented on #12466
**Events in the last 90d:** 2,200
**Users affected in the last 90d:** 56
<sub>WORDPRESS-ANDROID-AT: https://sentry.io/share/issue/bd1fcd0ffbc44e2eb80c97e2d1801f01/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1021808172&sort=-timestamp&sta

[2020-11-29 21:09] designsimply commented on #12550
**Events in the last 90d:** 1,200
**Users affected in the last 90d:** 700
<sub>WORDPRESS-ANDROID-1E9: https://sentry.io/share/issue/1b677ab4487e47579f3dcba7e4763fa4/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1051398125&sort=-timestamp&s

[2020-11-29 21:11] designsimply commented on #12657
**Events in the last 90d:** 5,100
**Users affected in the last 90d:** 1,800
<sub>WORDPRESS-ANDROID-HC9: https://sentry.io/share/issue/af9bf1418add4f589f5f91c794263e7a/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1790223792&sort=-timestamp

[2020-11-29 21:31] designsimply commented on #13304
I checked the Tags view for this crash in Sentry and also searched for the issue ID in Sentry Discover found this crash is no longer happening in 16.1 as you mentioned @renanferrari—thank you for the tip! Closing.

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&que

[2020-11-29 21:31] #13304 closed, assigned to nobody

[2020-11-29 21:40] designsimply commented on #13417
You are correct! This makes sense now. I wasn't making the connection that only the Blog option in the create site flow would show .blog domain suggestions—in my mind, blank (and all of them actually) would show .blog suggestions. Heh.

Thank you for the explanation @malinajirka. I will add this issue to our Groundskeeping project board since you mentioned you'd pick it up in the next rotation. 👍

[2020-11-29 21:45] designsimply commented on #13417
**Events in the last 90d:** 1,900
**Users affected in the last 90d:** 296
<sub>WORDPRESS-ANDROID-22Z: https://sentry.io/share/issue/0ea7aaaad4c24aa7aa4efe640a719494/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query=issue.id%3A1077609763&sort=-timestamp&s

[2020-11-29 21:48] designsimply commented on #13273
**Events in the last 90d:** 1,700
**Users affected in the last 90d:** 36
**Limited to:** Android 9 and Android 10
<sub>WORDPRESS-ANDROID-14T: https://sentry.io/share/issue/83d65e73445b4d87ad38a068e49b2dd6/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=1438088&query

[2020-11-29 21:49] designsimply commented on #13271
**Events in the last 90d:** 3,100
**Users affected in the last 90d:** 414
**Majority of cases are:** Android 5.x or Android 6.x
<sub>WORDPRESS-ANDROID-AC6: https://sentry.io/share/issue/db8457b6f72840b1810cb07afc234e16/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project

[2020-11-29 21:50] designsimply commented on #13044
**Events in the last 90d:** 757
**Users affected in the last 90d:** 291
**Limited to:** Samsung devices with Android 5.x
<sub>WORDPRESS-ANDROID-Q9R: https://sentry.io/share/issue/16f46ed069914393abcc576fae700e8d/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culprit&name=All+Events&project=143808

[2020-11-30 01:13] designsimply commented on #10169
We're still seeing a high number of our app users affected by this crash. Despite the update jd-alexander mentioned [here](https://github.com/wordpress-mobile/WordPress-Android/issues/10169#issuecomment-675789688) noting that the Google issue at https://issuetracker.google.com/issues/62427912#comment75 says "the issue has been fixed and it will be available in future Android release" and despite t

[2020-11-30 01:36] designsimply commented on #11803
@mchowning do you think @geriux's notes help confirm that this Sentry issue is grouping errors in a way that makes the crash report hard to work with or is it the opposite and the notes help us know that what we should be looking at is HTML parsing? I'm trying to work out how to make this issue actionable or if we should try to separate it into smaller ones.

[2020-11-30 02:29] designsimply commented on #13273
I agree that we can lower this issue from blocking priority and have changed it to medium.

I have added this issue to Groundskeeping with an ask for someone to timebox trying to reproduce the crash and leaving notes with what they've tried.

[2020-11-30 02:47] mkevins commented on #12001
I've tried to reproduce this via the [16.2 release branch apk](https://85030-9306568-gh.circle-artifacts.com/0/Artifacts/WordPress-pr-13490-build-85030.apk), and was unable to reproduce it following the described steps. I believe this has been solved, and I think the issue can be closed. I wasn't able to see the sentry data referenced [here](https://github.com/wordpress-mobile/WordPress-Android/is

[2020-11-30 06:10] designsimply commented on #13320
I re-tested using WPAndroid 16.2-rc-2 by exiting several different previews and confirmed it's no longer getting stuck. Props @cameronvoell @planarvoid @mchowning. 🎉

[2020-11-30 06:10] #13320 closed, assigned to nobody

[2020-11-30 08:41] designsimply commented on #12544
I re-tested and I see what you mean about the text always stacking below the image now, so now it looks like Gutenberg Mobile is the only place where the stacking order changes if the "Show media on right" setting is on—which isn't critical but is inconsistent. I think it's worth a mention as a nitpick and I'll file an issue for it in the `gutenberg-mobile` repo since that's the only place it seem

[2020-11-30 08:41] #12544 closed

[2020-11-30 09:02] malinajirka commented on #13137
This is a known issue and unfortunately one we can't fix without making changes to the API.

Let me try to explain the issue on an example:
1. Create a draft in the app -> `remoteId` is 0 since the draft exists only on the mobile device
2. Click on `save` button -> a http request with the draft is send to the server -> the server assigns a new `id` (called `remoteId` in the mobile apps) -> the ser

[2020-11-30 09:15] designsimply commented on #12239
I tested and compared the Calypso and Android app signup flows. Currently, Calypso allows you to both sign up and create a site without confirming your email address but you must confirm your email address before you are able to launch your site—unless you launch from the editor ([5m1s](https://cloudup.com/cxrvRP-i75o)) although https://github.com/Automattic/wp-calypso/pull/43436 is an attempt to

[2020-11-30 09:26] hypest commented on #13496
I can replicate the issue in the Reader by setting a light background from the web so, this is not an issue for the mobile block editor per se. Moving the ticket to the WPAndroid repo.

[2020-11-30 10:19] malinajirka commented on #12903
This is a tricky issue. Sharing my thoughts in case I'm missing something.

**Current state:**
1. `DeepLinkingIntentReceiverActivity` intercepts the deeplink
2. The activity checks if the post is in the local db
3.
    - (A) Post is in the local db -> opens the editor with the post (in a new stack)
    - (B) Post is NOT in the local db -> opens the editor with a new post (in a new stack)

**My ide

[2020-11-30 17:21] malinajirka commented on #13417
The root cause of these crashes is explained and fixed in https://github.com/wordpress-mobile/WordPress-Android/pull/13500.

[2020-11-30 18:21] chipsnyder opened #13501 "Investigate the ability to remove some of stale code from Site Confirmation Previews"
With the changes in https://github.com/wordpress-mobile/WordPress-Android/issues/13410 we might be able to clean up this chunk of code:

https://github.com/wordpress-mobile/WordPress-Android/blob/2a52dfae9ba2f934d5f17561948492440643fc4d/WordPress/src/main/java/org/wordpress/android/ui/sitecreation/previews/SiteCreationPreviewFragment.kt#L311-L319

Questions:
1. Is `wpadminbar` being successfully h

[2020-12-01 07:24] mkevins commented on #12550
I found steps to reproduce this:

* Log in and go to "My Site" tab
* Tap site title to open text input dialog
* Rotate phone
* :boom:

and have opened a PR to fix the issue: https://github.com/wordpress-mobile/WordPress-Android/pull/13505

[2020-12-01 12:05] malinajirka commented on #9904
I've looked into this issue. Unfortunately, I wasn't able to reproduce it or pin down the root cause.

What I did:
- linked issues I believe are related
- compared the stacktraces to other similar crashes
- created a query in sentry called "IndexOutOfBounds - PackedIntVector in deleteAt, Aztec Android 5-8" so we can check the trends
- I tried to reproduce the issue both manually and using monkey b

[2020-12-01 13:27] develric commented on #12642
closed by #13104

[2020-12-01 13:27] #12642 closed

[2020-12-01 13:55] #12657 closed

[2020-12-01 14:11] develric commented on #12342
I looked into this and I have a good news and an awesome news 😄 .

#### Good news
I think this happens because (following links are from 16.1 version) in [PublicizeButtonPrefsFragment](https://github.com/wordpress-mobile/WordPress-Android/blob/338b9f7585175a6388ce020024a8d385d5b39233/WordPress/src/main/java/org/wordpress/android/ui/publicize/PublicizeButtonPrefsFragment.java#L322) we call a postDe

[2020-12-01 14:49] planarvoid opened #13508 "Copy domain registration logic to new my site fragment"
There is quite a lot of logic around domain registration in the MySiteFragment. It needs to be copied to the new fragment.

[2020-12-01 15:35] zwarm opened #13509 "ActivityLog - ActivityType clear not clearing checkbox selections"
### Expected behavior
When tapping on the Clear button, I expect all the selected checkboxes to clear

### Actual behavior
When tapping the Clear button, the checkboxes are not cleared

### Steps to reproduce the behavior
- Launch App
- Set up the feature flag
- Navigate to ActivityLog
- Tap on the ActivityType chip
- Tap on the checkbox proper - not the row - select mutliples
- Tap clear
- Notice

[2020-12-01 16:19] #13509 closed, assigned to malinajirka

[2020-12-01 19:21] chipsnyder commented on #13501
I used the custom UserAgent `wp-android/16.2` in a webview to test out if this was enough to hide the admin bar as well and that worked nicely so I think this is method is safe to remove now.

[2020-12-01 22:06] bummytime commented on #12239
As mentioned above, I don't think it's prudent to make any major changes to our recently-updated UL&S flows until we review the data in more detail.  Pulling in @frosty and @mattmiklic here, any thoughts on this (esp given the recently released Coming Soon v2 pbAok1-1gI-p2)?

In terms of this ticket specifically, echoing the question to @rezzap — has support seen continued problems with email?

[2020-12-01 22:58] bummytime commented on #13137
Thank for the deets here @malinajirka.

@designsimply do we have a sense of how many people are impacted?

[2020-12-01 22:59] bummytime commented on #10169
Agree @designsimply. Thank you 🙇

[2020-12-01 23:43] khaykov opened #13514 "Add P2 category to the reader"
We should add a `Followed P2s` tab to the reader.

The WordPress.com Reader:

<img width="279" alt="Screen Shot 2020-11-19 at 1 38 32 PM" src="https://user-images.githubusercontent.com/1816888/99721486-8c15b700-2a6c-11eb-89a1-37a0b97b6db5.png">

[iOS issue.](https://github.com/wordpress-mobile/WordPress-iOS/issues/15343)

[2020-12-02 00:05] #12550 closed

[2020-12-02 00:29] designsimply commented on #13137
@bummytime I don't have a good sense of how many are affected overall what I can tell you is that reports from users do come in consistently over time. If I had to guess I'd say the number affected is low but the frustration level for the ones that are affected is high—so I'd say reports are low impact, high severity, recurring on a regular basis. Does that help?

[2020-12-02 00:31] designsimply commented on #12342
sgtm! thank you for the excellent notes and explanation!

[2020-12-02 05:37] reginabally opened #13519 "Problem displaying block on Video block when the video was uploaded from Calypso"
### Expected behavior
I would expect to be able to view the video thumbnail in the app for videos that were uploaded from Calypso, using a Video block.

### Actual behavior
The Video block that was added from Calypso displays the error "Problem displaying block".

![videoblock](https://user-images.githubusercontent.com/40906847/100832056-0baa7980-34a2-11eb-8730-af0c52ea35b7.jpg)

### Steps to repr

[2020-12-02 08:17] rezzap commented on #12239
@bummytime @designsimply - Yes, this is definitely something that still comes up a lot in support. In most cases, we don't get any follow up from users and they usually do have an account created by the time we get to the requests. Most likely they found the email before we had a chance to reply. In most cases when I do check Logstash for reports of this, the emails have been sent and usually mult

[2020-12-02 11:30] #13417 closed, assigned to malinajirka

[2020-12-02 12:41] malinajirka commented on #11223
When the system reaches the "no space left" state, I don't think there is anything we can do. Having said that, there are things we can do to help preventing it from happening.

----------------------

The fact that the number of occurrences has been raising since June (at least) is quite suspicious. I looked into the release-notes for v14.8 - 15.0 which were released around that time. The only th

[2020-12-02 15:47] #13496 closed, assigned to antonis

[2020-12-02 16:07] #13346 closed, assigned to planarvoid

[2020-12-02 16:29] #13347 closed, assigned to planarvoid

[2020-12-02 17:08] renanferrari commented on #13342
Closed by #13360.

[2020-12-02 17:08] #13342 closed, assigned to planarvoid

[2020-12-02 17:35] renanferrari commented on #13348
Closed by #13497, #13506 and #13510.

[2020-12-02 17:35] #13348 closed, assigned to planarvoid

[2020-12-02 20:02] mattmiklic commented on #12239
I think letting people complete the signup flow without having to verify the address on the device would result in a higher signup completion rate.

I don't think launching sites private by default is a good idea until we have the experimentation platform in place to make sure it doesn't have any unintended negative effects on user success elsewhere. We'd probably need to pair this with a new desi

[2020-12-03 10:40] #13345 closed, assigned to renanferrari

[2020-12-03 14:23] planarvoid opened #13531 "Implement stories handling to the new my site fragment"
We need to support stories handling in the new my site fragment

[2020-12-03 16:56] develric commented on #10107
Looked into this one and I think we can close it. Reasons:

- The menus and icons in the remote preview have been revised starting from [this PR](https://github.com/wordpress-mobile/WordPress-Android/pull/10190) that adds a Preview Nav Bar at the bottom and desktop previews. Below a current version taken from 16.3-rc-1 release.

<p align=center><image src="https://user-images.githubusercontent.com

[2020-12-03 16:56] #10107 closed

[2020-12-03 18:41] yaelirub opened #13535 "Add a subscription_count property to the reader_* events"
We'd like to be able to slice the Reader usage by how many sites the user follows.
[equivalent PR on Calypso](https://github.com/Automattic/wp-calypso/pull/47818)
[Equivalent issue on WPiOS ](https://github.com/wordpress-mobile/WordPress-iOS/issues/15431)

[2020-12-03 22:36] mchowning commented on #11803
It still seems to me that Sentry's grouping is making things more difficult since it is grouping other unrelated issues in with the HTML parsing.

Since @geriux's great investigation ❤️ found that most of the crashes are related to HTML parsing, my take would be to focus this GitHub issue only on resolving those HTML issues. Of course, if we can separate out the HTML parsing errors from the other

[2020-12-04 00:20] designsimply opened #13536 "Comments: the "No comments yet" text is a bit lost at the bottom of the screen"
Steps to reproduce:

1. Go to Reader.
1. Tap the comment icon for any post with comments enabled but doesn't have any comments yet.
1. Observe that the "No comments yet" text is a bit lost at the bottom of the screen and no padding below the text makes the spacing of it awkward.

<img src="https://user-images.githubusercontent.com/1119271/101105685-68ce2a00-358b-11eb-858e-09ccdffe17c0.png" width="

[2020-12-04 00:59] designsimply commented on #12624
I'm taking this off the prioritized list for now, but we'll circle back to it eventually or if it comes up again from anyone else. 👍

[2020-12-04 04:37] designsimply opened #13537 "Stats: consider adding an intro screen instead of blank stats graphs for brand new sites with no stats"
Steps to reproduce:

1. In the app, add a self-hosted site.
1. Go to My Site > Stats.
1. Tap the "Install Jetpack" button and follow the prompts to complete Jetpack setup.
1. Observe the landing page with empty stats.

**Results:**

* Empty graphs have strange faded bars at the bottom in dark mode on new sites that don't have any stats recorded yet.
* Lots of "No data for this period" notices.

<i

[2020-12-04 05:09] designsimply opened #13538 "My Site: user icon is not updated on the My Site screen just after adding it in the /Me screen"
Steps to reproduce:

1. Go to My Site > user icon (top right)  and tap "Change Photo".
1. Select a photo from the device, crop as needed, and tap the checkmark.
1. Observe that the /Me screen is updated right away.
1. Go back to My Site.
1. Observe the user icon does not look updated.
1. Leave My Site and go back to it.
1. Observe the user icon now looks updated.

**Result:** the My Site screen do

[2020-12-04 08:59] #12821 closed, assigned to zwarm, ashiagr, malinajirka

[2020-12-04 08:59] #12319 closed

[2020-12-04 11:35] #13333 closed, assigned to nobody

[2020-12-04 14:51] hypest commented on #13353
Not sure, is this ticket addressed at this point? Should we close it?

[2020-12-04 18:31] rossanafmenezes commented on #13337
Hi @designsimply  all the links I used to do the testing were WordPress.com links since they were all from my own WP.com testing sites.

That's the whole issue. I'm not prompted to select a browser or any app for that matter. I only have Chrome on my phone and it opens directly on Chrome. It does not even  ask if I want to open in the WordPress app or on the browser. It simply ignores the app opti

[2020-12-04 18:43] antonis commented on #12465
This seems to be linked with https://github.com/wordpress-mobile/WordPress-Android/issues/9985 (that caused crashes [recently](https://sentry.io/organizations/a8c/issues/1016999115/?project=1438088&query=onInstallReferrerSetupFinished&statsPeriod=14d)) and both are related with the [Play Install Referrer Library](https://developer.android.com/google/play/installreferrer/library). We currently use

[2020-12-04 23:07] mzorz opened #13549 "Media Picker: replicate behavior of making a local copy for remote media for Stories"
After the implementation of this PR  https://github.com/wordpress-mobile/WordPress-Android/pull/13548, we changed the behavior for the media picker for Stories when the user selects a media item which belongs to the site's Media section. Given these items are represented with remote URLs (i.e. `https://`) we need to first download a local copy in order for things to behave properly and smoothly in

[2020-12-05 14:45] rezzap commented on #10701
We have another user who is very confused by this on Android:

3525901-zen

How to remove local changes is very confusing on Android since we expect users to go to the history and restore past revisions and update. The user also mentions the label comes up almost everytime he comes to a post and leaves it (even without edit). I'm not replicating this issue, but it's not the first time we hear it.

[2020-12-05 14:48] rezzap commented on #11412
Another report of this in 3525901-zen

User was able to get this working by clearing app data and cache, but it returned again on the same day they were on when it originally came up. I'm asking them if a pull down to refresh helps now.

Pixel 4a using WP app 16.1 last we checked.

They report this did not happen on their other device: (pixel 1/android 10).

Update: The pull to refresh did not cha

[2020-12-06 04:28] kaytat commented on #12120
@mchowning I've tried the latest and I'm still having issues building on Windows. Looking at logs a little closer, the error I'm seeing is "The syntax of the command is incorrect." and specifically it's the command "mkdir -p ..." in the "bundle:android:text" script of gutenberg-mobile/package.json

Seems like cmd.exe's mkdir doesn't like the -p option.

I did try manually creating that directory a

[2020-12-07 15:53] #10572 closed

[2020-12-07 19:09] mzorz opened #13558 "[Home Page Picker] - title and action bar default action overlap in German"
### Expected behavior
The labels should not overlap

### Actual behavior
The "skip" translation for German is "überspringen" and it occupies much more space, overlapping with the title when it's collapsed as you scroll down

![overlap](https://user-images.githubusercontent.com/6597771/101393682-3a5f9000-38a6-11eb-930f-b6df0468f121.gif)

### Steps to reproduce the behavior
1. set your device langua

[2020-12-07 19:59] mzorz opened #13559 "[Home Page Picker] - screen is greyed out when rotated"
### Expected behavior
The color of the screen should remain the same when rotating.

### Actual behavior
Rotating the phone shows a greyed overlay on the screen:
#### **Dark mode:**
![gray_colored_screen](https://user-images.githubusercontent.com/6597771/101397811-f1123f00-38ab-11eb-88d7-2f9b8a004de7.gif)

#### **Light mode:**
![gray_colored_screen_light_mode](https://user-images.githubusercontent

[2020-12-07 20:26] mzorz commented on #13558
Note: I also tested this on an actual Pixel 2 device with Android 8.1, and couldn't observe the behavior there.

[2020-12-07 20:27] mzorz commented on #13559
Note: I also tested this on an actual Pixel 2 device with Android 8.1, and couldn't observe the behavior there.

[2020-12-07 21:33] designsimply commented on #13337
We re-tested this today and @rossanafmenezes was able to get it working. 👍

<img src="https://user-images.githubusercontent.com/1119271/101407016-7b9c7380-3897-11eb-9707-554f22b10e92.jpg" width="270" alt="IMG_20201207_153558_110">
<sup>Screenshot from rossanafmenezes - shared with permission.</sup>

I'm following up here to note that we tested and confirmed these settings are working as expected a

[2020-12-07 21:33] #13337 closed, assigned to nobody

[2020-12-07 23:24] designsimply commented on #9904
+1 for continuing to check trends for now based on how it's limited to Android 5-8 and Aztec. I'll remove it from the prioritized list for now. 👍

[2020-12-07 23:44] designsimply commented on #12239
Thanks for checking in everyone. Based on the last comment, it sounds like we do not want to make an immediate change but I cannot tell if this issue should remain high priority.

@rezzap if these types of issues continue to be a problem for users and you think we need to take action on it sooner than later, it would help very much to get a better idea of how many users are affected. I suggest tag

[2020-12-08 01:05] designsimply commented on #13559
fwiw, I've seen this before in the emulator but not on my actual device when using WPAndroid.

I just tested on my Pixel 3 Android 11 devcie using WPAndroid 16.3-rc-2 and 16.3-rc-3 and I'm unable to replicate so I'm labeling low priority for now as it appears to be emulator-only in testing so far.

![WordPress-Android-13559-WPAndroid-16 3-rc-3](https://user-images.githubusercontent.com/1119271/101

[2020-12-08 01:15] designsimply commented on #13558
Thanks for the report @mzorz! I tested with WPAndroid 16.3-rc-3 on Pixel 3 Android 11 with a few different languages and I see what you mean.

Spanish|Hebrew|Russian
---|---|---
![Screenshot_20201207-181216](https://user-images.githubusercontent.com/1119271/101424303-15741880-38b8-11eb-9125-2a22be7bcf95.png)|![Screenshot_20201207-181242](https://user-images.githubusercontent.com/1119271/101424295-

[2020-12-08 01:38] designsimply commented on #10739
The Media Editing project didn't end up addressing this issue. I re-tested today using WPAndroid and WPiOS and found that the behavior now matches but that the option to multi-select images on the Media screen is not available on either platform.

I noticed we recently made an update in Gutenberg Mobile in https://github.com/WordPress/gutenberg/pull/24346 to allow uploading multiple images at once

[2020-12-08 09:07] planarvoid commented on #11412
I'm adding some tracking for the cases when the stats shown to the user are out-of-date in #13556 . I want to find out how common that is and what sites are usually showing the out-of-date stats.

[2020-12-08 15:06] antonis commented on #7954
Fixed with https://github.com/wordpress-mobile/WordPress-Android/pull/13521

[2020-12-08 15:06] #7954 closed

[2020-12-08 16:22] antonis commented on #13559
I performed a preliminary investigation but wasn't able to replicate the issue on an actual device or find the cause of this behaviour. Leaving this issue for groundskeeping.

[2020-12-08 16:34] mzorz commented on #13559
Thank you for taking the time to test a bit on a device @antonis! Might be just an emulator glitch, I think if it's not happening on devices we can close it - I have tested on an actual device with Android 8.1 and couldn't observe it either - wdyt @designsimply @antonis  ?

[2020-12-08 16:41] antonis commented on #13559
@mzorz I agree. I feel that it would be safe to close this (and probably reopen if the problem appears on an actual device).
I was hesitant to close it directly because I'm only able to test on one actual device (Pixel 2XL/Android 11) at this point.

[2020-12-08 16:44] mzorz commented on #13559
Sounds good, no need to keep this open if it's not really affecting users. Closing then! 👍 thanks a ton for your time @antonis @designsimply  🙇

[2020-12-08 16:44] #13559 closed, assigned to nobody

[2020-12-08 20:24] designsimply commented on #63
<sup>play-store-reviewId=gp%3AAOqpTOHQZpTUnnMA9bDyj53twrHQ-Z-m4FO0WeUK4CY4b41CPlhEadm2fXRjpvHVI9vHm6YJm9hGJmLLem602Q</sup>

[2020-12-09 01:17] #13531 closed, assigned to planarvoid

[2020-12-09 13:33] malinajirka commented on #13361
<p>I looked into this issue. I added bunch of logs and I think the bug might be in Gutenberg.</p>

<p>When the bug happens, the editor doesn't emit change </p>

<pre class="wp-block-preformatted">mEditorFragment.getTitleOrContentChanged()</pre>

<p>Moreover, <a href="https://github.com/wordpress-mobile/WordPress-Android/blob/b739d8a436e6b2efbeff6584c065409e939b1e28/WordPress/src/main/java/org/word

[2020-12-09 15:19] planarvoid opened #13571 "Domain registration fails"
While testing the domain registration from the app (using domain credits), the last step failed for me without any snackbar or a message. There is just this whiteish circle that appears in the middle of the screen and that's it.

The error looks like an unexpected API object.

I'm setting the priority to low because it's only happening on one of my accounts and it doesn't happen to another person

[2020-12-09 16:11] #13508 closed, assigned to renanferrari

[2020-12-09 16:31] #12570 closed

[2020-12-09 18:00] designsimply commented on #5692
Closing in favor of https://github.com/wordpress-mobile/WordPress-Android/issues/10911 with an ask to please re-open if this comes up again.

Props @kraftbj for providing steps to reproduce. 😍

[2020-12-09 18:00] #5692 closed

[2020-12-09 18:40] designsimply commented on #13353
@planarvoid @hypest this issue is still valid. I tested with 16.3-rc-3 and The same problem is still happening. Since the ask to retest is from 28 days ago and 16.2 was released 9 days ago, I think it should be working in the 16.3 beta, yes?

Video: [3m30s](https://cloudup.com/cYX-1VILsPr)
<sup>Tested with WPAndroid 16.3-rc-3 on Pixel 4 Android 10.</sup>

Should this issue be moved to the gutenber

[2020-12-09 18:44] designsimply commented on #11803
Ace. It's helpful to note that we should be watching the users affected and not the overall number of incidences for this crash, which is a special case. I will prioritize accordingly the next time I report top issues. 👍

@jkmassel we did discuss making some changes to help group these types of issues better, but I don't know the status of that change. Would you mind giving an update on that?

[2020-12-09 18:50] designsimply commented on #8607
Still valid. Noting we should circle back and test the scenarios Oguz mentioned so it's more clear to see what's happening.

[2020-12-09 22:57] mzorz opened #13572 "Posts lists: add sort ascending / descending by date"
Suggested in Zendesk by a user

[2020-12-10 02:35] khaykov opened #13573 "Introduce organization_id in Reader for p2 and a8c content."
Instead of relying on `is_wp_forteams` flag, we should utilize `organization_id` to differentiate between different types of content.

[2020-12-10 10:15] mkevins commented on #10739
Hi @designsimply :wave: :smile:

That's a good question. I'm not sure off-hand if there are any immediate blockers for that, but I think it's definitely worth exploring. In fact, one thing I've had in mind since implementing gallery block for mobile is that we have a difference in how we treat a collection of images already present in a gallery.

On the web, when a new image is added, the previous

[2020-12-10 22:36] renanferrari opened #13580 "Domain credits are not being offered to Atomic sites"
While working on #13568, I noticed that domain credits were available for some of my Atomic test sites on Calypso, but not on the app. These test sites are all on the Business plan, but this only seems to happen with sites that have already been converted to Atomic:

Calypso (before converting to Atomic) | Calypso (after converting to Atomic)
------------ | -------------
<img width="270" src="http

[2020-12-10 22:58] renanferrari opened #13582 "Handle empty view in the improved My Site fragment"
We need to handle the scenario where the user doesn't have any sites and show the empty view with the call to action to create a new site.

[2020-12-10 23:09] renanferrari opened #13583 "Create new Quick Start card item"
We need to create a new Quick Start card based on the latest design spec:

![quick-start-card](https://user-images.githubusercontent.com/830056/101840390-c5e55500-3b22-11eb-8afb-043d31ec610e.png)

This task includes:
- The progress bar at the top left corner and the ability to set a value to it.
- The overflow menu at the top right corner.
- The ability to show nested items and horizontally scroll

[2020-12-10 23:14] renanferrari opened #13584 "Create new Task card item"
We need to create a new Task card based on the latest design spec:

![task-card](https://user-images.githubusercontent.com/830056/101840966-ce8a5b00-3b23-11eb-9cd0-50c27e46e237.png)

This task includes:
- The card's illustration and description.
- The ability to click the card.
- The ability to set a card as "done".

This task does not include:
- The UI for the parent card (Quick Start card), whic

[2020-12-11 12:21] hypest commented on #13353
Aha, I see the flow you used there @designsimply. Looks like you tried it via another app and Google Photos did allow for selecting the webp image. Our own image picker and the Android picker doesn't allow selecting the webp ones.

So, this seems like a subcase of the overall flow. @planarvoid , do you think there's a way to limit any app via the picker, or at least Google Photos?

[2020-12-11 12:54] #13558 closed, assigned to antonis

[2020-12-11 13:56] develric opened #13589 "Missing video preview placeholder sometimes when rendering in a webview."
This was created as a reminder task after [this PR comment](https://github.com/wordpress-mobile/WordPress-Android/pull/13515#issuecomment-740433704) to further investigate the reason why around 7 months ago we started seeing crashes (better documented in [this](https://github.com/wordpress-mobile/WordPress-Android/issues/11791) issue), related to the WebView rendering of videos missing the preview

[2020-12-11 15:21] designsimply commented on #13353
Or 😁😁😁 what about adding support for webp images?

[2020-12-11 15:25] designsimply commented on #10739
Excellent explanation, thank you! I agree a warning before allowing multiple image deletion is a really good idea.

Since we only have one user request on file for this, I'm going to keep it in the backlog for now. I want to say I appreciate making sure issues like this have helpful comments added when possible so that they are ready to go when we have time to come back around and work on them.

[2020-12-11 17:24] renanferrari commented on #13580
I've received confirmation this is not a known behavior, so I'm updating its priority accordingly.

[2020-12-11 18:36] designsimply commented on #13580
Tested and confirmed using WPAndroid 16.3-rc-2 on Pixel 3 Android 11 that if I have setup a WordPress.com Business site on the web, I cannot see the "Register Domain" prompt in the app after I have done the step that changes the temporary domain from *.wordpress.com to *.wpcomstaging.com. ([1m19s](https://cloudup.com/cVTx2fJBbeG))

We should update to make the domain credit available in the app if

[2020-12-11 21:24] Tug commented on #10491
We encountered that issue while testing. It's actually quite easy to reproduce:
From a blank page, add columns, a header block inside one column. Remove header block after focusing it, then focus on the column and tap the cog icon. You should experience it.

I was also able to experience it while testing the homepage for the `vesta` template, here's a quick video

![device-2020-12-11-215519 2020-1

[2020-12-11 23:11] mchowning commented on #13169
I suspect this may be related to https://github.com/wordpress-mobile/gutenberg-mobile/issues/894.

[2020-12-12 01:00] designsimply commented on #13589
Fixing video poster images in webviews would be amaaazing! 😁

[2020-12-12 01:03] designsimply commented on #5875
<sup>play-store-previewId=gp%3AAOqpTOGzlln-F2un51G5g8N-uEOQyOjCw0vcBEMG6FVs32W3mBENb4GLStPRWfzlU4HROn0eAlrGfjLCJ4r2BC-M</sup>

[2020-12-13 00:37] tkeriduN commented on #7216
Agreed this is a huge setback for the wordpress mobile apps. A bunch of customers have found this app in the app store and asked med about if they can use it with the sites we've set up for them. Always a huge bummer to have to tell them "No... It's a great app but it doesn't work for anything besides editing pages and standard posts on your site.". And they've hired us for the very reason of crea

[2020-12-14 10:07] #11791 closed

[2020-12-14 11:25] lukewalczak commented on #10491
At first glance it's related to removing nested block based on `RichText` since I was not able to reproduce the crash via nesting and removing other blocks such as `Code` or `Read More`. _Will continue the investigation_

[2020-12-14 12:08] hypest commented on #13353
Pinging @frosty here since y'all recently worked on a media picker consolidation project: is there any context around where we are in terms of supporting webp and any particular reason we kept it as unsupported in that recent project?

BTW, there's [this ticket open about webp support in the apps](https://github.com/wordpress-mobile/WordPress-Android/issues/2885).

[2020-12-14 15:03] mzorz commented on #10494
Checking back in on this. I've caught up with the comments here and the comments on the bug's original thread - I don't think coming up with any elaborate workaround could help minimize the effects of this bug in particular, but maybe also bring other issues along with it. For example, I've thought of maybe refactoring the app's onCreate() method to do something in the background but return immedi

[2020-12-14 15:23] antonis opened #13599 "Android: Add Duplicate (Copy) Page functionality"
### Description

The user should be able to duplicate a page. This functionality is already available on the web.
The [design](https://user-images.githubusercontent.com/50576199/61964868-dc8b1a80-afc6-11e9-939e-0a0862a76601.png) should be similar with the [duplicate post functionality](https://github.com/wordpress-mobile/WordPress-Android/pull/13521).

The new "Duplicate" option should be availabl

[2020-12-14 19:29] raphaelbertholucci commented on #12964
Hey @designsimply, i'm having the same issue, do you have any solution for this problem? Thanks

[2020-12-14 23:04] khaykov opened #13601 "Reader: Can't unfollow site that was followed in Calypso Reader from post card"
Steps to reproduce:
- Clear the app data.
- Follow a wpcom site in Calypso.
- Refresh the Following tab in the app's Reader.
- Confirm that posts from followed iste have loaded into Reader.
- From the dropdown menu of the post from Followed site try to unfollow it.
- Confirm that site was not unfollowed (check in Calypso or Reader Settings).
- Unfollow site in Reader Settings and confirm that it w

[2020-12-15 02:57] yaelirub opened #13603 "Change the order of items under Quick Actions and Publish section in My Site"
The new order will be:

Quick actions : Stats, Posts, Media, Pages.
Publish: Posts, Media, Pages, Comments.

[2020-12-15 03:46] designsimply commented on #13601
I noticed that in https://github.com/wordpress-mobile/WordPress-Android/issues/11358 it says the expected behavior is:

It's confusing though. @develric can you help me understand the intended behavior? I have seen the behavior @khaykov reported above and had assumed the purpose was to give people time to re-follow a site if they unfollow it by mistake, but that's really only an assumption I had m

[2020-12-15 03:49] designsimply commented on #5875
<sup>play-store-reviewId=gp%3AAOqpTOEiulu3htaQ48aX0sd5ZIKyxb8GBTdvtD9uuC58T83DTlsoD7ywvPqf1diDHGj_aXAhKxIm7XenU-OiNi_8&corpus=BETA_FEEDBACK</sup>

[2020-12-15 04:34] designsimply commented on #12964
Sure! The best temporary workaround right now is to tap the blue checkmark button in the keyboard (which also works just fine). I have also found that tapping the top edge of the pink button also works.

Past that, hearing from other users could help raise the issue in priority—otherwise, I'm not really sure how many people are affected by this issue.

[2020-12-15 08:31] malinajirka commented on #13169
A note which might be useful - I noticed the EditorFragment.getTitleOrContentChanged() is invoked when you open a post. It's also interesting that it is invoked on the same post every time you open it (even if you open it after it already has the "local changes" label).

[2020-12-15 13:45] frosty commented on #13353
Thanks for the ping. As far as I'm aware, webp still is not supported by the backend – there was [this post](https://wordpress.com/blog/2015/12/04/webp-images-support/) many years ago about webp support, but I think that was about _serving_ webp images. This [more recent forum post](https://wordpress.com/forums/topic/bring-webp-images-on-wordpress-com-sites/) mentions that webp isn't allowed as an

[2020-12-15 14:26] develric commented on #13601
Hey @designsimply 👋 .

Yep that is correct. Currently we keep a site in the list when unfollowed in case the user changes his mind and we remove it once the user leave that screen; what happens is that we end up removing it from the list also on config changes in that same screen that seems an unwanted behaviour.

Maybe it's superfluous but to be sure we are on the same page 😄 , just want to notic

[2020-12-15 15:09] develric commented on #13601
Was thinking to the #11856 and I remember that I noticed something similar at some point in the past where the followed site button is disabled while waiting for the response confirmation from the endpoint, that can take some time. Not sure how well it fits with the current implementation of the follow site button behaviour in the various app places, but wondering if we should use a similar approa

[2020-12-15 15:11] ashiagr opened #13606 "Jetpack Section: Refactor Rewind/Backup/ScanStatusServices"
#13267

This issue is created to track that we refactor Rewind/Backup/ScanStatusServices once they are all finished as per https://github.com/wordpress-mobile/WordPress-Android/pull/13578#discussion_r543247810.

[2020-12-15 16:59] leandroalonso opened #13609 "Reader: Track Cards API response"
### Goal

The goal is to track when the Reader Cards API response has arrived. We want to make a funnel to check how many users are leaving the Reader _before_ the response returns.

In WPiOS [this was implemented](https://github.com/wordpress-mobile/WordPress-iOS/pull/15183) by triggering an event when the cards appear: `reader_discover_content_presented`.

### Acceptance criteria

#### Appearing

[2020-12-15 17:00] leandroalonso commented on #13609
@ParaskP7 can you please tackle this issue?

I'm available to help with anything you need. :)

[2020-12-15 18:41] khaykov commented on #13601
As @develric said the issue is in changing the Follow state from the post menu. The problem is not that the posts remain in the Reader (that's expected) but that the site is not actually being Unfollowed.

[2020-12-15 21:12] frosty commented on #12239
Sounds good to me, @designsimply!

[2020-12-15 23:38] #13573 closed, assigned to khaykov

[2020-12-16 00:00] designsimply commented on #13601
Okay! Yeah, I think it can actually be kind of hard to tell whether something really was unfollowed in this context. 🙂

Thank you everyone for the explanations!

I totally noticed that tapping the "following conversation" felt like it worked a million times better when I tested it in beta, so I am in favor of this. 😊

[2020-12-16 00:16] designsimply commented on #12239
Ace. I will add a reminder for myself to check back in after 3 months. 👍

[2020-12-16 00:31] designsimply commented on #13353
Oh! Thank you for the update. In that case, we definitely shouldn't allow uploading webp images from Gutenberg Mobile and we should show a proper error when someone tries to.

<sup>(I had skimmed internal reference p4TIVU-9se-p2 about enabling webp but now I realize it was a different context.)</sup>

For comparison, if you try to upload a webp image using Calypso Gutenberg it replies with the fol

[2020-12-16 03:42] reginabally opened #13611 "Unable to switch to static page at My Site > Settings > Homepage Settings for sites with privacy setting set to Hidden"
Originally reported in 3573089-zen.

### Expected behavior
I would expect to be able to change my homepage settings to use a static page through My Site > Settings > Homepage Settings.

### Actual behavior
There's a loading wheel on the Homepage Settings pop-up. When I chose the "Static Homepage" option and tap the "ACCEPT" button, I see the error "Cannot save homepage settings before pages are lo

[2020-12-16 07:42] ParaskP7 commented on #13609
👋 @leandroalonso !

Sure, will tackle it as soon as possible!

Since this is the first time I hear about that, how urgent is it? 😊

[2020-12-16 11:05] frosty commented on #13353
Thanks for clarifying, @designsimply.

As @planarvoid is AFK until January, pinging @develric – do you know if there's a way we can prevent webp files from being selected in the system picker? (see [this video](https://cloudup.com/cYX-1VILsPr) for an example)

[2020-12-16 14:33] #13603 closed, assigned to zwarm

[2020-12-16 19:19] aerych opened #13619 "Update terms in code to use more inclusive language"
A quick `ack` of the repo shows `whitelist` and `blacklist` referenced in several places.  Let's update these references in our code and repo documentation (e.g. README) to use more inclusive terms.  Suggestions: `allowlist` or `blockedlist`. For references in third-party libs, we can see if there is an updated version of that lib and whether there is any blockers to switching to that version.

Se

[2020-12-16 20:05] mindgraffiti opened #13621 "Comments: LaTeX images are not rendered and an error displays"
Ref. pbArwn-1v1-p2#comment-2201
<a href="https://user-images.githubusercontent.com/1062444/102400037-f7d53c00-3fa6-11eb-97ec-1ea6b4312355.png"><img src="https://user-images.githubusercontent.com/1062444/102400037-f7d53c00-3fa6-11eb-97ec-1ea6b4312355.png" width="350" /></a>

Sister issue: https://github.com/wordpress-mobile/WordPress-iOS/issues/15483

Sample snippet of HTML from the Comment content

[2020-12-16 21:41] mchowning commented on #11239
User report of a similar sounding issue:

3580046-zd-woothemes

[2020-12-17 01:05] #13434 closed, assigned to nobody

[2020-12-17 01:17] designsimply opened #13623 "Zendesk: colors should be blue not purple"
Steps to reproduce:

1. Go to My Site > Account (top right) > Help & Support.
1. Open the Contact Support, Browse our FAQ, and My Tickets pages.
1. Expect the headings to be blue not purple.

**Result:** somewhere along the line, the colors in the WPAndroid support section turned purple, but they are supposed to be blue.

<img src="https://user-images.githubusercontent.com/1119271/102425560-ca01ee

[2020-12-17 05:33] reginabally commented on #11412
Another report in 3573427-zen. Samsung SM-A405FN on WPAndroid 16.2.

The user noticed the issue happens intermittently. In the log, I see the following log entries. The user mentioned they were seeing the date December 13th all-day whereas their current date was December 14th. They confirmed the phone and site's timezones match.

<pre>
52 - [Dec-14 14:08 STATS] fetchVisits for month: Current date:

[2020-12-17 14:18] ParaskP7 opened #13629 "Jetpack Section: Backup Screen"
Parent #13267

⚠️ The designs below are just an FYI of the latest exploration that @osullivanchris did on this screen. In the end, the team decided **NOT** to go with them and instead reuse the `Activity Log` design and screen to build this `Backup` screen.

⚠️ When it comes to design you will notice the below two differences on the `Backup` screen, compared to the `Activity Log` screen, those are

[2020-12-17 19:30] leandroalonso commented on #13609
Given the discussion in the PR above we're closing this issue.

[2020-12-17 19:30] #13609 closed, assigned to nobody

[2020-12-17 23:47] #13514 closed, assigned to nobody

[2020-12-18 11:50] develric commented on #13353
Hey 👋 . For what I remember the expected behaviour currently implemented is:
- not present not supported media types in the app mediapicker; but you can always go to the system picker from this icon
<p align=center><image src="https://user-images.githubusercontent.com/47797566/102609203-62af8000-412b-11eb-8a55-26b08b681af2.png" width=300/></p>

- Once you are in the system picker, we do not have f

[2020-12-18 13:12] #13599 closed, assigned to antonis

[2020-12-18 14:13] rezzap opened #13637 "Stats: update GeoChart to resolve map border issues"
A user reported that the borders for Morrocco in the stats map were not up to date and were missing content of the Sahara. They mentioned that Google had updated their maps to reflect this which seems to be the case on Google Maps.
On looking at the [GeoChart map](https://developers.google.com/chart/interactive/docs/gallery/geochart#Example) which the app uses, it doesn't look like the difference

[2020-12-18 15:58] #10491 closed

[2020-12-18 20:41] startuptester commented on #13619
Added to first Groundskeeping rotation of 2021

[2020-12-21 11:17] loremattei opened #13643 "RuntimeException: Unable to start activity ComponentInfo{org.wordpress.android/org.wordpress.android.ui.notificatio..."
**Sentry Url**: https://sentry.io/share/issue/d8e5aceeedd24cbc981d1f00fe10f704/
**User Count**: 45
**Count**: 69
**First Release**: org.wordpress.android@16.3-rc-1+962
**First Seen**: 2020-12-02T12:38:18.780000Z
**Last Seen**: 2020-12-21T07:20:50Z
**24 Hours**: 9
**30 Days**: 69

[code]

[2020-12-21 11:20] loremattei opened #13644 "InflateException: Binary XML file line #48: Binary XML file line #48: Error inflating class ImageView"
**Sentry Url**: https://sentry.io/share/issue/b00c51c09d0944fc82de76dd5bec2e0c/
**User Count**: 1
**Count**: 256
**First Release**: org.wordpress.android@16.1-rc-1+947
**First Seen**: 2020-11-05T19:55:55.514000Z
**Last Seen**: 2020-12-20T19:22:11Z
**24 Hours**: 44
**30 Days**: 222

[code]

[2020-12-21 11:22] loremattei commented on #13644
User Count is 1 because this happens before login.
The occurrences count is not very high, but it looks like there's been a spike in the last 24 hours. Since 16.4-rc-1 was actually published by Play Store just yesterday, I think it's worth it to monitor this.

[2020-12-21 13:01] ashiagr commented on #13644
👋 @khaykov

CTOW here, this crash is happening at [this line](https://github.com/wordpress-mobile/WordPress-Android/blame/develop/WordPress/src/main/java/org/wordpress/android/ui/accounts/login/LoginProloguePageFragment.kt#L66). Could you please take a look at it?

[2020-12-21 13:20] ashiagr commented on #13643
@loremattei, I can take a look into it tomorrow. Seems like devs working on this part are on 🎄 leave.

[2020-12-21 14:59] develric opened #13648 "Removing checkmark in reader subfilter bottomsheet"
In the original implementation of the Reader subfilter menu we used a checkmark to highlight the item that was selected (if any).

<p align=center><image src="https://user-images.githubusercontent.com/47797566/102787444-62201f00-43a1-11eb-942d-8e800c15f9a3.png"  width=300/></p>

In the subsequent implementation of the feature in iOS it was decided in a design review to remove that checkmark. We sh

[2020-12-21 15:36] mzorz opened #13649 "UninitializedPropertyAccessException lateinit property editorMediaListener has not been initialized"
Sentry Url: https://sentry.io/share/issue/99b88499bf6c46e48ce8036c8a47223d/

[code]

I was able to reproduce:
1. create a story with a new slide and add some text on it
2. once you publish it, turn airplane mode ON to prevent the image from being uploaded and incur in error
3. wait for the error to appear
4. open the failed Post in the draft post list
5. tap on the failed Story block, and when the

[2020-12-21 19:24] mzorz opened #13650 "NullPointerException: mediaFile.mediaId must not be null"
Sentry Url: https://sentry.io/share/issue/f6c19e5b31b543adacf3f80c6b319fa2/
Possible dupe: https://sentry.io/share/issue/55717409b678402d9825737efd7536d2/

[code]

When looking in the logs, I can see the user created a Story with 2 slides, but most of the time in the early stages when selecting the image to include as slides we've got other exceptions, in particular `IllegalArgumentException: Volu

[2020-12-22 07:53] #13648 closed, assigned to nobody

[2020-12-22 11:16] reginabally opened #13653 "Unable to select a .blog subdomain"
### Expected behavior

I would expect to be able to select a .blog subdomain regardless of whether I'm choosing a homepage design when creating a new site.

### Actual behavior

If I skip the homepage design picker or select a certain homepage design (the first or the second in the list), I can only select a WordPress.com subdomain. I can select a .blog subdomain when I choose the third or the fou

[2020-12-22 13:11] ashiagr commented on #13643
@loremattei , this one is fixed in the linked PR. Even though user count is small right now, this issue was introduced in the last release `16.3-rc-1+962`. I can create a PR against `release/16.4` instead of `develop`. Let me know.

[2020-12-22 14:41] mzorz commented on #13650
Here's another case where the file seems to not exist when it's attempted to be uploaded, and then in the end the crash conditions are met when trying to process the Post for a media item that obviously can't have a remote mediaId (because it could not be uploaded in the first place):

[code]

[2020-12-22 18:12] mzorz opened #13658 "NullPointerException: mediaStore.getMediaWithLocalId(localMediaId) must not be null"
Sentry Url: https://sentry.io/share/issue/1b40a91b8aee4f4dabcd377427cd1cbb/

[code]

The user logs show this:

[code]

[2020-12-22 21:21] yaelirub commented on #13003
Hello 👋  If this is not a crash, can we log it in a different way? (Not to Sentry or as info instead of an error?) Also, do we know why we are getting so many events? Are more users quitting the editor real quick or is it more about Gutenberg failing to update the app?

cc: @mchowning

[2020-12-22 21:24] mzorz opened #13662 "IllegalArgumentException: Required value was null"
Sentry Url: https://sentry.io/share/issue/a32c45528c414af8973965f6c9edd293/
Senry Url 2: https://sentry.io/share/issue/fa68ef7d97294b979c94299bb1d78f0d/

[code]

Logs for the user show a low memory situation, let's keep an eye on this and see if it has more occurences:

[code]

[2020-12-22 21:51] mzorz commented on #13650
Possible Sentry dupe here https://sentry.io/share/issue/55717409b678402d9825737efd7536d2/

[2020-12-22 23:01] develric commented on #13353
Quick follow up to say that AFAIU I need to confirm the above, that is:
- as long as we stay in the system picker we already specify the valid mime types (`EXTRA_MIME_TYPES` in the Intent); so that the relevant media are in this way listed but grayed out (and intentionally not possible to select them)
- in the system picker there can be additional apps like gallery or google photos started up from

[2020-12-23 01:21] develric commented on #13644
Looked a bit into this one; running out of time but thought to share a piece of information in case it can ring any bell into someone else.

Was not able to replicate, anyway inspecting the vanilla debug APK from 16.2 and 16.4-rc-1 you can see the following:

| 16.2 -> Unable to find resource ID #0x7f080244 |
|---|
| ![image](https://user-images.githubusercontent.com/47797566/102947353-6e040200-44

[2020-12-23 06:29] loremattei opened #13664 "NullPointerException: updatedSite must not be null"
**Sentry Url**: https://sentry.io/share/issue/762bf8571c744bd69bdc10deb8ac4f66/
**User Count**: 9
**Count**: 10
**First Release**: org.wordpress.android@16.2+961
**First Seen**: 2020-12-09T21:11:26.370000Z
**Last Seen**: 2020-12-22T23:22:59Z
**24 Hours**: 2
**30 Days**: 10

[code]

[2020-12-23 06:31] loremattei commented on #13664
This has not many occurrences, but since it has been introduced recently we may want to fix it.

[2020-12-23 10:30] malinajirka commented on #13003
Sentry has two types of logs: Error and Fatal (crash). This issue has correct type (error). Ideally this log would disappear if everything in Gutenberg and WPAndroid would work correctly. Also there is a huge spike in the number of occurrences, so there is a new bug in the app.

I'm not sure if we changed the app since September 23rd or I just wrongly evaluated this, but `This issue can be reprodu

[2020-12-23 11:13] mzorz commented on #13650
Closing via #13661

[2020-12-23 11:13] #13650 closed, assigned to nobody

[2020-12-23 11:15] mzorz commented on #13649
Closing via #13659

[2020-12-23 11:15] #13649 closed, assigned to mzorz

[2020-12-23 11:16] mzorz commented on #13658
Closing via #13660

[2020-12-23 11:16] #13658 closed, assigned to nobody

[2020-12-23 11:45] #9999 closed

[2020-12-23 11:49] mchowning commented on #13361
Removed my assignment because I'm not going to have time to get back to this in the near future. Once the new year starts, I will try to find someone else to continue working on this.

[2020-12-23 11:50] rezzap opened #13667 "Surface Duo Support: Content doesn't split properly across both screens"
### Expected behavior
The user expected that when using the Android app on their Surface Duo, the content would split properly between both screens.

### Actual behavior
The app doesn't split content properly and the hinge gets in the way of the content.

### Steps to reproduce the behavior
I haven't been able to reproduce this as I don't have access to this device, but it may be worth considering

[2020-12-23 11:51] mchowning commented on #13169
Removed my assignment because I'm not going to have time to get back to this in the near future.

[2020-12-23 11:52] sentry[bot] opened #13668 "UninitializedPropertyAccessException: lateinit property site has not been initialized"
Sentry Issue: [WORDPRESS-ANDROID-11XQ](https://sentry.io/organizations/a8c/issues/2109138154/?referrer=github_integration)

[code]

[2020-12-23 11:53] mzorz commented on #13668
This is a variant of https://github.com/wordpress-mobile/WordPress-Android/issues/13649, which has been fixed in https://github.com/wordpress-mobile/WordPress-Android/pull/13659.

Created the issue here to correspond with Sentry's tracking, and closing now given the PR mentioned above fixes it 👍

[2020-12-23 11:53] #13668 closed, assigned to mzorz

[2020-12-23 14:23] develric opened #13669 "Adding filtering capability to a8c and p2s reader tabs"
As part of the #13514 we should add the subfiltering capability to `Automattic` and `P2s` tabs category in reader; this should behave in a similar way like the filter in `Following`

| ![image](https://user-images.githubusercontent.com/47797566/103005702-4d26c580-4532-11eb-9f17-c392cb31cdab.png) | ![image](https://user-images.githubusercontent.com/47797566/103006109-6a5b9400-4532-11eb-9dae-55d4bf7

[2020-12-23 14:45] sentry[bot] opened #13670 "StoryRepositoryWrapper.getCurrentStoryThumbnailUrl: IndexOutOfBoundsException: Index: 0, Size: 0"
Sentry Issue: [WORDPRESS-ANDROID-11XS](https://sentry.io/share/issue/47c2547d65554997a142d75e20e342e1/)

[code]

[2020-12-23 15:00] mzorz commented on #13670
The logs for this crash show several LOW MEMORY warnings and after adding 12 videos from the recents PhotoPicker

[2020-12-23 15:38] rezzap opened #13671 "Stat Graph Anomalies with low stats"
### Expected behavior

The user expected to see more accurate representation of the numbers in the values shown in the graph.

### Actual behavior

The difference between the value shown and the numbers received doesn't always equal the difference between the numbers trying to be reflected.

They mention the following and share two screenshots:

for this but it's extremely odd. i have never seen a

[2020-12-23 21:49] fahdriyami commented on #13667
Hello. I'm currently on version 16.3 of the Android app, and the device is running on Android 10.

Here's a quick video of the issue with some ideas and examples of how to improve it:
https://www.youtube.com/watch?v=O0jVay7BtwM

I'm happy to help in any way that I can.

[2020-12-24 05:23] ashiagr commented on #13664
Assigning low priority and adding to Groundskeeping.

Severity - Low: edge case (doesn’t affect core/default functionality)
Impact - Low: estimated 0-5% of users affected.

[2020-12-28 15:56] sentry[bot] opened #13677 "IndexOutOfBoundsException: Index: 1, Size: 1 in onStorySaveButtonPressed at compose.story.StoryRepository.getStoryAtIndex(StoryRepository.kt:53)"
Sentry Issue: [WORDPRESS-ANDROID-125Q](https://sentry.io/organizations/a8c/issues/2113302219/?referrer=github_integration)

[code]

[2020-12-28 16:01] sentry[bot] opened #13678 "StringIndexOutOfBoundsException: SaveStoryGutenbergBlockUseCase.findAllStoryBlocksInPostAndPerformOnEachMediaFilesJson"
Sentry Issue: [WORDPRESS-ANDROID-128J](https://sentry.io/organizations/a8c/issues/2114459505/?referrer=github_integration)

[code]

[2020-12-28 16:14] sentry[bot] opened #13679 "NullPointerException: Attempt to invoke virtual method 'android.content.Context android.view.View.getContext()' on a nu..."
Sentry Issue: [WORDPRESS-ANDROID-11TA](https://sentry.io/share/issue/df7ab6403ec9400e87c4a317bf3572ec/)

[code]

[2020-12-28 16:17] mzorz commented on #13679
From the logs I can see the user started a new Story from the main tab, picked some image,  but after going through image optimization it then failed to be added to the Story Composer as it didn't seem to exist

[code]

[code]

[2020-12-28 16:26] sentry[bot] opened #13680 "NullPointerException: mediaStore.getSiteMediaW…e, localMediaId.toLong()) must not be null"
Sentry Issue: [WORDPRESS-ANDROID-11ZA](https://sentry.io/share/issue/d9fe35a625fe414b903d198ed2f02e63/)

[code]

[2020-12-28 16:46] sentry[bot] opened #13681 "RuntimeException: Unable to start activity ComponentInfo{org.wordpress.android/org.wordpress.android.ui.stories.Sto..."
Sentry Issue: [WORDPRESS-ANDROID-123K](https://sentry.io/organizations/a8c/issues/2112632209/?referrer=github_integration)

[code]

[2020-12-28 16:53] sentry[bot] opened #13682 "RuntimeException: Unable to start activity ComponentInfo{org.wordpress.android/org.wordpress.android.ui.stories.Sto..."
Sentry Issue: [WORDPRESS-ANDROID-121Z](https://sentry.io/share/issue/f3ccf3dff517473c9c4b8d1544f28843/)

[code]

[2020-12-28 21:10] mzorz commented on #13662
I was able to reproduce this one on [16.3 tag](https://github.com/wordpress-mobile/WordPress-Android/releases/tag/16.3):

0. set the developer options to "don't keep activities"
1. create a story from scratch and publish it
2. go to the published Posts list
3. open the Story post you just published, tap on the block and then tap on the edit tool icon
4. when the Story composer appears, tap on the

[2020-12-29 13:28] rezzap opened #13685 "Slow Loading Insights Stats Screen"
### Expected behavior

When visiting the Stats Insights page, I would expect a short loading time.

### Actual behavior

It actually takes quite a while for the page to load on first and second reload (after pulling down to refresh).

### Steps to reproduce the behavior

1. Go to My Sites > Select any site with stats.
2. On the Insight tab, notice how long the delay is before the content loads.
3.

[2020-12-29 23:27] ericamQA commented on #12491
Another instance of this reported in zd-3607193

[2020-12-31 10:37] rezzap opened #13692 "Crash Happening on mp4 video upload from Google Drive"
### Expected behavior

I'd expect that I could be able to upload any types of video to my site.

### Actual behavior

When I try to upload an mp4 video from Google Drive, the app crashes.

### Steps to reproduce the behavior

Note: A large video (~130mb) produced this crash, but I tried a similar video (~180mb) and failed to reproduce. Smaller videos (5-10mb) also failed to reproduce this crash.

[2020-12-31 12:51] sentry[bot] opened #13693 "ApplicationNotResponding: in FontResolver in Stories"
Sentry Issue: [WORDPRESS-ANDROID-120C](https://sentry.io/share/issue/796af984441d4fb3b4fdefbcdda55dbb/)

This is happening when loading fonts in Stories, perhaps we can try force pre-loading them somehow in the background instead of waiting until the TextDialog appears (when the user needs it)?

[code]

[2020-12-31 12:58] sentry[bot] opened #13694 "Error: Could not shutdown mediaExtractor, codecs and mediaMuxer pipeline."
Sentry Issue: [WORDPRESS-ANDROID-12JA](https://sentry.io/share/issue/e65894576d994842aff323cbb08e9a98/)

[code]

[2020-12-31 13:02] sentry[bot] opened #13695 "NullPointerException: Attempt to invoke virtual method 'int com.wordpress.stories.compose.frame.StorySaveEvents$FrameSa..."
Sentry Issue: [WORDPRESS-ANDROID-12EQ](https://sentry.io/share/issue/d4d04f1864b1483dbff566c6033d1cd2/)

[code]

[2020-12-31 13:13] mzorz commented on #13682
Closing, dupe of #13681

[2020-12-31 13:13] #13682 closed, assigned to nobody

[2020-12-31 13:17] sentry[bot] opened #13696 "IndexOutOfBoundsException: Index: 0, Size: 0"
Sentry Issue: [WORDPRESS-ANDROID-123E](https://sentry.io/share/issue/35388311fa394b56abf98a02fbd63b9f/)

[code]

[2020-12-31 13:20] sentry[bot] opened #13697 "StringIndexOutOfBoundsException: String index out of range: -23"
Sentry Issue: [WORDPRESS-ANDROID-1219](https://sentry.io/share/issue/6214144e465a4f4c9e2440a5ca23ef01/)

[code]

**29 events
15 users**

[2020-12-31 13:32] sentry[bot] opened #13698 "RuntimeException: Unable to start activity ComponentInfo{org.wordpress.android/org.wordpress.android.ui.stories.Sto..."
Sentry Issue: [WORDPRESS-ANDROID-1250](https://sentry.io/share/issue/ad00b79cd8cb48e196de086fd1e55d5d/)

[code]

[2020-12-31 13:33] mzorz commented on #13698
See logs, it shows a `low memory` signal
[code]

[2020-12-31 14:27] guarani commented on #13692
Edited issue to add some more details we've discovered.

[2020-12-31 14:45] guarani commented on #13692
Just a quick note: Other large mp4s didn't reproduce the bug. I ran the offending mp4 through a command that supposedly checks for errors in an mp4 file, e.g:
[code]
and did get some errors (which I don't see in non-offending mp4s):
[code]
So I wouldn't rule out this particular mp4 as being broken in some way.

[2021-01-01 07:57] valeciawolf34 opened #13700 "https://github.com/brbrr/test-dashboard-pages/blob/master/docs/export/summary.jsonhttps://github.com/brbrr/test-dashboard-pages/blob/master/docs/export/summary.json"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

##### Tested on [device], Android [version], WPAndroid [version]

[2021-01-04 07:42] hypest commented on #13692
cc @frosty, anyone closer to the media consolidation project that can have a look?

[2021-01-04 15:31] ParaskP7 commented on #13644
👋 @loremattei @khaykov @ashiagr

After investigating this issue a bit today, I don't seem to be able to reproduce it or even getting close to the root cause.

However, I am speculating that this might be related to [Android App Bundle](https://developer.android.com/platform/technology/app-bundle) and the fact that users might share the app, either via P2P sharing programs, or uploading the APK to

[2021-01-04 17:44] designsimply commented on #9999
Yay! 🎉  I LOVE seeing the media-related things get fixed! ❤️

[2021-01-04 18:33] SiobhyB commented on #10936
@raduspaimoc, are you still interested in working on this one? You're welcome to, if so. :) I'll wait a little bit to hear back from you before grabbing this one for myself.

In this case, there isn't anything that should happen, "double tap to activate" shouldn't be outputted as there is nothing to activate.

[2021-01-04 23:34] designsimply commented on #7103
@develric would it be possible to show the "Not enough available site storage" error immediately after you attempt to add an image in the editor that exceeds the storage quota? Currently, the error is only shown if you tap the image after an image preview appears with a generic error "Failed to insert media" overlaid on top of it. ([2m27s](https://cloudup.com/cxNTv8TRiyc))

<img src="https://user-

[2021-01-05 01:07] designsimply commented on #10936
Thanks @SiobhyB! Sorry for not seeing your ping earlier @raduspaimoc!

[2021-01-05 02:24] designsimply commented on #8807
Should be fixed by https://github.com/wordpress-mobile/WordPress-Android/pull/10319 and https://github.com/wordpress-mobile/WordPress-Android/pull/10353. Props @malinajirka. 🎉

Note: there are still potentially some quirks to work out with the conflict resolution such as https://github.com/wordpress-mobile/WordPress-Android/issues/10292 and that work has not yet been assigned but is worth consider

[2021-01-05 02:24] #8807 closed

[2021-01-05 02:34] designsimply commented on #13169
<del>Raising priority because there is potential data loss if Gutenberg Mobile doesn't return the most up to date content when the EditPostActivity asks for it (noted at https://github.com/wordpress-mobile/WordPress-Android/issues/13003#issuecomment-750106983).</del>

Apologies, I added that last comment to the wrong issue. @malinajirka can you help me with prioritization on this one? Should it st

[2021-01-05 02:44] designsimply commented on #13361
I don't know if this work is small enough to be worked on during a maintenance rotation, but I have added it to the Groundskeeping Prioritized Android list just in case.

[2021-01-05 02:46] designsimply commented on #13003
Here is what I see when I check this issue in Sentry:

**Events in the last 90d:** 107,000 errors (not fatals)
**Users affected in the last 90d:** 24,000
<sub>WORDPRESS-ANDROID-QA1: https://sentry.io/share/issue/648ba279d5064d88af6d395f2fa73358/</sub>

<a href="https://sentry.io/organizations/a8c/discover/results/?display=daily&field=timestamp&field=version&field=os&field=device.family&field=culpr

[2021-01-05 10:37] ParaskP7 commented on #13685
👋 @rezzap !

Would you mind attaching a recording of this behavior as it seems that on my device and network the loading time for the stat tabs and cards to appear seems reasonably fast.

The only thing I am noticing, that I wouldn't have expected otherwise, is the fact that the pull-to-refresh loading icon on top persists for some (additional) time even though the stat tabs and cards have already

[2021-01-05 11:20] ParaskP7 commented on #13681
This null pointer exception issue is caused due to the fact that the `PostEditorAnalyticsSession` class was implemented without considering the fact that the `PostImmutableModel` can be passed to it as null.

By adding the `@Nullable` annotation during construction (see `PostEditorAnalyticsSession`, line 62) the warning becomes more evident. However, the fix is not that trivial and would require s

[2021-01-05 12:26] ParaskP7 commented on #13671
👋 @rezzap !

I was able to replicate that myself as well.

I believe this is normal, the scale here is 0 to 5 because this is the minimum number of days that can be presented in the stats screen. As such if the user has less than 5 views per day then this is what they will get. On the other hand if the user exceed those 5 days then the scale will adjust accordingly. This is a pretty standard way o

[2021-01-05 13:28] ParaskP7 commented on #13667
👋 @rezzap !

In order for the app to support this functionality it needs to support foldables (see [Building apps for foldables](https://developer.android.com/guide/topics/ui/foldables)). To do so, a lot of foldable related UX enhancements need to occur. Since foldable devices are relatively new to the market I am not sure if that has been prioritized accordingly.

[2021-01-05 13:43] mchowning commented on #13361
Possibly related to https://github.com/wordpress-mobile/gutenberg-mobile/issues/2207

[2021-01-05 14:29] frosty commented on #13692
@develric Has been having a look into this today, but no luck on reproducing yet.

[2021-01-05 16:26] designsimply commented on #13681
@ParaskP7 your notes are wonderful! I have a small question about labels 🧹 should this one be labeled `WP Stories` or `Analytics`?

[2021-01-05 16:36] ParaskP7 commented on #13681
@designsimply you are too kind! 😊

Why not label them with both, will that create a confusion?

It seems the `Analytics` problem is occurring on `WP Stories` and not `EditPost` activity, which might suggest it is better fit for `WP Stories`. But, since this analytics class is being utilised by both the `Story` and `EditPost` activities, maybe `Analytics` is better and more generic. Fixing the `Ana

[2021-01-05 20:16] designsimply commented on #13681
Both sounds good! Done! It's an art more than a science sometimes 😁 but I am working now to organize the labels better so I can do some analysis on the repo later. 👍

[2021-01-05 21:05] chipsnyder opened #13713 "Site Creation Quick start - Remove "Create a new Page" and "Customize your site" from Quick Start"
### Description
When creating a site and going through the quick start guide there is an option to create a new page and suggests an about Page. With the new site creation flow, this doesn't really apply anymore because each decision (including skip) will generate a list of pages including an about page.

There was also some friction around "Customize your site" as that directs users to a web view

[2021-01-05 22:15] #13623 closed, assigned to nobody

[2021-01-06 01:47] designsimply commented on #5382
Still valid. I checked My Site > Settings > Writing and found there's an option to manage tags and an option to set the default category, but there are still no options to edit, delete, change hierarchy, or view posts by category.

<img src="https://user-images.githubusercontent.com/1119271/103718895-077fe900-4f85-11eb-9300-3e7989c21b2f.png" width="220" alt="Screenshot_20210105-183339"> <img src="

[2021-01-06 02:01] designsimply commented on #10941
Still valid. The design has changed since the original issue was filed but the accessibility issue remains.

Video: [1m8s](https://user-images.githubusercontent.com/1119271/103720293-46fc0480-4f88-11eb-884f-f13b8c53231c.mp4)
<sup>Tested with WPAndroid 16.4-rc-3 on Pixel 3 Android 11.</sup>

[2021-01-06 02:12] designsimply commented on #10292
I found an example of this reported in an app review:

* Jan 5, 2021, 06:03
* Device: Google Pixel 3a
* Device language: English
* App version code: 968
* App version name: 16.3
* Android version (SDK): Android 11 (SDK 30)

<sup>(internal reference: play-store-previewId=gp%3AAOqpTOGHo-KMj_CqPBP8HMb_gdqmYiF5fe4IlVcnQikuUR7pYBLZjOvFaa8Hdru8hmhrcwtQjgbxXqE2zQuxCQ&corpus=PUBLIC_REVIEWS)</sup>

[2021-01-06 02:28] designsimply commented on #13653
This tripped me up in the past as well, but in my case it was for the previous type of site selection in the create site flow (see screenshot from v16.1 below). I had assumed I should be able to see .blog subdomains for some of the different options but they were actually only intended to show if the "Blog" option was selected. Discussed at https://github.com/wordpress-mobile/WordPress-Android/iss

[2021-01-06 02:54] designsimply commented on #13664
I noticed this crash is new in 16.2 so I [looked at PRs](https://github.com/wordpress-mobile/WordPress-Android/pulls?q=is%3Apr+is%3Aclosed+milestone%3A%2216.2%22+page+) filed in the 16.2" milestone containing the word "page" and saw that, besides a few library updates, the majority of page-related updates were for the Home Page Picker project but I am not sure those would be related tbh. @antonis

[2021-01-06 03:13] designsimply commented on #13685
I tested with WPAndroid 16.4-rc-3 on Pixel 3 Android 11 and Stats loaded reasonably quickly for me as well. ([46s](https://cloudup.com/cRtey88klpI)) I also tried with a site that has a lot more traffic (not pictured in the video but if you have access, you can try checking en.blog) and I did notice the loading icon remained for quite a long time even though the stats cards did already appear to lo

[2021-01-06 05:51] ashiagr commented on #13463
Sorry about the late reply, I missed this GH Mention due to some filters I think.

Noticed this issue in the reports:
`exception: NoSuchFieldException: _decision`

It occurs on:
Brand: `Samsung`
OS: 99% `Android 5.0.x`

Related discussions from `kotlinx.coroutines`:
https://git.io/JLNP0
https://git.io/JLNPL

I'll take a deeper look and update here.

[2021-01-06 05:57] ashiagr commented on #12628
Closing it as not heard of any complaints after this. Please feel to re-open in case you come across it again. Thank you!

[2021-01-06 05:57] #12628 closed

[2021-01-06 09:02] malinajirka commented on #13671
I think what they meant is that `3` is missing from the vertical labels -> so for instance scale between 1-2 is different then between 2-3. Wdyt @ParaskP7 ?

Regarding the second issue -> I agree that it looks like a bug. I'm not sure if it's a bug in the library or in our code, but we should look into it. I'd assign it to groundskeeping and time-box it to a couple of hours since it seems like a l

[2021-01-06 09:38] malinajirka commented on #10292
@designsimply I'm not so sure this is the same issue the user is dealing with. It seems they have troubles syncing remote version into the app. They should be able to manually invoke the sync by using pull-to-refresh gesture on the post list when it's not syncing automatically. The app should either sync the content or show "Version conflict" label and let the user choose which version they want t

[2021-01-06 12:08] antonis commented on #13664
Thank you for pinging me @designsimply 👍
I did a preliminary investigation on this. The crash occurs when the `getSiteByLocalId` [function](https://github.com/wordpress-mobile/WordPress-FluxC-Android/blob/06b3ae0579529757f5a9321286cf9fbe38d79f49/fluxc/src/main/java/org/wordpress/android/fluxc/store/SiteStore.java#L1203) returns null.
There are [cases that this follows a site creation](https://sent

[2021-01-06 16:44] chipsnyder commented on #13653
There is a bit more info on why we went this route in an internal reference here `pbAok1-1MG#comment-3581`

Ultimately we did use the theme's segment that mapped to the segment's in the previous flow. Although this does make it less clear to a user on how to get a .blog domain. I went ahead and added this ticket and the [iOS one](https://github.com/wordpress-mobile/WordPress-iOS/issues/15553) to o

[2021-01-06 23:09] develric commented on #7103
Hey @designsimply 👋 . I think this and [this other one](https://github.com/wordpress-mobile/WordPress-Android/issues/13353#issuecomment-749823699) are pretty related.

Re making more readily clear to the user what happened, there was this comment [here](https://github.com/wordpress-mobile/WordPress-Android/issues/7103#issuecomment-689695617) about changes needed in order to show the error message

[2021-01-07 03:50] mokagio opened #13717 "Not using WordPress org on Bintray for react-native-gutenberg-bridge"
As you can see [in the WIP PR](https://github.com/wordpress-mobile/WordPress-Android/pull/13642/files#diff-49a96e7eea8a94af862798a45174e6ac43eb4f8b4bd40759b5da63ba31ec3ef7R56-R57), I made use of my own repository for the experimental work on publishing Gutenberg to Bintray.

I did that because I didn't want to make the WordPress one dirty, since that's "official".

This is not strictly a blocker a

[2021-01-07 05:23] mokagio commented on #13717
cc @oguzkocer

[2021-01-07 07:05] reginabally opened #13718 "Facebook connection confirmation screen layout issue"
It was originally reported in 36219290-zen that the user wasn't able to connect their Facebook account to their site on the WPAndroid app because they weren't able to see the content of the page to select the Facebook page to connect.

I was able to see a similar issue on the confirmation screen when I was asked to connect Facebook to my test site. This happens on WPAndroid but not on WPiOS.

###

[2021-01-07 08:54] ParaskP7 commented on #13681
Perfect, thanks for the update! Can't wait for the labels to be organized further by you Sheri! 🌟

[2021-01-07 09:00] ParaskP7 commented on #13671
Oh yeap, maybe, I haven't noticed that `3` is missing. But, no matter, I believe that the user is not used to this kind of scaling graphs in general, thus they find it odd. The library chose to dismiss `3` because it only shown 5 values (horizontal lines) in total, which are scaled in numbers according to the available distributed daily stats, so for me not having the `3` there is perfectly fine.

[2021-01-07 16:52] #13454 closed, assigned to nobody

[2021-01-07 19:20] jd-alexander commented on #12491
Thanks for reporting @wpericam I will look into this.

[2021-01-08 10:30] malinajirka opened #13727 "Activity Log Footer shown even on sites with Backup support"
### Expected behavior
"Since you are on a free plan, you'll see limited events in your activity" footer is displayed only for users who are on a free plan and haven't purchased Backup product.

### Actual behavior
The footer is displayed for all users with a free plan no matter if they have purchased the backup product.

<img src="https://user-images.githubusercontent.com/2261188/104004049-923e2f0

[2021-01-08 10:44] #13268 closed, assigned to malinajirka

[2021-01-08 23:12] #13582 closed, assigned to renanferrari

[2021-01-09 00:13] #13680 closed, assigned to mzorz

[2021-01-11 06:44] malinajirka opened #13735 "Message on Activity Log empty screen is confusing"
### Expected behavior
When the user opens Activity Log screen and there hasn't been any recent activity on the site, the empty message should say "No activity yet", "When you make changes to your site you'll be able to see your activity history here."

### Actual behavior
When the user opens Activity Log screen and there hasn't been any recent activity on the site, the empty message says "No match

[2021-01-11 08:40] #13735 closed, assigned to malinajirka

[2021-01-11 19:22] mzorz commented on #13681
Thanks for digging into this @ParaskP7 !

Yes I think we need to come up with the root cause of it. Marking it `@NonNull` is a good improvement but it only goes as far as making the crash happen slightly before.
I think what's going on here is `StoryComposerActivity` gets passed a Post id that is different from zero, but either such a Post does not exist in the database or can't be retrieved someh

[2021-01-11 19:30] mzorz commented on #13681
oh, I missed this part:

This could be enough for now @ParaskP7 given it's just analytics and not many occurrences it may be ok to just skip it if conditions to keep the analytics session object are not met 👍

[2021-01-11 23:33] designsimply commented on #10701
This came up in an app review:

* Jan 11, 2021, 01:06
* Device: Huawei HUAWEI P30
* Device language: Swedish
* WPAndroid 16.3
* Android 10 (SDK 29)

<sup>play-store-previewId=gp%3AAOqpTOEN1jpqROMnas6nMG3pIlgSiQJBTxSJkcMKu78LP4ECoyitXGxyTIYhM4wP3_AmrxaY4vg2RhTfIGCWsg&corpus=PUBLIC_REVIEWS</sup>

[2021-01-11 23:42] designsimply commented on #12505
I searched and found that, after some discussion, the "discard local changes" action was removed from the editor overflow menu in v12.9 in https://github.com/wordpress-mobile/WordPress-Android/pull/10127 for the following reasons:

<blockquote>Inconsistencies with iOS and web<br>
Low usage<br>
All solutions add more complexity than value added<br>
Users accidentally tapping the button and losing w

[2021-01-12 03:56] mokagio opened #13747 "Remove gutenberg-mobile symlinks in favor of reading assets from the AAR"
To eventually remove the `gutenberg-mobile` submodule, we need to first get rid of a couple of symlinks that WordPress Android has for assets living in it.

I've already done it in my dirty experimental branch `react-native-from-bintray-experiment`. This is just a matter of doing it in isolation.

See also [the `gutenberg-mobile` counterpart](https://github.com/wordpress-mobile/gutenberg-mobile/is

[2021-01-12 03:58] mokagio commented on #13747
~~@oguzkocer I don't have access to add this to [the GitHub project](https://github.com/orgs/wordpress-mobile/projects/80#card-52385844). Mind doing that for me, or giving my user the ability to do it? Thanks 🙏 .~~

Scratch that. It was in the "Organization" tab instead of the selected "Repository" one.

[2021-01-12 07:44] ParaskP7 commented on #13681
Thanks for the detailed response @mzorz ! 🤗

I too agree with that. 👍

[2021-01-12 09:36] ParaskP7 commented on #13629
The below is the outcome of one of the items above, which refers to the investigation of requirements, concerns and suggestions for reusing the `Activity Log` screen.

1) Should the rewindable items be filter after (or before) adding those to DB? Think about what is best and how it will affect offline support of future enhancement to the API (adding the 'isRewindable' flag).

    **Suggestions (Af

[2021-01-12 09:52] #11412 closed

[2021-01-12 09:55] planarvoid commented on #11412
thanks @reginabally ! this was actually super helpful and we managed to find a bug in the code (thanks @malinajirka 🙇 ). We've merged a fix so let's observe this issue and see if it comes back.

[2021-01-12 10:57] antonis opened #13749 "[Home Page Picker] Wrong design applied"
**Describe the bug**
The wrong design is applied in Home Page Picker when creating a site with the Overton layout design.

**To Reproduce**
Steps to reproduce the behavior:
1. Start the site creation flow (e.g. Choose site > Add button)
2. Select the Create WordPress.com site option
3. Select the **Overton** design
4. Press **Choose**
5. Search and select a domain
6. Select create site
7. Notice t

[2021-01-12 13:33] antonis commented on #13749
Hello @chipsnyder, @enejb 👋
I opened this issue after a report from @mkevins in his empathy challenge. It's the first time I noticed this behaviour which is reproducible on Android only.
Investigating this further I noticed that [on iOS the `segment_id` is `null` during the site creation](https://user-images.githubusercontent.com/304044/104319125-1e748d00-54e9-11eb-861c-d8ce7f071f51.png) while on

[2021-01-12 15:28] planarvoid commented on #13353
Thanks for the investigation @develric . I'd even consider changing the error text "Media must define a valid MIME type" - it's not really an invalid type, our server just doesn't support it.

[2021-01-12 15:38] planarvoid commented on #13671
I think I know what the issue is. In the `BarChartViewHolder` we always show exactly 5 labels on the left axis. For a site with very small numbers we define the top value of the X axis to 5 like this:
[code]
Now, as you see, if the maximum value is 5 and you want 5 labels, it's going to get tricky because between 0 and 5 there are actually 6 values. That's why nm 3 gets dropped. The decision what

[2021-01-12 15:47] ParaskP7 commented on #13671
👋 @planarvoid !

Definitely, I think this can solve the issue.

I am not sure how `5` was picked as a min in the first place, so I might be missing something. Having `4` as the min, which will result in not having the horizontal line number `3` dropped, and as such removing the decimal point inconsistency, seems only logical and a quick fix.

[2021-01-12 16:15] planarvoid commented on #13671
I'm pretty sure I've picked it trying to make it look as good as possible. There is no sophisticated answer. Having 5 labels and lines in the graph was a design decision so I wouldn't change that. Changing the top value should be enough.

[2021-01-12 16:20] ParaskP7 commented on #13671
💯 🙏

[2021-01-12 16:44] mzorz commented on #13681
Hi @ParaskP7 ! I ended up doing something different, given I wanted to get to the root cause of it - when thinking again about this part:

Actually, if we don't have a Post we not only can't have analytics for the Post but also we won't be able to do anything else at at that point 😬 😅 so that's why I decided to go a different route than just skipping analytics, which would have meant kicking the p

[2021-01-12 17:54] enejb commented on #13749
I think what is going on is that there is no such thing as an "Overtone" theme. (https://wordpress.com/theme/overton) the site layout is called overtone but it is based on the "Leven" theme. So when you go to the customizer even though you picked "Overtone" in the layout picker you end up with the "Leven" theme.

Hopefully that makes sense.

I am not sure what the solution to this should be? With

[2021-01-12 19:59] chipsnyder commented on #13653
Dropping a note here b/c it came up in a side conversation. We can achieve this by settings the same parameters the backend uses for blog segments. iOS has these tied to an enum here: https://github.com/wordpress-mobile/WordPressKit-iOS/blob/767b0ba87dbc7b0d026b2a01760f80042159be0b/WordPressKit/DomainsServiceRemote.swift#L59-L63

[2021-01-12 21:29] designsimply commented on #7279
Still valid, there is still not a way to access [SEO tools](https://jetpack.com/support/seo-tools/) using a Jetpack site with a Jetpack Security Daily plan.

@yaelirub may I get a quick check form you on priority—this is currently labeled low priority, should it stay that way?

Here are some screenshots from 16.5-rc-1 for reference—I noticed there are now two ways to reach the Jetpack Security scr

[2021-01-12 22:37] yaelirub commented on #7279
As we roll out the Jetpack section we still allow access to Jetpack settings from general Settings but it is not permanent and we will remove that access in the future

For the whitelist IP section please see this comment: https://github.com/wordpress-mobile/WordPress-Android/issues/13407#issuecomment-732873165

Yes. We will go over all the issues labeled "jetpack" in the near future and prioritiz

[2021-01-12 23:45] designsimply commented on #13692
I tested this today using WPAndroid 16.5-rc-1 on Pixel 3 Android 11 and I was able to successfully upload mp4 videos from Google Drive into a video block while following the testing steps provided if I used my own mp4 videos from my Pixel 3 device, a ~20MB mp4 video file and an ~80MB mp4 file. ([3m9s](https://cloudup.com/chYhFdtkYCr), [3m12s](https://cloudup.com/cUURmIo9-dE))

Similar to others' r

[2021-01-13 07:28] reginabally commented on #13210
This was mentioned in an app review:

Device: LGE LG G7 ThinQ
OS: Android 9
App version: 16.2
Date of the review: Dec 4, 2020, 05:28

[2021-01-13 09:15] ParaskP7 commented on #13681
👋 @mzorz !

Great, I'll take a look at that later today, thanks for opening the PR! 🌟

🙏

[2021-01-13 12:32] antonis commented on #13749
Fixed with https://github.com/wordpress-mobile/WordPress-Android/pull/13751

[2021-01-13 12:32] #13749 closed, assigned to antonis

[2021-01-13 12:55] mzorz commented on #10494
There were interesting points of view exchanged in this (now closed) draft PR https://github.com/wordpress-mobile/WordPress-Android/pull/13597, that I think provide a very good ground for an actual proper refactoring solution to take   place in the future. For the future readers, I suggest you go and read the conversation there, with [this comment](https://github.com/wordpress-mobile/WordPress-And

[2021-01-13 15:02] planarvoid commented on #13210
I don't think these two are related. This issue should've been fixed by the consolidated media picker. Do you think you could somehow find out what exactly the issue is? I tried:

- Media/+/Choose from device
- Search for a very old item by part of the name
- It's correctly found
- Rename a photo in the "Files" app
- Searching for it in the Media/+/Choose from device
- It's correctly found

Please

[2021-01-13 15:05] loremattei opened #13761 "Error: java.io.IOException: write failed: ENOSPC (No space left on device)"
**Sentry Url**: https://sentry.io/share/issue/4c3e38a670114daaa5b02dc692119383/
**User Count**: 97
**Count**: 296
**First Release**: org.wordpress.android-14.6.1
**First Seen**: 2020-04-28T23:31:58Z
**Last Seen**: 2021-01-13T14:37:49Z
**24 Hours**: 10
**30 Days**: 190

[code]

[2021-01-13 15:11] develric commented on #13692
@designsimply thanks to loop back the internal discussion here 🙇 !

Yep, I was able to complete the upload succesfully with a modification to the m4m lib. Opened a [PR in the m4m repo ](https://github.com/INDExOS/media-for-mobile/pull/100) reporting what we found in the analysis so far, hoping it could be reviewed and accepted by the repo owners soon. Also that makes sense a part from this specifi

[2021-01-13 15:57] leandroalonso opened #13763 "Reader: track topic followed in Discover section"
### Expected behavior

1. Given the user followed a topic/interest in the Discover section
2. Track the topic/interest that was followed

### Additional information

As for now, we have the `reader_reader_tag_followed` being fired. However, it is fired from multiple places, so there's no easy way to check if it came up from the Discover section.

We can either:

* Add a property `source` in `reade

[2021-01-13 15:58] leandroalonso commented on #13763
@malinajirka can I have your inputs about this one? What do you think would be a better solution:

1) Adding a `source` property
2) Or creating a new event?

If it's (2) I was wondering about `discover_followed_topic` with a "topic: name" property. Thoughts?

[2021-01-13 22:27] designsimply commented on #7216
<sup>play-store-reviewId=gp%3AAOqpTOGL3-aPOUTj_Iylwd_MnDIAmVmHpC1jkCQ-WeEZyBw0lshQ9iMg21area-lbD8wk5nDMsV8x7AG9qaMO6YK&corpus=BETA_FEEDBACK</sup>

[2021-01-13 22:51] designsimply commented on #13353
Maybe something closer to the Calypso wording? Simplified: "This file type is not allowed."

I think it would be more user-friendly to leave out "MIME type". 😬 😊

[2021-01-13 22:58] designsimply commented on #13692
I see. Yes. I agree it's edge case and also want to push for the best error messages possible in such known edge cases because it can help both users and our support team ❤️ thank you so much for the update! +1 from me to offer a fallback or at least a helpful error message with a suggestion for the user to turn off compression if that is possible. 😊

[2021-01-13 23:03] designsimply commented on #7103
This makes sense to me. It's less important than a clear/understandable communication of the error to the user.

+1 for a better overlay message for this specific case!

[2021-01-13 23:27] khaykov commented on #13761
@jkmassel I don't have all the context, but it looks like this issue started to happen after introduction of a Log Persistence in this [commit](https://github.com/wordpress-mobile/WordPress-Utils-Android/commit/f65fd7841420db663329de536f420575c5d0b16b#diff-5104b4aeb4400e0c0f9a5fb7751074c4eff44b13dd777ddffb81ac0cb949705d). Maybe you know what might be the case here?

[2021-01-14 01:22] reginabally commented on #13210
Thanks for taking a look, @planarvoid! I wasn't able to replicate this and I noticed the recorded app version was 16.2. I've asked the user to update the app and reach out to us if they're still having trouble with this. Thanks again!

[2021-01-14 05:51] reginabally commented on #12491
Another report in 3638952-zen with a video recording attached in the ticket.

Device: Xiaomi Redmi Note 9 Pro ( India )
OS: Android 10
App version: WPAndroid 16.3

[2021-01-14 07:04] malinajirka commented on #13763
I lean towards `1` as it's still exactly the same event, the only difference is the place we fire it from. One more difference is that we use "topic" instead of "tag" on discover, but that's a user facing difference and imho shouldn't affect our internal naming.

Is this referring to the "Choose interests" screen? AFAIK you can't follow a tag directly from the discover screen right? Or should we t

[2021-01-14 15:48] planarvoid opened #13772 "Extract Promo dialog with a ViewModel for improved my site"
The task is to use the current PromoDialog and create a new dialog and view model that have the same functionality but could be use without the activity callback and within fragments with a view model. You can follow the approach in the `BasicDialog` and `BasicDialogViewModel`.

[2021-01-14 16:10] jd-alexander commented on #12491
Thanks for reporting @reginabally we are looking into this issue.

[2021-01-14 16:21] leandroalonso commented on #13763
Yes, exactly!

I guess to keep simplicity we can keep `reader_reader_tag_followed` and add a `source` property.

* If in Discover: `source=discover`
* If not, `source=unknown`

[2021-01-14 16:34] aerych opened #13774 "Follow conversation: Improve error message when request fails due to settings"
The API call to follow a conversation in the Reader can return `success:false` as part of its response.  One way to replicate this is by setting WordPress.com's [Reader Subscription notification settings](https://wordpress.com/me/notifications/subscriptions) to block all emails, and then try to follow a conversation.

When this happen an error message appears that says "Invalid response received".

[2021-01-14 19:47] #13713 closed, assigned to nobody

[2021-01-15 03:19] #13681 closed, assigned to nobody

[2021-01-15 10:00] planarvoid commented on #13772
I'm closing this issue since it's not longer relevant for this project

[2021-01-15 10:00] #13772 closed, assigned to planarvoid

[2021-01-15 10:01] planarvoid opened #13782 "Populate quick start cards with tasks"
This task is to setup the structure that populates the quick start cards in the new my site with un/completed quick start tasks.

[2021-01-15 13:02] planarvoid opened #13786 "Add functionality to "Update site title" quick start item"
The "Update site title" item needs to point to the correct place when clicked and it should disappear once the site has been created.

[2021-01-15 15:37] jd-alexander commented on #12491
I am thinking that the issue might be occurring because a 1-second delay or so might be needed to catch the keyboard opening on this specific device. The problem is I don’t have any immediate way to verify this. I am seeing where some peeps in the mobile division have Xiaomi devices, so I will try my best to reproduce it on the devices I own and if that's not possible, I will seek another way to a

[2021-01-15 15:46] #13583 closed, assigned to renanferrari

[2021-01-15 19:26] mokagio commented on #13717
Closed by https://github.com/WordPress/gutenberg/pull/28216/commits/bacd0f2cf6cb42c6a658ac8e868e5d89171bac73

[2021-01-15 19:26] #13717 closed, assigned to nobody

[2021-01-15 20:10] mzorz commented on #12491
Is there a way we can identify the device model and use something like a map of models -> delay amount in ms? I'm not a fan of having specific behavior but this seems a good enough reason to have something like that (also a map would look a bit more elegant than a hardcoded value anyway). What do you think about that?

For the record I tested on a Redmi Note 5 here and I couldn't reproduce

[2021-01-15 21:08] jd-alexander commented on #12491
This is a good idea. In this way, we would only test the delay on `Xiaomi` devices only without introducing a delay for others. Also, this is a good solution because we are able to roll this out in a release, and then we can let the Happiness Engineers check with the Xiaomi users to see if the issue has been resolved. I am going to do this in a PR and I will add you as a reviewer.

Thanks again fo